[2016-10-11 13:34] EisenbergEffect commented on #526
Yes. If you define a `bind` callback, the change callbacks are not called the first time. Instead you get a single call to `bind` after all properties are set.

[2016-10-11 13:34] #526 closed

[2016-10-11 13:34] EisenbergEffect commented on #526
@AshleyGrant Do we have this in the docs on custom elements? If not would you be willing to PR that to the appropriate place?

[2016-10-11 14:53] AshleyGrant commented on #526
I'll add notes for it.

[2016-10-11 22:12] huochunpeng commented on #526
Thx. I will try to get a gist working for the computed property bug I mentioned.

[2016-10-12 16:21] khenderick commented on #525
Apparently an ```rm -rf node_modules``` and then ```npm install``` did the trick, even though I ran ```npm update``` before.

[2016-10-12 16:21] #525 closed

[2016-10-12 16:31] rajsibi7 commented on #314
How to save the file in server?

[2016-10-13 01:59] #523 closed

[2016-10-13 16:35] edseabolt commented on #449
I'm seeing this behavior on Chrome versions <= 53 and on any version of FF so far. Here's my Gist that illustrates it: https://gist.run/?id=7ad1dc6da1dc4f7d2120d0c2d1daa534. The difference I see is that the ref is valid in the view, but null in the view model. One other difference is that I simulate a loading of a resource after attachment.

[2016-10-13 18:19] ppn2 commented on #517
@EisenbergEffect

This is an oversimplified example of the grid custom control we are attempting. In this example the user has option to define custom columns, with the following syntax. (My apologies for long explanation as this bug is tricky to reproduce.)

[code]
grid-columns are projected into the grid view model using @children property. The grid-column has two properties "field" and "title".

[2016-10-13 18:19] ppn2 commented on #484
hi @jdanyow  did u get a chance to look at it?

[2016-10-14 12:11] atsu85 commented on #249
@jdanyow, any progress with `@computedFrom('someArray')` and array mutations? I stumbled upon issue with `someArray.push(someElem)`.

[2016-10-14 12:17] atsu85 commented on #249
@jdanyow, I might be totally wrong as I'm not familiar with binging logic, but could my gut feeling be correct, that this problem might be related to [this line](https://github.com/aurelia/binding/blob/master/src/computed-observation.js#L62) that uses `ExpressionObserver`, but not `CollectionObserver`

[2016-10-15 10:10] jdanyow commented on #249
@atsu85 - the binding system observes property changes- if you put `<input value.bind="foo.bar.baz">` in an html template or in `@computedFrom('foo.bar.baz')`, the binding system will observe the `foo` property for changes, `foo`'s `bar` property for changes and `bar`'s `baz` property for changes. It doesn't check "is the value an array? yes? also observe the array for mutation".

Perhaps we could

[2016-10-15 10:17] jdanyow commented on #449
@edseabolt the `if` binding doesn't evaluate synchronously immediately after you change the value of `isLoading`. It will happen on the next flush of the taskqueue, to ensure dom updates are batched.

https://gist.run/?id=8b3021b4a990a5961dc9d8546b87cef9

[2016-10-15 10:25] StrahilKazlachev commented on #249
@jdanyow I'm for an explicit option. We should be able to differentiate between property change and changes to the value.

[2016-10-15 14:30] tragiclifestories commented on #504
There is a similar error complaining that moment is missing.

[2016-10-15 15:52] atsu85 commented on #249
@jdanyow,

I understand, that if I'd need to use `@computedFrom("bindableArray.bar.baz")` instead of `@computedFrom("bindableArray")`, then there might be a need to explicitly instruct that CollectionObserver should be used, but when one of the computed properties is actually a array, then I'd expect that `computedFrom` decorator detects that `bindableArray` is array and it then additionally uses

[2016-10-15 15:56] davismj commented on #249
@atsu85 As mentioned above, I haven't seen a case where this couldn't be solved with a value converter, which is much more efficient. So instead you might have:

[code]

[code]

I've even written a small library that does this for you here: http://foursails.github.io/bouncer/

[2016-10-15 15:57] davismj commented on #249
@jdanyow As the person who originally opened this issue, I recommend we close it, as I don't see this as a valuable enhancement. What do you think?

[2016-10-15 16:22] atsu85 commented on #249
@davismj, my example was a lot simplified from real use-case. I also need the result of `computedGetter` in other methods of the class.

[2016-10-15 17:11] Thanood commented on #249
Is it intended that the value converter (`jsonValueConverter`) in this gist does *not* update when I change the array?
https://gist.run/?id=82c48de63159f1b1d39c2658ab748bf7

[2016-10-15 21:29] edseabolt commented on #449
@jdanyow. Thanks. Makes better sense now.

[2016-10-20 16:44] geleto opened #527 "Change to a bound repeat input element is applied to the VM a second time after the element has been deleted."
**I'm submitting a bug report**

* **Library Version:**
1.0.7

* **Browser:**
Chrome

I have an array of strings bound to a repeat with input text elements. I want to delete an element when  the user deletes it's content. Because there is no way to observe changes in array values, I handle the `input` event, check for empty values and remove the corresponding elements from the array.

The **bug**

[2016-10-21 12:44] ErikSchierboom commented on #504
I can also confirm that there is indeed a problem:

![image](https://cloud.githubusercontent.com/assets/135246/19598755/d946af50-979c-11e6-9158-585535b78d55.png)

[2016-10-21 16:36] geleto commented on #527
This is not a question, it's a bug report. Sorry to ask how to work around the bug in the P.S. - I have removed it.

[2016-10-22 19:01] jdanyow commented on #527
@geleto I'm closing this because it's a duplicate of https://github.com/aurelia/binding/issues/444

Please refer to the discussion in that issue for more information. The short answer is this doesn't do anything in pure javascript:

[code]

Similarly, this doesn't do anything in a `repeat.for` either:

[code]

[2016-10-22 19:01] #527 closed

[2016-10-22 21:35] geleto commented on #527
I do the binding correctly, and the bound array is changed - no problem here. Problem is after I delete an array element, the same change is wrongly applied a second time, but to a different element which has taken the place of the deleted one.
<template>
  <div repeat.for="i of messages.length">
    <input type="text" value.bind="$parent.messages[i]" input.delegate="onMessageChanged()">
  </div>

[2016-10-23 05:07] geleto commented on #527
I have created a simpler test case in this gist:
https://gist.run/?id=f3e7002bf3b60472313b8f9c5963c7c4

When any value is changed, the first element in the array is deleted. Notice how the new value is duplicated.

[2016-10-23 17:31] ppn2 commented on #517
Guys I will appreciate if someone can help me out here.

[2016-10-23 17:44] EisenbergEffect commented on #517
We will really need a simplest-possible reproduction of the problem that we can run and debug on our own.

[2016-10-24 03:30] ppn2 commented on #517
@EisenbergEffect  this is the simplest I could use to reproduce. There are total of 5-6 files here in which 4-5 are the boilerplate code. I don't know what to say.

[2016-10-24 03:38] EisenbergEffect commented on #517
Oops. Sorry. I didn't see the original gist.

[2016-10-27 14:31] bebor commented on #139
i came about the same issue, but even more, what if the item in `itemsArray` is not just a number, but an object
itemsArray = [{ property: 'test'}]

[2016-10-27 23:34] ldrews1 opened #528 "Interpolation in event binding"
Does interpolation work in event binding?

I tried the following:

 <button type="button" click.delegate="${action}()">${action}</button>

action is a VM variable containing the name of a function as a string: Add, Edit, Delete
The name appears properly as the label of the button but does not appear in the event binding.

[2016-10-28 16:15] jdanyow commented on #528
Would this work for you:

[code]

[2016-10-28 22:42] ldrews1 commented on #528
On Fri, 2016-10-28 at 09:15 -0700, Jeremy Danyow wrote:

Did not work.  Received error msg:

vendor-bundle.js:10581 Uncaught Error: $this[action] is not a function(…
)evaluate @ vendor-bundle.js:10581callSource @
vendor-bundle.js:13939(anonymous function) @
vendor-bundle.js:13963handleDelegatedEvent @ vendor-bundle.js:12142

Using Chrome Version 54.0.2840.71 (64-bit)
LinuxMint

[2016-10-29 02:39] kevmeister68 opened #529 "Idea: "Merge" binding (of objects)"
This idea is a consequence of some discussion I had with a person on Gitter.

The problem is that if someone builds a custom-element and that custom-element needs a fair amount of data, it can be tedious to expose all of that data as separate bindables. Tedious, but it works of course. It makes sense to encapsulate that data into an object, like this:

[code]

and the view-model class is something

[2016-10-30 11:19] jdanyow commented on #529
The binding would work in practice:
https://gist.run/?id=08d941418d33b81b31e193435948591b

[2016-10-30 11:26] jdanyow commented on #528
here's an example: https://gist.run/?id=14b65a8f9e3f8484ae466f73f43801a1

[2016-10-30 11:26] #528 closed

[2016-10-30 11:30] jdanyow commented on #485
@Tarpsvo I re-tested this- it looks like it might be working like you expect now:

https://gist.run/?id=065b5e45ea473fac03d98c85945739cf

I believe this might have been fixed by https://github.com/aurelia/templating/commit/06be1056d8e44cc301c0a117b26678077b3861c8 which closed a bunch of issues related to `if`.

Please take a look and let me know if this can be closed.

[2016-10-30 14:42] Tarpsvo commented on #485
That's weird. The gist you linked still reproduces the same issue.

[2016-10-31 05:49] kevmeister68 commented on #529
When I look at the code I didn't think it was a representative Gist of what I had explained, so I changed the Gist to replace the complete customerObject with an entirely new object. The bindings continued to work.

Wow. I'm impressed. I was unaware Aurelia did that (and I'm bummed because I told someone the wrong thing).

Does that mean that Aurelia maintains a directed graph (or similar) of bind

[2016-10-31 15:57] wc-matteo opened #531 "String interpolation binding doesn't observe inner array when expression uses value converter"
**I'm submitting a bug report**

* **Library Version:**
1.0.9 (aurelia-binding)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.0

* **NPM Version:**
3.10.3

* **Browser:**
Chrome 54

* **Language:**
ESNext

Here is a gist.run: https://gist.run/?id=38b5fcb8fda8329876546c41d7137ef5

It does work when modifying the original collection: https://

[2016-11-01 01:16] jdanyow commented on #529
Nice! Glad your scenario is supported out of the box. The binding system parses the binding expression text, producing an abstract syntax tree (AST). Each node in the tree knows how to monitor it's part of the expression for changes. You can read more about how this all works here:
http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-how-it-works

[2016-11-01 01:16] #529 closed

[2016-11-01 01:24] jdanyow commented on #531
The question is:

*Given the following template:*
[code]
*Why doesn't the binding update when the array referenced by the `messages` property is mutated?*

[2016-11-01 08:12] wc-matteo commented on #531
The same behaviour may be observed when using a bindable property on a custom element:

[code]

`conditionFilter` creates a new array; removing the value converter makes the changes to `conditions` update the binding

[2016-11-02 15:07] fracz opened #533 "Missing interface for simple ValueConverter (TypeScript)"
There are no interfaces (or I am unable to find them) for the [Simple ValueConverters described in the docs](http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-value-converters/2), i.e. classes that implement either `toView` or `fromView` methods.

My suggestions:

[code]

[2016-11-02 15:14] thomas-darling commented on #347
@EisenbergEffect
I was wondering if there's any news or plans to tackle this issue?

We're starting to _really_ feel some pain from this and #96, both due to the lack of type inference/conversion, but also because we would like to style some elements based on the value of certain bindable properties, which can't be done without the `reflectToAttribute` option mentioned in the discussion above.

[2016-11-02 15:23] EisenbergEffect commented on #347
@thomas-darling I feel your pain. I wanted this just the other day for a new library we're working on (which we'll be announcing soon). I'm not sure how soon we can get to it. I might be able to prioritize it in a couple of weeks since it is becoming a dependency. Any interest in contributing? It is a bit of a tricky part of the codebase but it's a great feature.

[2016-11-02 15:38] EisenbergEffect commented on #533
Should we add something like this f? We have them for navigation, for example. (Not something I would use since the runtime is duck typed and no APIs receive an instance of value converter, I don't think.) @fracz Can you describe your use case more?

[2016-11-02 16:18] fracz commented on #533
Such interfaces could be used in the same way as for example the [`ComponentAttached`](https://github.com/aurelia/templating/blob/master/dist/aurelia-templating.d.ts#L190) interface. The functionality of the `attached()` is also supported by duck typing. Using an interface in TS adds a benefit of immediate API changes detection when upgrading. Also, when using an interface, IDE (WebStorm) does not

[2016-11-02 17:37] StrahilKazlachev commented on #533
We did add the `Component...` and `RoutableComponent...` interfaces, but some quick thoughts:
* in this case if you have additional parameters you would have to override the interface methods definitions
* then there is also the same problem/question as with `Component...` do we make `ValueConverterToView` and `ValueConverterFromView` or one `ValueConverter`.
[code]
* if this is added won't a defi

[2016-11-03 05:54] pragmaproducts opened #534 "Binding to checkbox"
With the current version of aurelia, there is a binding issue with checkboxes and property setters.

I have a property setter for a property isReadOnly that uses bitmasks.

[code]

if is Required is true then the isReadOnly bit must not be set.
This works fine in code.
When binding to a checkbox you can pick up problems.
If isRequired is true and you click on the isReadOnly checkbox it stays check

[2016-11-03 16:47] thomas-darling commented on #347
@EisenbergEffect Thanks, it would be much appreciated, as it's probably one of our biggest issues at this point - there's a couple of others, but this one just keeps popping up in so many places.

Regarding contributing, it's something I personally would absolutely love to do, and also something we, as a company, are actively talking about doing, once we get past our own upcoming release. That sai

[2016-11-04 00:16] jdanyow commented on #534
hi @pragmaproducts, if you'd like to put together a minimal reproduction using the Aurelia gist we can look into this for you.
https://gist.run/?id=7542e061bc940cde506b

[2016-11-04 00:19] EisenbergEffect commented on #347
The place to look at is in the templating library. There's a class called `BindableProperty`. You would also want to look at the associated decorator.

[2016-11-06 11:25] code-chris opened #535 ".keys() function is not defined"
**I'm submitting a bug report**

* **Library Version:**
aurelia-binding 1.0.9
aurelia-polyfills 1.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.0.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 1.13.3

* **Browser:**
IE 11

* **Language:**
TypeScript 2.0

**Current behavior:**
On app startup I always get this error

[2016-11-06 11:28] code-chris commented on #535
aurelia/polyfills#33

[2016-11-06 23:12] guivr opened #536 "Third-party lib only works on input on Firefox if I remove value.bind"
- **Library Version:**
"aurelia-binding": "npm:aurelia-binding@^1.0.0",

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.10.4 & Linux Ubuntu
- **Node Version:**
  5.2.0
- **NPM Version:**
  3.3.12
- **JSPM OR Webpack AND Version**
  JSPM 0.16.15
- **Browser:**
  Firefox 49.0.2
- **Language:**
  ESNext

**Current behavior:**
Hi. I'm trying to use a third-party lib called

[2016-11-07 05:48] kevmeister68 commented on #347
One comment I would like to make with the ValueConverter type scenarios (with or without reflectToAttribute) is whether you guys have given any consideration to error handling within the conversion pipeline (or what that even means).

For a trivial example:

    <button disabled.bind="fred">

where the "fred" property could have numerous dubious or illegal values such as "jabberwocky" (is that tru

[2016-11-07 06:34] EisenbergEffect commented on #347
We've encountered the issue but hadn't designed a solution yet. Definitely open to any ideas you have. We'd like to do it without making a breaking change. Let us know what you think.

[2016-11-11 11:31] ohjames commented on #233
I'm seeing this also. More generally I'm seeing Aurelian fail to maintain the array order with the order on screen if I do many splices and pushes in a row. :(

[2016-11-11 11:33] ohjames commented on #233
Oh and latest version here too.

[2016-11-11 11:39] ohjames commented on #233
My perspective on the importance of this bug is that Aurelia has never been able to maintain order of my lists in the view due to various bugs, two of which have been fixed but this one remains.

My website is all about sorting things by score. In the year I've been using Aurelia it's never been fit for this simplest of purposes. That coupled with dealing with so many bugs and a lack of documentat

[2016-11-11 12:17] ohjames opened #537 "repeat binding fails to maintain ordering of DOM nodes when item is removed and reinserted at a different location in the array"
Copying the comment by @ben-girardet as it's in the closed issue https://github.com/aurelia/binding/issues/233 and I fear that what seems like a very important issue is being buried by being a comment in a closed issue:

[code]

Both options have problems when the view gets updated. Sometime the moved item gets duplicated, sometimes the array gets an empty new item, sometimes an item gets missing,

[2016-11-11 12:22] ohjames commented on #537
Unlike @ben-girardet I don't see this issue 100% of the time this pattern occurs... but I do see it frequently. It seems to occur much more frequently on my mobile than my desktop, suggesting the latency of the browser might come into play.

[2016-11-11 13:50] EisenbergEffect commented on #537
@jdanyow @martingust We need to look into this immediately. This is highest priority.

[2016-11-11 14:08] jdanyow commented on #537
@ohjames we can look into this if you can provide a reproduction of the issue:

https://gist.run/?id=7542e061bc940cde506b

[2016-11-12 18:03] #504 closed

[2016-11-13 07:02] EisenbergEffect commented on #535
@jdanyow Can you look into this?

[2016-11-13 07:04] EisenbergEffect commented on #536
Ping @jdanyow

[2016-11-13 13:34] jdanyow commented on #536
I'm guessing Cleave is doing something with `input` or `change` events (or potentially not firing those events when it modifies the input's value programatically. If you want to put together a gist that reproduces the issue we can try to help you out: https://gist.run/?id=7542e061bc940cde506b

I bet you could quickly fix this by changing your input value binding to `value.bind="RG & updateTrigger:

[2016-11-13 13:45] jdanyow commented on #535
@code-chris I wasn't able to reproduce this using the [typescript+webpack skeleton](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack) in IE11 on windows 10.

[2016-11-13 14:26] Thanood commented on #535
I'm also not getting any errors with the skeleton.
However, the skeleton uses `webpack 2.1.0-beta.25` and @code-chris mentioned `webpack 1.13.3`. Maybe there is a difference. I couldn't find any, though (not a webpack pro),

[2016-11-13 14:28] jdanyow commented on #535
I'm not a webpack expert either- @code-chris, can you try upgrading webpack or dropping your code into the webpack skeleton?

[2016-11-13 14:29] code-chris commented on #535
@jdanyow I'm creating a skeleton with this error at the moment.

[2016-11-13 14:57] code-chris commented on #535
@jdanyow I created a repository with the skeleton: https://github.com/code-chris/aurelia-binding-issue-535

I figured out, that if I remove the interpolation binding in `App.html` the error does not occur anymore...

[2016-11-13 15:10] jdanyow commented on #535
thanks @code-chris! can you tell us a little bit about this repo- is it the webpack skeleton with some code changes in the src folder or is it a completely custom setup?

[2016-11-13 15:26] code-chris commented on #535
It's a completely custom setup. But there is not much code in it.

[2016-11-13 15:31] jdanyow commented on #535
ok maybe @niieani will be able to help you out- he's our webpack expert and put together the webpack skeletons in such a way that the polyfills loaded ahead of everything else so these types of issues don't occur.

[2016-11-13 15:52] Thanood commented on #535
@niieani uses a [bootstrap entry/bundle](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript-webpack/webpack.config.ts#L35-L39) which he declares as first chunk in [`CommonsChunkPlugin`](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript-webpack/webpack.config.ts#L106).

I tried to change @code-chris's repo to include that but failed.

[2016-11-13 17:37] jdanyow opened #538 "document capture binding command"
https://github.com/aurelia/binding/blob/master/doc/article/en-US/binding-basics.md
https://github.com/aurelia/binding/blob/master/doc/article/en-US/binding-delegate-vs-trigger.md

[2016-11-14 00:41] niieani commented on #535
Not sure what's going on here, perhaps you could try putting 'aurelia-polyfills' as listed in the first chunk.

[2016-11-14 07:06] code-chris commented on #535
@niieani I modified my webpack config (https://github.com/code-chris/aurelia-binding-issue-535/commit/90a81b7f727f42811923664bd626152fc9e0c970) but I get always a 404 when "0.bundle.js" is requested...

[2016-11-14 11:59] niieani commented on #535
@code-chris how about without CommonsChunkPlugin?

[2016-11-14 13:30] code-chris commented on #535
@niieani I tried it. Then I get the following error:
[code]

The original error seems to be away at the moment.

[2016-11-14 13:50] niieani commented on #535
You're hitting the webpack-plugin bug of missing modules, it's a pain, I know. Do you have all the necessary build resources listed in your package.json file?

Fortunately a better solution is coming soon: https://github.com/aurelia/skeleton-navigation/pull/714

[2016-11-15 03:46] LeoNero commented on #536
@jdanyow Your solution worked! Thanks!

[2016-11-15 04:06] jdanyow commented on #536
nice! going to close this, thanks for confirming

[2016-11-15 04:06] #536 closed

[2016-11-15 18:36] code-chris commented on #535
@niieani I simplified my webpack config. For the moment I don't use the CommonsChunkPlugin and don't create a own vendor bundle, so all is in one file. This works good for now. Looking forward to your great solution ;).

[2016-11-15 19:33] Gheoan commented on #535
This might have been fixed by https://github.com/aurelia/binding/commit/d676d63d31cccab5d0492ef273c920a372b58b0e.

[2016-11-19 17:05] EisenbergEffect commented on #534
No feedback from the OP for over two weeks so we assume they worked it out

[2016-11-19 17:05] #534 closed

[2016-11-19 17:11] EisenbergEffect commented on #531
@jdanyow Is this a bug?

[2016-11-20 12:20] ohjames commented on #537
I've moved on from Aurelia so won't be providing a reproduction, it is however very trivial to reproduce. Fail to react to this gravely important issue at Aurelia's peril.

[2016-11-20 12:20] #537 closed

[2016-11-20 16:10] CasiOo commented on #537
Option 1 seems to be working fine in this gist
https://gist.run/?id=ce2bb5b6a65610116aa3517007d2eb33

[2016-11-20 17:30] EisenbergEffect commented on #537
I tested both option 1 and option 2 and could not reproduce any issues. The second option did have invalid JavaScript code though. Here's a correct version that can be dropped into the gist above:

[code]

[2016-11-21 09:29] sebastien-roch commented on #537
@EisenbergEffect I could reproduce the issue but with the `<compose>` tag: https://gist.run/?id=fda383ab7b92edbb39ab26c2f1db7bc7

Actually I noticed that the `containerless` attribute is the culprit here. When not present, it works well.

[2016-11-21 14:04] EisenbergEffect commented on #537
@sebastien-roch So, you are saying that when you have a repeat, with a compose inside of that repeat and there's a containerless attribute on the compose, that's when it breaks?

[2016-11-21 14:06] EisenbergEffect commented on #537
That's something I can go on. With that information I have an idea already.

[2016-11-21 14:17] sebastien-roch commented on #537
@EisenbergEffect at least it's when it breaks for me. I could only reproduce this problem with `compose` though, don't know if the described issue happen in other cases.
The `repeat.for` is set on the `<compose>` tag itself, check out the gist.

[2016-11-21 14:18] EisenbergEffect commented on #537
Yes. I have a suspicion about what might be the cause. I'll test it out later today. Thanks for tracking down that detail!

[2016-11-21 16:46] EisenbergEffect commented on #537
@sebastien-roch Thanks for the info. It's fixed and will go out in the next release in the next day or two.

[2016-11-22 13:15] DanCardin opened #540 "value.bind on select removes ability to default to a disabled option"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
4.4.7

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.25

* **Browser:**
all

* **Language:**
TypeScript 2.1

**Current behavior:**
[code]
Won't let the first item default to being selected, and won't

[2016-11-22 17:32] jdanyow commented on #540
https://gist.run/?id=fa360ebc31cab8d0d93732cf92324f21

[2016-11-22 17:39] CasiOo commented on #540
@jdanyow Your example gist doesn't select the first option 'Select' on my machine (Chrome 54).

Here's a working example on my machine https://gist.run/?id=1c6aabd5197e3051b80aa7de31d2c880

[2016-11-22 17:44] jdanyow commented on #540
My gist is demonstrating that it does not work when the model value for the first item is null and the first item is disabled.

[2016-11-24 13:08] zakjan opened #541 "Support anonymous functions in binding parser"
**I'm submitting a feature request**

[code]

Now it throws ```Uncaught Error: Parser Error: Unexpected token > at column 19 in [entities.map((x) => x.name).join(', ')]```

[2016-11-25 16:48] EisenbergEffect commented on #541
@jdanyow This would be nice to have for the future. I'm not sure just how complicated it would be to do with the parser right now. There are more important bugs we want to fix first though.

[2016-11-26 20:33] zakjan opened #542 "Checked observer of an array could create a new array instead of mutating"
**I'm submitting a feature request**
Currently `checked.bind="entities"` edit the array in-place. If a parent component wants to listen to its changes, it needs to create `bindingEngine.collectionObserver`, and dispose it when no longer needed. It would be more bug-proof and more intuitive for users if such array is considered as immutable, and updating it creates a new array instead. Then it woul

[2016-11-27 12:26] zakjan opened #543 "$this contextual property is not exactly the same object as VM"
**I'm submitting a bug report**

* **Library Version:**
latest in the gist bundle https://jdanyow.github.io/rjs-bundle/bundles/aurelia.js

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Browser:**
Chrome 55

* **Language:**
JS

**Current behavior:**
Binding a method to `$this` doesn't allow its body to access VM in `this`. Example, use case: https://gist.run/?i

[2016-11-27 16:23] jdanyow commented on #543
In the repeat, use `$parent` to access the outer view-model scope.

Or declare the method in a way that will preserve the `this` binding no matter how it's invoked:

[code]

[2016-11-27 16:23] #543 closed

[2016-11-27 16:28] jdanyow commented on #542
Hi @zakjan, thanks for the feature suggestion. This would be a breaking change for a lot of people and cause quite a bit of confusion for folks who expect their array instance to remain the same.

I think you could create a custom attribute or `& immutableArray` binding behavior that achieves the result you're looking for, potentially releasing as a plugin or perhaps we could incorporate into the

[2016-11-27 16:28] #542 closed

[2016-11-27 16:40] zakjan commented on #543
`matcher.bind="matcher.bind($parent)"` throws `Error: Parser Error: Unexpected token ) at column 21 in [matcher.bind($parent)]`

All right, `$this` in the repeat can't be the same object as VM, but could it extend the VM?

Using an arrow function in the VM has a disadvantage that it needs to be declared before any other its usage. I'd like to keep using just one style for all methods. But it is pr

[2016-11-27 16:44] zakjan commented on #542
Sounds good, I'll write a binding behavior for this. Thanks.

[2016-11-27 17:20] jdanyow commented on #543
oops- the parser error is a bug. I've pushed a fix so it will be fixed in the next release.

[2016-11-28 13:26] nicolasdejong opened #544 "valueChanged() acts like valueWasSet()"
**I'm submitting a bug report**

* **Library Version:**
gist

**Please tell us about your environment:**
* **Operating System:**
gist

* **Node Version:**
gist

* **NPM Version:**
gist

* **JSPM OR Webpack AND Version**
gist

* **Browser:**
all

* **Language:**
all

**Current behavior:**
valueChanged() is called when value is not changed. I came here expecting this only to happen when value is NaN

[2016-11-29 04:37] EisenbergEffect commented on #544
@jdanyow Ping.

[2016-11-29 08:40] ashanvabs commented on #163
today I have add below code to a textarea disabled.bind="isDisableEdit"
expectation was disable textarea when isDisableEdit is true. its work fine in chrome and firefox
but in IE(version 11) it always disable
so I check the html and it was like below
<textarea disabled="" ...
disabled="" attribute makes textarea disable. So any know a way to fix this issue

[2016-11-29 12:54] #544 closed

[2016-11-29 14:57] jdposthuma commented on #163
@ashanvabs - this is a separate issue from the one reported here. Anyway...

I don't have this problem on IE 11. Maybe you're using an old version of Aurelia? I'm using aurelia-framework@1.0.7 and aurelia-binding@1.0.9

[2016-11-30 03:32] ashanvabs commented on #163
I'm using aurelia-framework@1.0.2 and aurelia-binding@1.0.4.

[2016-12-01 16:41] code-chris commented on #535
This is fixed by the commit mentioned above. I applied the unreleased change to my app and it worked.

[2016-12-05 10:02] stsje opened #546 "Bi-directional ValueConverter calls toView before fromView"
**I'm submitting a bug report**

* **Library Version:**
1.0.9

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**
Update an input value and notice how `toView` is getting called before `fromView`. I would expect `fromView` to be called first, since the user is updating the value.

Edit the following text input and notice the console logs
https://gist.run/?id=faf634bf1b4ef61780521

[2016-12-05 10:38] StrahilKazlachev commented on #546
If I'm not mistaken `toView` gets called first because the new value gets compared with the one in the VM.

[2016-12-05 10:58] stsje commented on #546
@StrahilKazlachev  Why isn't the `fromView` value compared to the actual VM value?
Anyway, I don't see why `toView` is being called twice.

[2016-12-05 12:28] jdanyow commented on #546
The binding expression is evaluated in response to input events to determine whether an actual change occurred, instead of blindly assigning the property (which may not expect to be assigned when newValue/oldValue are the same). This is the first toView call you see after editing the input.

The second toView call happens in response to the model property change that occurs when the model property

[2016-12-05 12:28] #546 closed

[2016-12-06 12:29] jdanyow commented on #535
thanks for the update @code-chris - closing this

[2016-12-06 12:29] #535 closed

[2016-12-08 17:05] huw489 commented on #458
Did you ever find a fix for this?  I'm experiencing the same problem; I've narrowed it down to Binding.prototype.call in Aurelia-binding.js.
what I'm seeing is that in Chrome when pressing two keys at once in a textarea input that when getting the value from the textarea it only includes the first key typed, but in IE11 it shows both keys - hence it executes the code if (newValue !== oldValue).
I

[2016-12-08 18:59] m-andrew-albright opened #547 "Using the throttle binding-behavior on a property getter (`get someComputedProperty()`) only appears to throttle the getter function calls."
**I'm submitting a bug report**

* **Library Version:**
1.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.8.0

* **NPM Version:**
4.0.1

* **JSPM**
JSPM 0.16.39

* **Browser:**
Chrome 54.0.2840.99 m | Firefox 50.0.2

* **Language:**
ESNext

**Current behavior:**
Using the `throttle` binding behavior, my view is properly only updating every

[2016-12-09 03:24] EisenbergEffect commented on #547
Ping @jdanyow

[2016-12-09 11:42] jdanyow commented on #547
Good question, on the surface this makes sense, let me see if I can explain why it doesn't work this way:

Aurelia observes computed props (props with a getter or setter function) using dirty-checking. The dirty-checking interval is a system-wide setting, 120ms is the default.

The throttle and debounce binding behaviors to not change the way properties are observed, they change the way the bindin

[2016-12-09 11:42] #547 closed

[2016-12-09 15:08] m-andrew-albright commented on #547
Thanks for the insight!

[2016-12-11 03:58] ChibiBlasphem commented on #155
Hello, I don't know if I can write here. I read a little bit the code of the Map Observer.
And something looked odd to me.
At line 34, we looking for the "add" property of the Map. Shouldn't it be "set". It seems to be copy pasted from "set-observation.js" file

[2016-12-11 13:29] theDogOfPavlov opened #548 "IE 11 does not interpret if.bind the same as Firefox and Chrome"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli@0.21.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu

* **Node Version:**
7.2.1

* **NPM Version:**
4.0.3

* **Browser:**
IE 11 including latest patches

* **Language:**
ESNext

**Current behavior:**
Works as expected on Firefox and Chrome, but displays nothing on IE 11.

_app.html_
[code]

_app.js_
[c

[2016-12-11 14:40] StrahilKazlachev commented on #548
The problem is that you can not use `repeat` and `if` on he same element since both are template controllers.

[2016-12-11 14:55] theDogOfPavlov commented on #548
Is that specific to IE, as it works just fine on Firefox and Chrome...

[2016-12-11 15:15] theDogOfPavlov commented on #548
And just to confirm that moving repeat.for to an enclosing template element makes it work on IE too...

[2016-12-11 16:53] atsu85 commented on #548
@theDogOfPavlov, add [aurelia-template-lint](https://github.com/MeirionHughes/aurelia-template-lint) to Your build process, to detect problems like this at build-time

[2016-12-11 17:14] theDogOfPavlov commented on #548
Haha, thanks to both @StrahilKazlachev and @atsu85. All working now. ;)

[2016-12-11 17:15] #548 closed

[2016-12-12 12:25] jdanyow opened #549 "Map observation- "add" should be "set""
https://github.com/aurelia/binding/blob/master/src/map-observation.js#L34-L39

from @ChibiBlasphem
https://github.com/aurelia/binding/issues/155#issuecomment-266259151

[2016-12-12 22:02] #376 closed

[2016-12-13 05:30] #406 closed

[2016-12-13 05:39] EisenbergEffect commented on #458
@jdanyow Putting this back on your radar.

[2016-12-13 05:40] #466 closed

[2016-12-13 22:51] hleao commented on #350
For future reference, I had a similar issue and it was solved by configuring polymer to render local DOM using shadow DOM (the default value is 'shady').
[code]

[2016-12-16 11:37] nndevstudio opened #551 "show.bind does not work in IE11 after jspm update on sceleton-typescript 1.1.2"
Hi,
sceleton-typescript 1.1.2 works fine after initial npm/jspm installation.
But after jspm update:
![ts-skeleton112-jspm-update](https://cloud.githubusercontent.com/assets/22050968/21261175/1bb16a92-c38a-11e6-8051-cdfdfd6b693b.png)

show.bind does not work in IE11 with error:

 stack: "Error: Error invoking Show. Check the inner error for details.
------------------------------------------------

[2016-12-16 11:53] StrahilKazlachev commented on #551
Check this aurelia/templating-resources#267
It seems to be related to the aurelia-dependency-injection@1.2.1.

[2016-12-16 14:02] nndevstudio commented on #551
Thank you. After downgrading aurelia-dependency-injection@1.2.0 it works in IE again.

[2016-12-16 16:17] RomkeVdMeulen commented on #376
I'm running into a similar problem on a JSPM / SystemJS project. I've updated to latest versions, including bootstrapper 2.0.1, but the problem persists. When adding `<div slot="x">` anywhere, I get this error:

[code]

If I go into the source and replace `DOM.Element` with `Element` in the `SlotCustomAttribute` injection, named slots function as expected.

I suspect the error is somehow related t

[2016-12-16 19:19] omnipresentminded commented on #376
I am running into the same issue with show.bind on system js. We began to have the issue when we updated. Aurelia-pal when from 1.1.1 to 1.2.0. Aurelia-dependency-injection went from 1.2.0 to 1.2.1. All else stayed the same.  The issue occurs even un-bundled.

Using a css class got us around the issue for now.

Broken with show.bind
 `<div class="ppc-progress" show.bind="!isUpdating">

[2016-12-16 19:23] StrahilKazlachev commented on #376
@omnipresentminded @RomkeVdMeulen Since you are saying the problem occurred after updates see aurelia/templating-resources#267 for more info.

[2016-12-18 18:49] #549 closed

[2016-12-18 21:21] StrahilKazlachev commented on #521
@geleto Is this still an issue, since the gist seems to work as expected?

[2016-12-18 21:59] #551 closed

[2016-12-18 22:10] StrahilKazlachev commented on #521
My mistake, where was I looking.

[2016-12-19 09:27] GabrielMancik opened #553 "Resources are not released inside repeat for if element has binded attribute"
Library Version:
1.1.0

Operating System:
Windows 8.1

Node Version:
4.4.5

NPM Version:
3.9.6

JSPM Version
0.16.46

Browser:
Chrome 55.0.2883.87 m

Problem:
Problem can be replicated by having an array (I tried it with array of numbers) in viewmodel with any number of items. Also I have a computed property in viewmodel:

    get attributeValue(): number {
        return 5;
    }

I have created

[2016-12-19 10:54] RomkeVdMeulen commented on #376
@StrahilKazlachev To clarify: I tested on the latest versions to reproduce, but the problem was already occurring with version 1.0.0 of templating, templating-resources and dependency-injection.

I'll go watch the linked issue.

[2016-12-19 12:20] StrahilKazlachev commented on #376
@RomkeVdMeulen Your problem may be unrelated to the DI issue, but the circumstances and error seem similar.

[2016-12-21 13:22] #553 closed

[2016-12-21 14:32] petronellius opened #555 "Memory leak"
**I'm submitting a bug report**

* **Library Version:**
1.0.9

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.4.5

* **NPM Version:**
3.9.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.47

* **Browser:**
Chrome 55.0.2883.87

* **Language:**
TypeScript 2.0

**Current behavior:**
Minimal demo:
[skeleton-typescript - Copy.zip](https://github.com/a

[2016-12-21 22:35] rayalan commented on #531
I came across this today (see a similar scenario here with buttons and value converters). https://gist.run/?id=5a9308b2788c0e4330b7135f74328ea7

This feels like a bug; it certainly wasn't what I expected from the documentation.

@jdanyow @EisenbergEffect Is there any chance of an update or a quick look on this issue? It makes arrays surprisingly hard to work with in many circumstances.

[2016-12-21 22:37] rayalan commented on #531
I forgot to mention; I hit this with aurelia-binding 1.1.0, so the last release didn't fix this.

[2016-12-21 22:54] jdanyow commented on #531
This isn't a bug, it's just something that is not currently supported. Typically the only thing that observes array mutation is the `repeat.for`. Early in the alpha we made a change to observe array mutation in simle string interpolation expressions like `${myArray}`.

[2016-12-22 11:38] MeirionHughes commented on #64
Anyone having issues with this; check out this example: https://gist.run/?id=c3d618546a0fef10a266109465eed94c

by using splice and the property indexer (string) you can get the binding working.

[2016-12-23 13:23] RomkeVdMeulen commented on #376
Well, the fix for metadata was rolled out, but the problem persists. I'll file a new bug for it.

[2016-12-23 20:40] djedi opened #556 "as-element not rending bound attributes"
**I'm submitting a bug report**

* **Library Version:**
1.0.6

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
5.12.0

* **NPM Version:**
3.8.6

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
If I create a custom component and set `this.cls` in the constructor, I can't use that attri

[2016-12-23 21:41] cottrellio commented on #556
I'm running into the same problem. Trying to add a class to an <li> tag that is using `as-element` attr.

[2016-12-25 06:16] EisenbergEffect commented on #556
I think you may be confusing the scope of the element's properties. Those are only "visible" inside the view of the element, not outside it.

[2016-12-25 06:16] #556 closed

[2016-12-27 16:57] djedi commented on #556
For those who may run into a similar situation I figured it out. it was a combination of using `as-element`, `@containerless`, and putting my html `<require>` statements at the bottom of my template.

actual code...

calling my data-cell element
[code]

data-cell.js
[code]

data-cell.html
[code]

[2016-12-28 09:02] fracz opened #557 "Additional decorators for binding oneTime & twoWay"
I find it very uncomfortable to declare two-way bindings in custom components like

[code]

WebStorm does not suggest anything when you start typing `defa...` inside the decorator so I always must double check if I remembered the parameter correctly. Moreover, I have to remember where the constants should be pulled from.

What do you think about adding additional decorators such as `@bindableOneTi

[2016-12-28 12:48] jdanyow commented on #557
Looks like TypeScript definition could use some work: https://github.com/aurelia/templating/blob/1.1.4/dist/aurelia-templating.d.ts#L1887

[2016-12-28 12:55] jdanyow commented on #557
Possible workaround for you:

*my-decorators.js*
[code]
*foo-custom-element.js*
[code]

[2017-01-02 13:53] maurice-camp commented on #485
Any update on this issue? I'm still experiencing it with aurelia-binding 1.0.9.
The gist you posted also still has this issue: The value appears to be updating to the value of the original change instead of the value of the last change.

[2017-01-04 02:52] abemeister commented on #314
I found a solution for Firefox and also maintain the file list if selecting images from a different directory
**elefantino** was pointing in the right direction by using the change.delegate

It's true Firefox does loose the file bindings when re-select but can maintain it through the **change.delegate** binding instead of the **files.bind**.

This code in Typescript:

**View Model:**

    private

[2017-01-05 01:24] jwx commented on #316
Any progress or news on the future feature that will support this?

[2017-01-05 01:57] EisenbergEffect commented on #316
We have a PR we are going to be reviewing soon.

[2017-01-05 13:42] Tarpsvo opened #558 "computedFrom a Map does not work"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.X

* **NPM Version:**
3.X

* **JSPM OR Webpack AND Version**
Webpack 2 RC3

* **Browser:**
Any

* **Language:**
ESNext

**Current behavior:**
[code]

Does not work when using `.set()` on the map.

**Expected/desired behavior:**
I would'

[2017-01-05 15:15] jdanyow commented on #558
That usage (observing the map/set/array for mutation) is not supported. Use `@computedFrom('map.size')` instead.

[2017-01-05 15:15] #558 closed

[2017-01-05 15:27] jwx commented on #316
Excellent. Hopefully this will fix http://stackoverflow.com/questions/41475364/aurelia-bug-with-bindable-in-combination-with-class-decorator .

[2017-01-09 11:32] wesleyolis opened #559 "feature: EventsManager Resolving delegate/capture targetEvents callbacks support navigation control attributes"
**I'm submitting a feature request**
When resolving delegate/capture target events, the DOM will be transversed until from the current target through its parentNode until target.delegateCallbacks[event.type] is found.

feature: Change the behaviour of the two functions handleDelegatedEvent and handleCaptureEvent
such that they inspect the current target for property potentially call DelCapNav.
If

[2017-01-10 16:18] Mario050 opened #560 "When checked.bind causes the checkbox to become disabled, change.trigger isn't called in Firefox"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.2

* **Node Version:**
7.2.1

* **NPM Version:**
3.10.9

* **JSPM Version**
JSPM 0.16.29

* **Browser:**
Firefox 50.1.0

* **Language:**
all

**Current behavior:**
When checked.bind causes the checkbox to become disabled, change.trigger isn't called in Firefox

[2017-01-10 21:40] fracz opened #561 "Chained assignments cause Parser Error"
Not a big deal, but the following code
[code]
causes the following exception:

[code]

The fix is
[code]
but I hope you feel like me that these parentheses should not be required.

[2017-01-15 17:05] jdanyow opened #562 "Pause and restore dirty checking using page visibility API"
*this issue originated in https://github.com/aurelia/framework/issues/386#issuecomment-202844643*

Use the [page visibility api](https://www.w3.org/TR/page-visibility/) and the window's focus and blur events to pause and restore dirty checking?

http://caniuse.com/#feat=pagevisibility

http://stackoverflow.com/questions/1060008/is-there-a-way-to-detect-if-a-browser-window-is-not-currently-active

[2017-01-15 17:15] jdanyow opened #563 "Configurable dirty-checking behavior"
*Note: this issue originated in https://github.com/aurelia/framework/issues/386- read the comments there first*

Enable developers to decide what Aurelia should do when observing a property will require dirty-checking.

Questions/considerations:

* What is the API for configuring the dirty-checking behavior? Consider https://github.com/aurelia/binding/issues/30 when thinking about the config API.

[2017-01-15 18:50] atsu85 commented on #563
just choosing between logging/throwing isn't good enough - I'd like to replace the handler, so i'd be able to show UI message, send notification to Bugsnag and throw an error (as I've done when aurelia-computed has discovered a getter, where dependencies can't be computed by aurelia-computed plugin)

[2017-01-16 02:07] jwx commented on #316
@EisenbergEffect Any news on this? (I couldn't find a fitting PR.)

[2017-01-16 04:06] EisenbergEffect commented on #316
The PR relates to inheritance: https://github.com/aurelia/templating/pull/507

[2017-01-16 15:07] pndewit opened #564 "img usemap binding not working"
**I'm submitting a bug report**

**Please tell us about your environment:**
* **Operating System:**
OSX 10

* **JSPM OR Webpack AND Version**
webpack 2.2.0-rc.3

* **Browser:**
Chrome 55

* **Language:**
TypeScript 2.1

**Current behavior:**
The `usemap` attribute is not being added to the DOM when I use: `usemap.bind="'#something'"`. If relevant, I am using the `usemap` attribute in combination w

[2017-01-16 18:27] jdanyow commented on #564
workaround: `<img usemap.bind="'something' & attr" ...>`

[2017-01-17 07:06] pndewit commented on #564
@jdanyow Thanks, that workaround is even better! 👍

[2017-01-17 13:59] davismj opened #566 ".call binding does not assign function reference to bindable property on <compose> element."
**I'm submitting a bug report**

* **Library Version:**
1.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**
Using `.call` binding on `<compose>` custom element does not pass the function reference

[2017-01-17 14:34] StrahilKazlachev commented on #566
I was under the impression that `compose` has its own bindable properties and does not proxy to the user VM. Has proxying ever worked?

[2017-01-17 17:20] jdanyow commented on #566
right- compose does dynamic composition and has it's own bindable properties. This kind of usage isn't supported.

[2017-01-17 17:20] #566 closed

[2017-01-18 01:21] #564 closed

[2017-01-18 11:51] tochoromero opened #567 "Using @children at a property level logs a warning"
I have a CustomElement that uses the children annotation, like this:
`@children('aubs-tabs') tabs = []`

Everything works just fine, but it logs the following in the console:
`WARN [property-observation] Cannot observe property 'tabs' of 'AubsTabsetCustomElement'`

Now, the warning goes away if I use the children annotation at a class level:
`@children({ name: "tab", selector: "aubs-tab" })`

I di

[2017-01-19 05:13] EisenbergEffect commented on #567
@jdanyow Can you look into why this is happening? There shouldn't be a warning for this.

[2017-01-19 11:07] jdanyow commented on #567
Babel's decorator logic makes the property not configurable: https://github.com/aurelia/binding/issues/406

[2017-01-20 06:50] EisenbergEffect commented on #567
Issue moved to [aurelia/templating #520](https://github.com/aurelia/templating/issues/520) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-20 06:50] #567 closed

[2017-01-20 13:29] gbreeze commented on #64
What is with polyfills, is there a workaround?

Example:
[code]

this does not reflect on a 'repeat.for' binding :-|

[2017-01-20 16:31] jdanyow commented on #64
@gbreeze aurelia does not observe array mutation via indexed assignment (eg `arr[x] = y`) because it would require dirty-checking now that Object.observe is discontinued. Use `splice` instead:

[code]

[2017-01-26 13:13] johan-v-r commented on #560
I have a similar issue which might be related with `checked.bind` not working along with `ref` & `disabled.bind`. More detail [here](http://stackoverflow.com/questions/41861010/aurelia-array-binding-with-checkbox-selection-and-element-reference-disable).

Also see examples:
- [With checked.bind](https://gist.run/?id=0c64a1602738774bb7658cf28db726ee)
- [Without checked.bind](https://gist.run/?id=67

[2017-02-03 16:57] Mario050 opened #568 "@children array contains duplicate entries"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.3

* **Node Version:**
7.2.1

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.29

* **Browser:**
all
* **Language:**
all

**Current behavior:**

When a component has a property decorated with @children and both one of the projected child

[2017-02-04 07:09] spookyvision commented on #485
for what it's worth, I'm having the same problem.

[2017-02-06 13:55] gerbendekker opened #570 "multi-select valueChanged callback function not called on changes"
I'm trying to get notified when the selected value has changed for a multi select.
Here a modified sample from the docs [Multiple Select Objects](http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-selects/8):
[code]
[code]
**Current behavior:**
The notify isn't called and I think it's determined here:
[https://github.com/aurelia/binding/blob/master/src/select-value-observer.js#

[2017-02-06 14:31] jdanyow commented on #570
The binding system makes a distinction between property changes and collection mutation. The `selectedProducts` property never changes, it remains the same array instance (although the contents of the array change). This is why the `selectedProductsChanged` property changed handler is never called.

Try subscribing to the select element's change DOM event:  `<select ... change.delegate="selectedPr

[2017-02-06 14:31] #570 closed

[2017-02-06 17:43] gerbendekker commented on #570
Sound logical, thanks for the explanation and pointing me into the right direction!

[2017-02-08 15:12] abemeister opened #571 "Aurelia require feature to handle reference tracking of a particular filter result when applying multiple filters?"
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.2

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
TypeScript 2.1.5

**Current behavior:**
Have a table with the filtering and

[2017-02-09 05:25] EisenbergEffect commented on #571
Please ask questions on Gitter or Stack Overflow.

[2017-02-09 05:25] #571 closed

[2017-02-12 04:19] nashwaan commented on #443
@jdanyow @EisenbergEffect  But why `model.bind` doesn't work with number input?
I think this issue can be solved cleanly if Aurelia can simply support this:
[code]
The strange thing is Aurelia already support this concept for binding `select`. In the [documentation](http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-selects/1), it even recommends using `model.bind` over `value.

[2017-02-13 04:58] nashwaan opened #572 "Binding to 'checked' doesn't get updated for radio button"
Here is a simple test html:
[code]

Initially I get the following on the renedered html:
◉
○
○
true
false
false

But when I click the second radio button, the rendered html becomes:
○
◉
○
**true**
true
false

You see, the first `${ref1.checked}` remains `true` instead of getting updated to `false`!
Why `${ref1.checked}` doesn't get reevaluated and updated?

[2017-02-14 04:17] jdanyow commented on #572
the binding system is listening to the ref1 input's `change` and `input` events and will update the `${ref1.checked}` binding when one of those events fire.

*ref1 fires neither event when you click on the ref2 or ref3 inputs so the binding system doesn't know it changed.*  We'd have to start dirty-checking this prop to make this use-case work..

Try doing something like this:

[code]

[code]

htt

[2017-02-14 04:17] #572 closed

[2017-02-14 08:11] nashwaan commented on #572
@jdanyow  Thanks for the clarification & the gist. This helped me a lot.

[2017-02-15 14:20] RWOverdijk commented on #540
Is this issue getting any love? @jdanyow Anyone you can poke about this? Or maybe provide some information so we can perhaps help solve this?

[2017-02-16 11:17] zakjan opened #574 "Radio with model=undefined and checked=undefined should be checked by default"
**I'm submitting a bug report**

* **Library Version:**
latest in gist

**Please tell us about your environment:**
* **Browser:**
all

* **Language:**
all

**Current behavior:**
If input type="radio" has model.bind="undefined" and checked.bind="value" where value=undefined, it is not checked.
https://gist.run/?id=5c2d55c58bb270bfab2f41026898cd23

**Expected/desired behavior:**
It should be checked

[2017-02-19 15:59] jdanyow commented on #574
Thanks for reporting this.

https://github.com/aurelia/binding/blob/b2d68c85d1e02775300a083746880de03990d034/src/checked-observer.js#L19

[2017-02-20 00:03] #574 closed

[2017-02-20 00:24] jdanyow commented on #560
Seems to be a browser quirk.  Take a look at the console output of this gist: https://gist.run/?id=dcf92e0854a0d6658c6a0d7200269213

Chrome:
[code]

FireFox:
[code]

In chrome, the change event fires first, and disabling the input during the change event prevents the input event from firing.

In firefox, the input event fires first, and disabling the input during the input event prevents the chang

[2017-02-20 00:24] #560 closed

[2017-02-20 00:35] jdanyow commented on #540
fix:

https://gist.run/?id=f5a581ebd6c1f8052598f6085293e3e7

[code]

[2017-02-20 00:39] #540 closed

[2017-02-20 04:37] #561 closed

[2017-02-21 11:24] fracz opened #578 "It is not possible to use values from value converters in expressions"
**I'm submitting a feature request**
* **What is the expected behavior?**
It should be possible to use converted values just like any other value in expressions.

* **What is the motivation / use case for changing the behavior?**
Please find below some self-explanatory (I hope) examples that are possible with Angular filters. In Aurelia, all of them throw `Parser Error`.

1. `${ (myEntity.children

[2017-02-21 16:42] fabioluz commented on #578
In the mean time, you could use some trickery, like:

[code]

[2017-02-23 10:15] RomkeVdMeulen opened #579 "Binding maxlength with undefined value"
This problem was formerly reported as #473, got moved around a bit but was never answered.

As far as I can tell, there's currently no good way of binding an `<input>`'s `maxlength` attribute to a variable that may or may not be `undefined`. If a number is passed in, the maxlength is set and all works as expected. However, if undefined is passed in, it is interpreted as `0`, meaning nothing can be

[2017-02-23 10:35] RomkeVdMeulen commented on #579
On further examination of Mozilla Bug 536891 I've found that this should work:

[code]

Verified this as giving the epexected behaviour in Chrome 55 and FF 51.

Would it be possible to use `setAttribute` in [SetterObserver](https://github.com/aurelia/binding/blob/1d6e826dbbc401ca21ad0deaf7acca498cd71c8b/src/property-observation.js#L50)?

[2017-02-23 21:49] carusology commented on #249
Even if the official solution is "use a value converter", an error message would be much more valuable than the current approach of "try it in futility for an hour, google it and find this issue." Can `@computedFrom` do a typeof check to see if the observed property is an array, and throw an error if so?

[2017-02-24 01:10] istrau2 commented on #409
+1 same issue @robharper solution worked. If the require tag is a direct child of the template tag, weird things happen.

[2017-02-24 07:01] EisenbergEffect commented on #578
I don't see us making this change to the parser any time soon. The solution from @fabioluz (and other similar ideas) is our recommendation currently.  We've talked about adding a `let` attribute to the templating language to make this a bit easier at some point in the future.

[2017-02-24 07:01] #578 closed

[2017-02-24 12:20] massimocode commented on #147
@davismj Hey, I was wondering if there's any update on this? Or is the best practice still as per the gist posted above?

[2017-02-25 04:24] jdanyow commented on #579
You can instruct the binding system to use `getAttribute`/`setAttribute` instead of assigning the dom property with the `attr` binding behavior.

[code]

https://gist.run/?id=654e24398c579d2b40bc443885c8a8c0

[2017-02-25 04:26] #579 closed

[2017-02-27 09:23] RomkeVdMeulen commented on #579
Nice! Thanks for pointing that out.

[2017-02-27 09:42] lukechilds commented on #263
I just spent hours pulling my hair out over this. It says in the answer to the above SO post that attaching the listener to the first child of body should work. Could that be a possible workaround?

[2017-03-02 05:15] jdanyow commented on #517
gist doesn't seem to run. I tried updating it to the current version of the aurelia libs, errors in the console:
https://gist.run/?id=80c4bdcb6e48d34c494560adc9f8cd9a

[2017-03-02 05:15] #517 closed

[2017-03-02 23:38] erilot commented on #409
You can also remove the `<require>` statements from the view/template and use the `@viewResources` decorator on the accompanying VM instead (assuming you have one):

[code]

Aurelia documentation: http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-custom-elements/7

[2017-03-08 05:36] ghiscoding commented on #347
Any news on this?

So far, the only way I got this working is by defining a `parseBool(value)` function in my `ViewModel` and using it in the `View` which isn't the most convenient (however it does work).

[2017-03-13 23:38] AlainBaslter opened #582 "Binding across app instances"
**I'm submitting a bug report**

* **Library Version:**
as per March mega release

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM**
JSPM 0.16.52

* **Browser:**
Chrome 56.0.2924.87

* **Language:**
TypeScript 2.2.1

**Current behavior:**

Start from plain vanilla Aurelia Skeleton Navigation Typescript out

[2017-03-14 02:12] EisenbergEffect commented on #582
This is because of BrowserSync. It's designed to keep multiple browsers in sync so you can test across browsers and devices simultaneously. You can turn this off if you don't want it. Also, notice in the command console when you run the app, there's a port for the BrowserSync settings UI where you can change the behavior.

[2017-03-14 02:12] #582 closed

[2017-03-17 07:59] thejaff2 commented on #485
Also seeing this. My use-case below, isRequesting is true for less than 50ms, gets stuck as true in view. The same also happens when using throttle.

`<loading-indicator loading.one-way="httpClient.isRequesting & debounce:200"></loading-indicator>  `

[2017-03-20 16:32] RomkeVdMeulen commented on #442
I'm with @AdamWillden on this. I was quite surprised to find that value converters don't support this behavior out of the box. It's a common use case to do some normalisation like `trim` on an input, and I would like to be able to simply specify this as:

[code]

If I use something like the above now, the normalised value is passed to the model and used for validation - which is exactly what we wa

[2017-03-21 11:51] jsobell commented on #485
Sorry, I'm not really involved at the moment, I have too much work to do that's not Aurelia related...

@jdanyow Are you still working on this stuff? This issue need to be re-opened because it's not fixed.

The issue relates to both `show.bind` and `if.bind`, as embedding the bound expression displays the correctly debounced value:
[code]

[2017-03-21 12:55] RomkeVdMeulen commented on #442
For now I've built this TypeScript base class for binding behaviors that do normalisation. Maybe it will be of use to others.

[code]

Example use:

[code]

[code]

(Note that I add `updateTrigger:'blur'` so that the user can still add spaces between words - if the input is trimmed after every change it wouldn't be possible to type spaces at all)

[2017-03-22 01:08] anthonyborell opened #583 "Question: How to programmatically add binding behaviours to view model"
I'm submitting a question.

**Library Version:**
0.26.1

**Operating System:**
Windows 10

**Node Version:**
6.10.0

**NPM Version:**
3.10.8

**Browser:**
all

**Language:**
all

I have a created custom element which is going to be used multiple times, on one occasion the custom element's click event needs to be throttled by 1 second. How would I go about doing this outside of the view?

Can't see

[2017-03-22 01:11] EisenbergEffect commented on #583
You can always write a simple throttle function in JS. Please ask questions on Gitter or SO.

[2017-03-22 01:11] #583 closed

[2017-03-22 01:17] anthonyborell commented on #583
@EisenbergEffect Fair enough for closing, but was just hoping that it would be exposed in your API/documentation. Would rather do it the aurelia way, considering you've already written it.

[2017-03-28 03:45] maodean commented on #238
import $ from 'jquery';
import moment from 'moment';
import {bindable, inject, BindingEngine} from 'aurelia-framework';
import {HttpClient} from 'aurelia-fetch-client';

@inject(HttpClient, BindingEngine)
export class Rules {

    constructor(bindingEngine) {
        this.rules = {
        ObsRanges: [
            { id: 1, low:1.0, high:1.99 },
            { id: 2, lowd:8.0, high:8.99 },

[2017-03-29 10:06] nashwaan opened #584 "<select> construct doesn't work in IE10"
**I'm submitting a bug report**

* **Library Version:**
2.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.5.0

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
webpack 2.2.1

* **Browser:**
IE 10 and below **only**

* **Language:**
ESNext

**Current behavior:**
`<select>` and `<option>` construct doen't work in IE 10.
Browser con

[2017-03-29 10:13] Gheoan commented on #584
Similar issue: https://github.com/aurelia/framework/issues/753. Is Mutation Observer polyfilled?

[2017-03-29 10:21] nashwaan commented on #584
@Gheoan Yes, Mutation Observer is polyfilled.
If you download and `npm install` [super-minimal-aurelia](https://github.com/aurelia/binding/issues/nathanchase/super-minimal-aurelia), you will get everything working for all browsers including IE 11 - 9. As I mentioned in my issue, there seems to be an issue with `<select>` binding. There is no issue if I use `<input type="radio">` for achieving simi

[2017-03-30 02:52] jdanyow commented on #584
what's the call stack for the error

[2017-03-30 05:09] nashwaan commented on #584
Sorry, I don't know how to get call stack for the error or any error in IE. In fact, I wish I could setup a debugger properly as this would have saved lots of my time.

Did you try to reproduce the error at your end?

[2017-04-03 13:31] reinholdk opened #585 "memory leak in subscriber-collection.js in case of complex bindings"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.46

* **Browser:**
Chrome 57

* **Language:**
ESNext

**Current behavior:**
When using complex binding expressions inside of a repeat, old subscribers do net get

[2017-04-03 16:29] nashwaan commented on #584
Hi @jdanyow,

Sorry to bother you, but did you manage to reproduce this issue? Is this a bug?

[2017-04-03 17:38] Gheoan commented on #584
I managed to reproduce this and fixed it by adding a polyfill for `Mutation Observer`.

[2017-04-03 18:44] nashwaan commented on #584
Hi @Gheoan ,

Can you explain how did you polyfill `MutationObserver` exactly? The documentation in [Aurelia Hub about polyfilling MutationObserver](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/3) seems to be outdated.

Did you get the polyfill from [webcomponentsjs](https://github.com/webcomponents/webcomponentsjs)? If so, then how did you `import

[2017-04-03 19:07] Gheoan commented on #584
I add the following to `index.html`:
[code]

You could also use https://github.com/megawac/MutationObserver.js.

[2017-04-03 20:07] nashwaan commented on #584
Yes, this has worked!

I installed MutationObserver:
[code]

and added this line to `ie9-polyfill.js`:
[code]

And now `<select>` construct works as expected in IE10-9.

Thanks @Gheoan .

[2017-04-03 20:07] #584 closed

[2017-04-06 04:08] huochunpeng opened #586 "Unparser doesn't preserve operation precedence"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
IRRELEVANT

* **Node Version:**
IRRELEVANT

* **NPM Version:**
IRRELEVANT

* **JSPM OR Webpack AND Version**
IRRELEVANT

* **Browser:**
IRRELEVANT

* **Language:**
IRRELEVANT

**Current behavior:**
[code]

**Expected/desired behavior:**

* **What is the expected behavio

[2017-04-06 13:15] jdanyow commented on #586
`a || (b && c)` and `a || b && c` are the same because && has higher operator precedence than ||. Same goes for the other example.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence

[2017-04-06 16:34] PWKad opened #587 "Add documentation on `observable` decorator"
You can assign this one to me.  Need to add docs describing behaviors and suggested usage.

[2017-04-06 17:24] huochunpeng commented on #586
@jdanyow sorry I was showing wrong example, try 'a&&(b||c)' will show you the bug. (I will original post later)

I am not wrong on 2nd sample 'a&&(b=1)', I think you missed it in glance, it is assignment not equal operator.

This is a valid bug.

[2017-04-06 21:33] Gheoan commented on #587
There is some documentation about that [here](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/cheat-sheet/9).

[2017-04-06 23:23] huochunpeng commented on #586
@jdanyow One more solid error, please reopen the issue.

    parser.parse('2*(2+3)').toString() // '2*2+3' oops

[2017-04-07 02:25] jdanyow commented on #586
basically every node of type `Binary` needs to wrap it's output in parens

[2017-04-07 04:13] huochunpeng commented on #586
More than that, by looking at the operator precedence, I found `Conditional` also failed.

    parser.parse('!(true?true:true)').toString() // '(!true?true:true)' evaluated value reversed, how it kept the parens is beyond me.

There might be more.

Added extra explicit parens could solve the logic bug, but the appearance of the unparsed expression is not in minimum form.

[2017-04-07 04:36] huochunpeng commented on #586
I have a suggestion to use original tokens to unparse, not using AST.

Tokens stripped all unneeded write spaces, the final unparsed form is based on original expression, not minimum, but at least not the most verbose form.

Here is a quick working hack on Parser to prove my suggestion.

[code]

[2017-04-07 10:17] RomkeVdMeulen opened #588 "Race conditions in InlineViewStrategy / <compose>"
* **Browser:**
Chrome 57

**Current behavior:**
When binding a `<compose>` to an `InlineViewStrategy` and replacing the strategy a couple of time in quick succession, the final state may vary. See https://gist.run/?id=786a81fa21a427cd803d1ee1e12681d0

**Expected/desired behavior:**
Regardless of how long it takes, `<compose>` should eventually settle on the last state of the `InlineViewStrategy`.

[2017-04-07 10:18] RomkeVdMeulen commented on #588
Apologies: let me move this over to aurelia/templating.

[2017-04-07 10:18] #588 closed

[2017-04-09 14:50] niieani commented on #376
Should be fixed by https://github.com/aurelia/skeleton-navigation/pull/714

[2017-04-09 15:09] RomkeVdMeulen commented on #376
@niieani Perhaps you could lend your wisdom to aurelia/pal-browser/#17 as well? It's a similar problem to this, also occurring in the JASON flavour.

[2017-04-09 15:17] niieani commented on #376
@RomkeVdMeulen I'm sorry but I'm not using JSPM.

[2017-04-09 23:14] rquast commented on #528
How do you use this in a repeat.for? https://gist.run/?id=7ffea129f996c1514bdeafdf1f9925d1

[2017-04-09 23:25] rquast commented on #528
nevermind.. it's $parent[action] if used in a repeat.for - https://gist.run/?id=fb97fc865a1fb6cb9790c237dfc0b126

[2017-04-10 20:10] shawty commented on #382
I can confirm this, as Iv'e just tested, while looking for an answer to a similar issue myself.

[2017-04-12 17:15] thomas-darling opened #589 "Binding to undefined property using `.bind` should not result in `attr="undefined"`"
**I'm submitting a bug report**

* **Library Version:**
aurelia-binding@1.2.1
aurelia-templating-binding@1.3.0

* **Browser:**
all

**Current behavior:**

Doing this in a template, where `url` is a view model property with the value `undefined`.
[code]
Produces this in the DOM:
[code]

**Expected/desired behavior:**

* **What is the expected behavior?**

  When the value of the property is `undefi

[2017-04-19 15:52] obust commented on #587
Why is it in the "Custom Element" section specifically ? Shouldn't it have its own cheatsheet section (or maybe a top level section called "Observation Patterns").
Observation is a big part of managing the application state and I think Aurelia makes it easy to  (and thus should be more advertised).

A few things that I did not realise right away but turned out helpful:
- the `@bindable` property d

[2017-04-20 10:53] AxXxel001 opened #591 "Rendering too slow on model change"
**I'm submitting a bug report**

* **Library Version:**
aurelia-api@3.1.1
aurelia-framework@1.1.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
7.8.0

* **NPM Version:**
4.2.0

* **Browser:**
Chrome Version 57.0.2987.133 (64-bit)

* **Language:**
ES6

**The situation:**
In my app I periodically fetch JSON data from my server and store this obj

[2017-04-21 03:51] EisenbergEffect commented on #591
We'll need more information to help you.

[2017-04-21 08:29] AxXxel001 commented on #591
Hi, thanks for the quick reply. I found a solution, I just don't understand why it works better. When I got the flickering on screen I worked with <compose> to generate the page based on templates. Now I replaced the <compose> tag with custom elements and it works fine.
Is this maybe a problem you are familiar with? If not I can give you an example more spicific.

Thank you

[2017-04-21 11:06] StrahilKazlachev commented on #591
Could you provide the example?

[2017-04-21 14:07] jdanyow commented on #591
I'd like to see this too- if you have a chance to provide a quick reproduction we can look into it. Here's a gist you can use: https://gist.run/?id=7542e061bc940cde506b

One of the scenarios we work hard to optimize is grid repaints where the backing data is completely replaced. This is essentially the "dbmonster" scenario: http://mathieuancelin.github.io/js-repaint-perfs/

[2017-04-21 14:25] jdanyow commented on #589
is there a scenario where you'd want a data-bound image or anchor element to be present in the DOM when the url the element is bound to is null or undefined?

[2017-04-21 15:53] thomas-darling commented on #589
Yeah, there is, actually :-)

Normally we could work around it with an `if.bind`, but in my particular case that won't work.

We have a `card` custom element, which has a template along the lines of this:
[code]
Now, this `card` can be used with or without an href, depending on whether we want it to be a link or not. When no href is set, we don't want that `href` attribute on the anchor, as it mak

[2017-04-22 04:24] jdanyow commented on #589
Thanks for the additional info. I think I understand your position. I don't think it's semantically correct to use an anchor without an href. You'd at least need to set it to `#` wouldn't you? Otherwise button would be the appropriate element to use.

In the image scenario, the `if` template controller would solve the problem. The image element shouldn't be present without a src.

That said, you c

[2017-04-22 06:37] gheoan commented on #589
Related: https://github.com/aurelia/templating/issues/76, https://github.com/aurelia/framework/issues/599.

[2017-04-22 12:04] thomas-darling commented on #589
Actually, an anchor without an href is valid, as of HTML5 ;-)
https://html.spec.whatwg.org/multipage/semantics.html#the-a-element

You're absolutely right that we could generalize this into a binding behavior - would definitely make it less cumbersome to deal with. That said though, I'd still argue the proposed behavior of removing the attribute is a much better default - I don't think there's _an

[2017-04-23 02:42] obedm503 commented on #45
`.bind` doesn't work but `.two-way` does

[2017-04-23 17:37] gheoan commented on #589
If https://github.com/aurelia/templating/issues/76#issue-76535290 would be supported writing `<a href.bind="url" href.if="url">` would result in `<a href.bind="url">` when `url` is `undefined`, `null` or empty string.

[2017-04-30 15:11] geleto opened #592 "@observable and @bindable properties are not serialized with JSON.stringify"
aurelia-binding 1.2.1
Windows 10
Chrome 58.0.3029.81

@observable and @bindable properties are not serialized with JSON.stringify
Observe this gist:
https://gist.run/?id=8dc8b100453b6da12072b8c33683a896&sha=58f369d752ca4d19ff7a7f06ff3292e6c45010e1

The output is:
`{"p3":"Property 3"}`
and the expected output is:
`{"p1":"Property 1","p2":"Property 2","p3":"Property 3"}`

Strangely in my TypeScript

[2017-05-01 11:11] gheoan commented on #592
Seems to be a problem with the transpiler not with the decorators. For example when using Aurelia to decorate the class the output is as expected: https://gist.run/?id=8dc8b100453b6da12072b8c33683a896.

[2017-05-03 12:48] erikvullings commented on #420
Actually, this does not work in case you don't have a view template. E.g. in my case, I've created a simple custom element (a d3 wrapper) which doesn't have a view, and although the attributes flow in, even when I explicitly specify two-way binding, they don't flow back.

As a test, I've taken the skeleton-typescript-webpack (3 May 2017) version and created a custom element without a view. However

[2017-05-12 10:50] gronostajo commented on #133
I can't figure out how to get it to work with binding behaviors, could you guys give me any pointers on this? I'm in a similar situation as described above, I have an object like this

    count = { "min": <val>, "max": <val> }

and I want to update text every time `min` or `max` changes. It doesn't work with `CountConstraintsValueConverter`:

    <p>Count: ${metadata.constraints.count | countCons

[2017-05-12 15:13] shanonvl commented on #133
@gronostajo, per [@jdanyow's suggestion](https://github.com/aurelia/binding/issues/133#issuecomment-124076319), have you tried the following as a workaround?
[code]
While I can see this as a problem for a large number of properties, I think it would work for your case here...

[2017-05-14 04:04] #592 closed

[2017-05-17 23:25] spookyvision commented on #485
still nothing but crickets ... is this really so hard to fix?

[2017-05-17 23:36] jsobell commented on #485
@jdanyow , ping!

[2017-05-20 04:20] jdanyow commented on #591
no response, closing

[2017-05-20 04:20] #591 closed

[2017-05-20 04:31] jdanyow commented on #589
@EisenbergEffect - thoughts on changing the behavior for a.href and img.src? Breaking change but low impact?

[2017-05-20 04:32] jdanyow commented on #485
Yeah it's a tricky one to fix. I'd recommend not combining `if` and `debounce`. Instead `debounce` the updates to the property the `if` is bound to.

[2017-05-21 03:35] EisenbergEffect commented on #589
@jdanyow This seems like a harmless change and one that would result in a more correct behavior. What do you think? How difficult would it be to address this?

[2017-05-22 03:53] DarienFord opened #593 "String interpolation in <style> element no longer works."
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.3.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
Aurelia CLI

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**
When including string interpolation in a <style> tag, the string is not translated.
It

[2017-05-23 13:24] DarienFord commented on #593
@jdanyow just showed me that this is not an issue with 1.2.1.
That does not change the issue though that it does not work locally in a brand new environment using `au new` for me.

[2017-05-31 04:47] jdanyow commented on #593
@EisenbergEffect he's saying it's an issue with `au new`

[2017-05-31 05:34] EisenbergEffect commented on #593
@jdanyow Thanks! For some reason that went right past me.
@DarienFord Try turning off the HTML minification. I bet that's the problem.

[2017-05-31 13:47] DarienFord commented on #593
@EisenbergEffect unfortunately it happens with the dev environment with minification disabled.
`"options": {
      "minify": "stage & prod",
      "sourcemaps": "dev & stage"
    },`

[2017-05-31 14:28] EisenbergEffect commented on #593
@JeroenVinke Any ideas what in the CLI might be related to this?

[2017-05-31 16:46] JeroenVinke commented on #593
I believe it's related to https://github.com/aurelia/cli/issues/619. @EisenbergEffect what do you think about this issue? The same problem has been reported to aurelia-bundler: https://github.com/aurelia/bundler/issues/159

[2017-06-01 03:07] EisenbergEffect commented on #593
@JeroenVinke I thought that might be the case but @DarienFord is saying that he's having this error without minification. I wonder if the html minification is happening no matter what and not keying on configuration.

[2017-06-01 18:20] JeroenVinke commented on #593
Yep, if you choose for html minification in `au new` then it will always minify HTML.: https://github.com/aurelia/cli/blob/master/lib/resources/tasks/process-markup-minify-min.js#L10-L15,  This is something we could change. Adding [this line](https://github.com/JeroenVinke/cli/commit/860bedee01dee66a183c54b200f831099fa30692#diff-67b223207feed0a4fe6155b8c200651dR23) will instruct the minifier to ig

[2017-06-02 11:41] ISkomorokh commented on #195
Has anything changed since last comment?

[2017-06-05 23:16] gronostajo opened #594 "Assigning `undefined` to @observable field doesn't propagate through bindings in some cases"
**I'm submitting a bug report**

* **Library Version:**
aurelia-binding 1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.7.1

* **NPM Version:**
3.6.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome 58, Firefox 53, possibly more

* **Language:**
TypeScript 2.1, ESNext

**Current behavior + expected behavior:**
MSVE w

[2017-06-06 00:15] Vaccano commented on #205
@jdanyow, @EisenbergEffect  - I ran into this issue again today.  I assume there is still no way to turn this off by configuration?

Is the code listed [above](https://github.com/aurelia/binding/issues/205#issuecomment-193031867) by @jdanyow still the accepted way to work around this?

[2017-06-09 12:26] lyptt opened #595 "IE10/IE11 <select> repeat/binding doesn't work"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
webpack 2.2.0

* **Browser:**
IE 10 / IE 11

* **Language:**
ESNext

**Current behavior:**
I have a fairly simple custom element that wraps a `<select>` element. It uses a

[2017-06-09 12:36] lyptt commented on #595
I should note that this is *only* happening with <select>/<option>. If I change the custom element's template to repeat a bunch of <p> tags it works perfectly. There seems to be something specifically wrong with <select>/<option>.

[2017-06-09 12:40] lyptt commented on #595
I've confirmed that this is also an issue in IE 11.

[2017-06-09 13:39] stsje commented on #595
Put the repeat on the `<option>` element. Also either use `value.bind` or `model.bind`, depending on your needs http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-selects/3

`<option repeat.for="option of options" value.bind="option.a">${option.b}</option>`

[2017-06-09 13:41] lyptt commented on #595
Hi @stsje, yeah I figured out that repeating without a wrapping template element works. I assume this is the intended way it's supposed to work, I've seen conflicting documentation on it however.

[2017-06-09 13:44] stsje commented on #595
@lyptt http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/cheat-sheet/4 `Invalid Table Structure When Dynamically Creating Tables` could be the case for selects as well.
IE could most likely be removing the element before Aurelia can see it.

[2017-06-09 13:45] lyptt commented on #595
Yeah it sounds like IE's seeing `<template>` and throwing a fit

[2017-06-09 21:57] EisenbergEffect commented on #595
@jdanyow Weren't you looking into some IE template issues recently? Any thoughts on the above?

[2017-06-12 03:36] spookyvision commented on #485
it appears to me that I'm not using `if`, although I have to admit that a lot of this really flies over my head...

html: `class.bind="chatBubbleClasses & debounce:1000"`

js:
[code]

[2017-06-12 15:13] lyptt opened #596 "Unable to two-way bind via custom element"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
webpack 2.2.0

* **Browser:**
IE 10 / IE 11

* **Language:**
ESNext

**Current behavior:**
I've created a basic custom element with an @bindable property:
[code]

At some p

[2017-06-12 17:24] swalters commented on #596
someVariable.two-way should be some-variable.two-way

[2017-06-13 04:31] #596 closed

[2017-06-13 07:35] lyptt commented on #596
Hi @swalters, yeah this issue was posted in error. I found my mistake but it looks like Github went and submitted it anyway. Sorry to waste your time!

[2017-06-20 09:13] gkinsman opened #597 "Using Lodash with MutatingArrayObserver doesn't trigger a binding update"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
7.3.0

* **NPM Version:**
3.10.10

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Using lodash's `_.pull(items, item)` removes the item from the underlying array, but doesn't trigger a binding update.

**Expected/desired

[2017-06-21 06:19] EisenbergEffect commented on #597
If it's mutating them by using the index directly, we can't detect that change.

[2017-06-21 06:19] #597 closed

[2017-06-21 07:07] gkinsman commented on #597
Ultimately it's just using splice, just like the working code...

https://github.com/lodash/lodash/blob/master/.internal/basePullAll.js

[2017-06-21 11:56] gheoan commented on #597
Aurelia modifies the splice method in order to detect changes. However, if lodash is loaded before aurelia it will save a reference to the native splice before aurelia can modify it: https://github.com/lodash/lodash/blob/65b148a3b2c8a86da92f51add871b04afddaba59/.internal/basePullAll.js#L7. So, an workaround would be to load lodash after aurelia. There is a change on lodash's master branch that rem

[2017-06-27 09:20] Eagle94T commented on #589
Since this issue is still open, I wanted to give another scenario.
I have a form where a Date-Field can be disabled. In this case the Input-Field is not validated but since it's value is bind to an model with a date-format-converter, the value is saved as `undefined`, which is for me the expectet behaviour since the field is empty.
If this form is now reopened with the values from the model (where

[2017-06-27 17:47] dkent600 commented on #249
Value converters don't work at all for this use case.  I don't understand why it was so strongly recommended nor why those who should be more in the know didn't object when it was.

[2017-06-28 06:40] Eagle94T commented on #382
I can also confirm, changing the select field also changes the select-id, but modify the select field with the `modify options` button, didn't change the select-id

[2017-06-28 19:12] istrau3 commented on #382
@jdanyow I think this should probably still be open.

[2017-06-28 20:53] ne0guille opened #598 "DefaultBinding BindingMode.OneTime is not working correctly"
**I'm submitting a bug report**
* **Operating System:** Windows 7 |10
* **Node Version:** 6.9.0 | 8.0.0
* **NPM Version:** 3.10.10 | 4.0.0
* **JSPM OR Webpack AND Version** webpack 2.3.1
* **Browser:** all
* **Language:** JS || TypeScript 2.3.2

**Current behavior:**

@bindable({ defaultBindingMode: bindingMode.oneTime }) text

if i set the bindingMode to onetime, and use **text.bind** in the HTML

[2017-07-02 05:50] EisenbergEffect commented on #598
@jdanyow Can you take a look into this?

[2017-07-06 10:36] loaded02 opened #599 "repeat.for over map has incorrect overridecontext.$index, $first, $last in attached CustomAttribute when map changes"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.4

* **CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
I have a gistrun for my usecase: [gistrun](https://gist.run/?id=b02295e51c040b48ea84fb

[2017-07-06 13:05] loaded02 commented on #599
It should be possible, as mentioned in aurelia/templating-resources#184
and I could have posted this issue in the wrong repo. Could someone please move it accordingly? Thanks.

[2017-07-07 04:31] EisenbergEffect commented on #599
Issue moved to [aurelia/templating-resources #287](https://github.com/aurelia/templating-resources/issues/287) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-07 04:31] #599 closed

[2017-07-11 13:45] tdamir opened #601 "Update typescript definition file"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.5.0

* **Browser:**
all

* **Language:**
TypeScript 2.4.1

**Current behavior:**
Typescript definition file is not in sync with the code (some missing types: CallScope, Listener).

[2017-07-12 00:29] nudiref opened #603 "toView binding not working after NativeScript v3.0 upgrade"
**I'm submitting a bug report**

**Please tell us about your environment:**
* **Operating System:**
Windows [7]

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

**Current behavior:**
i have a valueconverter, using toView. this is then defined as an applicationresource.

before NativeScript v3.0, code for all this was like:

var view = require("ui/core/view");

var listOptionsConverter = {

[2017-07-13 02:47] bigopon opened #604 "[Proposal] Adjust `EventManager` and `Listener` classes"
**I'm submitting a proposal**

* **Library Version:**
1.2.1

**Current behavior:**
Whenever Listener `bind` is called, it creates a new function `event => this.callSource(event)`, which will be use as `callback` inside `DefaultEventStrategy`.

This `callback` is then assigned to either `delegatedCallbacks` or `capturedCallbacks` properties on the element listening to the event. The disadvantage of

[2017-07-13 03:08] EisenbergEffect commented on #604
Please no breaking changes at this point. Can we find a way to handle this in a backwards compatible way? @jdanyow Can you review these ideas?

[2017-07-13 03:27] bigopon commented on #604
The breaking change can be avoid if we

* Add new method to `EventManager`: `addListener`
* Dupplicate the code of `DefaultEventStrategy`, `handleDelegatedEvent` and `handleCapturedEvent`, which consist around 170 LOC in total.

[2017-07-13 03:57] bigopon commented on #604
@EisenbergEffect I have updated some part to show which requires breaking changes, which doesn't in the proposal.

[2017-07-13 13:00] bigopon commented on #604
@EisenbergEffect @jdanyow I have prepared a [draft implementation at this gist](https://gist.run/?id=4d2758b3d9223cdacd358ffaf79f39d2)

You can see that breaking changes can be totally avoided, with the cost of 100+ LOC

[2017-07-13 17:31] stoffeastrom commented on #604
Since the native [spec](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener) handles both cases why not support both? Or maybe your draft does that @bigopon ?

[2017-07-13 23:08] bigopon commented on #604
@stoffeastrom It can be that way, but with some extra check when adding the listeners. So it's all up to @EisenbergEffect @jdanyow

[2017-07-14 06:05] EisenbergEffect commented on #603
Do you have the correct framework? I'm not entirely sure what you are talking about here.

[2017-07-14 06:11] bmarotta opened #605 "IE11 repeat for with if bind doesn't work"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
N/A

* **Browser:**
IE11

* **Language:**
all

**Current behavior:**
The if.bind inside of a repeat.for doesn't work on IE11. No item is displayed. The show.bind works.

The first problem I could reproduce on the

[2017-07-14 06:23] StrahilKazlachev commented on #605
Both attributes are *template controllers*. Using more than one template controller on an element is not supported. The order of processing of attributes is not the same in all browsers. Thus it may have unexpected results.

[2017-07-14 13:02] AStoker opened #606 "Using replaceable parts on repeated items causes duplication in Edge/IE"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.0

* **NPM Version:**
3.10.10
* **Yarn Version:**
0.24.6

* **Browser:**
Edge 40.15063.0.0 | IE 11.413.15063.0

* **Language:**
ESNext

**Current behavior:**
Gist (IE/Edge can't use gist.run, download gist and run in browser): https:

[2017-07-14 14:07] thomas-darling commented on #593
@JeroenVinke, @EisenbergEffect That won't work - please see aurelia/bundler#163

[2017-07-14 15:47] nudiref commented on #603
all my components seems to be up to date

nativescript 3.1.2
tns-core-modules 3.1.0
tns-android 3.1.0
npm 3.10.8
node 6.9.1

let me ask a more specific question. in "NativeScript v3.0 Breaking Changes" page (https://github.com/NativeScript/NativeScript/blob/v3.0.0/Modules30Changes.md) it says:

application.resources was removed, use get/set methods:

    application.getResources(): any
    applica

[2017-07-14 15:50] EisenbergEffect commented on #603
Why are you asking this here? What does it have to do with Aurelia?

[2017-07-14 15:50] #603 closed

[2017-07-14 16:58] atsu85 commented on #605
Right, that inpredictability is due to the order that browser parses the attributes. If you had used https://github.com/MeirionHughes/aurelia-template-lint it would have told you about the problem. Try it out, it will save you soon a lot of time that you'll otherwise spend on debugging different problems.

[2017-07-14 18:28] bmarotta commented on #605
tks. Do you know anyway to integrate Aurelia template lint with  Aurelia cli?

⁣Bruno Marotta​

On Jul 14, 2017, 18:58, at 18:58, atsu85 <notifications@github.com> wrote:

[2017-07-14 18:37] atsu85 commented on #605
Last time I tried CLI, it used gulp tasks internally, so you could add a gulp task using https://github.com/MeirionHughes/gulp-aurelia-template-lint. I've added the task also to the watch task, so it runs whenever I change scripts or templates that can contain bugs discoverable by linter.

[2017-07-15 04:29] #605 closed

[2017-07-15 04:30] EisenbergEffect commented on #606
Try removing "replaceable" and just have "part". See if that makes a difference.

[2017-07-16 17:58] bmarotta commented on #605
Hi atsu85,

The gulp task works. The linter for aurelia didn't find the fact that I was using if.bind and repeat.for in the same element... I know it is working because it found some duplicate ids.

Any thoughts?

Rgds

[2017-07-17 14:13] AStoker commented on #606
Removing `replaceable` and just having `part` actually makes it consistently behave incorrectly across browsers.
Thanks to Niieani, I have a reproducible site to show the issue on Edge easily.
https://codesandbox.io/s/Kr6EoYjYJ

[2017-07-17 20:24] AStoker commented on #606
Also, not quite sure it lies under the 'question' tag. Appears to be more of a bug since it is a behavioral difference between browsers and Edge/IE.

[2017-07-17 21:01] StrahilKazlachev commented on #606
One thing that's been bugging me about the repro - why do you have `repeat.for` twice? Once in the custom element and again where you use that custom element. If you remove the `repeat` in  `app`, don't you get the result you are after or am I misunderstanding something?
[code]
Also this does not run in IE. Edge is OK.

[2017-07-17 23:45] sam-piper opened #607 "BindingEngine.collectionObserver API needs more documentation"
**I'm submitting a feature request**

* **Library Version:**
1.2.1

* **Language:**
TypeScript 2.2

The documentation and typings for subscriptions to `BindingEngine.collectionObserver()` is lacking at the moment. The handler signature for `subscribe()` passes a `changeRecords` object which is typed as `any`, and I can't find any documentation that describes exactly what the properties of this obj

[2017-07-18 00:24] EisenbergEffect commented on #606
@StrahilKazlachev Is correct. The repeat should be removed since this is a replacement for the template used by the repeater.

[2017-07-18 00:24] EisenbergEffect commented on #606
@StrahilKazlachev Are you saying that there's still a bug in IE after that?

[2017-07-18 06:14] StrahilKazlachev commented on #606
@EisenbergEffect Sorry, meant that the sample does not run in IE for me. I get:
[code]

[2017-07-18 06:16] EisenbergEffect commented on #606
I wonder if that's a separate issue unrelated to template parts. Maybe something to do with the codesandbox setup?

[2017-07-18 06:17] StrahilKazlachev commented on #606
Yes, it seems so.

[2017-07-18 12:52] AStoker commented on #606
The case is that I have a repeatable element in a custom element that is used for 3/4 cases. But there are some cases where I need to replace that repeated element completely. Thus, that repeated element needs to get replaced. And since I'm replacing the actual element that previously contained the `repeat.for`, I need to add a `repeat.for` back into my replaced element, otherwise I'll only have o

[2017-07-18 15:52] EisenbergEffect commented on #606
You need to have a part that wraps the repeater.

[2017-07-18 15:52] #606 closed

[2017-07-18 17:04] CuddleBunny opened #608 "Passing $parent to value converter and adding a binding behavior offends the parser."
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.0

* **NPM Version:**
5.0.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all
* **Language:**
all

**Current behavior:**
When passing `$parent` to a value converter and then using a binding behavior I get an `Error:

[2017-07-18 19:03] AStoker commented on #606
Okay, if that's how it needs to be done, that's fine. Just seems strange that this works currently _in all the other browsers_.
So if I have a `<ul>` with a heck-ton of configuration done to it, and a repeated `<li>` inside I want to replace, I need to replace the whole `<ul>`? Is there a way to wrap the `<li>` without replacing the overall container? There are multiple cases where that becomes ve

[2017-07-18 19:16] EisenbergEffect commented on #606
It's because of the unpredictable order of attributes in different browsers.

On Jul 18, 2017 12:04 PM, "Andrew Stoker" <notifications@github.com> wrote:

[2017-07-18 19:16] StrahilKazlachev commented on #606
The *thing* that you mark with `part` and `replaceable` will be replaced later on, not its parent/container.
The element you place a `repeat` on gets an implicit `replaceable` added, so it just needs `part` so that you can swap the template.

[2017-07-18 19:39] AStoker commented on #606
@StrahilKazlachev 👍
😮 💥
Learning a few new things here I didn't understand in the repeater. Got it straightened out, thanks guys.
The reason that didn't work earlier (just using part) was because I still had the repeater on the replaced portion. Now I understand how all those parts are communicating.

[2017-07-24 10:10] Teoxoy commented on #347
Any news on this?

[2017-07-24 11:09] Ralimist opened #609 "@bindable({ defaultBindingMode: bindingMode.oneTime }) not working"
@bindable({ defaultBindingMode: bindingMode.oneTime }) attribute; doesn't set the defaultBindingMode to oneTime; the attributeChanged(newValue) function is still being called after attached() was invoked.
Setting the binding mode manually using attribute.one-time="stuff" works

[2017-07-25 02:29] bigopon commented on #604
Some thought:

- Using `handleEvent` will help us keep reference to the `Listener` class instance, so we can easily intercept it to support ability to do event with count. For example:

[code]

Then we can have small & specific binding behavior to alter the count of each `Listener` binding:

[code]

[code]

@EisenbergEffect what do you think ?

[2017-07-30 00:34] #538 closed

[2017-08-01 11:29] glen-84 opened #611 "Value converter `fromView` method never called for multi-selects"
https://gist.run/?id=285933c1cb0e2ff4b7fe67879db946ae

I don't understand why the `fromView` method is never called – is this a bug or am I misunderstanding something?

Update: This only applies to selects with the `multiple` attribute, and also affects binding behaviors, where `updateSource` is not called.

[2017-08-10 14:55] bigopon commented on #604
In this test: [http://www.stefankrause.net/js-frameworks-benchmark6/webdriver-ts-results/table.html](http://www.stefankrause.net/js-frameworks-benchmark6/webdriver-ts-results/table.html), Aurelia has quite low score in memory consumption, when the number of items is very big.

This change should drastically improve this aspect.

[2017-08-15 05:27] jinwangchina opened #613 "the browser freezes when using two-way binding with value NaN on custom component"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-framework": "1.0.7"
"aurelia-templating-binding": "1.1.0",
"aurelia-templating-resources": "1.2.0",
"aurelia-templating-router": "1.0.0",

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.0

* **JSPM OR Webpack AND Version**
webpack 2.4.1

* **Browser:**

[2017-08-15 13:37] jdanyow commented on #613
please include a reproduction:

https://gist.run/?id=7542e061bc940cde506b

[2017-08-15 13:45] jdanyow commented on #611
A value converter's fromView method is called when the binding expression is updating the value of the view model property. In a multiple select binding, changing the selected items doesn't change the value of the property, it remains the same array instance. This is why you don't see `fromView` invoked when you change the selection.

[2017-08-15 13:45] #611 closed

[2017-08-15 13:46] jdanyow commented on #609
please include a reproduction using the aurelia gist: https://gist.run/?id=7542e061bc940cde506b

[2017-08-16 01:44] jinwangchina commented on #613
Hi jdanyow,

I have created a gist, you could copy the following url to gist.run and will see the browser freezes (unresponsive).
https://gist.github.com/jinwangchina/50cdcfbd224b7e5f4aa8cb6d50f12307

Thanks ...
Jin

[2017-08-16 10:58] Teoxoy commented on #609
https://gist.run/?id=432af3293d446c6f0cc4c80a345782b6
But I think I should submit this issue in the templating repo.

[2017-08-16 14:08] AshleyGrant commented on #585
@jdanyow have you had a chance to look at this? It is related to https://github.com/aurelia/router/issues/456 this is affecting a client of mine.

Thanks!

[2017-08-19 18:42] glen-84 commented on #611
@jdanyow Is it the same for binding behaviors?

What I wanted to do was to convert the array of strings `["1", "2", "3"]` to an array of integers `[1, 2, 3]`. I ended up creating a custom attribute, but it seems a bit like overkill.

[2017-08-20 01:59] EisenbergEffect commented on #604
@jdanyow Can you review this? It looks like a good improvement. Can we find a way to do this so that the API supports both inputs, allowing us to avoid a breaking change?

[2017-08-21 17:28] glen-84 opened #614 "Setting select options and value at the same time"
Gist: https://gist.run/?id=285933c1cb0e2ff4b7fe67879db946ae

Would this be considered a bug, or is it impossible to accomplish in this way?

It seems like a simple case. Is there an alternative?

---
Edit: I managed to work around the issue with something like this:

[code]

[2017-08-27 10:53] bigopon commented on #589
@EisenbergEffect This one is an easy fix, we currently have this direction of binding:

if it's something related to input, use special observer via `this.getObserver`
if it's a known svg attribute we want to intercept, use `dataAttributeAccessor`
the rest just simple set/get on the dom element itself.

Proposal fix:

Check if property is special via `if (propertyName in obj)`, if true, we use sim

[2017-08-27 21:26] TonyLugg opened #617 "Binding Changes Property"
I am submitting a bug report

When I have a view bound to an object and then replace the object with a new object (record), if the properties bound to input boxes are null, they are set to empty string after initial binding.  I have created a sample gist [here](https://gist.run/?id=e4e10b86b5723be0701b1a33903e1577&sha=1ecc4c0e81b801301641957933be1772c73e6a8d)

I have also tested this using routing

[2017-08-30 15:45] bmcdaniels commented on #501
I'd like to point out that this is still an issue for me, even after the change to return the descriptor in the decorator.

[2017-09-01 07:54] bigopon commented on #617
A work around is

[code]

I don't think in your case it is initial binding anymore, you are jumping from one to next. But it could use some improvement, to notify subscriber about binding information, like

[code]

So subscribers can decide if it should update. In this case, the model observer see that it's coming from an `input` element, and propertyName is `value`, so no need to update the model

[2017-09-01 10:30] bigopon commented on #617
@TonyLugg Another work around for you is:

[code]

[2017-09-01 13:06] TonyLugg commented on #617
@bigopon Thank you for your insight and work arounds.  I have handled it for now in my function that determines changes.  I like your work around to set the objects to null.  I'm wondering if it could be done immediately before setting them to the newly downloaded record object or if there would be timing issues.  I'll test it and report back.

[2017-09-02 00:39] bigopon commented on #598
@EisenbergEffect @jdanyow

This bug is caused by [line 69 in syntax interpreter](https://github.com/aurelia/templating-binding/blob/master/src/syntax-interpreter.js#L69)

[code]

The cause is `info.defaultBindingMode = 0` when specified inside `bindable`, thus will be resolved to `bindingMode.oneWay`

There are 3 ways to fix this though:

[code]

[2017-09-02 01:19] bigopon commented on #594
@EisenbergEffect @jdanyow Observable `valueChanged` is executed immediately when setting the value, hence the bug (or desired behavior ?).

[2017-09-10 11:37] bigopon commented on #585
@jdanyow I don't think complex binding is the root cause here. As hinted by @reinholdk , it is because the way `rest` works currently in `subscriberCollection`:

[code]

Potential PR: break the if into smaller chunk to handle it correctly

[code]

#### Related: Memory leak #555

Temporary fix: Replace the whole `removeSubscriber` in `aurelia-binding/src/subscriber-collection` with following functi

[2017-09-15 04:23] #604 closed

[2017-09-17 16:36] jdanyow commented on #617
html input elements coerce all values to empty string. It would be best to make your model property's initial value empty string rather than null. If you need to use null to represent empty input, you could create a value converter whose `toView` replaces null with empty string and whose `fromView` replaces empty string with null.

[2017-09-17 16:36] #617 closed

[2017-09-17 17:57] TonyLugg commented on #617
Ideally, if the value is initially null and the user does not change it through the input, it should remain null.  If the user changes it, the value should be empty string.   Not a huge deal.  Will work around it.

[2017-09-19 08:35] glen-84 commented on #147
A binding signaler only works if you have some kind of "event" (like a click). That's not the same as just updating the binding when observable values change.

[2017-09-23 22:26] #598 closed

[2017-09-25 03:01] #585 closed

[2017-09-25 03:01] #555 closed

[2017-09-25 03:19] jdanyow commented on #593
closing this because it's tracked in aurelia/bundler#163

[2017-09-25 03:19] #593 closed

[2017-09-25 03:24] #531 closed

[2017-09-27 05:45] bigopon commented on #30
@jdanyow @EisenbergEffect  Can we simplify it down to [this line](https://github.com/aurelia/binding/blob/master/src/observer-locator.js#L178)

When we try to do everything in `getObserver` but couldn't figure out the right observer, and the property doesn't exist in prototype chain, we log a warning ?

[code]

[2017-09-27 05:47] EisenbergEffect commented on #30
My only concern would be whether or not this causes a perf regression.

[2017-09-27 05:48] bigopon commented on #30
we can add `PLATFORM.isProduction` property to use for this purpose, what do you think ? @EisenbergEffect

[2017-09-27 13:41] davismj commented on #147
@massimocode Sorry I missed your mention.

@glen-84 If you pass an observable variable--that is, any variable on your view model--to a function on your view model, that will make an observable method automatically. See here:

https://gist.run/?id=0aa5bd84d78994e11e435eba811ab556

@bigopon I've solved all of my problems in this issue with the above method.

[2017-09-27 15:08] salchi opened #625 "Incorrect debounce behavior"
**I'm submitting a bug report**
* **Library Version:**
1.2.1

* **NPM Version:**
3.10.10

* **JSPM**
JSPM 0.17.0-beta.44

* **Browser:**
Chrome 60.0.3112.113 (Official Build) (64-bit)

* **Language:**
TypeScript 2.3.4

**Current behavior:**
_Steps to reproduce:_
Please use your own demo for testing (http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-binding-behaviors/3)

* init

[2017-09-28 01:59] jsobell commented on #147
http://www.sobell.net/aurelia-dirty-checking-a-function/

[2017-09-30 16:42] #147 closed

[2017-10-05 04:49] MaximBalaganskiy commented on #601
`bindingMode` is also outdated

[2017-10-06 12:06] mreiche opened #628 "Changed property handling doesn't work anymore"
**I'm submitting a bug report**

I'm facing a strange bug after upgrading my complete aurelia framework to the newest stable version. Code that worked before, is not working anymore. Especially binded properties.

* **Library Version:**
1.3, maybe earlier, maybe not in this library.

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6

* **NPM Version:**
3.10.10

* **Bro

[2017-10-06 12:13] bigopon commented on #628
Possibly related: aurelia/templating-resources#315

[2017-10-06 13:39] mreiche commented on #628
I can confirm, that this only happens (or not happens) when the element is conditionally present in the DOM. This bug occurs because of:

[code]

[2017-10-07 19:59] jdanyow opened #629 "cleanup: replace oneWay with toView"
We should standardize the internals on `toView` now that it has landed. Here's one instance, probably others in `templating-binding`, `templating`, `templating-resources`, etc.

https://github.com/aurelia/binding/blob/b6565eb116c212188feec296ae4782c3c1d95c89/src/binding-expression.js#L104

[2017-10-08 16:01] #353 closed

[2017-10-09 01:17] #629 closed

[2017-10-10 09:42] davismj commented on #353
Nice work, @bigopon

[2017-10-10 10:13] bigopon commented on #353
Thanks 😄 @davismj

[2017-10-10 11:06] nenadvicentic commented on #628
Same problem here.
After template is hidden and shown again, `delegate` binding on some items does not work any more.

[code]

[2017-10-10 11:14] arnederuwe opened #632 "IE11 value binding doesn't update when clearing input with ESC key"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows

* **Browser:**
IE 11, possibly 9 and 10 (didn't test)

* **Language:**
all

**Current behavior:**
When value binding a standard input element, the value isn't updated on the VM when clearing the input with the ESC key. Resulting in a UI that doesn't reflect the

[2017-10-10 12:43] arnederuwe commented on #632
Relevant MS connect issue:
https://connect.microsoft.com/IE/feedback/details/881670/ie11-esc-key-changes-value-of-input-type-text-but-does-not-fire-input-event

[2017-10-11 04:54] jdanyow commented on #632
oh IE 💓 🔫

here's a workaround to disable the esc funtionality: https://plnkr.co/edit/AMh5BwhaAV6fgihsxFh2?p=preview

[2017-10-11 06:12] arnederuwe commented on #632
Thanks, I will try to educate the customer not to use the ESC 'functionality' the hard way...
Next year the current Silverlight app will be rewritten in Aurelia, then we can finally ditch IE...

[2017-10-12 04:08] jdanyow commented on #632
sounds good- closing this

[2017-10-12 04:08] #632 closed

[2017-10-12 04:49] HIRANO-Satoshi opened #634 "Inheritance of @observable"
This is a feature request. I need inheritance of @observable.

Inheritance of @bindable is available in a recent release. Although there are some limitations, it is very useful.

How about @observable?  Very difficult?

[2017-10-12 06:36] bigopon commented on #634
Can you describe your scenario and why its not working for you ? From what I see, `@observable` is inheritable

[2017-10-15 23:32] #589 closed

[2017-10-15 23:39] jdanyow opened #635 "performance: remove toLowerCase"
We have a couple modules where we use `toLowerCase` unnecessarily. We don't need the extra string allocation, especially in these hot paths. Would be great to get rid of these.

* https://github.com/aurelia/binding/blob/master/src/event-manager.js
* https://github.com/aurelia/binding/blob/master/src/observer-locator.js

[2017-10-18 10:27] nashwaan commented on #347
Any update on this?

[2017-10-18 10:46] bigopon commented on #347
If things go well with #623

You will be able to do:

[code]

Usage:

[code]

With only `playing` attribute or an empty string / some common sense string values on the element like above example in the `app.html`, it will yield the desire value in `playing`

[2017-10-18 12:32] zakjan opened #636 "Click handler prevents <a href> actions inside"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Browser:**
Chrome 62.0.3202.29

**Current behavior:**
[code]

Clicking on the link doesn't update `window.location.hash`. It requires explicit `return true` in the event handler to not prevent it.

See gist https://gist.run/?id=5c2d55c58bb270bfab2f41026898

[2017-10-18 12:37] bigopon commented on #636
You are using Aurelia implementation of event delegation via `delegate` binding command, with the trade off you noticed. The other way you can do it is to drop delegation and use browser native behavior via `trigger` binding command:

[code]

[2017-10-18 12:38] zakjan commented on #636
The same happens with trigger.

[2017-10-18 12:52] bigopon commented on #636
Right, I typed before checking with the code [Listener](https://github.com/aurelia/binding/blob/master/src/listener-expression.js#L40-L42), Sorry for that false info.

About the behavior, @jdanyow @EisenbergEffect maybe we can opt in a flag to let it ignore the `return true` behavior. Or even better, config based on `delegationStrategy`. Something like this:

[code]

And then allow this to be conf

[2017-10-18 12:59] bigopon commented on #609
@EisenbergEffect the fix for this was already merged, it can be closed

[2017-10-18 18:22] nashwaan commented on #347
@bigopon I like `coerce()` idea and it looks promising, but I am not sure how it can be used for:
[code]
 to force number input to be converted from `string` to `number` (see also [this](https://github.com/aurelia/binding/issues/443)).

Also, will it play nicely with `& validate`?

[2017-10-18 20:12] thiagomaia971 commented on #427
Hi! I'm going through the same problem. My solution was create a ValueConverter to converter toView and fromView, and create a CustomAttribute for handle the caret position behavior. But the code got crap. Has anyone made another implementation?

[2017-10-18 22:04] bigopon commented on #347
For: `<input type=number/>`.

The coercion happens when a value is assigned to a property with `coerce` registered. You just need to bind the input value to a property like that.

For validation:

Any binding behavior will play nicely with coerce as long as it let coercion happen first. And from the aurelia validation code, I see there are no issues.

[2017-10-19 03:44] #609 closed

[2017-10-19 04:20] nashwaan commented on #589
@jdanyow , Thank you for providing another new complete code example about custom binding behavior (which is really scarce to find). I noticed this time, you use `binding.targetObserver`. Most of the other examples I found is based on `binding.updateSource` or `binding.updateTarget`.

I tried your code and I believe `return` is missing from this line of code to make it work correctly:
[code]

Howe

[2017-10-20 12:06] petmat commented on #163
What is the status of this issue? I just ran into this today and was surprised to find this to be such an old issue. Using click.trigger fixed it for me, but I think it would make sense for click.delegate to also work in this context. At the very least it is some weird and confusing behavior.

[2017-10-21 18:32] jdanyow commented on #636
This is working as-designed.

[2017-10-21 18:32] #636 closed

[2017-10-22 04:28] zakjan commented on #636
@jdanyow Is it documented anywhere? Why is it different from browser's native behavior?

[2017-10-22 16:48] jdanyow commented on #636
It’s in the docs:
http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-basics/3

[2017-10-23 16:02] mreiche commented on #628
https://github.com/aurelia/templating-resources/issues/317

[2017-10-23 16:02] #628 closed

[2017-10-26 04:47] HIRANO-Satoshi commented on #634
Thanks. Seems working.

[2017-10-26 23:08] thinkOfaNumber opened #639 "else binding breaks value.bind for inputs and textareas"
**I'm submitting a bug report**

* **Library Version:**
aurelia-binding 1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
v8.6.0

* **NPM Version:**
5.4.2

* **JSPM OR Webpack AND Version**
webpack 2.5.0

* **Browser:**
Chrome 61.0.3163.100

* **Language:**
TypeScript 2.2 & JS

**Current behavior:**
If I use `else` on an `<input>` or `<textare

[2017-10-28 01:33] frankebersoll opened #640 "Binding to Non-ASCII identifier throws Lexer Error: Unexpected character"
## Context

When you talk to non-english customers about their non-english domain, having a common [ubiquitous language](http://www.jamesshore.com/Agile-Book/ubiquitous_language.html) gets invaluable real quick. The need to translate back and forth between terms that are actually used in the business and far-fetched or even wrong translations will easily frustrate developers.

Furthermore, having

[2017-10-28 10:45] davismj opened #642 "Observing Map doesn't work, possible regression"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Current behavior:**
No observation of map.get

**Expected/desired behavior:**
Observe map.get

* **What is the expected behavior?**
https://gist.run/?id=97468444c5aea6042dfbdd3ccf6c7b2c

* **What is the motivation / use case for changing the behavior?**
Observe maps

[2017-10-28 11:41] bigopon commented on #642
The first case has never been supported. Same for second case as they are both bound to function call result. So if the map never changed, It won't call the binding to update those text node.

I think it's intentional, since we don't support function call result. Aurelia cannot differentiate between a map get and a normal function call.

[2017-10-28 13:02] davismj commented on #642
I had some code that was using this and I seem to remember it working before.

Since map.get, for example, is not just a normal function, but a function whose result is explicitly tied to a map mutation, such as map.set, I'm thinking it would be possible, maybe reasonable, to observe these mutations.

[2017-10-29 02:43] bigopon commented on #642
I dont know the full history so you could be right, then support for it was dropped. Maybe @jdanyow left those out for performance optimization ?

[2017-10-29 05:25] jdanyow commented on #642
Never was supported. Mr Davis here has a history of requesting method call observation. 😉

[2017-10-29 05:27] jdanyow commented on #642
https://github.com/aurelia/binding/issues/147

[2017-10-29 07:52] davismj commented on #642
Haha okay, maybe I found a workaround for it like iterating over the map elements and then testing to see if it was equal to the one I actually wanted.

However, I don't think this is an unreasonable thing to observe. These aren't arbitrary methods, and in fact Map.get is quite similar to Array[i] as we know Map.get will be updated by Map.set just like we know Array[i] will be updated by Array met

[2017-11-01 16:59] pragmaproducts opened #644 "vanilla web components biding does not work"
I'm submitting a bug report
Library Version:
aurelia-binding@1.2.1

binding does not work on vanilla web components.

Usage
[code]

if i use ```<greeting-test message="hello world"></greeting-test>``` everything works fine using binding it does not

The actual HTML does not show that this was even set.

html result
[code]

The custom element observes the attribute
[code]
and attributeChangedCallba

[2017-11-02 09:21] jods4 commented on #639
I'll have a look, whoever has control over this repo can assign to me.

[2017-11-02 18:38] jods4 commented on #639
@thinkOfaNumber your issue looks like a duplicate of aurelia/templating-resources#322 (that's where `if` and `else` actually are).
It was fixed but your repro uses a previous version.

Please try with `aurelia-templating-resources@1.5.4`. If it still doesn't work I'll have a closer look.

[2017-11-03 03:45] thinkOfaNumber commented on #639
Yep that seems to have done it, awesome, thanks! Sorry I thought we were on the latest version of everything. Time for an audit!

[2017-11-03 03:45] #639 closed

[2017-11-04 00:27] bigopon commented on #644
@pragmaproducts  Here is a base Gist you can fiddle with, with all base test CE, https://gist.run/?id=4d2758b3d9223cdacd358ffaf79f39d2

It's working fine for me. So maybe you are experiencing something different. If you can describe clearer in the Gist or here, maybe it can help to debug.

[2017-11-04 00:30] bigopon commented on #644
Please note that Aurelia binding system works with props, not attributes, so when doing `message.bind="message"`, the message is never automatically reflected to the attribute. If needed, there should be a setter at `message` to reflect it to the attribute.

[2017-11-04 00:36] bigopon commented on #634
@EisenbergEffect I think this can be closed.

[2017-11-04 06:52] #634 closed

[2017-11-06 07:42] davismj opened #645 "Feature: Support spread operator in view"
**I'm submitting a feature request**

**Current behavior:**

**Expected/desired behavior:**
Spreads the points array, as if you had passed `computePathString(points[0], points[1], points[2])`, which also observes these variables.

* **What is the motivation / use case for changing the behavior?**
To observe the items in the array when computing a value.

[2017-11-06 16:42] #249 closed

[2017-11-06 16:44] zakjan commented on #249
Observing array length with `@computedFrom("array.length")` works, is it officially supported?

[2017-11-06 16:46] davismj commented on #249
Yep! That is a completely viable strategy. See https://github.com/aurelia/binding/blob/master/src/observer-locator.js#L159

[2017-11-06 17:49] #642 closed

[2017-11-09 18:14] davismj commented on #642
@jdanyow @bigopon I'm looking at the map-observation code here: https://github.com/aurelia/binding/blob/master/src/map-observation.js#L42

So basically, this works on a repeat but not on a `.get()` call. In the case of Map, however, I think more often than not you will want to get specific values rather than iterating over the entire Map.

Wouldn't there be a way to extend the get function to add

[2017-11-13 01:33] #635 closed

[2017-11-14 17:20] tbnovaes commented on #595
@EisenbergEffect  @jdanyow any plans of releasing the fix for this one?

[2017-11-23 12:22] gama410 opened #648 "Missing DirtyCheckProperty in d.ts"
**I'm submitting a bug report**

* **Library Version:**
1.2.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.0

* **NPM Version:**
5.2.0

* **JSPM OR Webpack AND Version**
webpack ??

* **Browser:**
Chrome XX | Firefox XX

* **Language:**
TypeScript 2.6.1

**Current behavior:**
I'm trying to import DirtyCheckProperty from aurelia-binding us

[2017-11-29 09:10] gama410 commented on #648
@jdanyow @EisenbergEffect @bryanrsmith  any ideas?

[2017-11-30 13:05] bdefore commented on #250
The `useRuleConflictingAttribute` (on by default) in https://github.com/MeirionHughes/aurelia-template-lint provides protection against inadvertently doing this.

[2017-12-01 16:53] tomasbonco commented on #407
Hello,

Implementation with WeakMap should be default behavior with fallback using the hidden property, in my opinion. This would allow full usage of Immutable structures (that are popular these days) with Aurelia.

Tomáš

[2017-12-03 02:55] #648 closed

[2017-12-03 02:57] jdanyow commented on #648
@gama410 this will be available in the next release of aurelia-binding

[2017-12-03 09:28] gama410 commented on #648
great! Thanks for the fix!

[2017-12-03 20:50] gheoan commented on #407
I think WeakMap polyfills use the hidden property method so it is safe to switch to WeakMap assuming there are no other regressions.

[2017-12-04 10:30] tomasbonco commented on #407
I was further thinking about the issue and I think I was wrong. There is no need for an observer in case of immutable structures in a first place (besides getting rid of warnings).

[2017-12-06 14:23] AquilaSands opened #649 "Maximum call stack size exceeded at MouseEvent.stopPropagation"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.0.0

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome 62 | Firefox 57 | (assuming all)

* **Language:**
all

**Current behavior:**
Outer div with click.capture binding, inner div with click

[2017-12-10 23:00] jdanyow commented on #649
https://gist.run/?id=e85d11d7d7098c641162c3362ff15bbb

[2017-12-10 23:15] #649 closed

[2017-12-14 04:37] rockResolve opened #650 "Documentation: Binding | Value Converter | Signalable demo broken"
**I'm submitting a bug report**

The "Flight Dashboard with Signalable Value Converter Demo" at the bottom of the page looks quite broken. I see nothing below "Flights", no flight information at all.

http://aurelia.io/docs/binding/value-converters#signalable-value-converters

[2017-12-19 00:07] Mobe91 commented on #479
I am still facing this issue:
https://gist.run/?id=f1f10a46ea30ba9c4bcfef05755828a2

[2017-12-31 16:50] jonathaneckman opened #652 "Missing TypeScript Interface: ICollectionObserverSplice"
I have to add this interface to all of my projects. It would be nice if the framework exported it for us.

[code]

This would be used in `BindingEngine.collectionObserver(splices: ICollectionObserverSplice)`

[2018-01-04 14:32] apollocoder commented on #314
This is still an issue. Is there a fix in sight?

[2018-01-05 09:45] jdanyow commented on #652
@jonathaneckman would you be willing to PR these changes [here](https://github.com/aurelia/binding/blob/master/src/aurelia-binding.d.ts)?

[2018-01-05 10:02] jdanyow commented on #644
could try `message.attr="message"` or `message.bind="message & attr"`

[2018-01-05 18:10] jonathaneckman commented on #652
@jdanyow yes I can take this. Ill get it in this weekend.

[2018-01-06 06:42] bigopon commented on #650
It's fixed in this [commit](https://github.com/aurelia/binding/commit/4fa99d5c187c29fc8c14dcd94c7cd39e03cce5f9), waiting for @EisenbergEffect to update doc

[2018-01-06 06:43] EisenbergEffect commented on #650
I'm making a note. The releasing those binding demos requires some extra work that isn't part of the normal docs release flow. I'll get it with the next release.

[2018-01-09 02:59] #652 closed

[2018-01-17 13:27] ZoolWay commented on #163
This still seems to be an issue.

To implement a `pointer-events`-CSS-based workaround on my controls I am assigning them a CSS class on the topmost element when they are disabled:

`<template class.bind="elementClass">`

This requires less work than the behaviour solution provided by thomas-darling but might also be less powerful.

[2018-01-22 22:39] browillow commented on #613
I can confirm that that the screen freezes when you set NaN on a bindable property in two-way binding mode from within a custom element. There are no console errors to indicate the cause of the issue..

`
@customElement('custom-numeric-text-field')
export class CustomNumericTextField {
@bindable({ defaultBindingMode: bindingMode.twoWay }) value;
onChange(event: Event) {
    this.value= NaN; // Thi

[2018-01-27 23:14] jonathaneckman opened #660 "Error when using npm link: Error invoking SVGAnalyzer"
**I'm submitting a bug report**

* **Library Version:**
1.6

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Browser:**
Chrome 64.0.3282.119

* **Language:**
TypeScript 2.6.2

**Current behavior:**
1. Create a new project using the CLI. Options are:
    - custom

[2018-01-28 01:21] jonathaneckman commented on #660
[This SO answer](https://stackoverflow.com/questions/37769228/npm-link-with-webpack-cannot-find-module) gave me a couple of leads. It says:

- That npm link does not work with webpack. I tested this by removing npm link from the equation. I cloned my repo directly into the node_modules folder of my project. I still have the same issue.
- To make sure the library is fully built. I followed the inst

[2018-01-28 15:39] jonathaneckman commented on #660
This turned out to be a webpack issue. This [Stack Overflow answer](https://stackoverflow.com/questions/48482848/webpack-a-module-that-contains-node-modules) helped me. I added `symlinks: false` and `path.resolve('node_modules')` to my webpack.config.

[code]

[2018-01-28 15:39] #660 closed

[2018-02-02 14:17] #607 closed

[2018-02-02 14:38] #485 closed

[2018-02-02 14:38] #625 closed

[2018-02-05 12:38] dhanapalschandran opened #663 "Aurelia-binding typings build issue after latest commit"
HI Team,
The recent change is throwing error in type definition during compile.
typings/modules/aurelia-binding/index.d.ts
Could you resolve it ASAP>
export interface CollectionObserver {
  /**
   * Subscribe to collection mutation events.
   */
  subscribe(callback: (changeRecords: Array<IArrayObserverSplice> | Array<IMapObserverSplice> | Array<ISetObserverSplice>) => void): Disposable;
}

[2018-02-05 12:55] StrahilKazlachev commented on #663
OK, there is an issue template for, reasons.
1. Which version of `aurelia-binding` is giving you the issue?
2. What is your tooling? Basically now I'm guessing that you are referencing the master branch in git somehow, and not a specific tag or preferably a npm package. The merged PR you commented first has not been released yet.
3. Please provide the related compiler errors. I can't seem to find

[2018-02-06 08:36] dhanapalschandran commented on #663
Hi,

 Please find the below screen shot of the gulp build issue we are facing with Aurelia typings file.

![typings issue](https://user-images.githubusercontent.com/9696305/35849145-9af27832-0b46-11e8-9883-967dc0cf1c80.png)

 And regarding the version, our build server will take the latest Aurelia binding version.
Regards,
Dhanapal Chandran

[2018-02-06 08:41] stravinskij opened #664 "Typings conflict with aurelia/validation while transpiling typescript"
**I'm submitting a bug report**

* **Library Version:**
?? aurelia-binding 1.6.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.47

* **Browser:**
N/A during transpile

* **Language:**
all | TypeScript X.X | ESNext

**Current behavior:**
[code]

** Reproduce **
u

[2018-02-07 09:39] bigopon commented on #663
From the look of the error report, I think you have typescript version less than 2.3 as the new typings use Default generic type.

@EisenbergEffect @jdanyow @StrahilKazlachev What should we do about this ?

[2018-02-07 09:40] bigopon commented on #664
The typing to fix this has been updated, waiting for release. so we can remove the declare block above.

@EisenbergEffect @jdanyow

[2018-02-07 09:45] bigopon commented on #663
Also notice that the distribution typings doesn't match typings in src, could be an issue.

[2018-02-07 10:21] StrahilKazlachev commented on #663
@bigopon about the typings in the `dist`, isn't is normal, since there has not been a release?

[2018-02-07 17:56] jimwards17 opened #665 "Value converters are not rendering in the correct order in Safari (mac and iphone)"
**I'm submitting a bug report**

* **Browser:**
safari latest

Aurelia Value Converters are broken in safari (mac or iphone). Look at on windows 10 with chrome:
http://aurelia.io/docs/binding/value-converters#bi-directional-value-converters
Specifically notice the Object Parameters Demo - look at the order of the items.

Now do this with safari on iphone or mac. You will see the are rendering in a

[2018-02-09 22:24] wpearson4 commented on #664
Is there any update on when this fix will be released?  I am experiencing the same issues and it is causing issues with other modules not be bundled correctly after the error.

[2018-02-12 14:07] GabrielMancik opened #666 "Debounce is not updating input correctly if value has been re-typed"
I'm submitting a bug report

Library Version:
1.6.0

NPM Version:
5.3.0

JSPM Version:
0.16.48

Browser:
Chrome 60.0.3112.113 (Official Build) (64-bit)

Language:
TypeScript 2.3.4

Current behavior:
Steps to reproduce:
Please use your own demo for testing (http://aurelia.io/docs/binding/binding-behaviors)

1. Enter "qwe" as first name
2. Quickly type "qwe" as value again
3. only "qw" remains in in

[2018-02-12 22:51] bigopon commented on #666
@EisenbergEffect @jdanyow Can you move this to `templating-resources` ?

[2018-02-13 16:38] obedm503 commented on #466
did this change ever happen?
because I'm one of those `folks that rely on the current behavior `. and I've been facing an inconsistent bug where a binding with a signal _only_ updates when the signal happens, and not like normal. problem is that I still don't know if the bug comes from my code or aurelia

[2018-02-13 22:28] bigopon commented on #466
How does your binding look like ? This behavior is still there as signal is still just another way to update binding like Jeremy stated

[2018-02-14 01:07] EisenbergEffect commented on #666
Issue moved to [aurelia/templating-resources #341](https://github.com/aurelia/templating-resources/issues/341) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 01:07] #666 closed

[2018-02-14 13:46] obedm503 commented on #466
after some more research it seems signals weren't the cause

[2018-02-16 10:00] petronellius opened #667 "Property of argument object is 'undefined' in call binding"
**I'm submitting a bug report / a feature request ?**

* **Library Version:**
aurelia-binding 1.6.0

**Please tell us about your environment:**

* **Browser:**
Chrome 64

* **Language:**
TypeScript 2.5

**Current behavior:**
If property of EventArgs class is declared as public variable and set to some value, the property has value also in callback function.
In case the property is defined through

[2018-02-16 19:32] Rutulpatel7077 opened #668 "Class binding onClick"
I have this

`<div class="Some class"click.trigger="handleSummaryToggle()" >`

and want
`<div class="Some class summaryOpen" click.trigger="handleSummaryToggle()" >`

I tried this but not working
`<div class="Some class"click.trigger="handleSummaryToggle()" class.bind= "summaryOpen">`

any advice or suggestion ?

[2018-02-16 20:58] #668 closed

[2018-02-28 00:01] Alexander-Taran commented on #138
can be closed

[2018-02-28 00:11] #138 closed

[2018-03-02 13:44] djedi commented on #137
But what if you were observing the array in the data. It wouldn't update the template because `dataArray.length` doesn't change. See https://gist.run/?id=1f8eb3ee7a8e3772ab22ade6c719e30b

[2018-03-02 14:08] djedi commented on #137
I've tried a combination of the two approaches and still no luck - but I'm not sure why https://gist.run/?id=fc06317dc6b9a8e099f7eecb25eb6d34

[2018-03-02 18:27] Alexander-Taran commented on #484
stale since 2016

[2018-03-02 23:56] Alexander-Taran commented on #541
Stale since 2016

[2018-03-03 00:05] Alexander-Taran commented on #562
Should stay on the radar for mobile
Saving batteries is every developers responsibility

[2018-03-03 00:50] Alexander-Taran commented on #263
yep.. apple way or the highway..

[2018-03-03 15:02] Alexander-Taran commented on #347
simlar to discussion about number value converter to be built in
https://github.com/aurelia/templating/issues/96

good candidate for contrib

maybe can be closed

[2018-03-03 15:31] Alexander-Taran commented on #444
Stale

[2018-03-03 15:36] Alexander-Taran commented on #465
Something probably done about this one..
or no one care anymore
https://gist.run/?id=65185f8f61081ffc763c526fc1dc89ad

setting length to 0 still does not trigger update

[2018-03-03 15:45] Alexander-Taran commented on #557
if vNext gona be all ~~work~~ typescript and not ~~play~~ js..
then this could be closed.

unless someone is willing to put up a PR

[2018-03-03 19:59] fracz commented on #557
Actually, in our project we came out with the following solution:

`binding-mode.ts`
[code]

And usage somewhere:

[code]

[2018-03-03 19:59] #557 closed

[2018-03-03 20:25] bigopon commented on #557
@fracz nice 👍

[2018-03-03 21:22] EisenbergEffect commented on #541
Not planning to add this. We don't want to encourage putting too much code into a binding expression.

[2018-03-03 21:22] #541 closed

[2018-03-03 21:31] EisenbergEffect commented on #347
Let's keep this open for now since @bigopon has some in-progress work on it.

[2018-03-03 21:47] EisenbergEffect commented on #444
Closing since this can't be made to work in the binding engine and we've added a lot more binding docs with examples.

[2018-03-03 21:47] #444 closed

[2018-03-03 21:49] EisenbergEffect commented on #465
I think it's still a reasonable improvement, just not high priority.

[2018-03-03 21:50] Alexander-Taran commented on #347
Schrodingers issue?

[2018-03-03 22:05] EisenbergEffect commented on #347
Clicked the wrong button...

[2018-03-05 12:47] Alexander-Taran commented on #294
Stale since january 2016

[2018-03-05 17:24] EisenbergEffect commented on #294
I think we should keep this open. Some of this can be done more easily in vNext potentially.

[2018-03-07 12:25] mariaantony-gnanasekaran opened #670 "Collection observer is not working properly"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

* **Operating System:**
Windows 10

* **Node Version:**
8.7.0

* **NPM Version:**
4.6.1

* **Webpack Version**
 webpack 3.6.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**

I am using collection observer to observe the changes in Array type dataSource. This triggers changeHandler callback , whenever I do changes in ar

[2018-03-07 12:31] Alexander-Taran commented on #670
As I said in gitter this has nothing to do with the framework.
vuejs got the same "problem"
there is no way apart from dirty checking to know that you assigned a new value to array element.
nothing observes it.

But guidance around this should be improved.
solution to your case is to use splice method of array

arr.spilce(indexOfElementToReplace,1, newValue)

[2018-03-07 12:34] StrahilKazlachev commented on #670
Another way is to clone the current array, modify the clone and then assign the clone to the property.
[code]

[2018-03-07 12:58] Alexander-Taran commented on #670
@mariaantony-gnanasekaran here is your gist modified to your needs
https://gist.run/?id=3f9e4c4013f1110597fff7599b8db048

[2018-03-08 17:34] Alexander-Taran commented on #667
Could you please provide more context.
With a gist probably.
It is not that clear what you are trying to do.
And where does it fail you.

[2018-03-08 20:01] Alexander-Taran commented on #663
@dhanapalschandran have you resolved your issue?

[2018-03-08 23:47] wallaceturner commented on #137
can someone tell me where the `repeat.for` docs are?
its not under http://aurelia.io/docs/binding - or at least i can't find it there

[2018-03-08 23:49] EisenbergEffect commented on #137
See if this helps: http://aurelia.io/docs/templating/basics#repeaters

[2018-03-08 23:51] EisenbergEffect commented on #137
Here's another resource: http://aurelia.io/docs/fundamentals/cheat-sheet#templating-view-resources

[2018-03-08 23:53] wallaceturner commented on #137
yes thanks i found that just after i posted it.

however in this section it does not mention the issue that this bug details - that is there is no example with repeat-for and inputs where two way binding is expected to just work

e.g. instead of
[code]
you must use
[code]

[2018-03-09 00:20] EisenbergEffect commented on #137
Any interest in submitting a PR to address the over-sight?

[2018-03-09 00:21] wallaceturner commented on #137
sure - you want it to go in the cheat sheet or the binding basics?

[2018-03-09 00:25] EisenbergEffect commented on #137
Let's put it in the repeaters section of the templating basics doc. Sounds good? https://github.com/aurelia/templating/blob/master/doc/article/en-US/templating-basics.md#repeaters

[2018-03-12 01:28] Alexander-Taran commented on #458
Stale since 2016

[2018-03-12 02:02] EisenbergEffect commented on #458
@jdanyow Can you comment?

[2018-03-12 21:42] petronellius commented on #667
Please, see sample code here.
http://next.plnkr.co/edit/xWQSFyLxJ9MFSUG8?preview

Click on any of items. In console you will see 'undefined' from callback function.
The problem is in EventArgsWrapper. Property eventArgs is defined as public getter that backed private variable. When I change it to public readonly variable everything is working as expected.
http://next.plnkr.co/edit/0BMEO4KEgVqZMfz4

[2018-03-13 19:14] Alexander-Taran commented on #667
Interesting observation.
Indeed there is Object.assign() hidden somwhere in the chain to call the callback.

On other hand if you just pass the reference outside it could lead to memory leaks.
Would it satisfy your needs to pass a POJO clone of your object to the callback? It is a DTO isn't it?
If so, you could JSON.parse(JSON.stringify(EventArgsWrapper)) to deep the values.

[2018-03-15 22:57] Alexander-Taran commented on #601
Would you like to provide a pull request for it @tdamir ?
Does one actually need those types?

[2018-03-16 11:29] RomkeVdMeulen commented on #595
See aurelia/templating/issues/565.

[2018-03-16 14:50] diegohb opened #672 "Bug - Automatic bindable properties work but explicitly doesn't?"
* **Library Version:**
aurelia-binding: 1.6.0
aurelia-cli: 0.32.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.4.0

* **Yarn Version:**
1.3.2

* **systemjs version**
0.20.18

* **Browser:**
all

* **Language:**
TypeScript 2.6.2

**Current behavior:**
When i place attribute for bindable() and/or computedFrom on my "chosenZipCodes" property, i

[2018-03-16 15:01] Alexander-Taran commented on #672
Why do you want to decorate a readonly property with bindable toView?
It is the default for almost everything..except input values? those are two-way by default

Looks like overengineering

[2018-03-16 16:02] EisenbergEffect commented on #595
I don't know that we can fix it due to the fact that the IE parser itself isn't allowing the template element. My recommendation would be to put the repeat on the option itself. To achieve the "static" option element that you had before the original repeat, create an array  that include a model to represent that option along with your dynamic options.

For vNext, we are considering moving templati

[2018-03-16 16:02] #595 closed

[2018-03-17 18:46] ConnectedReasoning commented on #138
am I wrong in saying react does this built in?

[2018-03-17 19:03] Alexander-Taran commented on #138
@ConnectedReasoning "this" being exactly what?

[2018-03-17 19:57] TylerJPresley commented on #664
This is still an issue with the latest releases of each.

[code]
Shouldn't the entry be removed from the validation lib?

**/Users/tjpresley/Projects/strengthen_webapp/node_modules/aurelia-validation/dist/commonjs/property-info.d.ts(**
[code]

[2018-03-17 20:38] kellyethridge opened #673 "updateTrigger error"
**I'm submitting a bug report**

* **Library Version:**
v1.7.0

* **Operating System:**
Windows 10

JSPM 0.16.45

* **Browser:**
all

* **Language:**
TypeScript 2.6

Hi guys,
After updating aurelia-binding to 1.7.0 my updateTrigger:'blur' behaviors have broken. Reverting back to version 1.6.0 resolves the issue.

The error I get is:
```Uncaught (in promise) TypeError: this.eventManager.createEleme

[2018-03-17 21:06] Alexander-Taran commented on #673
can you still post a relevant piece of template/view-model to reproduce?

[2018-03-17 21:34] kellyethridge commented on #673
Sure thing!

In the view:
[code]

and the view model can be simply:
[code]
The `updateTrigger` behavior throws an error and with the aurelia.use.developmentLogging() turned on, it is shown in the console. Remove the behavior and things work as expected.

[2018-03-17 21:41] Alexander-Taran commented on #673
Thanks. Going to try that

[2018-03-17 21:43] bigopon commented on #673
@Alexander-Taran @kellyethridge

Thanks for filing this and digging into. It was my fault not scanning all of Aurelia internals that are using old behavior. Updated them in PRs . Please wait for @EisenbergEffect

- binding: #674
- templating-resources: aurelia/templating-resources#343

[2018-03-17 21:54] Alexander-Taran commented on #673
@kellyethridge & @bigopon  Ok.. not going to look then (-:

[2018-03-18 01:30] bigopon commented on #672
`@bindable` will rewrite (not intercept) the property, thus washes away your getter. That's why your getter does not get called. @jdanyow @EisenbergEffect @Alexander-Taran  This could be a good target for `<let />` element, where one can do:

#### element declaration

[code]

[code]

#### element usage

[code]

So it can be a `@bindable`, to take initial data passed from element that consumes it i

[2018-03-18 01:52] bigopon commented on #672
Actually it can be doned simply via `@observable` as well, `<let/>` could help in case there are many declaration, and binding dependencies, but the above could be done via:

[code]

[2018-03-18 09:24] Alexander-Taran commented on #672
@bigopon don't think I like having logic in markup even for convenience reasons.
declaring a variable in markup that you are going to use in view-model..

[2018-03-18 09:41] bigopon commented on #672
It helps define how to compute the value of a property in view model based on an expression, just to clarify. But I see your point.

[2018-03-18 11:02] Alexander-Taran commented on #672
can be closed

maybe add a note to `@bindable` on the use case for that. what it does and why we need one on vm

[2018-03-18 11:03] Alexander-Taran commented on #670
can be closed

[2018-03-18 11:05] Alexander-Taran commented on #667
@petronellius can you live with workaround that I provided?

@EisenbergEffect should we consider this?

[2018-03-18 11:09] Alexander-Taran commented on #663
[code]

can be closed

[2018-03-18 11:13] Alexander-Taran commented on #645
https://github.com/aurelia/binding/pull/647#issuecomment-350692094

@davismj ?

[2018-03-18 11:15] Alexander-Taran commented on #601
Maybe can be closed

[2018-03-18 11:18] Alexander-Taran commented on #587
stale for a year:
`tossCoin() ? close() : await longRuningProcess()`

[2018-03-18 11:20] Alexander-Taran commented on #533
stale from 2016

[2018-03-18 16:07] diegohb commented on #672
@Alexander-Taran - thanks for your response..

To answer your question, the primary reason is to be explicit with the code and minimize auto-magic that newbies to aurelia may not immediately understand or recognize. Though I'm not sure I understand the answer.. I'm saying that if I don't use any property attibutes it DOES execute my custom getter.. are you saying this is not by design? not support

[2018-03-18 16:20] EisenbergEffect commented on #663
Closing because:
* This is likely an issue with the OPs TS version.
* No response from OP in 10 days.

[2018-03-18 16:20] #663 closed

[2018-03-18 16:21] EisenbergEffect commented on #533
The framework doesn't need these, so we'll punt for now. Any consumer is happy to create their own interfaces to facilitate their own App-specific scenarios.

[2018-03-18 16:21] #533 closed

[2018-03-18 16:36] Alexander-Taran commented on #672
well aurelia is about conventions that make sense
it is about auto-magic (-:
about not writing boilerplate code

I'm saying that you don't have to decorate your getter with `@bindable`
it only defines a getter.. and that's enough for it to be read-only AFAIK

and `@bindable` is for passing parameters inside a vm.
and by default most of binding is done one-way.
input values..(what user can modify)

[2018-03-18 16:59] #645 closed

[2018-03-18 21:34] EisenbergEffect commented on #667
Try this:

[code]

[2018-03-18 21:34] #667 closed

[2018-03-18 22:15] Alexander-Taran commented on #673
both PRs merged
and libraries released
can be closed

[2018-03-18 22:17] #673 closed

[2018-03-18 22:32] Alexander-Taran commented on #664
updated validation is out
can be closed

[2018-03-18 22:33] #664 closed

[2018-03-19 05:45] diegohb commented on #672
Thanks for the clarification. To be (more) clear, i cannot reproduce the default auto-magic behavior? and does this mean every property/field defined in a viewmodel object is automatically wired up to observe changes? that doesn't sound right.. maybe I'm still confused. I appreciate your patience.

[2018-03-19 08:00] Alexander-Taran commented on #672
depends on weather you are a magician (-:
from what I get - `@bindable` has different reason to be. It is meta.

only those that need observation

[2018-03-19 08:38] StrahilKazlachev commented on #672
`@bindable` marks, and configures, the properties to be the `public` *declarative* API of a custom `attribute`/`element`. Using it just to get some of the *behaviors* it introduces will lead to issues at some point, as with everything else when used inappropriately.
Properties marked with `@computed` should not be part of the `public` API - [Computed Properties](http://aurelia.io/docs/binding/comp

[2018-03-19 09:16] Anoop1001 commented on #330
@EisenbergEffect, The links provided are no more valid. Could you please update the link? Getting 404 not found.

[2018-03-19 09:53] Alexander-Taran commented on #330
@Anoop1001
could you help with that and look for them here http://aurelia.io/docs/api
and post back.

[2018-03-19 09:54] Alexander-Taran commented on #672
can be closed
discussion can continue.
better yet move it to [discourse](https://discourse.aurelia.io/)

[2018-03-19 09:59] RomkeVdMeulen commented on #595
@EisenbergEffect I've heard about the mysterious "vNext" a couple of times, and saw the experimental repo. Is there any kind of announcement or blog post yet that explains what you're trying to do?

[2018-03-19 18:41] EisenbergEffect commented on #672
Closing this since it's more of a question that can be talked through on discourse.

[2018-03-19 18:41] #672 closed

[2018-03-19 18:43] EisenbergEffect commented on #595
I'm hoping  to put together a blog post in the next few weeks. It's *very* early on and truly is experimental. We're trying to work out enough details of what we have in mind so that we can make an intelligent statement on the blog. In essence, it has a lot to do with pushing more into compile-time and out of runtime, so we can provide faster startup time, smaller builds, better support tree-shaki

[2018-03-20 03:18] PWKad commented on #587
Docs for this exist - http://aurelia.io/docs/binding/binding-observable-properties

[2018-03-20 03:18] #587 closed

[2018-03-20 09:03] RomkeVdMeulen commented on #595
@EisenbergEffect Thanks for the clarification. I look forward to the blog post.

[2018-03-20 12:24] petronellius commented on #667
@Alexander-Taran I need the reference on eventArgs object in parent component. I react there on selection changed event with dialog confirming selection. If user cancel selection eventArgs.cancel is set to true in beforeItemChanged callback and list component clear selection.

@EisenbergEffect Your solution is working perfectly even with getter defined in BeforeSelectedItemChangedEventArgs class.

[2018-03-20 13:14] Alexander-Taran commented on #601
@tdamir there is tooling you are right. And the build process for js based libs of aurelia uses that tooling.
It's that there got to be annotations and classes / properties should be part of public API surface to get to be part of d.ts

That takes time to write. Like everything else. And time is a precious resource shared between tasks like this and others. Like closing bugs and implementing featu

[2018-03-20 15:21] Alexander-Taran commented on #601
@tdamir you are right it is a manual labor for this specific repo.
So it won't be the case of just adding those comments
like in the router for example
https://github.com/aurelia/router/blob/master/src/router.js

@jdanyow & @EisenbergEffect is it feasible to change the building of this one to build d.ts from annotations or it's not worth the time?

[2018-03-20 16:16] tdamir commented on #601
@Alexander-Taran I just replaced aurelia-binding/tasks/build.js with the one from router project and was able to generate some sort of d.ts with errors and without comments. I suppose the next step would be to annotate the code and hopefully errors will disappear.

[2018-03-20 16:23] Alexander-Taran commented on #601
@tdamir feel free to play around while we wait an answer from main contributors to the repo

[2018-03-20 17:39] EisenbergEffect commented on #601
Some time back we made the move to have a hand-authored d.ts file for the binding repo. I can't remember the details around that. At the time there were some special reasons. @jdanyow may be able to comment. In the future, we're going to move the entire binding engine to TypeScript, which will form the single truth source for type definitions.

I'm going to close this issue in favor of issues/PRs

[2018-03-20 17:39] #601 closed

[2018-03-20 17:41] EisenbergEffect commented on #667
I'm fairly certain that you won't have a memory issue with this. What you observed is likely a result of having the dev tools open or a delay in the browser GC. You should be good :)

[2018-03-21 14:55] Infuser opened #675 "Memory leak in decorator binding"
I'm submitting a bug report

Library Version
npm:aurelia-binding@^1.7.1

**Please tell us about your environment:**
* **Operating System:**
windows 2012

I believe aurelia has a memory leak when you add bindings in a decorator like code example below
bindable({
           name: 'value',
           changeHandler: 'valueChanged',
           defaultBindingMode: bindingMode.twoWay
        })(target);

[2018-03-21 15:09] Infuser commented on #675
Ok not sure now was convinced it was this causing it but now not sure, I will get back to you or close the ticket

[2018-03-21 15:35] Infuser commented on #675
Ok I am closing this sorry for the confusion, I think I have found some code that suggests this issue is in my code

[2018-03-21 15:35] #675 closed

[2018-03-21 17:58] Infuser commented on #675
Ok this issue was caused by calling subscribe twice in quick succession between those 2 calls is a dispose but I guess because the calls are being batched by aurelia so the dispose does not clear the subscription

[2018-03-24 02:00] Alexander-Taran commented on #650
@EisenbergEffect looks like you did
can be closed

[2018-03-24 21:10] #650 closed

[2018-03-24 23:53] Alexander-Taran commented on #484
@ppn2 if it renders with prebuilt Aurelia libraries then it looks like your setup did not work correctly in 2016

I hope you solved it

Maybe can be closed and reopened if need arises

[2018-03-29 15:24] Anthony-Mckale opened #676 "REQUEST: downgrade 'No Aurelia APIs are defined for the element: "xxx".' from thrown error to warning message"
**I'm submitting a feature request**

currently aurelia enhance is falling over when it gets elements with element/controller/view-model/view which are not defined

and it breaks the bootstraping of aurelia

caused by this code

[code]

is there any chance this could be sent as a warning or try/catched into a warning

currently monkey patched with this in dev which not ideal, to stopping html inse

[2018-03-29 15:30] CasiOo commented on #676
Can't you just add a try-catch around your own code calling `enhance`?
I ask because it sounds like there's a bug in your code, where you're calling an Aurelia api when you shouldn't have?

[2018-03-29 16:35] Alexander-Taran commented on #676
Please provide an minimal example code when it fails for you.
How are you using it?

[2018-03-30 03:40] #670 closed

[2018-03-30 03:47] jdanyow commented on #665
tested in safari latest on mac and safari on iPhone 10, the object parameters demo is rendering the same as it is on chrome on windows 10.

[2018-03-30 03:47] #644 closed

[2018-03-30 04:10] jdanyow commented on #676
this gist is configured with the latest version of aurelia:
 https://gist.run/?id=7542e061bc940cde506b

[2018-04-06 13:43] michaelwoodew commented on #314
Also causing issue with me too

[2018-04-06 13:50] Alexander-Taran commented on #314
the workaround is in the same article.. I mentioned.. you just don't use binding to file
you process the change event and as an outcome - you create your value

think of it as binding to files is not possible
work with change event

[2018-04-06 15:50] michaelwoodew commented on #314
I just added a `ref="fileinput"` to the input then used `this.fileinput.value = null`
That way, next time i select a file it forces the .value to change and triggers the change event

[2018-04-07 06:11] bigopon commented on #521
@geleto a fix for this is at https://github.com/aurelia/binding/pull/677

[2018-04-07 06:12] bigopon commented on #614
@glen-84 fix for this is at https://github.com/aurelia/binding/pull/677

[2018-04-07 07:25] glen-84 commented on #614
Thank you! 🙂

[2018-04-08 20:36] #521 closed

[2018-04-08 20:36] #614 closed

[2018-04-11 17:47] bdefore commented on #376
i ran into this error when using a vendor chunk with webpack. the following libraries were or weren't able to be chunked without triggering it (commented out ones could not be):

[code]

[2018-04-13 11:52] arnonuem commented on #309
This is what i did:

[code]
This triggers my ValueConverter twice always but at least it is triggered when adding a second item to the array. Since its just a ValueConverter which causes no sideEffects to my business code I don´t care that its triggered twice.

This was the easiest workaround to me. Hope this issue will be solved soon.

[2018-04-21 09:50] migajek commented on #376
what is the fix here actually? I'm also having the case where DOM.Element (first dependency for the TCustomAttribute) is undefined
I have no idea how to deal with that

[2018-04-21 11:57] bigopon commented on #376
I think I'd agree with @niieani . Though platform specific code must run before all else otherwise `DOM.Element` will often be resolved before its value gets assigned by specific PAL code, which is `undefined`. This is not always obvious why it wouldn't work, and this could be sometimes barrier for newcomer. Illustrated via following block for anyone wanting to know what happened:

[code]

Fix at

[2018-04-21 16:26] migajek commented on #376
to be honest, I still don't know what is wrong with my initialization order... but the changes in your PR seem to fix the problem for me

[2018-04-21 18:12] zewa666 commented on #376
mentioned PR has been merged. That was clearly an oversight by me, as most other parts of the I18N plugin do request injects exactly as proposed. It's merged and should be released soon

[2018-04-21 20:54] bigopon commented on #376
We still have this https://github.com/aurelia/templating/blob/master/src/shadow-dom.js#L7 that still occasionally destroys folks' tests, would be awesome if someone can PR to fix it 😄

[2018-04-22 06:49] migajek commented on #376
just for the records ... should I assume as a rule of thumb anytime I inject `DOM.Element` I should use `inject` class method instead of property?

[2018-05-01 14:46] jimwards17 commented on #665
Did the section I was referring get removed from the documentation? I am not seeing the list that was there previously.

[2018-05-01 14:56] jimwards17 commented on #665
These are both from windows 10.

Firefox:
![firefox](https://user-images.githubusercontent.com/16907687/39477507-7c70a2ca-4d2d-11e8-8ec4-30cb5f885a57.PNG)

Chrome:
![chrome](https://user-images.githubusercontent.com/16907687/39477513-80365436-4d2d-11e8-9404-36bec457fe2e.PNG)

You can see the lists are definitely not being presented in the same order each time/by browser. The bigger issue is that i

[2018-05-01 22:13] bigopon commented on #665
Value converters are called in order they are declared, from left to right, so it shouldnt behave the way it shows in those pics. What could be wrong here is only the underlying sorting mechanisms, that differ among browsers i believe

Like this so question https://stackoverflow.com/questions/34646722/array-sort-get-different-result-in-ios

[2018-05-03 04:31] brantwedel opened #680 "Style attribute out of sync when changing between a css shorthand and specific property like border to border-width"
**I'm submitting a bug report**

* **Library Version:**
1.6.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
8.9.1

* **NPM Version:**
4.6.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all | Chrome 66.0.3359.139

* **Language:**
all

**Current behavior:**
When toggling between a css shorthand property and a specific property li

[2018-05-03 07:28] stsje commented on #680
Good find :)! 👍

[2018-05-03 13:40] Alexander-Taran commented on #680
could we refactor the method to calculate "would be removed properties" and remove them before applying the new ones?

[2018-05-03 13:46] Alexander-Taran commented on #665
Using sort on the array from the model is bad idea.
I had the same problem once..
when using a value converter with sort in it for showing the same array 2 times.. It was weird.
Ended up with "presorting" the array in the model.. with .slice and everything..
.sort() does affect the original array..
If you
[code]
everything is going to be fine..

[2018-05-03 14:41] brantwedel commented on #680
Sadly, it won't be that easy, probably going to have to resort to parsing/setting the style attribute text, as `.style.setProperty` also tries to be "smart".

ex: this simple binding will cause havoc with style.setProperty: `<div css.bind="${toggle ? 'border: 4px solid black; border-left: 2px solid black' : '' }></div>`
[code]

Most likely have to resort to manipulating with `steAttribute('style')

[2018-05-03 18:03] brantwedel commented on #680
In my use case, I have resizable dock panels and I need to know the border sizes to ensure docking/pinning behavior accounts for them (border gets thicker when pinning), so setting it all in my js component, instead of having as much coupling with the css seemed good.

Once I figured out the issue, the workaround was easy ... so maybe some documentation warning about mixing shorthand and specific

[2018-05-04 11:28] Alexander-Taran commented on #680
@brantwedel  if you don't use border radius, you might want to use outline or box-shadow.. for visual effects.. they don't affect the layout.. and positioning. so you could rely on constant border-width.
have a look:
https://codepen.io/Alexander-Taran/pen/zjdRgo

[2018-05-04 14:36] brantwedel commented on #680
Thanmks for the suggestions, shadow as border is is what I had earlier but it would cover the other dock panels docked against since they are outside the box-model which encroaches into the panel to the side, I have tried all the things and am aware of the `css`s.

I was going to try shadow + margin ... but the docks use flexbox and I didnt want to figure out the right set of proprties to not coll

[2018-05-08 02:53] kevmeister68 opened #682 "Orchestration between a Property Observer subscription, and the value changes."
This is not so much an issue as me requesting some information with a problem I have encountered and seeing where people's opinion's sit.

If you create a property observer using the BindingEngine, the following will not work as you expect:

this.observer = this.myBindingEngine.createPropertyObserver( myobj, "someProperty" )
this.subscription = this.observer.subscribe( myChangeHandler );

Sometime

[2018-05-10 00:03] kevmeister68 opened #684 "Help Required: Best Way to Ignore Your Own Changes to an Observed Property"
I'm hoping someone can offer some guidance. It is about making use of the Aurelia Observers in the best possible manner.

The example is a made-up example to illustrate the perceived problem.

Let's say I have three number properties: hours, mins, secs aka H, M, S and I wish to build an object that monitors H, M, S and each time any of these three changes, it produces a property T which is string

[2018-05-10 03:38] fkleuver commented on #682
It boils down to this:

[code]

If you look at it in isolation, it doesn't make much sense. But consider that bindings are there to synchronize between code and the DOM, which itself operates in a similar fashion, via event loops. You gain flexibility in scheduling different units of work - a sort of necessary evil to keep UI's responsive while work is being done.

Now you need to consider that te

[2018-05-10 03:54] fkleuver commented on #684
I'd be happy to clear this up for you. However, purely implementation questions like this are better off on StackOverflow where the answer will help much more people in the future. Here on github it will eventually disappear into the closed issue list and it will generally be longer before you get an answer. Would you mind taking it there instead?

[2018-05-11 12:11] nenadvicentic opened #685 "TypeError: this.sourceExpression.connect is not a function"
**I'm submitting a bug report**

* **Library Version:**
2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.1

* **NPM Version:**
5.6.0

* **Browser:**
Chrome 66

* **Language:**
all

**Current behavior:**
When there is an error in binding expression in Aurelia template, like:
`<input value.bind="dto..firstName" />`

Stack trace has no inf

[2018-05-14 09:50] Alexander-Taran commented on #684
can be closed

[2018-05-15 08:54] gordon-matt opened #686 "Binding selects without an “empty” <option>"
It appears that binding to a `<select>` is somewhat buggy. At the moment, I have only 1 `<option>` in the `<select>` and when I try to send the values from my view model to the server, it does not pickup the value from the only existing option in the `<select>`.

Further details (including the variations I have tried) can be found in a post on the Aurelia Discourse page, here: https://discourse.au

[2018-05-15 10:00] Mobe91 opened #687 "collectionObserver typings do not accept Set"
The Aurelia documentation states that collection observers work for Array , Map , and Set types.

However, the signature of `collectionObserver` is currently specified as
[code]
This currently prevents the invocation of with a `Set<any>`.

[2018-05-16 13:00] Alexander-Taran commented on #687
Would you like to provide a pull request for it @Mobe91 ?

[2018-05-16 13:01] Alexander-Taran commented on #685
@fkleuver could it be any failure to parse?

[2018-05-16 13:02] Alexander-Taran commented on #682
@kevmeister68 can you close this one?

[2018-05-17 01:08] fkleuver commented on #685
@Alexander-Taran The only scenario where it's (technically) valid syntax is following numeric literals. `2..toString()` mean "convert 2 to a float, then .toString()" it, but binding has never supported that syntax, and I'm reluctant on implementing it unless someone actually needs it.
So in the next version I'll just make it throw whenever it sees two consecutive periods. Clearer to everyone. Pr c

[2018-05-18 12:03] Alexander-Taran commented on #685
@nenadvicentic he did.. yes (-:

[2018-05-18 12:58] fkleuver commented on #685
@nenadvicentic @Alexander-Taran The parser generally already does that.

In simplified terms, after an access expression, the parser loops and expects any of these:
- A dot, which is then consumed and proceeds to the next iteration to parse the member expression
- An identifier token, which will be the member expression
- A terminal token (any of `(` `)` `}` `[` `,` `&` `|`) which marks the end of

[2018-05-18 13:25] Alexander-Taran commented on #685
@fkleuver understood. so you are covering the not yet covered case.. great

[2018-05-18 13:40] fkleuver commented on #685
@Alexander-Taran What do you mean?

[2018-05-18 13:41] fkleuver commented on #685
@Alexander-Taran If you're referring to bigopon's comment, I'm working on a commit to cover those cases.

[2018-05-18 22:20] #687 closed

[2018-05-19 05:28] doktordirk commented on #376
incidentally i just had PRed a fix for autoinject which would prevent that issue as i see it
https://github.com/aurelia/dependency-injection/pull/162

[2018-05-25 11:51] fkleuver commented on #586
@huochunpeng I actually stumbled upon this last week as well. A quick-n-dirty fix for this (without impacting the performance of the parser) would be to change `visitAssign`, `visitConditional` and `visitBinary` in `Unparser`:

[code]

[code]

[code]

`visitUnary` is already parenthesized so this should guarantee correctness in all expressions where precedence may apply. It adds a lot of unnecessa

[2018-05-25 12:31] huochunpeng commented on #586
Thx for looking into this. Currently no other part of aurelia actually uses unparser. The logic is never exercised, hence no bug has been exposed so far.

Verbose parenthesis might be not that bad. Because both verbose and optimised unparsed expression does not guarantee matching original expression. But personally I like the optimised version.

[2018-05-25 12:42] bigopon commented on #586
A PR will be nice, but I don't know if we need to do any thing beyond your patch above. It's the most untouched part of Aurelia

[2018-05-26 12:04] fkleuver commented on #684
@kevmeister68 Could you close this one if your question is answered? Thanks :)

[2018-05-26 12:04] fkleuver commented on #682
@kevmeister68 Could you close this one if your question is answered? Thanks :)

[2018-05-26 13:27] fkleuver commented on #686
The thing is, a statically pre-populated initial value is not recognized as a "change". The DOM parses these options and sets the `value` property of the `<select>` before the element even enters the `SelectValueObserver`'s constructor.

If we were to recognize it as such and set the source (ViewModel) value to the target (View) value upon first render, we might overwrite a source value that you'v

[2018-05-26 14:07] gordon-matt commented on #686
Thanks for your response and I appreciate the lengthy explanation. I will go with your suggestions then in that case... unless @bigopon or @huochunpeng have another suggestion? If you guys can't come up with something better, feel free to close this issue. In any case, thanks again for addressing this.

[2018-05-26 16:35] ielcoro commented on #376
As @HIRANO-Satoshi already said, since this was merged, autoinject no longer Works, as it calls injects like an array variable instead of calling it as a function.

[2018-05-26 17:07] doktordirk commented on #376
Autoject shouldn.t call anything. Whole point is to get the types for the DI from  the constructor. Anything inherited should be ignored. similarly using autoinject together with an own inject array or function doesn.t make any sense.

[2018-05-27 14:52] fkleuver opened #690 "`Chain` is redundant"
I've semi-verified this with the unit tests and a global search through the Aurelia libraries. It appears that `Chain` expression is impossible to parse from any valid expression. Removing it would:
- Reduce the library size
- Simplify and make erroneous expression detection more robust (e.g. semicolon token can simply be removed)
- Slightly improve performance (expression doesn't need to be store

[2018-05-27 15:37] fkleuver commented on #690
On second thought, I'll just submit a PR later on :)

[2018-05-27 15:37] #690 closed

[2018-05-28 13:32] huochunpeng commented on #686
@fkleuver thx for the detailed explanation. I ran into some select init issue before, then I always cautiously pre-populate my selection like you suggested.

One question, do you know why select with repeat.for options somehow got init value populated? In contrast, hard coded options do not init selected value.

https://gist.run/?id=cfaa060c8bbd776e9595b13a4d33d1bf

[2018-05-29 01:35] gordon-matt commented on #686
Actually, I did use `repeat.for` and had the [same problem](https://discourse.aurelia.io/t/binding-selects-without-an-empty-option/1215/5). In any case, the last response on that page was helpful.. Unfortunately I still cannot go without a "blank" option... and when using one, it must have `model.bind="undefined"`.

[2018-05-29 02:04] fkleuver commented on #686
@gordon-matt Could you reproduce a scenario where `repeat.for` doesnt work in this [gistrun](https://gist.run/?id=cfaa060c8bbd776e9595b13a4d33d1bf)? That would be much appreciated. I want to make sure that my own understanding is correct, and rule out whether or not this is actually a bug.

[2018-05-29 02:46] huochunpeng commented on #686
I try to reproduce the problem with one extra option above the repeated options, but not successful.

gistrun updated:
https://gist.run/?id=cfaa060c8bbd776e9595b13a4d33d1bf

[2018-05-29 04:34] gordon-matt commented on #686
Here you go, guys: https://gist.run/?id=e63df29cc4bfcc17c700f30a35e2f350

[2018-05-29 06:03] dwarry opened #692 "DataAttributeObserver constructor missing from typescript declarations"
**I'm submitting a bug report**

* **Library Version:**
2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.10

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
N/A

* **Browser:**
all

* **Language:**
TypeScript 2.8.3

**Current behavior:**
Attempting to create a new DataAttributeObserver from a typescript file produces the error

[2018-05-29 09:12] fkleuver commented on #686
@gordon-matt Thank you :)

I get it now. Sort of. When the first option is disabled and has *any* non-empty value *or* no value at all, it correctly behaves as if its "disabled". The browser will "unset" it and set to the next option (if it exists) during rendering. In fact if you remove the `repeat.for` below, it will behave just as if there are no options at all (but the select shows the disable

[2018-05-29 09:41] gordon-matt commented on #686
@fkleuver Thanks very much for your time. I appreciate it. However, as you say, it is somewhat of an ugly hack. It just doesn't feel clean at all and moreover, it won't be easy to add the `if.bind` to my HTML helpers. I mean, I could.. but with that trouble I might as well just not bother with the HTML helpers as all then and retrieve the values by ajax request in `attached()` and populate in the

[2018-05-29 10:13] fkleuver commented on #686
@gordon-matt Well, pre-populating them one way or another saves you the ajax roundtrip and speeds up the initial load a little bit. So I wouldn't say it's the same thing. I didn't think simply adding `if.bind=true` would be that much trouble with html helpers. You could also pre-populate them via a repeat.for (I recall it's fairly easy to expand a list into a literal array):

[code]

But if you in

[2018-05-29 12:03] bigopon commented on #686
It's working as expected. When the select observer first get initiated, it's the direction view model -> view, which means no matter what is in the select, view model value will take precedence. That's why the in the first example, it doesn't care about `<select/>` value. Further explanation for each case in the gistrun:

For 1: Everything is ready by the time view model / observer is ready, there

[2018-05-29 12:19] bigopon commented on #686
Sorry for my previous explanation, it's partially true, the whole process of syncing view model value and `<select />` value is not as simple as I explained, but also not much more complicated than that. Maybe I'll try to do a better job later.

[2018-05-29 13:14] fkleuver commented on #314
I had a quick look at this. The binding isn't actually "lost" on re-select; rather, it's never created in the first place. In Firefox a lot of things seem to happen quite differently on initial page load. I'll look into this more.

[2018-05-29 14:00] Alexander-Taran commented on #314
@fkleuver there is no real need.. actually.. you still have to observe the change to get the content of the files..

[2018-05-29 14:41] fkleuver commented on #314
@Alexander-Taran Well this issue was still open so I took that as an indicator that this still needed fixing. And from what I see it still looks like a bug. It has behavior A in Chrome and behavior B in Firefox. That's not right either way.

[2018-05-30 00:09] #684 closed

[2018-05-30 00:09] #682 closed

[2018-06-01 17:21] Alexander-Taran commented on #314
@fkleuver
(-: I could close it.. but for consistency..
There are known bugs that are not getting fixed ever..

[2018-06-03 19:53] gregoryagu opened #693 "Intercept Binding Behavior Misbehaving"
**I'm submitting a bug report**

* **Library Version:**
171

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **JSPM OR Webpack AND Version**
webpack 3.5

* **Browser:**
all
* **Language:**
TypeScript

**Current behavior:**
When using Intercept Binding Behavior, `this` is not set properly.

I am using the Intercept Binding Behavior as show

[2018-06-03 20:16] StrahilKazlachev commented on #693
Only a some binding commands *preserve* the *this*.
Also try to rework the behavior, how it uses the *interceptor*, since currently it is working as expected.

Or I'm missing your point.

[2018-06-03 20:40] StrahilKazlachev commented on #693
This is how I understood this issue:
I pass a function and want when called to have its *this* pointing to the VM(**not** the InterceptBindingBehavior) it originated from and not the binding itself.
But in the binding behavior it is being bound to have its *this* point to the binding - `binding` being the first argument.

You could make that function an arrow function in the VM and later bind only

[2018-06-08 04:36] asahui opened #694 "ParseError: conditional value converter in data bind"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.2

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 4.8.3

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView |

[2018-06-10 02:27] geomorillo commented on #163
eventually one comes to this place

[2018-06-13 16:42] Alexander-Taran commented on #694
I doubt that this is possible at the moment to have a conditionally applied valueConverter
[code]

[2018-06-13 16:46] Alexander-Taran commented on #693
@gregoryagu
`myFunc = () =>{ this.DoSomething();  }`

[2018-06-18 06:21] #500 closed

[2018-06-18 06:21] #608 closed

[2018-06-18 06:21] #640 closed

[2018-06-18 06:21] #685 closed

[2018-06-18 13:29] fkleuver commented on #694
The limitation here is that a valueConverter, just like a bindingBehavior, must come at the end of an expression. You can read about that [here](https://github.com/aurelia/binding/blob/master/doc/article/en-US/binding-basics.md#user-content-binding-behaviors-and-value-converters).

So the places where you are writing a `|`, the valueConverter is simply not considered an option and instead it "expe

[2018-06-19 00:28] EisenbergEffect commented on #694
I'd prefer not to bring in value converters in other positions now. I think that would be confusing. We also don't want to encourage putting too much logic in a binding expression, as that leads to unmaintainable projects or unexpected outcomes. I'm more of the opinion that we should support computed properties better so that it's easier to move more advanced logic and conversion to the view model

[2018-06-19 03:16] EisenbergEffect commented on #484
Closing since it appears to be fixed and no response from OP.

[2018-06-19 03:16] #484 closed

[2018-06-19 03:21] EisenbergEffect commented on #693
Closing since the behavior is working as designed and we have a solution recommendation.

[2018-06-19 03:21] #693 closed

[2018-06-19 07:43] fkleuver commented on #694
That got me to realize, it's actually possible with the latest version to achieve something very similar via tagged template literals:

[code]

[code]

The main drawback of course is that you need to have the function in your viewModel. You could declare it somewhere as a standalone function and simply import+assign it.

Not quite as clean as a value converter but it it's a viable option in some c

[2018-06-21 09:50] qraynaud commented on #586
As stated in my bug above aurelia/templating-binding#127, this is not only unparser that has a problem.

`4/2*10` is equal to `0.2` according to aurelia now. This is new!
And `4-2+10` is equal to -8. That is a real problem. A lot of things behave like right associativity or like + and * have a higher precedence than - and / (respectively).

Here is a gist demonstrating that: https://gist.run/?id=8

[2018-06-21 10:16] Mobe91 opened #695 "Escape binary operators in property path expressions"
My backend delivers generic attributes for an article in a JSON structure like:
[code]
I want to observe changes to this structure using Aurelia's binding engine like so:
[code]
However, the Aurelia expression parser produces Binary expression nodes for the input string 'attributeValues.e0b77a97-6b7c-0000-0000-000000000000'. Is there any way to wrap or escape the string to make the parser treat th

[2018-06-21 10:41] fkleuver commented on #586
What exact version of binding is that?

[2018-06-21 11:33] fkleuver commented on #586
This is actually a separate issue from the unparser issue you're replying to. It somehow slipped through the cracks in my refactoring - it's quite a nasty one indeed. I fixed it right away. Thanks a lot for pointing it out!

[2018-06-21 11:43] bigopon commented on #695
From the look of your object,

[code]

should work as expected. Also you will need to store references to those observers to dispose them later.

[2018-06-22 01:13] pkozul opened #697 "Latest version (2.1.0) does not work in IE 10"
After creating a new app using `aurelia-cli` and then updating `aurelia-binding` to the latest version (2.1.0), the app fails to run on IE 10. The error is shown below:

![image](https://user-images.githubusercontent.com/2073827/41752687-63f9f93c-760c-11e8-9d2b-1f9029797ef5.png)

Looks like some calls to `Array.find()` were added in the latest version, but `aurelia-polyfills` does not contain a po

[2018-06-22 06:39] Mobe91 commented on #695
@bigopon my bad, I have edited my original question to reflect the actual article object structure. But the point is that `-` is treated as binary arithmetic operator and not as party of the property name.

[2018-06-22 22:32] fkleuver commented on #695
The parser only accepts valid JS expressions, and effectively what you're trying to parse is this:

[code]

Which is not valid JS.

Here's what would work:

[code]

Changing your code to this (taking the liberty of turning it into a template string, but that's up to you):

[code]

[2018-06-22 23:18] fkleuver commented on #697
Thanks for reporting this!

@EisenbergEffect  this is fixed by https://github.com/aurelia/binding/pull/698

[2018-06-22 23:19] EisenbergEffect commented on #697
Release coming in just a few minutes.

[2018-06-22 23:19] #697 closed

[2018-06-22 23:39] huochunpeng commented on #586
@EisenbergEffect pls reopen this issue. It was auto-closed by github since #696 mentioned, but that fix is for a new issue raised by @qraynaud here.

[2018-06-22 23:41] EisenbergEffect commented on #586
Sorry about that folks! Reopening.

[2018-06-28 08:12] Mobe91 commented on #695
@fkleuver Thank you, `attributeValues['0aaf8418-9c5c-0000-0000-000000000000']` works.

[2018-06-28 08:12] #695 closed

[2018-07-03 03:58] rmja opened #699 "Add protection agains double registration on Array.prototype.*"
**I'm submitting a feature request**

* **Library Version:**
1.* and 2.*

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.2.1

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
webpack 3.12.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Aurelia binding is [current being included in the dependency graph in two version

[2018-07-04 08:41] zakjan opened #700 "Static arrays are parsed as functions in binding syntax"
**I'm submitting a bug report**

* **Library Version:**
2.1.1

**Current behavior:**
[code]
throws
[code]

**Expected/desired behavior:**
no error

[2018-07-04 08:42] zakjan commented on #700
I have updated all libraries to the latest version. Weird I can't replicate it in the gist.

[2018-07-04 11:43] Alexander-Taran commented on #699
The double version should be fixed by now.
All dependencies have been updated to use ^2.x version

[2018-07-05 14:52] imran-khan77 commented on #263
Daaaamn! it was just this :-o
Great thanks !

[2018-07-11 06:33] fkleuver commented on #700
Sorry for the late follow-up. This is indeed a regression in v2 and I'm guessing the gist is v1. I just submitted a PR that will fix this.

[2018-07-11 06:34] fkleuver commented on #694
@asahui Have you tried tagged templates?

[2018-07-11 06:36] fkleuver commented on #699
I suppose we could add a simple global object thing as a patch to both `v1` and `v2`, and throw an error or log a warning. The double version was "fixed" multiple times but I'm sure it will keep popping up now and then for various reasons. This is an unfortunate thing in the way webpack bundles modules..
@bigopon any thoughts?

[2018-07-11 07:05] zakjan commented on #700
Thanks!

It would be nice to show all current versions in the gist, I couldn't find them, even in the source.

[2018-07-11 14:00] fkleuver commented on #700
Try stackblits? :) https://stackblitz.com/edit/aurelia-base-exg4rv?file=app.js

[2018-07-13 04:14] #700 closed

[2018-07-26 00:14] huochunpeng opened #702 "[task] to resolve aurelia-binding v2/v1 duplication in webpack/jspm bundles"
Originated from https://github.com/aurelia/templating/issues/575#issuecomment-407920042

Previously @EisenbergEffect released new parser in `aurelia-binding` v2 to make it a safe opt-in. But since then, aurelia core libs have been updated to depend on v2.

But if you have some 3rd party plugin (very likely) still asks `aurelia-binding` `^1.x.x` in the `package.json`, you end up with 2 versions of

[2018-07-26 03:55] huochunpeng commented on #702
Temporary solution: Update webpack.config.js using alias to force one version of binding

[code]

[2018-07-26 21:43] ItWorksOnMyMachine commented on #163
+1 for this issue.

[2018-08-01 03:27] #699 closed

[2018-08-06 03:57] asahui commented on #694
@fkleuver I am really sorry that I am so busy recently that I forget this stuff. I tried your tagged templates and it works like a charm. As you say, we prefer value converter which is in line with other code. Introducing a tagged function can just be a viable option in some cases.

Anyway, thanks for your help.😊

[2018-08-07 09:42] zakjan opened #706 "Array.prototype.__au_patched__ should not be enumerable"
**I'm submitting a bug report**

* **Library Version:**
1.7.2, 2.1.3

**Please tell us about your environment:**
* **Node Version:**
9.11.1

* **NPM Version:**
6.3.0

* **JSPM OR Webpack AND Version**
webpack 4.16.4

* **Browser:**
Chrome 68

* **Language:**
TypeScript 2.9.2

**Current behavior:**
`Array.prototype.__au_patched__` is enumerable, `for (var i in array)` iterates over it

**Expected/d

[2018-08-07 11:04] bigopon commented on #706
@zakjan my rookie mistake. Thanks for this issue.

[2018-08-07 11:17] zakjan commented on #706
Thanks for the fast fix!

[2018-08-07 16:14] Ra-Sedgwick opened #708 "IE11 - repeat.for with sort value converter not updating component after sort direction changes."
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.3

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
Gulp 4

* **Browser:**
IE 11

* **Language:**
TS v2.1.6

**Current behavior:**
repeat.for with sort value converter failing to update component.

I have a select list sor

[2018-08-08 01:44] huochunpeng commented on #708
I think you mean v1.3.0 for aurelia-framework. The current version for aurelia-binding is v2.1.3.

[2018-08-08 12:16] Ra-Sedgwick commented on #708
You are correct, I've updated with my aurelia-binding version.

[2018-08-08 13:06] Ra-Sedgwick commented on #708
I've determined the root cause.

Using the size attribute on a select element seems to be preventing the list from updating.
As gist.run is not working in IE 11 I've updated a skeleton app to recreate the issue.

[Bug Demo Project](https://github.com/Ra-Sedgwick/aurelia-select-bug)

[2018-08-09 01:53] #706 closed

[2018-08-10 02:32] huochunpeng opened #709 "[suggest] support Array.isArray and Number.isFinite in expression"
**I'm submitting a feature request**

* **Library Version:**
2.1.4

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
all

* **NPM Version:**
all

* **JSPM OR Webpack AND Version**
NA

* **Browser:**
all

* **Language:**
all

**Current behavior:**
`Array.isArray` and `Number.isFinite` is not visible because it's not in scope of binding context.

**Expected

[2018-08-12 07:44] fkleuver commented on #694
@asahui Thanks for the feedback, glad to know it works well!

@EisenbergEffect Seems this one can be closed

[2018-08-12 08:25] fkleuver commented on #709
Hmm. Exposing globals is something I discussed with @EisenbergEffect a couple months ago and there was some reason not to do that. Not sure exactly what that reason was.

**Tricky to implement?**
Not really. I'd do that with an extra object lookup during member expression parsing, and send matches off into a new `AccessGlobal` AST class that exposes just this limited API surface.

**Implement as `

[2018-08-12 08:56] fkleuver commented on #708
I was able to reproduce this on IE11.
Here's the crazy part (or maybe not-so-crazy; we're talking about IE, after all..)

You can see the DOM update when you inspect it (note that Zulu is on top):
![image](https://user-images.githubusercontent.com/9655331/44000282-56d38cb2-9e1d-11e8-8737-8bffa7b70fe1.png)

But the visual update does not occur (note that Zulu is still at the bottom):
![image](https

[2018-08-12 09:01] #709 closed

[2018-08-12 09:16] bigopon commented on #708
Wow, that's ... crazy when hand editing the DOM doesn't cause IE to re-render. I'm not even sure if this is Aurelia related.

[2018-08-12 09:26] bigopon commented on #708
Changing the size attribute to 1 and revert it back to 3 will make IE rerender the select. So the workaround is

[code]

@Ra-Sedgwick nice bug that you discovered there. @fkleuver you are right about it not being so crazy 😄

[2018-08-12 11:32] fkleuver commented on #294
I thought about making a proper style declaration parser + AST as a plugin for vNext. That should make it a breeze to solve this issue as well as https://github.com/aurelia/binding/issues/680
@EisenbergEffect shall we rephrase this as a todo for vNext or what do you think?

[2018-08-12 11:36] fkleuver commented on #314
Having gone completely through the element observers as well as the relevant parts of the spec, it looks like this can be solved properly. There was also a bugfix related to this in FF a few months ago. Will definitely be fixed in vNext

[2018-08-12 11:38] fkleuver commented on #205
Will be solved in vNext via the `BindingFlags`.

[2018-08-13 01:10] #694 closed

[2018-08-13 14:12] fkleuver commented on #708
@bigopon Interesting that that works..
@Ra-Sedgwick Is this an acceptable workaround for you?

[2018-08-13 14:44] Ra-Sedgwick commented on #708
Thanks for the workaround @bigopon its cleaner then what I came up with.

In my app I'm applying a filter via a value converter as well and this workaround still has issues if the list has been filtered.

The first time the sort direction is toggle (with a filter applied)  the select box still fails to update, however any subsequent toggles work.

Introducing a slight delay has everything working

[2018-08-15 08:25] avrahamcool opened #710 "array repeat not respecting clearing array by setting length to 0"
**I'm submitting a bug report**

* **Library Version:**
2.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.11.1

* **NPM Version:**
6.1.0

* **yarn Version:**
1.7.0

**Current behavior:**
when using `repeat.for` on an array,
clearing the array by setting his length to 0 is not recognized.

**Expected/desired behavior:**
mutation to the leng

[2018-08-15 22:44] huochunpeng commented on #710
I can reproduce this easily.
https://gist.run/?id=52bbef7ff6b52a39059c2d13f7206fbf
Even worse, the repeat.for doesn't remove dead items even after another push.

@bigopon another regression in repeat :-(

[2018-08-15 23:39] bigopon commented on #710
@avrahamcool Thanks for the issue. @huochunpeng @avrahamcool  This feature has never been supported and Aurelia has never made any attempt to intercept `length` property setter.

@jdanyow put it in backlog here #465

I may give it a go after the static router / or if someone feels like picking this up, please send help.

[2018-08-15 23:40] bigopon commented on #710
@avrahamcool You can also use `array.splice(0)` to empty the array, just another work around 😃

[2018-08-15 23:42] huochunpeng commented on #710
So what's this designed for?

https://github.com/aurelia/binding/blob/a631a77c8f3f2676f2770c4ed5be3a801a4352cf/src/collection-observation.js#L110

https://github.com/aurelia/binding/blob/a631a77c8f3f2676f2770c4ed5be3a801a4352cf/src/observer-locator.js#L168-L170

[2018-08-15 23:51] huochunpeng commented on #710
Nvm I got that the code is doing.
It seems to me, without extending ArrayObserver on length, repeat can support this by adding a propertyObserver on items length, then trigger instanceChanged.

[2018-08-16 07:02] avrahamcool commented on #710
also, other binding to the array length are not respected.
e.g: interpolation of the length inside the view is working fine for add etc..., but not showing 0 when I set 0 directlly.

https://gist.run/?id=515a8971ed6d13cee5bf79a401cdec44

this might be a different issue.

[2018-08-16 07:06] bigopon commented on #710
That's the same issue. The way `length` observer works is exactly the same with how normal array mutation detection works. It assumes `length` only change on mutation, and it also assumes mutation is only done via `push, pop, shift, unshift, reverse, sort, splice`.

[2018-08-27 15:45] Jenselme commented on #163
I think you should use `click.trigger` instead. See https://aurelia.io/docs/binding/delegate-vs-trigger#delegate-vs-trigger

[2018-08-28 07:05] jalmansa88 commented on #163
Thanks, works fine.

[2018-08-31 21:33] fkleuver commented on #710
@avrahamcool @huochunpeng @bigopon

Just to clarify here:

- This is not a regression since it has never worked
- This is not a bug because it cannot work and isn't documented to work (and was never intended to)

The `length` property descriptor of the `Array` prototype is not configurable, this is [by design of the ES spec](https://tc39.github.io/ecma262/#sec-properties-of-array-instances-length)

[2018-08-31 21:38] fkleuver commented on #708
@EisenbergEffect I don't think this is something we can / want to fix since it's a very quirky IE11 thing. But we may want to keep this open as a todo to document this somewhere, or simply to make this easier to find for other people with the same issue. What do you think?

[2018-08-31 21:46] fkleuver commented on #559
@bigopon I was looking through some issues we might be able to tackle in vNext. This one sounds interesting but I'm not entirely sure I understand the desired functionality / use case. Do you have any idea?

[2018-08-31 21:51] fkleuver commented on #465
Just FYI, the only proper way to do this is with proxies. See https://github.com/aurelia/binding/issues/710#issuecomment-417794913

[2018-08-31 22:48] bigopon commented on #559
@wesleyolis Am I right that you are proposing to change the way how Aurelia see the `event-path`, by defining it somewhere using either attached / detached  DOM tree and later lookup based on a special property on each element along the `event.paths` ?

If so, I think this feature goes too far away from how a standard event works, it should be only supported if we have a plug-able way to do this.

[2018-08-31 23:44] EisenbergEffect commented on #710
Let's keep this as a maybe for vnext.

[2018-08-31 23:44] #710 closed

[2018-08-31 23:45] EisenbergEffect commented on #708
Definitely would be good to document this.

[2018-09-13 21:34] jmzagorski opened #713 "One-Way adds 'undefined' property value on object with no properties"
**I'm submitting a bug report**
Although I am sure this is the expected behavior and my scenario might be an edge case.

* **Library Version:**
1.6.0 (aurelia-framework 1.2)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.9.4

* **NPM Version:**
6.3.0

* **JSPM OR Webpack AND Version**
webpack 3.12.0

* **Browser:**
all

* **Language:**
all

*