[2018-09-13 23:50] bigopon commented on #713
The behavior you see is because that's how Aurelia observation works. Property interceptors need to be installed upfront in order to detect changes so it can work when you do `this.foo.bar = 'random message'`.

[2018-09-14 12:36] jmzagorski commented on #713
Thanks for the reply, and from debugging the code I could tell this was the expected behavior of the binding system. Maybe this is more of a documentation item since it can be the source of bugs in a state driven application that expects all changes to come from one function. Especially since Aurelia has the aurelia-store plugin, which includes documentation on the Redux DevTools. Using the Redux

[2018-09-14 13:05] bigopon commented on #713
The documentation part could always use some help. At the moment, `how it works` section (https://aurelia.io/docs/binding/how-it-works) covers high level perspective and is lacking part like this. Would be nice if you could help add some more 😉

[2018-09-14 13:08] jmzagorski commented on #713
Absolutely, I will work on that. Anything to help out.

[2018-09-14 23:31] ghiscoding commented on #347
@EisenbergEffect
Will Aurelia vNext have a better support of `boolean` and `number` with bindable? It's kinda of annoying seeing their type changing to `string` instead of what they really are. Until then, I'll keep the number value converter that I've put in place to deal with them.

Quite nice to see so much commits and PRs happening on the [aurelia/aurelia](https://github.com/aurelia/aurelia) v

[2018-09-15 00:10] EisenbergEffect commented on #347
@ghiscoding That's a great question. To be honest, that's a behavior we've struggled with on what the right solution is. @fkleuver is doing most of the vNext binding engine work. I'd love to hear what his thoughts are on it. I'd wager a bit that it's much easier to accomplish this in vNext given that the new engine is much more powerful and extensible.

[2018-09-15 15:47] fkleuver commented on #347
@ghiscoding
As you may know this is a problem with the HTML specification. The `value` property of an `input` element will always coerce to string, no matter what its `type` is.
The current binding system simply keeps the values as they are, which on a fundamental level is the right thing to do as it is consistent with how HTML behaves. But in this case HTML kind of misbehaves.

About a month ago

[2018-09-15 18:08] EisenbergEffect commented on #347
Thanks @fkleuver !

[2018-09-17 15:20] gman7911 commented on #427
I Have this issue when editing numeric fields as described above, with a ValueConverter, is there a solution for this without major re-coding. @thiagomaia971 did your CusomtAttribute handle the caret position correctly? Do you have an example?

[2018-09-24 11:14] jalmansa88 commented on #137
Hello,

The documentation is not completed. Check:

[code]
The "following syntax" is missing.

I tried using
`repeat.for = 'i of arr.length` and does not work neither. The array is not updated in view.

[2018-09-25 01:58] krisdages opened #715 "Inconsistent behavior between style.bind="{}" and style.bind="{ property: undefined }" in newer Chrome"
**I'm submitting a bug report**

* **Library Version:**
2.1.4

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu Bionic)

* **Node Version:**
Electron 3.0

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.48

* **Browser:**
Electron 3.0 (Chrome 66)

* **Language:**
Typescript 3.0

**Current behavior:**
Using style.bind="{ property: undefin

[2018-09-25 04:51] krisdages commented on #715
Thanks for the tip...  I had been using css.bind for a long time because I thought it was equivalent and avoided some browser-specific quirk with the word "style".

I tried modifying my demo gist to use style.bind to the object, and the issue still occurs identically.

[2018-09-25 04:57] huochunpeng commented on #715
Instead of using `{color: undefined}`, use a proper css value like `{color: 'inherit'}` or `{color: 'unset'}` can clean up the old value. That can normalise your problem on browsers.

[2018-09-25 05:30] huochunpeng commented on #715
I understand your point. My argument is that `undefined` is not a proper css value, all css values should be string. I think it's fragile to rely on Aurelia to delete the key with `undefined` value, since Aurelia never had official document to support that behaviour.

[2018-09-25 05:51] krisdages commented on #715
True, but if you bind the style property to an object, don't you expect the style properties to reflect the object (and only the object, unless you are mucking around doing manual changes outside of your binding)?

If I bind style to `{ color: "green"; }`, then change it to `{ border: "1px red solid" }`, I'd expect the color to be unset and the border to be set, and vice versa.

And I think it'd b

[2018-09-25 05:54] krisdages commented on #715
I agree about undocumented behavior though;
but maybe the more intuitive behavior should be documented rather than having a more surprising undocumented behavior remaining.

I could be wrong about what is intuitive and what's not, though :) Thanks for taking the time to discuss w/ me.

[2018-09-25 05:59] krisdages commented on #715
Also, I just realized... I don't think using "unset" or "inherit" would actually do the right thing in the case where that property is also defined in the CSS class.

If I just want to remove the property from the style attribute, so that the element reverts to the value defined in the class, it needs to be removed from the style attribute.

[2018-09-25 11:35] alaraasa opened #716 "Unwanted letters appearing in text input after number format convert."
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework: "1.3.0"

**Please tell us about your environment:**
* **Operating System:**
Linux Fedora 28

* **Node Version:**
10.11.0

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
none

* **Browser:**
Chrome 69.0.3497.100 | Firefox 62.0

* **Language:**
all

**Current behavior:**
I have a text input. It should only contai

[2018-09-25 14:20] bigopon commented on #716
This is an issue with the lacking of context when evaluating for value inside binding / observer. I'm not sure how this behavior can be fixed without a breaking change, but for vNext, it could be already fixed, or a simple fix since evaluation context can be passed along. My suggestion would be to employ some restriction on acceptable input key code range.
cc @fkleuver @jdanyow @EisenbergEffect

[2018-09-25 16:52] fkleuver commented on #716
@bigopon @alaraasa When you press the same key twice in a row and you have the value converter filter out that value, then the second key press is not detected as an update (it doesn't differ from the source value at that point). Since the source (your view model) doesn't change, the target (the input value) isn't updated either. This is behaving as expected and wouldn't/shouldn't be any different

[2018-09-25 17:03] fkleuver commented on #715
@krisdages @huochunpeng I just want to point out here that there is a big difference between how `null` and `undefined` are treated by the DOM. `undefined` is interpreted as "not a value", e.g. it doesn't set the value (not even to empty string). `null` on the other hand does translate to empty string. This is behaving as expected in that sense. Just a little thing you got to know about.. :)

[2018-09-25 17:29] #713 closed

[2018-09-25 19:02] krisdages commented on #715
@fkleuver Agreed on the way the DOM treats `undefined`.  That's actually why I believe this ISN'T behaving as expected.

The binding of the style attribute to an object should make the style attribute equivalent to the object, meaning the style attribute should contain the properties defined on the object and not contain those that don't.  Since `undefined` is an UNSET value, the style attribute s

[2018-09-25 19:51] fkleuver commented on #715
I think you misunderstood me a little:

What I mean to say here is that `undefined` does not do anything. It neither sets nor unsets the value. `null` is how you unset something.

To illustrate:

[code]

`null` is treated as an empty string by the `HTMLElement` interface as can be seen in the [w3 spec](https://www.w3.org/TR/html52/dom.html#elements-in-the-dom). It works like this in all major brow

[2018-09-25 21:05] krisdages commented on #715
No, we are on the same page about what undefined does. I am suggesting that because setting undefined neither sets nor unsets the value, an undefined value should not be tracked as a set property by the style observer.

Binding to this object: `{ color: "red", zIndex: undefined }`
should result in the same style attribute as binding to this object: `{ color: "red" }`,
which should be `"color:red"`

[2018-09-25 21:28] fkleuver commented on #715
Sorry for nitpicking, but we're really not on the same page about what undefined does x)

the result style attribute string is "color: red; z-index: 100"

This is exactly as you would expect it to behave, and it is very much deterministic.

Setting a style property to `undefined` is equivalent to *not performing any operation on it*.

So if you first set the `zIndex` property to some non-undefined

[2018-09-25 22:17] bigopon commented on #716
Nice @fkleuver. I missed that :+1:

[2018-09-26 07:59] alaraasa commented on #716
@fkleuver This works perfectly. Thank you! :slightly_smiling_face:

[2018-09-26 20:30] krisdages commented on #715
When I say the binding is not deterministic, what I mean is that I don't naturally consider a binding to be a series of applied instructions; rather I would expect any particular style object to have a corresponding string representation as a style attribute.  And this is not the case when the same object (with some property set to undefined) bound to style results in two different styles (as you

[2018-09-26 21:36] fkleuver commented on #716
You're welcome!
@EisenbergEffect seems this can be closed :)

[2018-09-26 23:10] #716 closed

[2018-09-27 00:16] krisdages commented on #715
Very good points about philosophy ... and using a value converter would be a good solution (though I'd probably not mutate the object in that converter).

I guess part of my concern was my sense that what the binding does is transform the object to an equivalent style string -- it's binding an object to a string attribute after all, and using an object is presented as an alternative to string inte

[2018-09-27 01:34] fkleuver commented on #715
`StyleObserver.subscribe` will throw an error. It doesn't support two-way binding (same goes for any other element attribute that does not dispatch an event when it changes). This will be supported in vNext however (via MutationObservers).

It doesn't. It's literally as if you're working directly with the `style` property of an element in javascript:

[code]

This is **identical** to:

[code]

[co

[2018-09-27 02:00] bigopon commented on #715
---- Advertisement plug start -----
https://github.com/bigopon/aurelia-style-binding-command-plugin for two way binding with `[style]`:
[code]
---- Advertisement plug end -----

[2018-09-27 21:19] krisdages commented on #715
I think this would be great to have in the docs to clarify the string vs object bindings.

[2018-09-27 23:30] fkleuver commented on #715
In vCurrent there's no true pluggable way of doing that (there will be in vNext), but it's easy nonetheless: either monkey patch the `StyleObserver` or, if you want a more OO approach, derive a new implementation from it and the observerlocator and return your own version instead. I generally can't think of a cleaner way to globally modify the behavior of an observer other than to simply modify th

[2018-10-10 09:00] Mobe91 opened #718 "Support value converter for .call binding arguments"
**I'm submitting a feature request**
* **Library Version:**
2.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.9.0

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
all

**Current behavior:**

An expression like
[code]

results in a parsing exception:
[code]

* **What is the expect

[2018-10-10 09:11] huochunpeng commented on #718
You can do two steps approach with latest `let` feature. I didn't test it though.

[code]

Be careful about the attribute name convention.

[2018-10-12 12:05] edwardridge opened #719 "File input - clearing the variable and re-selecting the same file doesn't update variable"
**I'm submitting a bug report**

* **Library Version:**
1.6.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
8.9.4

* **NPM Version:**
4.0.5

* **Browser:**
Chrome Version 67.0.3396.99
* **Language:**
TypeScript 2.2.1

**Current behavior:**
When using .bind on an input of type "file", setting the bound variable to null isn't reflected within t

[2018-10-14 16:50] Alexander-Taran commented on #719
You can't change selected file via javascript. It would be a security breach.
And since there is no real change in file input - it does not raise the change event.
Working as expected.

[2018-10-14 16:51] Alexander-Taran commented on #718
@huochunpeng omg.. it is happening..

[2018-10-14 21:04] huochunpeng commented on #718
@Alexander-Taran umm, what?

[2018-10-15 08:13] Alexander-Taran commented on #718
properties declared in view leak into model (-:

[2018-10-15 10:40] edwardridge commented on #719
The issue isn't changing the file via javascript- it's about clearing the bound variable then re-selecting the same file. If you do that, the bound variable is still set to null (whereas it should be reset to the same file). Is there a workaround for this?

[2018-10-15 13:15] Alexander-Taran commented on #719
yes. there is a workaround: do not use binding to files
https://github.com/aurelia/binding/issues/314#issuecomment-379259291

[2018-10-26 14:02] cirelli94 commented on #271
Nowadays it still not in the [cheat sheet](https://aurelia.io/docs/fundamentals/cheat-sheet#custom-elements), or I'm wrong?

[2018-10-26 21:47] EisenbergEffect commented on #271
@cirelli94 I went looking and didn't find that detail either. It must has slipped through the cracks. Would you be interested in submitting a PR to our documention? It would be a great contribution and would help the community. Here's the source file for the cheat sheet: https://github.com/aurelia/framework/blob/master/doc/article/en-US/cheat-sheet.md If you wanted to go for extra credit, you coul

[2018-10-29 06:13] Mobe91 commented on #718
Thanks for the explanation and for the suggested workarounds. 👍

[2018-10-30 21:46] jeffflater opened #723 "Message: Class constructor BindingLanguage cannot be invoked without 'new'"
**I'm submitting a bug report**
The issues occurs when using "aurelia-framework": "1.2.0" and started when the aurelia-binding@2.1.6 was published.

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v6.10.2

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.1

[2018-11-01 12:05] StrahilKazlachev commented on #723
It's like `BindingLanguage` is being extended - the subclass being compiled in *ES6* and the parent class being in *ES5*.

[2018-11-13 06:04] pj41195 commented on #723
@jeffflater @bigopon @jeffflater  I am facing the same issue. could anyone tell me what to do ?

[2018-11-13 06:07] bigopon commented on #723
@pj41195 Can you try delete `node_modules` and `package-lock.json`, and do a fresh npm install?

[2018-11-13 06:33] bigopon commented on #723
Can you share a reproduction ? @pj41195

[2018-11-13 06:59] pj41195 commented on #723
**"aurelia-framework"**: 1.2.0
**"npm"**: 6.4.1
**aurelia-binding@1.7.3**
**aurelia-templating-binding@1.5.2**
 **babel-polyfill@6.26.0**

These are the version which i am using.

I think it is surely related to some package upgradations. Previously it is working fine but after Jenkins rebuild the project, after that it is throwing an error

[2018-11-26 23:38] silbinarywolf opened #727 "Feature:"
**I'm submitting a feature request**

* **Library Version:**
1.7.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.11.1

* **Yarn Version:**
1.5.1

* **Language:**
TypeScript 3.0

**Current behavior:**
We do not get any type safety when using @computedFrom. A few blogs give users a method for extending @computedFrom manually, but why not just

[2018-11-26 23:49] bigopon commented on #727
@silbinarywolf Awesome issue. It would be nice if you could help update the typings here https://github.com/aurelia/binding/blob/master/src/aurelia-binding.d.ts#L877

[2018-11-26 23:50] bigopon commented on #723
@pj41195 Hey sorry for late reply, have you solved this?

[2018-11-26 23:52] fkleuver commented on #723
@jeffflater @pj41195 Is upgrading to binding 2.x an option?

[2018-11-27 00:07] silbinarywolf commented on #727
I experimented locally with putting this in as so:
`node_modules\aurelia-binding\dist\aurelia-binding.d.ts`
[code]

However, what I found was that `keyof` doesn't work with `private` members. So now Im not so sure on this feature as I wouldn't want inexperienced programmers to think they should make various members "public" because that gives less errors.

[2018-11-27 00:13] silbinarywolf commented on #727
There's a thread discussing the problem in detail here:
https://github.com/Microsoft/TypeScript/issues/13543

[2018-11-27 00:31] bigopon commented on #727
Nice. I didn't notice that. Thought it was for diffing

[2018-11-27 13:01] pj41195 commented on #723
@jeffflater @bigopon Yes this problem is solved by updating few packages..

 **"aurelia-fetch-client": "1.4.0",
    "aurelia-framework": "1.2.0",
"aurelia-templating": "1.10.0",
    "aurelia-templating-binding": "1.4.2",
    "aurelia-templating-resources": "1.6.0",
    "aurelia-templating-router": "1.3.1",
 "aurelia-api": "3.1.1",
    "aurelia-binding": "1.7.1",**

But it creates another problem f

[2018-12-10 10:53] schnetzi commented on #42
How should it be solved in the frontend to iterate over an `ModifyArrayObserver` to render entries of the array?

[code]

Because the length is 0 I don't get rendered anything at all. Or do I miss anything? Thanks in advance!

[2018-12-10 10:57] bigopon commented on #42
@schnetzi Can you help post your question on Discourse https://discourse.aurelia.io? It will be easier to follow up there. Also would be nice if you could give some more details of what you want to achieve.

[2019-01-06 12:47] Alexander-Taran commented on #30
@EisenbergEffect mentioned this one in vNext cases
this one can be closed I guess

[2019-01-06 18:16] Alexander-Taran commented on #163
@EisenbergEffect added to vNext candidates list.
Can be closed
as workaround works fine in vCurrent

[2019-01-06 18:33] Alexander-Taran commented on #294
@EisenbergEffect added to vNext candidates list.
Can be closed

[2019-01-06 22:40] #163 closed

[2019-01-06 22:42] #263 closed

[2019-01-06 22:42] #294 closed

[2019-01-07 10:09] #314 closed

[2019-01-07 10:20] Alexander-Taran commented on #347
There is now an aurelia-contrib plugin for that.
https://github.com/aurelia-contrib/aurelia-typed-observable-plugin

@EisenbergEffect issue can be closed

[2019-01-07 15:32] #30 closed

[2019-01-07 15:54] EisenbergEffect commented on #347
@thomas-darling Can you move this comment to an RFC for vNext? Here's a link to where you can do that: https://github.com/aurelia/aurelia/issues/new/choose I do agree this should be discussed. I've found this to be a pain as well and we've heard pretty consistent feedback on that over the years.

[2019-01-07 17:42] Alexander-Taran commented on #347
@thomas-darling the plugin is from a core team member.
I doubt that we will see support for this in the core of vCurrent any time soon.
As I heard basic support for typed property bindings is already in the works in vNext.
I want to thank you as well for such a nice summary of your pains.

I still propose to close this issue.

[2019-01-07 17:52] Alexander-Taran commented on #458
or @jods4 ? (-:

[2019-01-07 17:53] Alexander-Taran commented on #465
@fkleuver what would be the vNext strategy on this?

[2019-01-07 23:43] fkleuver commented on #347
I don't think this one should be closed just yet because it really isn't hard at all to add it to vCurrent. It's just a matter of making ObserverLocator smarter with awareness of what value types the various attributes can have, and letting it return correctly typed observers for that. Related to https://github.com/aurelia/aurelia/issues/75

I wouldn't want to "half-ass" this though. I want do a p

[2019-01-08 09:08] jods4 commented on #458
@Alexander-Taran
Unfortunately the plunker is gone but I think the description of the problem is clear?

[2019-01-08 10:31] thomas-darling commented on #347
I've added a comprehensive RFC based on my previous comments.
Let's continue the discussion in there :-)

https://github.com/aurelia/aurelia/issues/368

[2019-01-17 08:24] Mobe91 opened #730 "propertyAccessor not triggering DOM MutationObserver for custom attributes"
I have a view with a select element:
[code]
I overlay this select element with a bootstrap selectpicker. This picker needs to be refreshed whenever the underlying select element changes (i.e. options updated etc). For this purpose, I use a DOM MutationObserver on the select element like:
[code]
The issue is, that any update to `opt.key` will be applied to the target `option` DOM element by the aur

[2019-01-17 12:56] Mobe91 commented on #730
See the discussion on https://github.com/aurelia/binding/pull/731 for a solution to this issue.

[2019-01-17 12:56] #730 closed

[2019-01-17 13:08] bigopon commented on #568
This has been fixed in templating. Demo at https://codesandbox.io/s/8lj0k0xln0

@EisenbergEffect can be closed.

[2019-01-17 13:09] bigopon commented on #568
@Mario050 the bundle used in the gist ins't the latest version of Aurelia, so it still reflect the bug, but it has been fixed. Thank you for reporting this bug.

[2019-01-17 13:16] bigopon commented on #676
The error comes from `ref` binding, which happens when names of reference cannot be found. I think:
1. it's a must that this fails hard & fast
2. this error should be documented.

Would be nice if @Anthony-Mckale or some community member could help with this 😃

[2019-01-17 14:27] GabrielMancik opened #732 "Computed property is re-calculated even when nested computed property has not changed"
I have computed property A which is dependent on X (`@computedFrom('X')`) and computed property B which is dependent on A (`@computedFrom('A')`).

My question is: if x changes, but the result of A does not should B be re-calculated?
It seems that it is. Is this by design? I was not expecting it.

[2019-01-17 15:52] #568 closed

[2019-01-18 23:52] #702 closed

[2019-01-18 23:53] EisenbergEffect commented on #718
Closing since we won't be attempting this in vCurrent and we've got a workaround or two in place.

[2019-01-18 23:53] #718 closed

[2019-01-19 15:31] mohammadamini0023 commented on #723
nakun

[2019-01-19 15:31] mohammadamini0023 commented on #723
kir tutun

[2019-01-19 22:37] bigopon commented on #723
@mohammadamini0023 are you having the same issue?

[2019-01-20 20:55] behel33 opened #733 "blur"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all | Chrome XX | Firefox XX |

[2019-01-21 01:33] bigopon commented on #733
@behel33 Thanks for creating the issue, I couldn't recreate the behavior you described, can you help fix this codesandbox https://codesandbox.io/s/x761qq5p3q

[2019-01-21 01:34] bigopon commented on #732
@GabrielMancik Can you help create a playground for this based on this template https://codesandbox.io/s/wnr6zxv6vl

[2019-01-21 15:11] reinholdk opened #734 "path expressions containing 'in' no longer working, 'in' treated as keyword"
**I'm submitting a bug report**

* **Library Version:**
2.1.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.12.0

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.47

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**

[code]

**Expected/desired behavior:**

It is shall be possible to use the 'in' ke

[2019-01-21 15:18] reinholdk commented on #734
Looks like a regression introduced by #689

[2019-01-21 15:40] fkleuver commented on #734
Hi @reinholdk, in principle we follow a subset of the ECMAScript specification for our expression syntax, with the exception of the operators `|` and `&` (for value converters and binding behaviors, respectively). This is specified in the [expression syntax documentation](https://github.com/aurelia/documentation/blob/master/current/en-us/4.%20binding/1.%20basics.md#expression-syntax)

For parts of

[2019-01-23 15:33] reinholdk commented on #734
I see, the proposed workaround is working for me. So adding it to the documentation is probably a good idea.

Thanks for the quick response!

[2019-01-27 23:47] Alexander-Taran commented on #562
@EisenbergEffect added to vNext candidates list.
Maybe can be closed

[2019-01-28 04:18] #562 closed

[2019-01-28 23:18] huochunpeng commented on #409
@robharper see
https://github.com/aurelia/aurelia/issues/116#issuecomment-458332326 about the require out of tr thing.

[2019-02-04 13:08] dhanapalschandran opened #736 "Issue with aurelia/binding typings"
![image 6](https://user-images.githubusercontent.com/9696305/52210338-c8cee900-28ac-11e9-9d24-eb5802105b15.png)
Hi Team,

  After the recent commit we are getting the build issue related to Disposable, Callable interface in typings, which was expected in aurelia templating,
 Now once we fall back to 2.1.7 version, it works fine.
 Kindly let us know when it will be resolved.

[2019-02-04 13:13] bigopon commented on #736
@dhanapalschandran Thanks for filing this. Can you help paste the full error message? It seems important parts of the error were not captured.

[2019-02-04 13:15] dhanapalschandran commented on #736
Hi @bigopon , I have provided the screenshot of the error we got during gulp build, Thanks.

[2019-02-04 13:16] bigopon commented on #736
@dhanapalschandran I see the updated picture. I'm curious about your usage, as it seems you are importing `bindingMode` from `aurelia-templating`?
As far as I know, it should have never worked because it's the import from `aurelia-binding`. The only module that reexport `bindingMode` is `aurelia-framework`, which means:

[code]

[2019-02-04 13:17] dhanapalschandran commented on #736
Yes correct, this was error was popped from aurelia-templating index.ts

[2019-02-04 13:45] fkleuver commented on #736
@dhanapalschandran Are you somehow directly installing from the master branch? We are moving towards a new, more streamlined workflow with CircleCI but it seems the build process is not entirely correct yet. The dist files do seem to be missing stuff. Will fix this asap

[2019-02-06 17:50] glen-84 opened #737 "Issue with interpolation binding inside HTML `<option>` element"
**I'm submitting a bug report**

* **Library Version:**
2.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.1

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
any

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Using an interpolation binding inside an HTML `<option>` breaks the bound value of the select element

[2019-02-06 22:01] bigopon commented on #737
@glen-84 Could you help describe how it is breaking a bit? I changed `void` to `await` and see CPU everytime. Sandbox https://codesandbox.io/s/ql5o7k2zo6

[2019-02-07 06:59] glen-84 commented on #737
We used to avoid using `await` here so that the view could be rendered faster while the select items are "lazy loaded". If there are 5 selects all requiring remote data, this could slow things down quite a bit (even with `Promise.all`, when possible).

If you omit the `await`, but change `${theDefault}` to `--` (for example), it works again.

[2019-02-08 14:45] magnusdanielson commented on #676
@Anthony-Mckale I use ref with enhance and it works if you register your components with .globalResources()
`.globalResources(
      [
        PLATFORM.moduleName("globals/checkaccess")
       ,PLATFORM.moduleName("globals/message")
    ]);`

[2019-02-08 14:48] Anthony-Mckale commented on #676
@magnusdanielson yeah i ended up doing that for the webpack port, i'm now on a new contract doing react work, looking forward to see how aurelia next goes though

[2019-02-09 00:18] behel33 commented on #733
Sorry to answer so late. ;-)
In your  https://codesandbox.io/s/x761qq5p3q under chromium the bug is present.
Chromium : Version 70.0.3538.102 (Build officiel) (64 bits) Windows 10 Pro.
To get the bog ,input keys like this :
input "**45**"
input key **TAB**   => here it become "45.00", and cursor is on second field
input keys **SHIFT+TAB**  => cursor go to first fiels and "45" is selected
input "**

[2019-02-14 03:16] hamez99 opened #738 "Checkbox event arguments in repeaters not binding correctly"
**I'm submitting a bug report**

* **Library Version:**
v1.0.0-beta.13

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.6

* **Node Version:**
11.9
=

* **NPM Version:**
6.5.0
Firefox

**Current behavior:**

I have a checkbox input in a table with a repeater.
i.e.
[code]
...

Whenever isFeatureChanged is fired, "item" is always the first element in the collection.  If

[2019-02-14 03:37] bigopon commented on #738
@hamez99 I'm not seeing the behavior you described. Can you help recreate the issue via this code sandbox https://codesandbox.io/s/2o9wo3485y

[2019-02-14 03:45] hamez99 commented on #738
Thank you for this.  I see what I did wrong now.  It’s a combination of a CSS template that hides the checkbox control and replaces it with a custom symbol using a label tag and non-unique IDs.  Since the IDs are the same on all checkboxes, only the first checkbox’s event gets fired.

From: bigopon <notifications@github.com>
Reply-To: aurelia/binding <reply@reply.github.com>
Date: Wednesday, Febru

[2019-02-14 03:53] bigopon commented on #738
@hamez99 Thanks for confirming. I'll be closing this issue. If you have any other questions, please leverage Discourse forum, it's better for this purpose. It's at https;//discourse.aurelia.io

[2019-02-14 03:54] bigopon commented on #738
@EisenbergEffect I forgot I can't close issue in this repo, can you or @hamez99  close this 😆

[2019-02-14 03:54] hamez99 commented on #738
Thanks again!

[2019-02-14 03:54] #738 closed

[2019-02-16 21:51] behel33 opened #739 "@behel33 Thanks for creating the issue, I couldn't recreate the behavior you described, can you help fix this codesandbox https://codesandbox.io/s/x761qq5p3q"
@behel33 Thanks for creating the issue, I couldn't recreate the behavior you described, can you help fix this codesandbox https://codesandbox.io/s/x761qq5p3q

_Originally posted by @bigopon in https://github.com/aurelia/binding/issues/733#issuecomment-455923053_

Sorry to answer so late. ;-)
In your  https://codesandbox.io/s/x761qq5p3q under chromium the bug is present.
Chromium : Version 70.0.353

[2019-02-17 13:40] bigopon commented on #739
@behel33 The feature you want to have is an advanced scenario, where you cannot let everything run automatically without any issues. Consider what steps need to happen under the hood:

- When input: the value should be kept as is, and update view model, but do not update back to the input
- When blur: the input should only update the appearance, but not the underlying value in view model
- When fo

[2019-02-17 14:53] #739 closed

[2019-02-17 14:53] EisenbergEffect commented on #733
Closing per information on #739

[2019-03-06 09:49] NeelapareddyReshma commented on #104
For this in case if i want to select one dropdown for that i have to provide url link that one it want to redirect to next page how will it work? Can you please clarify this one

[2019-03-06 09:55] NeelapareddyReshma commented on #104
For example in dropdown Text1 is there for that i need to provide href link then it want to navigate to next page. This is the my question.

[2019-03-06 10:07] bigopon commented on #104
@NeelapareddyReshma Is this https://codesandbox.io/s/ypq2lqk5l9 what you want?

[2019-03-06 10:11] NeelapareddyReshma commented on #104
This is a simple drop down right

[2019-03-06 10:13] bigopon commented on #104
yes, it is

[2019-03-06 10:16] NeelapareddyReshma commented on #104
In dropdown we have two options if we click on first option then it should move to other url. 2nd link should not be functional. I mean to say 2nd link should be deadend.

[2019-03-06 10:23] bigopon commented on #104
@NeelapareddyReshma Please help move this to Discourse forum https://discourse.aurelia.io, it's much better for help request purposes.

[2019-03-06 10:26] NeelapareddyReshma commented on #104
i want to get the code of this functionality in aurelia https://codesandbox.io/s/ypq2lqk5l9

[2019-03-06 10:35] NeelapareddyReshma commented on #104
i saw what you were written in file first i will try with this code.

[2019-03-06 10:44] NeelapareddyReshma commented on #104
it's working fine for me.Thanks for your help.

[2019-03-06 11:16] bigopon commented on #104
@NeelapareddyReshma You're welcome. Discourse forum is the best place for you to get help, and help other as well. Please leverage it next time ❤️ https://discourse.aurelia.io

[2019-03-06 11:19] NeelapareddyReshma commented on #104
sure

[2019-03-06 13:59] NeelapareddyReshma commented on #104
Hi bigopon,

we have added the drop down code like the below, but we are not getting how to map the URL
here <voya-field> and <voya-option> are the custom tags.
in html
-------
<div class="max-width-container">
            <voya-field
                type="select"
                label="Select an account"
                hide-label
                class="select-type"

               style="width:1

[2019-03-06 14:03] NeelapareddyReshma commented on #104
HTML Code to access the values from JS:
=========================
`<div class="max-width-container">
            <voya-field  type="select"  label="Select an account" hide-label  class="select-type"    style="width:100px;">
                <voya-option repeat.for="option of options.countries" model.bind="option" value.bind="selectedOption">
                ${option.IDTEXT}</voya-option>
        </

[2019-03-06 14:10] NeelapareddyReshma commented on #141
we have added the drop down code like the below, but we are not getting how to map the URL
here and are the custom tags.
in html
 here voya-field and voya-option are the custom tags
----------------------------------------
<div class="max-width-container"> <voya-field type="select" label="Select an account" hide-label class="select-type" style="width:100px;"> <voya-option repeat.for="option of opt

[2019-03-06 14:14] NeelapareddyReshma commented on #104
how to map above url to first dropdown

[2019-03-06 14:45] NeelapareddyReshma commented on #141
here how to map the list to first drop down.

[2019-03-14 16:10] fragsalat opened #742 "Infinite loop with 100+ observers"
**I'm submitting a bug report**

* **Library Version:**
2.2.0

**Please tell us about your environment:**
* **Operating System:**
All1|10]

* **Node Version:**
11.9.0

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
none

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Aurelia ends in infinite loop when adding more than 100 observers for one expression.
This happens beca

[2019-03-14 18:24] bigopon commented on #742
@fkleuver has made some improvements related to this in vNext. Probably he can give some info on how to backport it.

[2019-03-15 04:02] fkleuver commented on #742
Ha, I knew this was going to surface sooner or later :)

Already fixed in vNext, I have a backport PR in place here: https://github.com/aurelia/binding/pull/743

Just need to make sure CircleCI is working properly with the release script. @bigopon did you have a chance to PR that build script fix?

[2019-03-15 04:11] bigopon commented on #742
Yes https://github.com/aurelia/binding/pull/740

[2019-03-15 04:12] fkleuver commented on #742
@fragsalat if it's not too much trouble to strip out the confidential bits, would you mind sharing a repro? Not because I need the repro per se, but it sounds like a lovely test case to have for vNext as well as vCurrent to build upon. No problem if you can't do it, but asking never hurts :)

[2019-03-15 04:13] fkleuver commented on #742
@bigopon hm why are the declarations still stripped from comments then? https://github.com/aurelia/binding/blob/master/dist/aurelia-binding.d.ts

[2019-03-15 04:14] bigopon commented on #742
I guess it's from old build?

[2019-03-15 04:35] fkleuver commented on #742
No that's from after your merge

[2019-03-15 08:07] fragsalat commented on #742
Hey guys, first of all -> bing thank you for the fast reaction and fix :)
The provided solution still looks somehow overengineered in my eyes but I also don't know the complete context :D
@fkleuver yes I'll provide when I'm at work in like 2 Hours.
The example will be based on a custom Observer I've created which makes it easier to prepare an example. It's observing a property within an array of o

[2019-03-15 09:47] fragsalat commented on #742
This one should reproduce the behavior https://codesandbox.io/s/20lww2lpyj

Initial state 2 children whose can be selected.
When adding 98 more children and try to check one the infinite loop appears and the page should freeze

[2019-03-15 13:19] fkleuver commented on #742
@fragsalat While some things may look weird but in fact have very careful considerations behind them, other things may indeed simply be over engineered due to tunneling. It never hurts to have an extra pair of eyes looking at something :)

The factors at play here:
- The [`addObserver`](https://github.com/aurelia/binding/pull/743/files#diff-42a7be9e56c682d6b42831a2866a4732R19) function runs on alm

[2019-03-15 14:23] fragsalat commented on #742
Ok seems like there went already quite a lot of investigation in here to do such tweaks :)
Thanks for sharing, that are actually very interesting points. Would be interesting to have numbers here but lets stop it for now. I trust you guys you'll do the right thing :)

[2019-03-15 16:35] fkleuver commented on #742
It's funny. I had micro benched this a few months ago because I wanted to re-validate old assumptions just like you did right now. I found quite clear indicators that numeric properties were slower on classes.

Now I wanted to be able to back up the claim I just made and did another (somewhat naive/contrived) microbench, and actually found the opposite.. http://jsben.ch/GiblB

Needless to say, on-

[2019-03-15 16:38] fkleuver commented on #742
I forgot the version increment, anyway, results remain the same http://jsben.ch/xU96A

[2019-03-15 16:47] fragsalat commented on #742
I had the same recently. Before a year I proofed that an iteration approach in our use case were much faster than an recursive approach. Before 1 month we made a similar check and got the exact opposite as well^^

[2019-03-18 04:28] fkleuver commented on #742
@bigopon Have you been able to look into that type def file issue yet? Maybe just add a manual copy step or something

[2019-03-18 21:09] #742 closed

[2019-03-19 09:23] fragsalat commented on #742
Thx for merging. Is there any plan when this will be released?

[2019-03-19 23:28] EisenbergEffect commented on #742
It's already released :)

[2019-03-29 14:54] jmezach commented on #736
I think that d359e83 might have broken this. For example, with aurelia-binding 2.2.0 I can import the disableConnectQueue function from aurelia-binding, but with 2.2.1 I cannot, even though it's available at runtime. This seems like a regression.

[2019-03-29 20:51] bigopon commented on #736
@jmezach nice, thanks for the catch. The issue comes from the fact that typings was commited to `dist` file in this https://github.com/aurelia/binding/commit/f4012aa47b450ee0bb13c87518d31a695767b75d while it should have been committed to typings file in `src`. I'll fix that soon.

[2019-03-31 06:26] bigopon commented on #736
All issues have been fixed after #746 .
It can be closed @EisenbergEffect @dhanapalschandran

[2019-03-31 06:29] #736 closed

[2019-04-08 16:38] gavinaiken opened #747 "click.delegate bindings stop working"
**I'm submitting a bug report**

* **Library Version:**
2.2.1 and above

**Please tell us about your environment:**
* **Operating System:**
OSX 10.14 | Linux (CentOS)

* **Node Version:**
10.15.2

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.54

* **Browser:**
Tested in: Chrome 73 | Firefox 66

* **Language:**
ESNext

**Current behavior:**
With version 2.2.1 or 2.3.0 of au

[2019-04-08 20:43] bigopon commented on #747
@gavinaiken There is no change related to click handling between two versions. Could you give a simple repro?

Beside this, what else did you upgrade while upgrading binding to 2.3? Also please note that `click.delegate` works with bubbling, so if there's something stopping the propagation of event before it reaches the document, click delegate won't be able to work

[2019-04-09 09:01] gavinaiken commented on #747
I will see if I can make a simple repro but so far I have only been able to see it with our large aurelia application so I don't know if that will be possible. Will report back.

I'm sure it is something in this library because I updated all our aurelia dependencies at once (essentially all the core aurelia modules), observed the issue, then tested rolling them back one by one until the issue was

[2019-04-09 09:27] gavinaiken commented on #747
Hmm. Is the README out of date for how to build the module? I did the following:
[code]

and got the following error:
[code]

[2019-04-09 09:30] gavinaiken commented on #747
`gulp build` works in master branch, but if I check out `2.2.0` I get the above. What am I doing wrong!?

[2019-04-09 11:42] gavinaiken commented on #747
The commit which breaks our app is this one: https://github.com/aurelia/binding/commit/a5d2b330d68b104ebd3503d97d52027bb4d9bc83

I tracked it down by checking out the master branch of `aurelia-binding`, symlinking the dist/amd file into my jspm folder, and reverting single commits from the diffs between 2.2.0 and 2.2.1 https://github.com/aurelia/binding/compare/2.2.0...2.2.1 until our app worked o

[2019-04-09 11:43] bigopon commented on #747
It feels like you are hitting this https://github.com/nodejs/node/issues/25132

But i'm not sure why. I don't hit that.

[2019-04-09 11:46] gavinaiken commented on #747
I managed not to get derailed by the `internalBinding` error by working from the master branch, where `gulp build` works fine for me. I tracked down the commit which breaks my app, as per the above https://github.com/aurelia/binding/issues/747#issuecomment-481216664. Trying to dig further into why that is causing problems now.

[2019-04-09 11:47] bigopon commented on #747
@gavinaiken Cool, nice that you figured that out. Could you help with a repro?

[2019-04-09 11:48] gavinaiken commented on #747
Haha yeah the repro seems the hardest bit. If i can understand why that commit breaks my app I might be able to put a repro together...

[2019-04-09 15:21] gavinaiken commented on #747
Better than a repro, I have a PR with a fix: https://github.com/aurelia/binding/pull/748

[2019-04-10 12:19] gavinaiken commented on #747
Updated PR: https://github.com/aurelia/binding/pull/749

[2019-04-16 15:05] Alexander-Taran commented on #747
@gavinaiken sorry to have caused you that trouble.
(-:
And now I stepped into it as well..

[2019-04-17 16:06] gavinaiken commented on #747
Ha no worries, when you write software, sometimes things go wrong :)

[2019-04-17 16:07] #747 closed

[2019-04-17 19:59] Alexander-Taran commented on #747
well I obviously copy pasted w/o adding a significant test
which I intend to write now (-:

[2019-05-02 17:00] AaronJY opened #750 "click.delegate firing for all clicks on firefox rather than just left click"
**I'm submitting a bug report**

* **Library Version:**
2.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.7.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 3.4.1

* **Browser:**
Firefox 66.0.3

* **Language:**
TypeScript 2.6.2

**Current behavior:**
When I click an element with a click delegate (`click.delegate`), th

[2019-05-09 11:12] bigopon commented on #750
@AaronJY thanks for filing this bug. It's interesting that FF behaves differently. I'm not sure how we should fix it, adding a check just for quirky browsers or doing something else?

cc @fkleuver @EisenbergEffect

[2019-05-09 11:59] AaronJY commented on #750
No worries. I think a quick check on the value of `event.which` would be adequate enough on the surface, though I'm not sure if there's something crazier going on that is impacting FF specifically that needs to be addressed 🤔 If anybody with more experience with the code could shed some light before I start digging that would be ideal. Happy to take a look myself though!

[2019-05-14 01:40] EisenbergEffect commented on #750
Interesting. It's funny we hadn't hit this before now. I wonder if it was a change in FF or if nobody just really cared which mouse button triggered it before. We could definitely add a check on `which` of `click` events. @bigopon What do you think? (We'd also need to port this over to vNext if we do that.)

[2019-05-15 11:35] thomas-darling commented on #163
Just in case it helps anyone else, we're now using the `inert` attribute to disable complex elements. This attribute allows us to mark entire subtrees within the DOM as _inert_, which not only disables pointer events, but also prevents keyboard navigation to elements within those subtrees.

It's not quite a standard yet, but Google provides a polyfill that works really well.
https://github.com/Goo

[2019-06-25 12:12] TimVevida opened #754 "Binding on role attribute not working in Firefox"
**I'm submitting a bug report**

* **Library Version:**
2.3.1

* **OS**
Kubuntu 18.04

* **Browser:**
Does not work in Firefox 67.0
Does work in Chromium 74.0.3729.169

**Current behavior:**
Binding on the role attribute of an element does not work correctly. The role attribute is completely omitted, either using `role.bind` or the `role` attribute with interpolation.

**Expected/desired behavior:

[2019-06-26 11:07] michaelw85 opened #755 "Delegate event bubbling does not match native behavior in shadow dom"
**I'm submitting a bug report**

* **Library Version:**
Latest version, current master (2.3.2)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v10.15.1

* **NPM Version:**
6.9.0

* **Webpack**
4.27.0

* **Browser:**
Chrome Version 75.0.3770.100 (Official Build) (64-bit)

* **Language:**
all

**Current behavior:**
When using a click delegate on a

[2019-07-03 06:02] michaelw85 opened #756 "Infinite loop in aurelia-bindingd.ts OverrideContext"
**I'm submitting a bug report**

* **Library Version:**
"version": "2.3.0"

**Current behavior:**
[code]

parentOverrideContext type makes an infinite loop.

**Expected/desired behavior:**
parentOverrideContext should be optional, while debugging an actual binding the value is null.

`parentOverrideContext?: OverrideContext;`

* **What is the expected behavior?**
Expecting properly generated typin

[2019-07-03 11:08] bigopon commented on #756
I think this is an ok change, though it may impact the folks with strict TS on.
But this can be treated like a bug, so let's ping @EisenbergEffect

[2019-07-03 11:12] michaelw85 commented on #756
I'm running in a very strict setup, the current typings make it impossible to create a mock binding object 🤣 if this would go from optional to required I can imagine this would cause issues but going from strict to optional should not impact existing code.

[2019-07-03 11:22] StrahilKazlachev commented on #756
It would impact existing code *if no* checks were done on it - `type 'undefined' is not assignable to ...`.
Still, if this is going to change isn't it more correct to be `parentOverrideContext: OverrideContext | null`?

[2019-07-03 11:27] michaelw85 commented on #756
Existing code already gets a null value so it would already be broken if no checks are done.

I would personally avoid using `null`, I'm using the following ts lint rule in my own code base but that's personal preference: https://palantir.github.io/tslint/rules/no-null-keyword/

[2019-07-03 11:35] StrahilKazlachev commented on #756
As you've seen from debugging, it is already being set to `null`. So for me it is just matter of correctness, of the typings.

[2019-07-03 11:40] michaelw85 commented on #756
@StrahilKazlachev `null` !== `undefined`
If consuming code is using strict type checking and somewhere in the far from strict Aurelia code someone decides to create an object without explicitly defining `null` as a value this would break consuming code, I find this a bigger risk than making the key optional since the consuming code would implement a different check based on the typing.

[2019-07-03 12:10] StrahilKazlachev commented on #756
If currently some is doing so, skipping `parentOverrideContext` in strict setup, he should be getting an error about the *missing* member(if not hacking with `any`).
Still, the call is not mine. And there is always `parentOverrideContext?: OverrideContext | null`.

[2019-07-03 12:21] michaelw85 commented on #756
@StrahilKazlachev I was referring to a potential future pitfall not current code. My point is Aurelia code is not strict, it's not written in Typescript but JS without type checking (as far as I am aware). The typings are manually maintained, this makes it very easy for the two to diverge and breaking consuming code in the process. A strict type of `null` has a higher probability of breaking consu

[2019-07-05 22:01] EisenbergEffect commented on #756
@michaelw85 I’d be willing to go with your proposal to make this optional. Can you submit a PR to fix this? The binding repo is one of our only JS repos with an explicit hand created d.ts file, so it should be easy to make the adjustment.

[2019-07-06 12:28] michaelw85 commented on #756
@EisenbergEffect PR has been created!

Bit offtopic but vnext is written in TS, will this replace all of the current (non ts) repos? CLI might be the exception I guess. Should all the Aurelia repo's become TS eventually? What is your take on this?

[2019-07-06 20:05] #756 closed

[2019-07-06 20:09] EisenbergEffect commented on #756
All the vNext work is happening in a new monorepo. For vNext, we’ll be publishing the packages under the npm `@aurelia` organization, so it will be a difference set of packages. There isn’t a one-to-one mapping between the actual packages, since we made some architectural changes under the hood.  For example, the core of the binding engine now lives in `@aurelia/runtime`. HTML-specific parts live

[2019-07-06 20:10] EisenbergEffect commented on #756
I should note that while package names have changes and things have moved around, that doesn’t change the way you write your Aurelia app itself. Same binding and templating language, same decorators, same conventions, some concepts, etc.

[2019-07-06 20:18] michaelw85 commented on #756
Thanks for the info!

[2019-08-28 14:34] bebor opened #760 "parsing of template issue: ${moment().toISOString()} does not work"
this.moment = required moment

then in view:

${moment()} -- works, return date as string

${moment().toISOString()} -- does not work. no method of moment can be called, it throws error:
`moment() is not a function`

[2019-08-29 10:21] bigopon commented on #760
@bebor can you help give a repro of the issue. As you can see from this sandbox https://codesandbox.io/s/readme-example-c1n2f

It's working fine with 1.3.1

[2019-09-02 10:33] radenkozec opened #761 "Parser Error: Invalid start of expression at column 0 in expression []"
After upgrading to newest version of Aurelia I am getting this error:

I suspect it is related with breaking changes in Aurelia Binding? Can you help me?

[2019-09-02 10:54] #761 closed

[2019-09-05 04:43] #755 closed

[2019-09-08 19:42] qraynaud commented on #727
I also want to point out that `computedFrom` also supports sub properties like `@computedFrom('sub.value')`. It should be supported by the typing if you want to go that way.

[2019-09-08 20:34] qraynaud opened #763 "Optimizing getter access"
## The problem I was facing

I've been using aurelia for a project that does a lot of calculations using `big.js` on a single page. Those tend to be pretty slow. The page revolves around an object that has a lot of getters relying on each other to compute all the intermediary numbers (that are all printed on the page along the final results).

The issue I got into pretty quickly with that approach

[2019-09-08 20:49] qraynaud commented on #763
## Afterthought

I want to add that the fact I was able to implement such a complex bit of code in merely 250 lines of code (including closing brackets ^^) is amazing. You really did a wonderful job and I just can't wait for vNext! Keep up with us, I Iove you all guys!

[2019-09-24 13:55] RomkeVdMeulen opened #764 "Matcher ignored within repeater"
**I'm submitting a bug report**

* **Library Version:**
2.5.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 18.04.3)

* **Node Version:**
8.16.1

* **NPM Version:**
6.8.0

* **Aurelia CLI Version:**
1.2.0

* **Browser:**
Chrome 76

* **Language:**
ESNext

**Current behavior:**
While loopig over objects with `repeat.for` and binding radio inputs with `model.bind`

[2019-09-24 13:57] bigopon commented on #764
@RomkeVdMeulen is this issue similar to yours https://github.com/aurelia/templating-resources/issues/388

If so, can you try the suggestion there?

[2019-09-24 13:57] RomkeVdMeulen commented on #764
Let me just summarize my results:

[code]

[code]

Result:

![screenshot of the result of running this code](https://github.com/RomkeVdMeulen/aurelia-binding-matcher-bug/blob/master/result.png?raw=true)

[2019-09-24 14:00] bigopon commented on #764
@RomkeVdMeulen We posted the comment almost at the same time, so to make sure it's not missed,

[2019-09-24 14:00] RomkeVdMeulen commented on #764
@bigopon It is simmilar, and the suggestion works. I'll just close this as a duplicate.

That is a very obscure setting though. When was this introduced?

[2019-09-24 14:00] #764 closed

[2019-09-24 14:09] RomkeVdMeulen commented on #764
Like @pkozul said in the referenced issue, I could not have found that setting if you hadn't pointed it out. Could a note be added in the docs somewhere? Otherwise I imagine more bug reports like this will keep coming in.

[2019-09-24 21:31] bigopon commented on #764
It's added here https://github.com/aurelia/templating-resources/pull/379

Sorry for the doc, and it would be great if you could help with that

[2019-09-27 07:48] RomkeVdMeulen commented on #764
Sorry for the late reaction. I'd love to help with doc on this, but I'm not familiar with the material. For one, I didn't know until I read your PR that it was even possible to add a matcher to a repeater.

[2019-11-12 10:33] michaelw85 opened #765 "Delegate does not support shadow dom for Firefox"
**I'm submitting a bug report**

Related to: #755

* **Library Version:**
2.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
10.15.1

* **NPM Version:**
6.10.2

* **Browser:**
Firefox 70.0.1 (64-bits)

* **Language:**
all

**Current behavior:**
Clicking nested elements in shadow dom does not trigger click delegate.

In my case this fails for

[2019-11-23 19:49] #765 closed

[2020-01-09 10:53] searus opened #768 "getContextFor() doesn't handle a non-object bindingContext"
I have a situation where `getContextFor()` is called where the bindingContext is a string.  In this scenario, I get an error because the 'in' operator cannot be used on a string on this line:
https://github.com/aurelia/binding/blob/a680c7203e850ea37b4e1147365d2c0a07e94968/src/scope.js#L35

Here's a demo of the problem: https://codesandbox.io/s/red-paper-s269f
If you click on any of the items in th

[2020-01-09 11:04] bigopon commented on #768
@searus what was the scenario that led to this issue?
I'm not keen on chucking **any** check into this, as it's a pretty hot call in our binding system
cc @EisenbergEffect @fkleuver @jdanyow

[2020-01-09 11:09] searus commented on #768
The issue seems to be when combining a `repeat.for`, `with.bind` and `click.delegate` on the same element.
I have actually solved my issue by moving the `with.bind` onto a new child template element.
So, replace this:
[code]
with this:
[code]

[2020-01-09 19:16] EisenbergEffect commented on #768
@searus Thanks for the update on the fix. Technically, we don't support with and repeat on the same element (only one template controller per element). We've fixed this issue in vNext but need to make this clearer in the documentation for vCurrent. Apologies for the confusion around that.

[2020-01-09 19:16] #768 closed

[2020-01-24 15:28] prakash12 commented on #636
Hello,
I am also facing same issue with aurelia <a> tab. I need to reload the page when user clicked on <a> link but it's not reloading. So I need to use event aggregator to refresh other part of my web page but click event is not working. Please suggest

[2020-02-13 08:47] AsenTahchiyski commented on #754
Not working in Chrome as well, so I guess not working at all.

[2020-02-13 10:55] bigopon commented on #754
Thanks for notifying. Ill have a look

[2020-02-14 01:53] bigopon commented on #754
I've identified the issue and created a fix demo here https://codesandbox.io/s/heuristic-leftpad-13uhl

A PR will be coming soon. For now, please do the following in your entry to temporarily fix it:
[code]

[2020-02-17 13:11] AsenTahchiyski commented on #754
Thanks bigopon, works as expected with interpolation.

[2020-02-18 16:50] itkfm commented on #540
Any idea how to get this working with TypeScript?

[2020-02-18 16:57] bigopon commented on #540
@itkfm Did you still get unexpected behavior with the latest version?

[2020-02-19 09:52] itkfm commented on #540
##### package-lock.json

[2020-02-19 09:54] itkfm commented on #540
Updated dependencies

still the same, though:

[2020-02-19 09:58] bigopon commented on #540
@itkfm with version 2.5, you dont need to copy paste the above code block in your app anymore. Can you try remove itand see if your app works as expected?

[2020-02-19 10:12] itkfm commented on #540
Unfortunately it does not. That's why I even started googling this and came to this issue.

I did just retry and it always selects the first non-disabled `<option>`.

[2020-02-19 10:17] itkfm commented on #540
My code:

##### time-slot.html
[code]

##### simple-time-picker.ts
[code]
##### simple-time-picker.html
[code]

[2020-03-12 08:41] itkfm commented on #540
Any ideas?

[2020-03-12 08:44] RWOverdijk commented on #540
@itkfm This is a closed issue, I doubt anyone is going to respond to it.

[2020-03-12 23:36] bigopon commented on #540
Oops, sorry I forgot this. let me try to reproduce it

[2020-03-17 10:49] bigopon commented on #540
@itkfm I just had a look at this and was able to figure out why it doesn't seem to be working as you expected.
The timing sequence is like this:
1. Aurelia syncs view model -> view, so the `<select/>` would have value `undefined`
2. `<option/>` gets added by `repeat`, triggering a mutation event
3.1. Aurelia tries to sync the value from view model to view one more time, and thus un-select all the

[2020-03-17 11:28] itkfm commented on #540
neat :ok_hand:
Got it working now (by setting `a` and `b` to `''` instead of `null`). Thank you very much.

(Maybe this should make it's way into the documentation if it's not there already.)

[2020-03-18 13:29] SalkiDixit commented on #250
@EisenbergEffect Hi, I trying to use show.bind inside repeat.

    <div repeat.for="file of files">
          <div class="file-type-icon">
                <div show.bind="${file.type} === 'image'">This is image</div>
                <div show.bind="${file.type} === 'video'">This is Video</div>
            </div>
     </div>

This is not working..
please assist.

[2020-03-18 13:42] bigopon commented on #250
@SalkiDixit Can you try with
[code]
`${file.type} === 'image'` is incorrect JS expression syntax, that's probably why it didn't work for you

[2020-03-18 13:45] SalkiDixit commented on #250
@bigopon Thanks..its working this way.

[2020-03-20 09:40] SalkiDixit opened #769 "Can we use/make attached/detached method inside aurelia custom element?"
I want to make custom element with attached/detached methods.
Is it a right way to add these methods inside custom element?

[2020-03-20 20:48] bigopon commented on #769
@SalkiDixit you mean is it valid to have this:
[code]
If so, yes it is valid

[2020-03-20 20:49] bigopon commented on #769
@SalkiDixit please use Discourse (https://discourse.aurelia.io) for questions, you will find an amazingly active community there to help you with many questions, fast. Here it will be slower and we kind of don't support questions here. Alternatively, you can go for stackoverflow as well.

[2020-03-21 05:08] SalkiDixit commented on #250
@bigopon Hi,

<div repeat.for="file of files">
      <div class="file-type-icon">
            <div show.bind="file.type === 'image/jpeg' || 'image/png'">This is image</div>
            <div show.bind="file.type === 'video'">This is Video</div>
       </div>
 </div>

I am trying to execute this piece of code. when i try to show video files, as per type only 'This is Video' should be shown, but Both

[2020-03-21 05:10] SalkiDixit commented on #769
@bigopon Thanks, Sure.

[2020-03-21 05:37] bigopon commented on #250
It should be like this
[code]

[2020-04-07 15:26] m-gallesio opened #770 "Binding checkboxes: custom matcher does not work when using repeat.for"
**I'm submitting a bug report**

* **Library Version:**
2.5.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.18.0

* **NPM Version:**
6.13.4

* **JSPM OR Webpack AND Version**
JSPM 0.16.55

* **Browser:**
Chrome 80.0.3987.149 | Firefox 74.0.1 | Edge 44.18362.449.0 (non-Chromium) | most likely all

* **Language:**
TypeScript 3.7.5

**Current b

[2020-04-08 11:08] bigopon commented on #770
@m-gallesio thanks for creating this issue. It's a bug with the repeater/matcher combo that got fixed awhile ago, without proper documentation update.
Here is the working example https://codesandbox.io/s/object-matcher-not-working-with-repeater-5sbvz

Notice in `main.ts`, we have this line:
[code]
Its job is to fix a bug where the repeat would look into its template and extract the matcher there,

[2020-04-08 15:02] m-gallesio commented on #770
It works, thank you very much for your attention.
As for the documentation, how will Aurelia 2 handle this case?

[2020-04-08 22:53] bigopon commented on #770
At the moment, we support matcher on input. And @fkleuver is working on the matcher for repeat. So for your scenario, it should work fine, the same way. The doc we lack currently is for v1 and the changes above though.

[2020-04-23 16:22] ccantill opened #771 "SetterObserver keeps old value retained"
**I'm submitting a bug report**

* **Library Version:**
2.2.0

* **Browser:**
all

**Current behavior:**
SetterObserver keeps a reference to the old value of a property, and doesn't release it until the property is changed a subsequent time. This can cause objects to retained much longer than needed.

**Expected/desired behavior:**
SetterObserver releases the old value as soon as it's done with it

[2020-04-23 22:22] bigopon commented on #771
@ccantill the value of a `SetterObserver` is the value of the property of the object that it belongs to. In that sense, we cant really release it, as it will make the object value invalid. The setter, and its value, will be released when the owner object is released. Can you check if you are keeping the reference to your object accidentally?

[2020-04-24 06:30] ccantill commented on #771
I'm not worried about the current value being retained, it's the old value that shouldn't be retained. In our case we're binding to some properties of the `currentInstruction` on the Router. What happens as a result is that indirectly the entire viewModel of the _previous_ page is retained in `oldValue` in the SetterObserver.

[2020-05-06 00:26] #771 closed

[2020-09-15 22:43] ggayowsky commented on #409
Not that this is ever getting fixed... but contrary to what has been said here., this is an aurelia problem, not an IE problem. Every other framework I has a solution to this.

Anyways, as said earlier, take a different approach as this won't work and this framework has no intention of fixing any problems or making your life easier

[2020-09-16 02:05] bigopon commented on #409
@ggayowsky It'da been fixed long ago, if it was actionable, but maybe let's try to see how your template looks like first? There could be something missing from the framework side?

[2020-09-16 13:17] ggayowsky commented on #409
@bigopon Here is a easily and small repro of this problem:

I will happily open another issue if that would be advised.

custom-table-component.html
[code]

custom-row-component.html

[code]

Both JS classes are just stubs.

The output in IE is (cleaned for readability):

[code]

As you can see the TD element are stripped from the `custom-row-component` output.

HTML Output in Chrome/ FF is as exp

[2020-09-17 00:23] bigopon commented on #409
@ggayowsky Is the content of `custom-row-component` missing?

[2020-09-17 00:49] bigopon commented on #409
@ggayowsky Though, I think I can guess what the content of `custom-row-component` is, it's probably like:
[code]
If so, it's as you saw. As per following simple test:
![image](https://user-images.githubusercontent.com/9994529/93405460-6cc5a680-f8d0-11ea-97c1-1083dd5c6fed.png)

With the latest version of Aurelia templating, we have a way to overcome this, though. Instead of relying on the HTML pars

[2020-09-17 01:49] ggayowsky commented on #409
Yea missed a backtick in my earlier post which mucked up the formatting. It has been fixed now.

While I appreciate the work around, and it might work for the simple reproduction I provided, it isnt sufficient for actual uses. The reason being, most templates have bound values in there (much like ours does) and I dont know how I would accomplish that with your workaround.

In this case, it was jus

[2020-09-17 02:02] bigopon commented on #409
For:

You can achieve the same thing with the following template
[code]
by the following template building code
[code]
Basically we are building the template, to be bound with data later, not the final view of a custom element. So whatever the expression/template syntax you use, you can do the same, just have to write them in a more tedious form.

[2020-09-17 10:42] ggayowsky commented on #409
Thanks for the workaround. I still think the issue should be reopened

[2021-08-11 22:50] Alexander-Taran commented on #708
IE is Cobol of the future

[2021-10-18 11:09] Archelyst commented on #407
For arrays this unfortunately does not give a warning but it fails and raises an exception, because it assumes, that the property was set (but it's `undefined`)

[2022-01-15 21:54] jadrake75 commented on #611
@jdanyow thanks for your comment.  This was exactly what was happening for me with a multiple-select picker in which I need to convert the values in an array into a bitwise number.  A technique I have done is the tickle approach.  ie. if you have a two-way bound "value" in your custom element you can
[code]

[2022-02-15 19:43] diegopaiva1 commented on #163
Is there any concrete solution to this problem?

[2022-02-17 01:27] ItWorksOnMyMachine commented on #163
Use click.trigger instead of click.delegate.

[2022-02-17 03:47] diegopaiva1 commented on #163
Does not work for me.

[2022-02-21 19:01] ItWorksOnMyMachine commented on #163
Do you have a repo of this we can look at.  We use it successfully in hundreds of places throughout our app, so there's something else going on here.

[2022-02-21 19:34] diegopaiva1 commented on #163
Unfortunately I don't, the repository belongs to the company I work for. In any case, if someone is looking for a short, straight answer, the following worked for me:

Wrap the **content** (you may have as many tags as desired) of your `button` around a `div` with a custom class, e.g.:

[code]

And then apply the following rule to that class:

[code]

[2022-02-21 19:45] ItWorksOnMyMachine commented on #163
@diegopaiva1, the example you have still uses click.delegate instead of click.trigger.  change this:
`<button disabled.bind="totalCount <= (currentPage * perPage)" click.delegate="nextPage()">
    <div class="btn-content">
      <i class="icon-right"></i>
    </div>
</button>`

to this:
`<button disabled.bind="totalCount <= (currentPage * perPage)" click.trigger="nextPage()">
    <div class="btn-c

[2022-02-21 20:34] diegopaiva1 commented on #163
I know that. I copied OP's `button` on my example. But, like I said earlier, `click.trigger` did not solve my problem, as the event continued to be fired even though the button was disabled. Maybe it is a browser issue, IDK. I am using Google Chrome 98.0.4758.102.

[2022-02-21 21:46] ItWorksOnMyMachine commented on #163
@diegopaiva1, got it.  Are you also using a div inside your button?  It might be because a button only allows inline elements as children.  You might try changing the div to a span and see if that helps.

[2022-05-28 20:17] Alexander-Taran commented on #594
looks stale @bigopon

[2022-05-29 23:35] #594 closed

[2022-05-31 23:17] Alexander-Taran commented on #719
@bigopon can be closed

@edwardridge sorry for not being explicit the last time. By not being able to change selected file via javascript I meant that framework can't replicate your setting a bound property to the file property of input control.

[2022-06-01 00:44] #719 closed

[2022-06-01 19:49] Alexander-Taran commented on #680
@brantwedel let's close this (-:

[2022-07-04 23:39] AnorZaken commented on #727
The problem with private members can be solved by using an expression instead of `keyof`.
E.g.
[code]
As long as the expression is typed inside the scope of the class itself, like above, you can access private members as expected.

I'm already using something similar today, where I use a Proxy<> to walk the expression chain to turn it into a string, so it also works with `x => x.foo.bar.baz` for e