[2016-03-22 18:16] Vaccano commented on #357
Note, the work around to this issue (once you realize what the issue is), is to use a `.one-way` binding.

Since the `read-only` `input` is inside of a form, it causes the `.bind` to be a two-way binding.  So, just specifying one-way side steps this issue.

But it takes a while to figure out what is going on in order to realize what you need to do to get around it.

[2016-03-22 18:26] Dygerati commented on #356
Understood. So the main question would be; how do I loop through an object in a View and preserve the live binding? If I use something like a `objectKeysValueConverter`  I believe I'll just run into the same issue.

The only thing I can think of is to use a CollectionObserver in the ViewModel to create the map, and then use that map directly in the View. Although I'm still pretty inexperienced wit

[2016-03-22 18:40] alvarezmario commented on #356
@Dygerati perhaps this would be of help: http://ilikekillnerds.com/2015/08/iterating-objects-using-repeat-for-in-aurelia/

[2016-03-22 18:42] alvarezmario commented on #356
@Dygerati iterating over objects has some issues: https://github.com/aurelia/templating-resources/issues/41

[2016-03-22 18:49] Dygerati commented on #356
@alvarezmario Thanks, although that article recommends using something like the `objectKeysValueConverter` strategy I mentioned, which won't update the view when the underlying object is changed (same issue).

[2016-03-22 19:46] alvarezmario commented on #356
@Dygerati yeah, exactly what is mentioned on the issue I linked above

[2016-03-22 22:07] jdanyow commented on #351
ok sounds good- will close for now, feel free to re-open if you put together a sample

[2016-03-22 22:07] #351 closed

[2016-03-22 22:09] jdanyow commented on #355
There is no way to pause a subscription other than unsubscribing and re-subscribing or adding some code to your handler like this:
[code]

[2016-03-22 22:09] #355 closed

[2016-03-22 22:20] jdanyow commented on #356
@Dygerati here's an option for you.  It will only work if all your object's props are defined ahead of time:
https://gist.run/?id=b9071aaa4447426a0570

The only other way would be to use dirty-checking because there's no other way to tell when a property is added/removed from an object without Object.observe.

[2016-03-22 22:20] #356 closed

[2016-03-22 22:23] jdanyow commented on #357
@Vaccano would you mind putting this [in a gist](https://gist.github.com/jdanyow/7542e061bc940cde506b) so we don't have to npm install, jspm install, etc etc to view it?

Thanks!

[2016-03-23 01:25] vegarringdal commented on #355
ok, just wanted to ask, for now Im using like you code above, and setTimeout so I skip the property obvservers calls
I tried to unsubscribe() then subscribe(xX) again, but it still got triggered.
Maybe I did something wrong again...
I will try again, thx for the fast reply.

[2016-03-23 16:39] tommasop opened #358 "accesskey global attribute missing"
I'm trying to bind an `accesskey` attribute in an Aurelia view:

[code]

While href attribute is created correctly the accesskey attribute simply disappear.

It seems like is not being binded at all.

[2016-03-23 18:33] Dygerati commented on #356
@jdanyow Really appreciate it; unfortunately my use case involves adding properties, so it won't quite work. I have implemented a workaround using Map()'s, so I'll just have to stick with that until proxies or something similar make the difference.

[2016-03-23 18:41] alvarezmario commented on #356
@Dygerati I had to implement something like that and what I did was use `Map`s, which are a good option for that case when you have to add/remove keys from the object

[2016-03-24 23:01] cehoffman commented on #357
This appears to be something  #205 would solve.

[2016-03-24 23:43] jdanyow commented on #357
Thanks @cehoffman - I agree.

@Vaccano please try the code mentioned in this comment: https://github.com/aurelia/binding/issues/205#issuecomment-193031867

It should resolve your issue.

[2016-03-24 23:43] #357 closed

[2016-03-25 00:09] niieani opened #359 "(regression) computedFrom is only applied the first time the ViewModel is bound"
I've prepared a Gist demo, however since there isn't a version after the `computedFrom` refactor, I'll just present what used to work and now is broken:

https://gist.run?id=ce252a8c24716e5d3620

To see what I mean switch between "computed" and "else". In the previous Aurelia version (the one running the Gist) this works well, as `random` is only computed once, every time when the route is bound.

[2016-03-25 02:45] #359 closed

[2016-03-25 02:45] jdanyow commented on #359
thanks @niieani - good catch!

[2016-03-25 03:06] Vaccano commented on #357
@jdanyow - Sorry I did not get the gist made for this. (I was planning on doing it still.).

But this is indeed a duplicate #205.

Clearly I vote for not automatically creating objects.  It should just fail silently.

[2016-03-25 06:11] Vaccano commented on #205
@EisenbergEffect - Now that you are going directly to an RC (instead of beta2) can this breaking change still be done?

I really like how @cknightdevelopment described a possibile solution.

Auto making objects leads to bugs with libraries that expect a well formed object or a null object. (For example, BreeseJs wants entities with entityAspect defined on it. A null is ok too. But a half formed ob

[2016-03-25 19:44] dilvish4ever opened #360 "get.dependencies array wraping into ComputedExpression after bootstraping"
I'm have some problems with dirty-checking of properties created by Object.defineProperty (defined in property decorator). I added dependencies array to getter, as described in http://stackoverflow.com/questions/32028553/aurelia-computed-properties-with-es5, but property still dirty-checking. In Chrome tools dependencies is not an array, but ComputedExpression. How to aviod dirty-checking in case

[2016-03-25 21:16] Vaccano opened #361 "Reseting an array bound to view-model.ref throws an exception"
If I have a custom element setup like this:

      <div repeat.for="box of boxes">
        <box box.bind="box" view-model.ref="boxViewModels[$index]"></box>
      </div>

and I set `boxes` to be `[]`, then I get the following exception:

Here is the [gist run](https://gist.run/?id=30f77471ffeee12863a5) for this issue.
Load it up and press the "Clear All" button to see it in action.

If there is a

[2016-03-25 21:35] Vaccano commented on #361
Incase it is useful, here is the call stack:

<pre>"TypeError: Cannot read property 'boxViewModels' of null
at AccessScope.evaluate (aurelia-binding@1.0.0-beta.1.3.0/aurelia-binding.js:1362:21)
at AccessKeyed.assign (aurelia-binding@1.0.0-beta.1.3.0/aurelia-binding.js:1448:34)
at NameBinder.unbind (aurelia-binding@1.0.0-beta.1.3.0/aurelia-binding.js:5042:29)
at View.unbind (aurelia-templating@1.0.

[2016-03-26 01:42] cehoffman commented on #361
I think this PR will fix it aurelia/templating#306

[2016-03-26 07:57] fabioluz opened #362 "IE11 Error using property created inside bind()"
IE11 and Edge throw an error when using a property created inside the `bind()` method.

For instance:
[code]

This works on Chrome and FF, but doesn't work on IE11 and Edge

Thanks!

[2016-03-26 15:24] atsu85 commented on #205
As @jdanyow [mentioned](https://github.com/aurelia/binding/issues/205#issuecomment-192478803)

**So I guess whatever will be done here, there will be a breaking change**, and I think it is not a bad thing if implemented correctly (looks like most of participants agree with @jdanyow and @EisenbergEffect, so I'm not much worried about this change).

However I have one concern regarding how easily th

[2016-03-26 18:18] jdanyow commented on #362
@fabioluz I can't reproduce this using the code you provided- here's what I see in IE11:
![ie11](http://i.imgur.com/MNMRpna.png)

And edge:
![edge](http://i.imgur.com/oJC4KuY.png)

[2016-03-26 18:29] jdanyow commented on #360
fixed in upcoming release
https://github.com/aurelia/binding/issues/359

[2016-03-26 18:29] #360 closed

[2016-03-26 18:46] jdanyow commented on #358
looks like we need to map `accesskey` to `accessKey`:  https://developer.mozilla.org/en-US/docs/Web/API/Element/accessKey

[2016-03-26 18:50] #358 closed

[2016-03-26 19:43] fabioluz commented on #362
Sorry @jdanyow I put the wrong tag in the example. The problem happens when I bind the `colspan` attribute of a `td`. For example:

[code]

[code]

![error aurelia](https://cloud.githubusercontent.com/assets/5049361/14062095/cfa2a8e8-f371-11e5-9be0-6233564341d2.png)

If I declare `test` outside of `bind()` it works normally.

[2016-03-26 22:56] jdanyow commented on #362
ah ok- IE is fussy about what is programmatically assigned to colspan.  Make sure the property is defined and positive prior to the bind method being called.

https://github.com/aurelia/binding/issues/343

[2016-03-26 22:56] #362 closed

[2016-03-27 01:34] jdanyow commented on #205
I recommend making the code change I shared above to insulate your projects from the issue.  Plugin authors should not rely on the auto-object behavior- it causes bugs/confusion when used with if binding.

If there's a real, and compelling scenario where a mixed mode would be important we'd definitely want to take a look at what that would take, otherwise let's keep this as simple and predictable

[2016-03-27 07:34] atsu85 commented on #205
@jdanyow, It wasn't 100% clear to me if [the code chenge](https://github.com/aurelia/binding/issues/205#issuecomment-193031867) will be available in next release as well, or You just suggest it for those who need to disable automatic object creation?

[2016-03-27 23:51] tedberg commented on #8
I see this is closed, but some native support would be nice.  Currently, if its an input field I want to enhance, I can just add `keypress.delegate="keyPressed($event)"` and have the VM handle it nicely.  Useful if you want to have the enter key act the same as tab in a form.

In another case, I am viewing record detail in an Aurelia Dialog.  Have previous and next buttons.  The same `keypress.del

[2016-03-28 14:54] Vaccano commented on #205
@jdanyow  When I try to add the workaround code to my application I get the following error:

I am using typescript and it appears that AccessMember is not defined in the typescript definition file.

Is there a way to work around this?

[2016-03-28 15:15] Vaccano commented on #361
@cehoffman This issue is indeed fixed by that PR.  This is a duplicate of https://github.com/aurelia/framework/issues/372.

[2016-03-28 15:15] #361 closed

[2016-03-29 21:39] Vaccano opened #363 "Adding a `bind` callback causes changeHandler callbacks to not be called."
Say I have a `@bindable` defined like this:

    @bindable({ defaultBindingMode: bindingMode.twoWay, changeHandler: 'boxChanged' }) box;

    boxChanged() {
      alert('box changed called.  '+
          'Uncomment "bind" found in box-vm.js, line 15 to see this not be called.')
    }

If I add the following to the view-model then `boxChanged` will no longer be called:

    bind(bindingContext: Obj

[2016-03-30 01:34] jdanyow commented on #363
When a component initially becomes data-bound each of its [property]Changed methods are invoked *unless the component has a `bind` method, in which case the bind method will be called once all the bindable properties have been assigned.*  Afterwards the [property]Changed methods will be called as-usual.

https://github.com/aurelia/templating/issues/257

[2016-03-30 01:34] #363 closed

[2016-03-30 01:41] Vaccano commented on #363
@jdanyow I did notice that the bind method had what I needed in it.  Not quite a clean as I wanted from a typescript point of view (because I have to do an `any` cast to get it out).

But if this is the "way" then I works for me.

(Sorry for the duplicate...)

[2016-03-30 01:51] jdanyow commented on #363
no worries- fyi- inside of `bind` you can call `this.myBindableProperty` to access the bound values.  `bind`  is called *after* all the bindable properties have been data-bound.

[2016-03-30 06:02] kevmeister68 commented on #347
I was going to raise a similar issue but found this. When you declare a bindable attribute on your custom element, you don't know whether someone is going to directly assign a literal value to it, or bind to it, and therefore the value of the underlying property could end up as a literal string, or as whatever type is bound to it.

I think I would prefer to see the @bindable( ) decorator being ext

[2016-03-30 09:46] egeland opened #364 "Binding on `<select>` makes a `selected disabled` option get skipped"
The js doesn't seem to matter, just the view:

[code]

In the above code, the `selected` item ("Show This") is skipped, and the `dummyoption` is selected instead, which is clearly not our intent.

If you remove the `value.bind="mySelection"` from the `<select>`, the correct behaviour occurs, but of course then we don't get the value available anywhere.

Using `aurelia-binding@1.0.0-beta.1.3.1`

[2016-03-30 13:34] EisenbergEffect commented on #347
Yes, the options object would be extended to enable providing a value converter. However, we could also provide a nice syntax, as above, for the common primitive types. That syntax would essentially just create the options object and configure the value converter automatically.

[2016-04-01 07:02] MikaelPorttila commented on #305
Any updates on this issue?
I'm having the same problem, as-element doesn't render correctly in IE.
simple demostration of the issue: https://plnkr.co/edit/7rEfCHoDVfhEktvpurt1?p=preview

[2016-04-01 09:47] ggrimbert commented on #149
Hi,

Can you provide an example of the use of computedFrom with dot property ?

I tried computedFrom("MyObject.property") but this does not work.

[2016-04-01 14:10] MaluTom opened #368 "Bindable property change triggered only once when assigned directly to the payload of an event aggregator"
Here is a code snippet- hopefully you get the idea.

[code]

[code]

The end result is that the bindablePropertyChanged is only triggered once no matter how many events are published.

[2016-04-03 03:45] egeland commented on #364
As discussed in z-brooks' PR, the best practice for this is to set the `<select value.bind` variable to the value of the option you want to be selected (in my example: `"showThis"`), in your VM, and don't use `selected` in the HTML.

[2016-04-03 03:45] #364 closed

[2016-04-03 15:21] mbroadst opened #369 "babel5 and core-js in config.js"
Hey guys,
Just wondering if there is a reason that the `config.js` still has references to babel5 and core-js: https://github.com/aurelia/binding/blob/master/config.js#L23.

I'm trying to clean up a few of my own modules after the babel6 update, and wanted to make sure I wasn't leaving any cruft around.

[2016-04-03 17:18] EisenbergEffect commented on #369
No reason. We need to get that cleaned out.

[2016-04-05 13:41] ClareBear85 opened #370 "computedFrom doesn't support paths - based on #149"
I updated to aurelia-binding@1.0.0-beta.1.3.1, so that I could do the following: computedFrom - including path.

[code]

![image](https://cloud.githubusercontent.com/assets/7114660/14313249/5c6e1798-fbe8-11e5-865d-5a933754f747.png)

However this doesn't fall into the if statement if 'baseContent.ValidFromTime', 'baseContent.ValidToDate', 'baseContent.ValidToTime' have changed. What am I missing?

[2016-04-05 16:59] timfish commented on #309
If we're to use ValueConverters for filtering, being able to observe the properties we're filtering by is quite essential. Is `signal` the least hacky way I can get round this until the above is implemented?

[2016-04-05 17:51] ppn2 opened #371 "Binding to a boolean property"
Is there any way to tell aurelia that the bound property in the ViewModel is boolean and convert the value to boolean before assigning to the variable?

For Example (This is type script code)

Parent View
[code]
my-comp view model
[code]
Right now aurelia will assign it a string "true" value instead of boolean true. (Of course it does not know I am looking for a boolean). That begs the question, i

[2016-04-05 18:13] z-brooks commented on #371
: https://github.com/aurelia/binding/issues/347

You can bind it `is-active.bind="true"`, or something similar to your code:

[code]

[2016-04-05 18:20] JoshMcCullough opened #372 "Bindable changed handlers are not called if VM implements `bind`."
Handlers for bindable properties are not fired (the first time) when the VM also implements the `bind` pipeline step.

This will alert every time the `test` property changes:

[code]

This will alert every time the `test` property changes _except for the initial change_:

[code]

This took me an hour to track down, finally @z-brooks [informed me of this rule](https://gitter.im/Aurelia/Discuss?at=5

[2016-04-05 18:31] EisenbergEffect commented on #371
There's a feature being tracked to implement this already.

[2016-04-05 18:31] #371 closed

[2016-04-05 18:31] EisenbergEffect commented on #371
https://github.com/aurelia/binding/issues/347

[2016-04-05 18:37] EisenbergEffect commented on #372
This enables bind to be called synchronously when a component is first bound, enabling startup binding code to reliably respond when all properties have been set by the binding system, but then to update asynchronously later on when they update. We'd love for you to send a PR to improve the documentation around this.

[2016-04-05 18:37] #372 closed

[2016-04-05 18:51] JoshMcCullough commented on #372
I'm honestly not sure where this even is referenced in the docs (couldn't find it). If you point me to it, I'll be happy to update it if it is, indeed, unclear. Thanks!

[2016-04-05 18:57] EisenbergEffect commented on #372
Perhaps a note in this section of the cheat sheet: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/cheat-sheet/2
The src for that doc is in doc folder of the framework repo.

[2016-04-05 19:14] ppn2 commented on #371
Thanks @z-brooks for the workaround. However I would love to have a more robust solution as pointed out by @EisenbergEffect.

Moreover, I had another question, related to getter and setter on bindable properties. Is there any way honour the logic inside them. I know I can always fall back to the change event.

[2016-04-05 19:15] JoshMcCullough commented on #372
Done: https://github.com/aurelia/framework/pull/390/commits/c2a85c93321a21618dbafa66f7c8de46098fa485

It ended up a bit wordy, but I think it's a relatively difficult thing to explain in a clear and concise manner.

[2016-04-05 19:15] EisenbergEffect commented on #371
Not currently. Bindables have a very specific set of internal needs related to surfacing of the interface in HTML.

[2016-04-05 19:47] #310 closed

[2016-04-05 21:37] jdanyow commented on #309
@timfish give this binding behavior a try: https://gist.run/?id=61b94e889c95d4336de7

https://github.com/aurelia/templating-binding/issues/86

[2016-04-06 00:09] timfish commented on #309
@jdanyow I was hoping to specify a property that is observed on each item in the array which would cause my filter value-converter to be re-evaluated. Along the lines of what you would get with
`@computedFrom('lineItems[].price')`

You have made me realise quite how powerful binding behaviours can be though and I put together this: https://gist.run/?id=b5de591668766a0923209507b03f9fac which allows

[2016-04-06 02:34] z-brooks opened #373 "Reference/Save value converter result"
@xharmagne and @michaelprescott expressed interest in such a feature.
https://gitter.im/Aurelia/Discuss?at=570472f48eec5313252e7189
https://gitter.im/Aurelia/Discuss?at=5704739ff7d63d897f23a4e0

I had a similar requirement so I modified the files to allow saving value converter results.
[code]

Is this something worth adding?

code: https://github.com/aurelia/binding/compare/master...z-brooks:valu

[2016-04-06 07:30] fopsdev commented on #347
like this feature.
just in case -> float numbers can be formatted differently depending on the used culture
i'm just telling that because i see developers running into this issue again and again :)

[2016-04-06 10:20] ClareBear85 commented on #149
@ggrimbert this is the same for me config.computedFrom(['baseContent.ValidFromTime', 'baseContent.ValidToDate', 'baseContent.ValidToTime'])

[2016-04-06 11:08] jdanyow commented on #370
Issue moved to [aurelia/validation #234](https://github.com/aurelia/validation/issues/234) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-06 11:08] #370 closed

[2016-04-06 11:27] jdanyow commented on #373
Here's an issue where we discussed how to support this scenario:
https://github.com/aurelia/templating-resources/issues/171#issuecomment-166157329

[2016-04-07 01:16] sormy commented on #149
FYI, aurelia bindings can't bind normally to Date objects. In my case I have to use and bind to value property of Date object:
[code]

But that stills fall back to dirty checking to value property of Date object.

PS: I developed aurelia-stats to track digest loop for aurelia, will release soon.

[2016-04-07 21:08] ben-girardet commented on #233
I'm coming across a similar issue and can't get it to work. In an array (`this.steps`): I need to move an item from a position to another (index `previousPosition` to `newPosition`). This array is used in a repeater in the view.

Here are the relevant parts of the code I've tried:

**steps.js** (VM)
[code]

**steps.html**
[code]

Both options have problems when the view gets updated. Sometime the

[2016-04-07 21:11] EisenbergEffect commented on #233
@jdanyow @martingust Can you guys look into this?

[2016-04-10 03:16] jedd-ahyoung opened #374 "Allow binding behaviors in observer subscription"
I'm not sure if this is a supported use case at the moment, but I'd like to be able to throttle or debounce a subscription on an ExpressionObserver using the BindingEngine. At the moment, I don't think that this use case is supported.

Currently, we can do something like this:

        this.messageSubscription = this.bindingEngine.propertyObserver(this, 'message')
            .subscribe((change) =

[2016-04-11 03:03] jdanyow commented on #373
@z-brooks what do you think- is the `let` element or attribute a good solution or do you favor extending the binding syntax?  I think I like the `let` approach better.

[2016-04-11 03:52] jdanyow commented on #335
Simple repro based on @Markusxmr's example:  https://gist.run/?id=421475231db224f6d18cdf4c2b16e843

The ref is being put on a bindable property.  Not sure if this is a supported scenario.

[2016-04-11 04:25] jdanyow commented on #374
Unfortunately the throttle/debounce binding behaviors would be hard to reuse here.  Their implementation is optimized for the binding engine, eliminating closures, etc.  The reactive extensions for js seem to be a popular choice for this kind of thing: http://reactivex.io/  Not sure if that's too heavy handed.

[2016-04-11 04:30] z-brooks commented on #373
@jdanyow I could get on board with the `let` element. Easier to read/understand than what I've done and also seems more flexible. Something like this might be possible (?):
[code]
Not really possible with my solution.

[2016-04-11 04:31] jdanyow commented on #368
@MaluTom please put together a repro so we can look into it: https://gist.run/?id=1ae985e6c943885496e8

[2016-04-11 11:37] jdanyow commented on #373
nice! yes that ^^^ would be possible

ok to close this?

[2016-04-11 20:57] z-brooks commented on #373
yep. :+1:

[2016-04-11 20:57] #373 closed

[2016-04-13 01:52] jdanyow commented on #335
Closing this- not a supported use-case for ref binding.

[2016-04-13 01:52] #335 closed

[2016-04-13 02:04] jdanyow commented on #295
closing - see either of these for more info:
https://github.com/k2s/aurelia-example-jsdata/issues/1
https://github.com/aurelia/binding/issues/322

[2016-04-13 02:04] #295 closed

[2016-04-13 02:09] #269 closed

[2016-04-13 02:12] #194 closed

[2016-04-13 02:23] jdanyow commented on #164
requires native support for symbols

[2016-04-13 02:23] #164 closed

[2016-04-13 05:22] BenDTU opened #375 "On property change, if.bind attached to a computed property appears to be evaluating after contents are re-rendered."
I've currently got a situation where I'm rendering a grid with separate 'columns' and 'rows' properties, with the row rendering being wrapped with an if.bind that points to a computed property which determines whether the rows can currently be rendered (Based on both 'columns' and 'rows').

Upon changing the 'columns', I'm finding Aurelia will try and evaluate the contents of the if.bind before it

[2016-04-13 23:44] jdanyow commented on #375
If you want to put together a repro we can take a look: https://gist.github.com/jdanyow/7542e061bc940cde506b

[2016-04-13 23:45] #374 closed

[2016-04-14 00:39] fabioluz opened #376 "error invoking show when using aurelia-i18n with webpack"
I'm not sure if this issue is related to aurelia binding, templating or i18n. Sorry if I posted it in the wrong repository.

Considering that I'm using the latest version of es2016-skeletonproject-webpack, If I install the `aurelia-i18n` following the instructions in the docs, I can't use `show.bind` anymore.

For example:
1. Download skeleton project
2. Install packages `npm install`
3. Install a

[2016-04-14 00:56] EisenbergEffect commented on #376
Can you make sure you aren't somehow getting multiple different versions of libraries loading at runtime?

[2016-04-14 03:26] sylvain-hamel commented on #376
At [this line](https://github.com/aurelia/i18n/blob/master/dist/aurelia-i18n.js#L520) the code refers to `Element`. `i18n` may have an undeclared dependency on `aurelia-pal/aurelia-pal-browser`.

Try this:

Add those two lines before your first import to see if it fixes the problem:

[code]

[2016-04-14 04:23] fabioluz commented on #376
@EisenbergEffect  Thank you for the response.

I've just downloaded the latest skeleton project again (1.0.0-beta.1.2.2). Then, I made the following changes, in that specific order:

Installed the packages
- npm install
- npm install aurelia-i18n --save
- npm install i18next-xhr-backend --save

Included the submodules
[code]
Configured the main.js

[code]

Added a show.bind expression

[code]
Then

[2016-04-14 04:34] BenDTU commented on #375
Thanks very much. I've been able to replicate the bug at https://gist.run/?id=68e9e556b62b720a9fb6fd4138da3a9b

When you click 'switch between tables', you'll notice that the databound content is displayed quickly before disappearing, as well as a Javascript error being thrown due to the data it's trying to work with no longer matching what was expected.

[2016-04-14 10:03] Souldrinker opened #377 "Stuff broke in 1.3.2 when using kendo bridge"
Not sure if I should post it here or in the aurelia-kendoui-bridge, but since it broke after updating this library I try here first.

After doing a jspm update this morning after the Aurelia Mid April 2016 Patch Update things stopped working. When I reinstalled aurelia-binding 1.3.1 (without ^) and manually downgraded the config.js to use that version and left everything else upgraded things start

[2016-04-14 12:08] stoffeastrom commented on #377
I [compared](https://github.com/aurelia/binding/compare/1.0.0-beta.1.3.1...1.0.0-beta.1.3.2#diff-25609766b4c70f522aa0041b479511c7) the tags. Search for `autoConvertAdd`. Looks like it changed to strict comparison. Might be a problem?

[2016-04-14 12:14] jdanyow commented on #377
I agree with @stoffeastrom.  @Souldrinker can you confirm that reverting only the `autoConvertAdd` function to 1.3.1 resolves the issue for you?

Maybe we need to add support for `undefined` in there?

[2016-04-14 12:15] Markusxmr commented on #335
Ok.

[2016-04-14 12:29] Souldrinker commented on #377
Yup, just changing the === to == and !== to != in the autoConvertAdd method in aurelia-binding.js (1.3.2) seemed to fix it.

[2016-04-14 12:38] jdanyow commented on #377
one last thing (I want to make sure we add unit tests for the right scenario):

when the error occurs, one or both of the arguments to the `autoConvertAdd` are `undefined`, causing the issue.  Do I have that right?

[2016-04-14 13:00] Souldrinker commented on #377
Yup, in one of the calls to that method b was undefined.

In that case I got ```a = "widgets.vm.logbook.status-", b = undefined``` which seems to come from this i18next value converter inside a Kendo grid:
[code]
...which then seems to make all Kendo stuff break.

But I suppose concatenating a string with an undefined value should work?

[2016-04-15 00:33] jdanyow commented on #377
fixed in https://github.com/aurelia/binding/commit/d2a88ddc79305d761be1b1efba666da007943cb7 but I jammed up the issue number on the commit message :sob:

[2016-04-15 00:33] #377 closed

[2016-04-15 22:33] MFJust opened #379 "Valueconverters don't react to update in repeat"
I have two arrays in my class
[code]

And use a valueconverter to only show the cases per user, which are assigned to the user.
[code]

[code]

When I update the cases to the following
[code]
Nothing changes, till I reload the page.

[2016-04-18 15:41] svenvandescheur opened #380 "Binding to custom attribute doesn't work."
I'm using a custom attribute which I'd like to put some configuration in. This configuration is taken from the value of the custom attribute. However, binding to this doesn't seem to work:

[code]

results in:

[code]

instead of:

[code]
Where binding to other properties seems to work perfectly.

[2016-04-18 22:50] #320 closed

[2016-04-18 22:59] jdanyow commented on #380
When you data-bind an html attribute, the binding system will assign the underlying DOM property.  For example, when you bind an input element's [`value` html attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input), the binding system assigns the input element's [`value` DOM property](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement). It does not call `input.se

[2016-04-18 23:57] EisenbergEffect commented on #380
Note: We have an issue we are tracking and thinking of enabling auto reflection to attributes as an opt-in capability in the future.

[2016-04-18 23:57] #380 closed

[2016-04-19 07:56] delebash opened #381 "Binding using class not working in aurelia docs getting started example custom element nav-bar"
Windows 7 x64
aurelia-framework: "^1.0.0-beta.1.1.3"
modified webpack skeleton navigation  -- just changed some html in the template

In the Getting Started docs -- Creating Custom Element section
creating the nav-bar binding you can either use

` <template bindable="router"> `

or javascript class

[code]

The javascript class version does not seem to be working.  The ` <template bindable="router

[2016-04-19 13:26] EisenbergEffect commented on #381
@AshleyGrant Can you take look at the docs. They may need some clarification. I'm closing this since I know there's not a bug.

[2016-04-19 13:26] #381 closed

[2016-04-19 17:37] istrau3 opened #382 "View goes out of sync with model on select list options change"
Please see the following reproduction:
https://gist.run/?id=d933d929a37ec4bf4d0a1ffc89a8b586

Note that initially 'bob' whose value is 1 is selected. The model (this.selected) is also equal to 1 (as seen after the button). After the "Modify Options" button is clicked, 'joe', whose value is 2, is selected but the model is still equal to 1. The model and view have gone out of sync.

I don't think th

[2016-04-20 01:07] #368 closed

[2016-04-20 14:23] delebash commented on #381
@AshleyGrant
It was a difference of removing the .html in` <require from="./nav-bar"></require> `when using `<template>` verse having the .html ` <require from="./nav-bar.html"></require> ` when using `<template bindable="router">`

[answered ]( http://stackoverflow.com/questions/34148851/aurelia-nav-bar-vm-not-working)on stackoverflow

Would be nice to make this distinction in the docs clearer

[2016-04-21 00:19] sormy commented on #149
@ClareBear85, if you have Date objects as properties and you would like to bind them with `@computedFrom()` then I would like to suggest you https://github.com/sormy/aurelia-date-observer

[2016-04-21 16:21] Jrousell commented on #132
I had this issue today with masonry which applies it's layout after the DOM has loaded. As suggested, I just created a custom attribute and attached it to the repeating element:

[code]

Then, in the custom attribute `bind` method of the custom attribute checked to see if the DOM element being added was the last, and if so applied the masonry layout.

[code]

At first seemed a bit odd, but on refl

[2016-04-21 17:24] cehoffman opened #383 "computedFrom using Set doesn't watch for changes to Set"
Basic idea is I'm trying to use `@computedFrom` on a property that contains a set and I expected it would watch that set for changes. But it doesn't. I guess I can understand that the basic implementation is only watching if the value a property is replaced, but it seems a natural extension based on how changes to sets are propagated in the view on repeat.for that this would work. Perhaps the bind

[2016-04-22 07:28] AdamWillden commented on #377
@jdanyow I've just come across this issue moving from 1.3.1 to 1.3.2 but I'm not using kendo. Thanks for already fixing this, any ideas when we may have a release with this fix included? I understand the releases need syncing to include this.

[2016-04-22 17:49] flieks commented on #377
@jdanyow @AdamWillden I have the same problem. b being null and toString() crashing.
[code]
so newValue is null. Can't find more info about it

Thanks

[2016-04-22 17:52] mbroadst opened #384 "array provided by @children can't be bound"
relevant code: https://github.com/aurelia/skeleton-navigation/compare/master...mbroadst:colspan-binding-breakage?expand=1

The code above is a minimal example of something I do in my codebase that has worked for quite some time. Something recently changed that breaks binding to `colspan` (specifically in this case binding the `length` of a `@children` variable to `colspan`). I'm having incredible

[2016-04-22 18:43] mbroadst commented on #384
What's particularly strange in this case is that I'm able to use the `columns` variable (provided by `@children`) as part of a `repeat.for` absolutely fine, but when I try to bind the `length` of that variable to `colspan` (or even just render it directly, as can be seen at the bottom of `test.html`) it's as if the variable is undefined

[2016-04-22 18:45] mbroadst commented on #384
Using the new aurelia chrome extension it appears as if `columns` is `undefined`, which confirms my suspicion.. but now I'm even more turned around 😄

[2016-04-22 20:46] mbroadst commented on #384
This seems to be solved by initializing the variable. I'm pretty sure this is a breaking change, so hopefully this helps someone in the future. Specifically I had to change:
[code]

to:
[code]

[2016-04-22 22:45] EisenbergEffect commented on #384
@jdanyow Seems we had a couple of regressions in binding. This and one other issue I saw. Any ideas what the cause could be? It would be great if we could fix. I can get a patch out as soon as you have something.

[2016-04-23 08:31] flieks commented on #377
i narrowed down the problem/bug:
it happens when you make global.value null (=global scope)

[code]

So the if.bind should be checked right before the bind is executed..

I'm making it null in a callback of request to server in the bind() of another custom element CE.
I moved that request to the attached() in CE and now it all works.

[2016-04-23 12:28] jdanyow commented on #384
Some of the linting changes swapped `==` with `===` in a few spots.  Definitely good changes @mbroadst (I'm not complaining) but caused https://github.com/aurelia/binding/issues/377 because we didn't have test coverage for autoconvertadd at the time.

This could be the same sort of thing.  @mbroadst if you swap the current binding release (1.0.0-beta.1.3.2) with 1.0.0-beta.1.3.1 does it work? Also

[2016-04-23 12:35] jdanyow commented on #382
The option element's value attribute coerces everything to a string. This breaks your use-case because your ids are numbers.  Use [`model.bind`](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.2.2/doc/article/cheat-sheet/5) instead: https://gist.run/?id=2a593616215e62873df2389d27aa80cc

[2016-04-23 12:41] jdanyow commented on #383
Would this work for you: https://gist.run/?id=5bdb56a888a2269a9bec7af373655ee6

There's also a gist here that might be helpful:  https://github.com/aurelia/templating-binding/issues/86

[2016-04-23 13:02] mbroadst commented on #384
@jdanyow doh, stupid mistakes committed on my part sorry for that.

I've tested both lowering to `1.3.1` and building from master, and neither solve the problem. What's even stranger is that the updated `rjs-bundle` we've been using for the gist.run's does _not_ express this issue: https://gist.run/?id=4bf406ab1ddb67b466d4d95cb2b98f1f.  So I'm a bit turned around here.

[2016-04-23 19:18] kellyethridge commented on #383
@jdanyow Your solution works in Chrome but not in Firefox. The state argument is always undefined. Is that expected?

[2016-04-25 01:20] cehoffman commented on #383
@jdanyow yeah that does work. Thanks for looking at the problem from a different angle.

[2016-04-25 20:04] istrau3 commented on #382
@jdanyow Thanks for the response (and the tip to use the model.bind instead of value.bind). That said, the gist you linked to does not solve the problem. In fact, it further underlines the problem. In your gist, the model and value go out of sync as well when the options are switched out.

1) viewModel.selected = 2, select displays 'joe' whose value is 2
2) click modify options
3) viewModel.select

[2016-04-25 21:48] vegarringdal opened #385 "Question regarding @bindable"
The html
[code]

Atm I can do this
[code]

But is i possible for me to set a few of them onto a class/object instead of having them in "this" context. without having doing something style tag way?
```options="row-height:50;header-height=50;resizable-headers:true" ```

Just do it with the @bindable
[code]

[2016-04-25 21:51] EisenbergEffect commented on #385
The code you are showing at the bottom isn't valid JavaScript. You could manage this with a custom attribute that communicated with the custom element to set up a different structure though. You might find this blog post helpful: https://blog.ashleygrant.com/2016/04/23/accessing-an-aurelia-custom-elements-viewmodel-from-acustom-attribute-on-that-element/

[2016-04-25 21:51] #385 closed

[2016-04-25 21:58] vegarringdal commented on #385
Yes Ive seen it.
Just tried to show what I wanted it into some other place then "this" wondering if there was a way to pass something into @bindable, a class or something without creating a custom attribute for each one.
:-)

[2016-04-26 11:42] vegarringdal commented on #385
Read Ashleys blog a few times more, think I know how to do it now.
Option.of will help me do what I want to do.
[code]

Learn something new every day, but its fun :-)
Thanks for pointing me in the correct direction.

[2016-04-26 16:24] jdanyow commented on #384
@mbroadst if you set a conditional breakpoint in the [`getContextFor`](https://github.com/aurelia/binding/blob/master/src/scope.js#L20) function with the following condition: `name === 'children'`... does it find the object instance you'd expect?

[2016-04-26 16:24] #383 closed

[2016-04-26 16:32] jdanyow commented on #376
@fabioluz did you get this sorted out?  This error isn't a binding thing: `key/value cannot be null or undefined. Are you trying to inject/register something that doesn't exist with DI?`

[2016-04-26 16:37] mbroadst commented on #384
@jdanyow adding that conditional breakpoint (wow what a nice feature to learn about, I feel like I've been missing that my whole life) didn't result in any new behavior, read: problem still exists, breakpoint was never triggered

[2016-04-26 16:53] fabioluz commented on #376
As I said, I wasn't sure if this is related to aurelia-binding. I posted it here because the error only happens when I use `show.bind`.

A new Aurelia version has been released since I posted the issue. I'll try to reproduce this error using the latest skeleton.

[2016-04-26 16:54] jdanyow commented on #375
This isn't a bug, the error happens in your example's `evaluationFunction` because it expects the data to have a `name` property which isn't always the case depending on the sequencing of your switchdata function in combination with dirtychecking the tableAndDataMatches computed property

[2016-04-26 16:54] #375 closed

[2016-04-26 22:19] haiau79 opened #386 "Aurelia click.delegate not working on object element, mouseover.delegate works fine"
I have a simple aurelia view and view model. In my view, I have an object that points to an svg and I am able to do mouseover.delegate="domouseover()" mouseout.delegate="domouseout()", but when I try to use click.delegate="doClickSVG" the doClickSVG() method is never invoked! What am I doing wrong? Please help, I have spent many hours trying to figure this out!

I also have an img which points to

[2016-04-27 00:08] jdanyow commented on #386
tracking this one on stackoverflow: http://stackoverflow.com/questions/36876662/aurelia-click-delegate-not-working-on-object-element-mouseover-delegate-works-f

[2016-04-27 00:08] #386 closed

[2016-04-27 23:22] BenDTU commented on #375
Thanks for checking that out - I'm trying to add a computedFrom to my example there, but it doesn't appear to be working as expected from within GistHub. Is there something up there?

[2016-04-28 21:36] fabioluz commented on #376
@jdanyow This error still happens in the latest skeleton-es2016-webpack.

Here's an example https://mega.nz/#!1FEyFT6D!PDTuXrWTJ66_meyp4mxeJ_0aBdlK-9RfR0ta9bVDfjM

[2016-04-29 09:43] alexanderteinum opened #388 "`@computedFrom('router.navigation')` does not work as expected"
[code]

…results in `[]` for some reason that I don’t understand.

My use case is that I want to transform `router.navigation` before passing it to the view in order to apply dynamic logic. By transforming I mean passing it through `filter()` and `map()` for instance. Although not shown in the example above, I have logic that is dynamic that e.g. determines if a nav item should be shown or not – e

[2016-04-29 10:42] chaituGS opened #389 "route undefined error"
i am trying to change route by using navigateToRoute  method but could not do that.
Can anybody help me solving that or please share a working example.
Note: i am using the typescript - navigation - skeleton & trying to change route on button click in welcome.html page
Thanks in advance.

[2016-04-29 10:45] jdanyow commented on #389
Please ask these kinds of questions on the gitter channel: https://gitter.im/Aurelia/Discuss

There's a ton of developers in there helping people out with questions.

[2016-04-29 10:45] #389 closed

[2016-04-29 10:46] chaituGS commented on #389
thanks

[2016-04-29 10:58] jdanyow commented on #388
The router supports custom "state" for routes via the `state` property.  You would have to change this:
[code]

To something like this (scroll to the right -->):

[code]

`@computedFrom` isn't helping because `@computedFrom('router.navigation')` causes the binding system to observe the `router` property for changes (eg a different value was assigned to `viewmodel.router`) and observe `navigation`

[2016-04-29 11:28] alexanderteinum commented on #388
Hum. Actually, I’m not sure why I wanted to observe `router.navigation`. After it has been bound, it shouldn’t change? By removing the `@computedFrom`, but keeping the property it seems to work for my current use case – which is filtering based on if the environment is dev or not.

[2016-04-30 21:09] DiegoGallegos4 opened #390 "Component Lifecycle runs as many prop binded to it"
Im currently building custom table element. It looks like this:

[code]

The View looks like this:

[code]

Call it like this:
`<custom-table header.bind="header" data.bind="data"><custom-table>`

The issue is the following. Whenever I want to log `data`, it does it twice. Once as the array passed and other as an empty array. This creates a couple of inconvenienes as whenever I want to process the

[2016-05-01 22:15] jdanyow commented on #390
@DiegoGallegos4 could you put together a reproduction of what you're seeing using the Aurelia Gist: https://gist.run/?id=7542e061bc940cde506b

[2016-05-02 02:13] DiegoGallegos4 commented on #390
https://gist.run/?id=dd770d413c5ec7fd5b4a50cc5643ba87

I uploaded a photo of my console log. On the gist log I just see one thing getting log. I have two properties. Does the bind function runs once or twice?

[2016-05-02 07:55] maimon51 opened #391 "View does not render correctly after moving/dragging object from one binded array to another"
We're using sortable library to allow drag and drop of items from tool box to list and from list to another list.

The symptoms are strange, the drag and drop works well if we drag the last item on the list, but if we drag any other item, the next item is removed.

On the drop event we move the object from the source list to the destination list and after when debugging the state of the model appe

[2016-05-03 00:57] michaelmalonenz opened #392 "@observable docs / example"
Can we please have some documentation and/or an example of the `@observable` decorator - searching from an input seems to be a common scenario where this is useful.

[2016-05-03 01:15] EisenbergEffect commented on #392
@jdanyow Can you include this in general binding docs you are working on?

[2016-05-03 01:16] EisenbergEffect commented on #392
[code]

[2016-05-03 01:18] michaelmalonenz commented on #392
Yes, sorry, I am raising this in response to @PWKad asking me to in the Gitter channel.  It wasn't me being unable to reverse engineer how to use it, it was knowing about it in the first place that was the missing piece - being in the docs would be a start.

[2016-05-04 12:28] TGMorais opened #393 "missing dependency"
Hi,

I'm not sure is this an issue, or just my miss understanding of how npm works, but is not `aurelia-logging` missing from the "dependencies"?
It's included in the jspm dependencies.

the current package
[code]

I've pulled a fresh skeleton and installed `aurelia-i18n`, which has a dependency on this package, however after  I `run npm install`, If I run `npm run dev` an error is thrown:
[code]

[2016-05-04 13:05] EisenbergEffect commented on #393
I believe you are correct. We'll get a patch release out shortly.

[2016-05-04 13:42] EisenbergEffect commented on #393
Released. Apologies!

[2016-05-04 13:42] #393 closed

[2016-05-04 14:12] TGMorais commented on #393
Thanks! 👍 👍

[2016-05-04 14:49] AStoker opened #394 "Camel Case properties in SVG's"
I have a custom element that handles creating SVG elements. In the svg element itself, I bind the view box property and the rest to the element like so:
[code]

Since the update (seemingly related to this particular part about camel case https://github.com/aurelia/binding/commit/315cfaa229c13da8355ee1dec201a09c7df507db) properties that are camel case in the svg (such as `viewBox`) no longer displa

[2016-05-04 14:52] Scapal commented on #394
I confirm `viewBox="0 0 ${size} ${size}”` doesn't work anymore, I have to do `view-box="0 0 ${size} ${size}”` now.
`stroke-width.bind=“strokeWidth”` stays `stroke-width.bind=“strokeWidth”` in the rendered web page and is not computed.

[2016-05-04 14:56] AStoker commented on #394
Could be related to a previous story https://github.com/aurelia/binding/issues/59

[2016-05-04 15:00] Scapal commented on #394
Not related since it was working before the update and the attributes we are using are present in binding/svg.js.

[2016-05-04 15:03] AStoker commented on #394
Related in as far as the support for additional svg properties that have camel case. They mentioned adding attributes to a mapping, could be that the mapping was cleared with the new update?

[2016-05-04 15:21] Scapal commented on #394
extract from `aurelia-binding/src/svg.js`:
[code]
It already contains `viewBox`.

[2016-05-04 15:51] EisenbergEffect commented on #394
@jdanyow Looks like we have a regression here with respect to SVG. Is this going to be easy to address?

[2016-05-05 16:22] istrau3 opened #395 "repeat.for does not update on pre-valueconverter object changes."
Here is a reproduction:
https://gist.run/?id=9736b006cb3cc52a201d144c22176cb6

Basically, the issue appears when I try to repeat through some object that has a value converter applied to it:

[code]

what I am seeing is that, when I updated the object, the repeat does not re-render. I assume this is because it is watching the valueConverter's output. However, this is very counter-intuitive, as I w

[2016-05-05 16:30] EisenbergEffect commented on #395
@jdanyow I thought we fixed this...

[2016-05-05 16:34] istrau3 commented on #395
@EisenbergEffect Do I have the wrong version of aurelia in the gist? I am getting the same error on my machine using

[code]

[2016-05-05 16:47] doktordirk commented on #395
@istrau3 current is 1.0.0-beta.1.3.4

[2016-05-05 16:49] istrau3 commented on #395
@doktordirk How do you keep up with the versions (i.e. become aware when new ones come out)?

[2016-05-05 16:51] doktordirk commented on #395
it's announced on gitter, twitter, on the blog. i think an email newsletter is there as well if you want it automated

[2016-05-05 16:52] doktordirk commented on #395
here we go newsletter http://durandal.us10.list-manage1.com/subscribe?u=dae7661a3872ee02b519f6f29&id=3de6801ccc

[2016-05-05 16:53] istrau3 commented on #395
Thanks.

[2016-05-05 18:13] istrau3 commented on #395
@jdanyow @EisenbergEffect I just updated aurelia-framework to the latest and tried again. Still seeing the same issue.

[2016-05-05 18:17] EisenbergEffect commented on #395
@istrau3  We haven't been using the newlsetter yet. We will when we get closer to rtm. For now, the best way to keep up to date is through the Blog. We have a new initiative to post and announce release information every Tuesday. There's lot of other info on the blog as well though.

[2016-05-05 20:30] valichek commented on #395
I confirm this issue exists in aurelia-binding 1.0.0-beta.1.3.3, here is my gist https://gist.run/?id=df3d84d1818a19c92ea3b96ba62d45f3 with latest aurelia (https://github.com/valichek/aurelia-bundle/tree/i18n-0.5.2v0.0.4/jspm_packages/npm)

[2016-05-05 20:33] istrau3 commented on #395
@valichek
How are you producing these scripts:
[code]

[2016-05-05 20:37] valichek commented on #395
@istrau3 check rawgit.com and https://github.com/valichek/aurelia-bundle/

[2016-05-05 20:45] istrau3 commented on #395
After looking at @valichek 's gist, and seeing this statement:
[code]
its clear that that the original object IS being watched. However, it isn't being watched deep which perhaps is not desired. I am not sure how this problem is supposed to be solved actually. The only way would be to either watch it in a deep way or to somehow reverse engineer the value converter to see what on the object needs t

[2016-05-05 21:53] jdanyow commented on #395
[code]
[code]

we've never supported this^^^

it cannot be done without dirty checking or object.observe

[2016-05-05 21:53] #395 closed

[2016-05-05 22:31] EisenbergEffect commented on #395
Doh. I should have looked closer. I assumed we were iterating an array. Apologies if I added confusion here.

[2016-05-05 23:33] #394 closed

[2016-05-05 23:58] jdanyow commented on #390
@DiegoGallegos4 do you have an `if.bind` somewhere that is flipping from true to false and then back to true?

[2016-05-06 02:38] jdanyow commented on #394
@AStoker / @Scapal - there's a new build of templating-binding and templating-resources available- let me know if you run into any further issues with this release.

[2016-05-06 05:21] DiegoGallegos4 commented on #390
As a matter of fact. I do.

[2016-05-06 14:35] istrau3 commented on #395
@jdanyow So the solution here is just to replace the reference to object right? Something like this:

[code]

[2016-05-06 15:28] JeroenVinke opened #396 "Multiple overrideContexts"
We can call `.bind()` with a bindingContext and an overrideContext. Is it also possible to supply multiple overrideContexts?

The use case is as follows:

[code]

We use enhance to compile templates in `<ak-template>` and we do this for every row in the grid. I believe that there are actually three contexts here:
1. the dataItem behind the row (this is currently our bindingContext)
2. the view-mod

[2016-05-06 15:36] EisenbergEffect commented on #396
@jdanyow will show you the magical way :)

[2016-05-06 21:13] jdanyow commented on #396
@JeroenVinke do you already have access to the override contexts for the ak-col and ak-grid?  trying to figure out where to start- it's going to be something like this:

[code]

https://github.com/aurelia/binding/blob/master/src/scope.js#L12

[2016-05-07 09:30] dpinart opened #397 "Addding binding at runtime not working on custom elements"
Hi,

I have an scenario where I need to setup a binding in a view at runtime. I'm intercepting "created" pipeline step in order to add the binding as follows (typescript):
[code]
This is working fine as long target editor is a polymer's element or any primitive html element like input, chechbox,... But it's not working if target editor is a custom aurelia element with a two way bindable property,s

[2016-05-07 15:41] JeroenVinke commented on #396
I thought that it would be possible, but after trying things out I don't think I can get to the column override context. So i'll close this issue for now, thanks though :+1:

[2016-05-07 15:41] #396 closed

[2016-05-07 15:44] jdanyow commented on #396
@JeroenVinke not sure if this will be useful for you but if you know that your element is within an ak-col / ak-grid you can use DI to access the element view models.  Here are some stackoverflow posts that might be helpful:
http://stackoverflow.com/a/32781324/725866
http://stackoverflow.com/a/36875154/725866

[2016-05-07 15:53] JeroenVinke commented on #396
@jdanyow thanks for the links.

[2016-05-08 22:26] jdanyow commented on #397
You'll need to pass in the custom element's view-model instance to the `bindingExpression.createBinding(...)` call.  Not the DOM element.

[2016-05-08 22:29] dpinart commented on #397
How can I get the view model's instance?

[2016-05-08 22:36] jdanyow commented on #397
Assuming you have the DOM element, you can access the view model via `domElement.au.controller.viewModel`.  Here's an example: https://gist.run/?id=b9cf5b2ac96d6573a363464cefcc1c17

[2016-05-08 22:51] dpinart commented on #397
It makes sense and, of course, it works as expected...

Thanks a lot

[2016-05-08 22:51] #397 closed

[2016-05-08 23:05] jdanyow commented on #397
:+1:

[2016-05-09 09:58] Hansl001 opened #399 "Plugins with IOS and Cordova"
Hi
I cant seem to get plugins working on iOS and Cordova.
Using the ES2016 Start kit and for example the Aurelia-Dialog plugin (or i18n, or the validation plugin).
It works on Android with Cordova but on iOS I just get empty screen. Without loading any plugins (through main.js) the starter kit is working

What could be the problem?

[2016-05-09 13:20] EisenbergEffect commented on #399
Please direct questions to our gitter chat room: gitter.im/aurelia/discuss

[2016-05-09 13:20] #399 closed

[2016-05-10 02:16] bblazely opened #400 "Ability to determine direction of initial bind from a child to parent"
Hi,

I had a brief discussion about this over on Gitter, but couldn't make any headway.

I have a use case where I'd like the default value coming from a child to set the bound value in the parent's view-model initially. Currently it only works from parent to child.

I've created a demo to try and explain what I mean:
https://gist.run/?id=5e68d410d3d5c625b1304b9a3ac8de80

In this demo, the 'child'

[2016-05-10 02:53] EisenbergEffect commented on #400
This probably isn't going to happen, not merely for technical reasons, but also because data flow from child up to parent is pretty universally considered a bad practice and has been the source of many, many problems in other frameworks. Frankly, I'd be terrified to add something like this to Aurelia. I understand there are rare situations where there may be a legitimate use case, but I'm afraid i

[2016-05-10 02:53] #400 closed

[2016-05-10 02:56] bblazely commented on #400
Hi Rob,

No worries, thought there'd be a reason why and I'm more than happy to be told if i'm doing something a little odd. I also suspected it might be a fairly niche requirement...

Thanks for taking the time to explain your thoughts on it.

[2016-05-10 11:52] lukechilds opened #401 "Slow DOM updates if using unshift on an array"
I have a `posts` property that is an array of post objects displayed on the page. I have navigation buttons on the page that will make an api request and add multiple posts to the array, either at the start or the end of the array depending on which way they are navigating:

[code]

When `Array.push()` is used it looks like the new appended objects get new appended elements in the DOM, this is rea

[2016-05-10 11:55] EisenbergEffect commented on #401
@niieani I just sent you a core team invitation. Pending your agreement to join, this seems like a great issue for you to start work on 😄

[2016-05-10 11:56] EisenbergEffect commented on #401
@martingust @jdanyow Would you assist @niieani as needed?

[2016-05-10 13:18] lukechilds commented on #401
Just to add to this, it would be great if there was an event when rendering was done but it would also be great if you could set templating to not reuse DOM elements as that can sometimes be undesirable.

For example, when you change an image source in some browsers they will display the old image until the new image is loaded. So reusing an `img` element with a binded `src` attribute appears real

[2016-05-10 15:56] rajivbala opened #402 "Nested Binding expression"
I am trying to create a binding expressions (along with a few date converters) with i18n plugin as below, but i am not able to get it working

${'translation-key' | t:{'userName': user.name, 'day': $ {user. dateOfBirth | dayFormat}}

[2016-05-12 00:31] niieani commented on #401
@lukechilds I've tried recreating your issue, but so far I'm seeing that Aurelia does in fact prepend DOM when doing `.unshift(...)`. Aurelia does also have in place processing (`_inPlaceProcessItems`) for array repeats, but it is only used when both of these conditions are satisfied:
1. views don't require a lifecycle (i.e. not a component, no animation, etc.)
2. you splice the array by removing

[2016-05-12 09:11] lukechilds commented on #401
@niieani Thanks for looking into this. The the elements data gets prepended eventually but the actual extra DOM nodes appear to get appended and then afterward the properties are all updated.

I've added a comprehensive example [here](https://gist.run/?id=bdb331f980350bf60cd54cccadee65a6)

I'm using an alert to halt execution so you can see what's going on at that point in time. You should see in

[2016-05-12 09:46] lukechilds commented on #401
Just to clarify, the actual issue here isn't the way the templating works, it's that I don't think there's a way to reliably check the DOM after adding elements. If you remove the alert everything happens fast enough that both ways look fine.

It's just trying to check the DOM by adding cod to the task queue after the update works if you're appending but not if you're prepending. You _could_ fix t

[2016-05-12 09:56] lukechilds commented on #401
To answer your question above I get the issue with both `Array.splice` and `Array.unshift`.

[2016-05-12 10:22] EisenbergEffect commented on #401
Have you tried `taskQueue.queueTask(() => /* DOM stuff here */)`?

[2016-05-12 10:24] niieani commented on #401
@lukechilds Okay, sure. Thanks for your example. I see both the problem and room for improvement. As for a workaround, I'll send you something in a moment.

@EisenbergEffect indeed he has.

[2016-05-12 10:26] lukechilds commented on #401
@EisenbergEffect  @niieani

No I haven't, `queueTask()` does indeed [fix the problem](https://gist.run/?id=c2063f23fdd8ce6d00676335e42a4442).

Thank you very much!

[2016-05-12 10:26] EisenbergEffect commented on #401
@niieani I didn't see any use queueTask, only queueMicroTask.

[2016-05-12 10:27] EisenbergEffect commented on #401
@lukechilds But, is there still a performance issue?

[2016-05-12 10:32] niieani commented on #401
@EisenbergEffect that's right, my mistake. As for the performance issue, we could add special a way to handle splices when there are only insertions happening and/or a way to manually force the `repeat` to enable view-lifecycle. Depending on how changes happen in the DbMonster, the first solution might slightly lower its refresh speed.

[2016-05-12 10:36] lukechilds commented on #401
No, that's working perfectly. I mean it must be slightly slower than before the update because it's no longer rendered in time for `queueMicroTask()` but using `queueTask()` there is no visible lag.

There is a perceived performance issue when image elements are reused due to default browser behaviour mentioned above but I'll open a separate issue in the templating repo for that.

If it's not too

[2016-05-12 10:39] EisenbergEffect commented on #401
@niieani Talk with @jdanyow and @martingust about that to see what they think.

@lukechilds Micro tasks are put on to a draining queue that runs as soon as possible, before rendering. Macro tasks (or just tasks) are executed after the next "paint" or as soon after that as the browser will allow.

[2016-05-12 10:39] #401 closed

[2016-05-12 10:51] niieani commented on #401
@lukechilds If you want to force the element to be added instead of appending & reusing the old ones you can make the element use a view-model implementing `attached` method. Like this: https://gist.run/?id=78e6ce914568a9b336d05eb301dc0c14
Now it works even with `queueMicroTask`.

[2016-05-12 11:18] lukechilds commented on #401
@niieani Thanks, but the above gists were very simplified examples.

In my actual application I have a custom element that has array of objects that are child custom elements. I add multiple child custom elements in one go and this should trigger some logic on the parent custom element once per batch add.

If I understand the `attach()` method correctly, it would fire once on the parent element wh

[2016-05-12 11:20] lukechilds commented on #401
I agree that manually adding to the `taskQueue` doesn't seem ideal though. If there's a better way to achieve this functionality with Aurelia I'm all ears 👍

[2016-05-12 11:52] niieani commented on #401
@lukechilds I see. As far as I know, there isn't any event that fires after a repeat has finished re-rendering. I suppose your way is the closest to achieving that.
However it would be trivial to add something like that to the `repeat` custom attribute to achieve the following:

[code]

`someMethod` from the view-model would fire every time the repeater finished updating all its views. Would somet

[2016-05-12 11:57] EisenbergEffect commented on #401
That's an interesting idea....the repeater could just raise a custom DOM event. @martingust @jdanyow What do you guys think?

[2016-05-12 12:02] lukechilds commented on #401
@niieani That would be perfect!

[2016-05-12 12:40] niieani commented on #401
@lukechilds Here's a monkey-patched implementation:
https://gist.run/?id=6d2d446e55947d564daae507800da5c4

Can you try if this works for you?

[2016-05-12 12:46] lukechilds commented on #401
@niieani Yeah, that works well :)

[2016-05-12 12:50] niieani commented on #401
@EisenbergEffect note that a custom DOM event doesn't really help here because its not clear on which element it should be raised. Instead the above implementation simply triggers a method from the ViewModel, similarly to a how a `matcher` definition is extracted from the bindingContext.

If @martingust and @jdanyow agree that this is something useful, I'll clean up the code, add tests and make a

[2016-05-12 12:52] EisenbergEffect commented on #401
Good point. Let's see what the others say.

[2016-05-16 10:05] zakjan opened #404 "ObserverLocator error when trying to observe a constructor property"
I use TypeScript for model classes with polymorphism. In HTML templates I display a different template based on model type.

[code]

I need to compare constructor because instanceof operator is not supported by templating library.

Sometimes I get this error message: Uncaught TypeError: observer.subscribe is not a function

After debugging I found out that ObserverLocator.getObserver returns a wro

[2016-05-16 10:18] lukechilds opened #405 "Binding getter to attribute without `computedFrom` causes infinte loop"
I have a custom element for media uploads that displays either the media that has already been saved or the blob url of the media about to be uploaded.

In my VM I have a getter to workout the correct url for the media:
[code]
and in my view I have:
[code]

This appears to work, however on closer inspection if I add a file to the input it seems to infinite loop and repeatedly creates new blob urls

[2016-05-16 10:29] EisenbergEffect commented on #404
Generally, speaking, we don't advise this kind of approach to handling polymorphic rendering. Have you looked at the compose element? That is the preferred way.

[2016-05-16 10:29] #404 closed

[2016-05-16 10:33] #405 closed

[2016-05-16 13:19] EisenbergEffect commented on #138
@jdanyow Pinging you on binding documentation ;)

[2016-05-16 13:29] EisenbergEffect commented on #147
What was the status on this? Can we support `computedFrom` on methods?

[2016-05-16 14:00] EisenbergEffect commented on #163
@jdanyow Any thoughts on this?

[2016-05-16 14:55] EisenbergEffect commented on #218
We enable this through surrogate behaviors.

[2016-05-16 14:55] #218 closed

[2016-05-16 16:23] jdanyow commented on #147
I think we'd need to add logic to CallScope and CallMember's `connect` method to do something like this.  Not sure if we need to tackle for V1 so was leaving this in the backlog.

[2016-05-16 16:25] jdanyow commented on #163
only what I had mentioned here: https://github.com/aurelia/binding/issues/163#issuecomment-137216716

[2016-05-16 16:35] EisenbergEffect commented on #147
Sounds good. It can certainly be in a point release.

[2016-05-16 16:36] EisenbergEffect commented on #163
I think we could do this in a point release as well, do you agree?

[2016-05-16 16:42] jdanyow commented on #163
yep

[2016-05-17 01:42] jdanyow commented on #402
it's not possible to use string interpolation binding within a string interpolation binding  `${ ... ${ ... } ... }`

You'll need to simplify your binding expression or do it in steps like this:

[code]

[2016-05-17 01:42] #402 closed

[2016-05-17 13:12] suneelv commented on #376
I had a very similar problem. Whenever I added a compose element, I am getting this error

[code]

After struggling for hours @fabioluz solution on gitter finally fixed the issue
I have removed import {I18N} from my main file and now everything seems to be working fine.

[2016-05-17 15:33] EisenbergEffect commented on #285
Closing as not an issue.

[2016-05-17 15:33] EisenbergEffect commented on #285
Oops re-opening so we can document this better...

[2016-05-17 16:06] jdanyow opened #406 "Look into how #342 (unable to observe property logging) affects this scenario"
https://github.com/aurelia/binding/issues/342

[code]

[code]

[2016-05-18 08:21] lukechilds commented on #405
@EisenbergEffect is this expected behaviour?

[2016-05-18 17:54] jdanyow commented on #405
yes, getters are observed with dirty-checking.

[2016-05-19 21:36] akircher commented on #309
@jdanyow @EisenbergEffect
I have also run into the same problem at @timfish many times.  If there is a value converter on an array of objects - and one of the object property changes - the expected behavior is for the value converter to be rerun.

While I understand performance considerations for arbitrarily deep observation by default.  Could we get away with just one level deep by default for ar

[2016-05-19 21:48] akircher commented on #309
By the way here are the workarounds @jdanyow currently suggests:

http://stackoverflow.com/questions/32017532/observe-property-on-an-array-of-objects-for-any-changes

But I think we can come up with something even better!

[2016-05-20 10:05] timfish commented on #309
Although it's possible to fix this with binding behaviours, its a bit hacky and just a stopgap until we have something more permanent. @EisenbergEffect suggestion to return something from the value converter should be the long term goal.

[2016-05-20 17:44] akircher commented on #309
@timfish binding behaviors seem more elegant to be than introducing new syntax to value converters.  Also what if I want to do property observation on an array of object without a valueConverter? This is a common scenario for me and I wouldn't want to create a value converter just to handle it.

[2016-05-20 18:37] MrHayato opened #407 "Creating observers on frozen objects?"
Our Aurelia application is using Redux. We have everything hooked up and we're looking at different immutability options. The ones we can find are immutable.js and redux-freeze. With immutable.js, the API makes it really complicated for simple data objects we get from an API. Combine that with TypeScript, and it makes for a lot of extra work to just get typings to work properly as well. We love th

[2016-05-20 18:42] EisenbergEffect commented on #407
One solution is to replace the methods on the ObserverLocator with alternate implementations, yes. You use a WeakMap. In the future, this may be what we switch to internally as well. Since it's not universally implemented across the browsers we support, we use the hidden property.

[2016-05-20 18:42] #407 closed

[2016-05-23 10:00] Gheoan commented on #392
Fixed by https://github.com/aurelia/framework/commit/7bdcb221127e3c78211c3931959dc2e89bdc15a2.

[2016-05-23 10:05] Gheoan opened #408 "observable decorator not working with decorators function"
Here is a reproduction: https://gist.run/?id=db11dd4fd9e4dd1908fc88778a60aa5d.

[2016-05-23 12:24] 4nderss commented on #305
Any news on this? Still breaks on IE for me + I can't use <require> in my template with element-as because it breaks.

How I want it to work

[code]

[code]

Currently works without require in chrome but not with, does not work at all in IE. Renders without any tr or td element.

[2016-05-23 12:29] 4nderss opened #409 "as-element or custom elements breaks when used in tables"
Have tried to comment in [closed issue](https://github.com/aurelia/binding/issues/305) but seems dead?

[code]

[code]

Currently works without require in chrome but not with, does not work at all in IE. Renders without any tr or td containers.

[See plunkr](http://plnkr.co/edit/4hjqxcXmVLv325y3gvkw?p=preview)

[2016-05-23 12:41] AdamWillden commented on #309
This is is already a very common requirement and working 'around it' feels wrong. I agree a permanent solution is required and I like the idea of using the `ObservableValue` as @EisenbergEffect  [described above](https://github.com/aurelia/binding/issues/309#issuecomment-186965603)

[2016-05-23 13:19] jdanyow commented on #409
are you sure you want to repeat a `tbody` element?  Did you mean to use a `tr` element?

[2016-05-23 13:20] jdanyow commented on #408
@EisenbergEffect is this supposed to work?

[2016-05-23 13:27] 4nderss commented on #409
Yes, this is because of our perticular setup where we have 3 identical lists with spacing inbetween (future, current and historical itemgroups). And each itemgroup contains several items(tbody) and a item(tbody) has n number of tr groups depending on the items setup. Normally there are 2 sets of tr(row details and expanded info) but depending on the amount of changes made to the item the amount of

[2016-05-23 13:40] #392 closed

[2016-05-23 13:41] EisenbergEffect commented on #408
@jdanyow We should probably make it work in order to support pure ES6. The decorator implementation will need to be updated to account for this scenario.

[2016-05-23 13:43] EisenbergEffect commented on #409
I'm guessing that having multiple tbody elements is a problem for certain browsers.

[2016-05-23 13:47] 4nderss commented on #409
Well as you can see in the plunkr, rendering it normally (without custom elements) and just repeating on the tbody and having all the html inside the repeated tbody. Everything will render correctly. Problem with this is that we have to copy paste all that html for each of the three sections making it really unmanageable when we change in one place.

[code]

[2016-05-23 13:47] akircher commented on #309
Thinking about this more, I withdraw my `& deep` binding behavior proposal.  Its flaw is that it depends on the consumer of the array knowing how it will be modified.  This works if you define and modify the array yourself but is problematic if you consume someone else's array.

That being said, I still think we can do better than ObservableValue. I feel that it goes against the aurelia philosophy

[2016-05-23 13:54] akircher commented on #309
Also minor suggestion on the `@computedFrom` syntax.  Both Mongo and Couch 2.0 both use `lineItems.price` rather than `lineItems[].price` for specifying deep fields e.g., the array is handled implicitly. Unless there is a reason to deviate I would prefer a consistent syntax.

[2016-05-23 18:17] fopsdev commented on #309
i also ran into this.
my use case: having a editable (.bind) list displaying cached entities from a singleton. then in the same view i display a similar list with the same entities. i would now expect the property to change in both the lists upon editing.

maybe a stupid idea but why not decorate it on property level inside the class constructor:

[code]

[2016-05-24 07:12] thomas-darling commented on #353
Any update on this? We're really looking forward to it :-)

[2016-05-26 04:01] ashanvabs opened #410 "Is there any way to fill a table using repeat.for"
I have a html structure like below. so i need to create that structure by using a array of elements.
`<tr>
  <td>aa</td>
  <td>bb</td>
  <td>bb</td>
<tr>
<tr>
  <td>aa</td>
  <td>bb</td>
  <td>bb</td>
<tr>
<tr>
  <td>aa</td>
  <td>bb</td>
  <td>bb</td>
<tr>`
I want to fill a table using same array elements. so is there any specific way to perform that.

[2016-05-26 12:14] EisenbergEffect commented on #410
Please ask questions at gitter.im/aurelia/discuss

[2016-05-26 12:14] #410 closed

[2016-05-26 13:08] Einarsson commented on #409
To me this looks like the classic bug with IE for example. It doesn't allow <template> elements inside table and thus screws up the rendering which would explain why it works in your last example but not when using a custom element.

This is an issue posted with a lot of frameworks around the community but as far as I know there are no workarounds for it yet.

[2016-05-26 14:45] Vizer opened #411 "When aurelia creates new binding context"
Hi guys,
Could someone tell me when aurelia creates new binding context, what exactly causes to do this?

[2016-05-26 15:04] EisenbergEffect commented on #411
Each view has its own binding context. @jdanyow can provide further details.

[2016-05-26 15:29] jdanyow commented on #411
The "scope" in aurelia is made up of two objects: the `bindingContext` (almost always a view-model instance) and the `overrideContext` which can be thought of as an "overlay" of the bindingContext.  Properties on the `overrideContext` "override" corresponding properties on the `bindingContext`.  It's actually rare for there to be a property on the overrideContext that's "hiding" a property on the

[2016-05-26 20:18] atsu85 commented on #411
@jdanyow, it would be nice to have this information in docs as well. Not sure where tough.

[2016-05-26 20:20] EisenbergEffect commented on #411
Perhaps a "note" in one of the beds binding docs.
On May 26, 2016 4:18 PM, "atsu85" <notifications@github.com> wrote:

[2016-05-26 22:20] davismj opened #412 "Enable value converters with `ref` bindings."
My particular use case is that I'm using `element.ref` to grab an SVG element, which I then pass to [snap.svg](http://snapsvg.io/) for use in my viewModel. At the moment, I can do this by wrapping the svg in the `Snap` object in the `attached()` callback, but it would be nice and make sense to create a `valueConverter`:

**snapValueConverter.js**
[code]

**bestViewEver.html**
[code]

At the moment

[2016-05-27 14:54] Vizer commented on #411
Thanks @EisenbergEffect and @jdanyow. Yes, partially it answers the question, but I would like to clarify some points.
As I understood some components or attributes can create `bindingContext`. It depends on component or attribute implementation and there is no some specific rules for this. right?

As I see `bind` method in components has two arguments, first is `bindingContext `and second is `ove

[2016-05-27 21:15] Jenselme opened #414 "Invalid argument propertyAccessor.setValue on IE 11"
Hi,

I just tried my Aurelia application on IE11 and discovered it is broken. I get a `SCRIPT87: Invalid argument.` error [here](https://github.com/aurelia/binding/blob/69d54dbebafe87738f89b8ac4109921544d202cb/dist/commonjs/aurelia-binding.js#L3460). It works fine in all other browsers (Firefox and Chrome).

I tried to look at the problem, by adding this line before the setting of the value: ` con

[2016-05-28 05:10] behzad888 opened #415 "Apache cordova x.two-way binding not working in android 4.0.x"
In Android 4.0.x to 4.4.4 two-way binding not working until .bind is ok.

[2016-05-28 05:11] behzad888 opened #416 "In Apache cordova x.two-way binding not working in android 4.0.x"
In Android 4.0.x to 4.4.4 two-way binding not working until .bind is ok.

[2016-05-29 05:53] Furynation opened #417 "Unable to pass class context to binding engine"
I'm trying to update a property in my class via a callback passed/called from a propertyObserver subscription (in my case a SetterObserver.subscribe() callback)). In my case, "this" is undefined. Using the BindingEngine propertyObserver, it looks like only the callback is ever passed, even though there is a signature in SubscriberCollection.addSubscription which allows you to pass a context. Given

[2016-06-01 00:07] #412 closed

[2016-06-01 00:10] jdanyow commented on #417
the dreaded javascript `this` issue strikes again!

change:
[code]
to
[code]

[2016-06-01 00:10] #417 closed

[2016-06-01 00:11] #416 closed

[2016-06-01 00:11] jdanyow commented on #416
https://github.com/aurelia/binding/issues/415

[2016-06-01 00:11] jdanyow commented on #415
need more info

[2016-06-01 00:14] jdanyow commented on #414
when the error occurs, what is the value of `obj` and `propertyName` at the [line of code](https://github.com/aurelia/binding/blob/69d54dbebafe87738f89b8ac4109921544d202cb/dist/commonjs/aurelia-binding.js#L3460) you mentioned

[2016-06-01 00:36] EisenbergEffect commented on #412
@jdanyow You broke the package.json for jspm with this commit. Please revert changes to the package.json. Thank  you :)

[2016-06-01 00:36] EisenbergEffect commented on #412
You can keep the additions, but look at what was removed in the commit. Those things should not be removed.

[2016-06-01 01:59] Furynation commented on #417
I thought I had tried every possible combination of passing this in, save for this one :) Thank you very much!

[2016-06-01 05:35] behzad888 commented on #415
When we use `src.two-way` instead `src.bind` in view like [this](https://github.com/au-cordova/com.auCordova.catalogue/blob/master/client/js/app/details-list/details-list.html#L11), on android 4.0.x to android 4.4.4 `.two-way` do not working, but `.bind` is ok.

[2016-06-01 10:26] EisenbergEffect commented on #415
Two-way binding isn't going to work on an image src. Are you seeing this with form controls as well?

[2016-06-01 12:05] Jenselme commented on #414
As shown in the capture:
- `propertyName` is `textContent` (string)
- `obj` is some king of object called `EmptyTextNode` although I have also seen the error with a `Text` object.

Do you need more information? If so, can you be a little more specific on what you need?

[2016-06-01 12:06] jdanyow commented on #412
Not sure how I missed that!  I had added the two new dev deps manually too...  Fixed now.

[2016-06-01 19:29] behzad888 commented on #415
Yes its work with controls, Thanks.

[2016-06-01 19:29] #415 closed

[2016-06-01 19:46] icanhasjonas opened #418 "Binding a textarea's rows property to an undefined value throws exception"
Firefox doesn't seem to like when assigning a undefined value to an attribute. In my case it was the `rows` attribute on a `<textbox>`

[code]

[code]

Firefox throws `IndexSizeError: Index or size is negative or greater than the allowed amount`
@ https://github.com/aurelia/binding/blob/master/src/property-observation.js#L8 (That's `propertyAccessor.setValue()`)

[2016-06-01 22:00] jdanyow commented on #418
I think you can cause similar exceptions in Internet Explorer by setting a `td` element's `colspan` to an invalid value.  The binding system doesn't try to fixup or normalize the data.  Looks like firefox and edge throw and chrome eats the error.

[code]

chrome:
![test](http://i.imgur.com/Z16ggrz.png)

firefox:
![test](http://i.imgur.com/hPVvQmd.png)

edge:
![test](http://i.imgur.com/QvAc9Zw.png)

[2016-06-01 22:00] #418 closed

[2016-06-02 00:15] mikecann opened #419 "Callbacks rather than string-based property lookups."
Hi All,

Im not sure how feesable this is, I have had only a brief look through the code.

It would be great if instead of (or in addition to) doing something like:

[code]

You could do the following:

[code]

That would remove the "magic stringness" and enhance tooling support such as refactor.

Thoughts?

If you think its worth doing I may have a look at implementing it.

[2016-06-02 01:55] jdanyow commented on #414
any chance you could reproduce this issue using plunker:  http://plnkr.co/edit/1cBskxDsHcMP1hLmedyw?p=preview

[2016-06-02 02:20] jdanyow commented on #419
it already works like this- the other signature is primarily used internally to reduce memory pressure by eliminating closures.

Here's an example:  https://gist.run/?id=fea20e7760122b7292888b2aa653e202
[code]

[2016-06-02 02:20] #419 closed

[2016-06-02 02:23] mikecann commented on #419
@jdanyow thanks but thats not strictly what I meant.

In your example you are still referencing "foo" by name:

[code]

I would like to remove that string reference by using a callback to get the property:

[code]

[2016-06-02 02:40] jdanyow commented on #419
My bad, I misunderstood.  I think that would make a nice plugin.  Here's a Gist that shows how that could be done:

https://gist.run/?id=fea20e7760122b7292888b2aa653e202

[2016-06-02 02:44] mikecann commented on #419
Awesome! Ill have a look at writing something like that up :+1:

[2016-06-02 14:35] Roustalski opened #420 "Double Two-way binding not working with custom element"
Hi,

I have a custom component, `coolcomp`, in the following demo, that has a property `searchString`. I am referencing coolcomp from the welcome view and binding the firstName property to the referenced coolcomp's search-string property.

When I type in coolcomp and hit submit, the value I entered does not show in the popup.

Is this a known limitation, a binding bug, or did I simply not wire it

[2016-06-02 15:20] qraynaud opened #421 "propertyObserver.subscribe should probably return a Subscription-like object"
I think that though the pattern `.subscribe(callback)` & `.unsubscribe(callback)` is well known and pretty effective, it sometimes lacks ease of use:
* you need to bind your method in some variable or on your instance, then use this bound method to sub/unsub
* you can't use arrow functions in subscribe without an intermediate variable or you would miss a way to unsub

Returning an object with the

[2016-06-02 15:46] #420 closed

[2016-06-02 15:46] Roustalski commented on #420
Since it is a custom component, the search-string in the example needs to have the .two-way=... attribute modifier. Herp derp.

[2016-06-02 15:55] EisenbergEffect commented on #421
I think we picked this syntax for compatibility with Rx. @jdanyow can you confirm?

[2016-06-02 15:57] EisenbergEffect commented on #420
You can also define the bindable on the element as have a defaultBindingMode of two-way if you want to use .bind.

[2016-06-02 16:48] jdanyow commented on #421
A while back the property observers returned by the `ObserverLocator` had a `subscribe` method that returned a function.  Executing the function would unsubscribe:

[code]

The binding system was refactored and the `ObserverLocator` became the internal, bare-metal, memory optimized, closure minimized service for subscribing to prop changes.  The API changed to this:

[code]
This API allowed the bi

[2016-06-02 16:48] #421 closed

[2016-06-02 18:30] qraynaud commented on #421
Thanks for the details. I'll go for the higher level API then. But the `subscribe(context, myCallable)` format would have been good for me too.

It's not visible in the docs on http://aurelia.io/docs.html#/aurelia/binding/1.0.0-beta.1.3.5/doc/api/interface/InternalPropertyObserver. Shouldn't it be documented there?

[2016-06-02 19:54] Opiskull opened #422 "getContextFor is missing in aurelia-binding.d.ts"
Hi,

I tried the aurelia-validatejs package yesterday within a typescript project and it doesn't find the getContextFor function in the typescript definition. So adding this function to `aurelia-binding.d.ts` should fix that problem.

[2016-06-02 21:50] davismj commented on #353
I'd like to see this as well. The problem I keep running into is that a binding does not subscribe to the data that the `ValueConverter` is processing. In my newest scenario, I want to convert an array of coordinate pairs into an SVG path's `d` attribute. Because this is an attribute binding, neither adding new coordinates to the array or changing existing coordinates in the array update the bindi

[2016-06-03 00:56] jdanyow commented on #422
need to fix this in the validatejs package.  this is an internal API we don't need to expose

[2016-06-03 00:57] jdanyow commented on #422
Issue moved to [aurelia/validatejs #76](https://github.com/aurelia/validatejs/issues/76) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-06-03 00:57] #422 closed

[2016-06-03 16:53] Jenselme commented on #414
I managed to dug into it today and I found the view that caused problem in my app. It came from this code:

[code]

The injected translation by aurelia-i18n is `"It is the turn of <br /><strong>{{playerName}}</strong>"`. If I remove `t-params.bind` it works (but the message is not correctly translated).

To make it work without errors, I removed `<strong>${playerName}</strong>` (legacy from when I

[2016-06-06 20:44] Aedaeum opened #426 "Browser crash on recursion"
I'm not sure if this is a browser limitation or Aurelia not checking its variables, but the following code will immediately crash the browser (chrome browser tab) that it's loaded in.

**View**
[code]

**View Model**
[code]

Obviously this is a very simplistic example, but this is essentially what I accidently did with my own code, I referenced the public instead of the private variable which caus

[2016-06-06 22:22] EisenbergEffect commented on #426
It's nothing to do with Aurelia. That's literally a JavaScript infinite loop whenever you access the property.

[2016-06-06 22:22] #426 closed

[2016-06-06 22:24] Aedaeum commented on #426
Okay, so then clearly Chrome is not handling this properly.

Thanks for the quick response :smile:

[2016-06-07 09:21] qraynaud opened #427 "Handle caret position after toView processing"
When I use a ValueConverter to render a field like a currency, let's say it adds dots and `$` where needed, though adding a `.` or the `$` sign may disrupt the experience some, actually the current implementation makes the caret jumps after the last character every time someone types something in the input. This is even more disturbing, especially if the user wants to add digits in the middle of t

[2016-06-07 12:14] jdanyow commented on #427
It's tempting to make controls using value converters but the best way to do this is to create a custom element or attribute.  Then you'll have the ability to control the formatting *and the behavior* of the element.

[2016-06-07 12:14] #427 closed

[2016-06-07 21:58] qraynaud commented on #427
I understand this pretty well. I was just pointing out that a simple input element with a ValueConverter cannot be used to do a simple formatting in the input without a very bad experience. input + format with currency is not very extraordinary but the caret always jumping at the end is bothersome.

Does it really seems appropriate to you that when I add a digit in the middle of my number, only be

[2016-06-08 01:19] jdanyow commented on #427
Try a binding behavior.  It's a lot like a value converter but it gives you full access to the binding, the element, etc.  Value converters can be thought of as a side-effect free / pure data pass-through.  Binding behaviors are more advanced, they allow adding behavior like cursor movement.

[code]

https://www.danyow.net/aurelia-binding-behaviors/

[2016-06-08 01:31] jdanyow commented on #406
[code]

[2016-06-08 08:28] qraynaud commented on #427
I know of them and already implemented some. My issue is that you can use a ValueConverter on a custom element. If you put a binding behavior instead, it would work great on base inputs. You could even easily make it work on custom element you know of. But what of components that you are unaware of completely.

The ValueConverter thing is only an example. If I have a keypress event and modify the

[2016-06-08 15:29] genericuser-me commented on #314
I am using chrome. I resolved it in following manner, please let me know if this is OK:

View:
<input type="file" change.delegate="onFileUploadChange()"
                                    name="files[]" ref="filepdf" files.bind="selectedFiles"
                                    accept=".pdf,.zip" multiple
                                    style="opacity:0; cursor: pointer; width: 45px; height:

[2016-06-09 13:08] MikaelPorttila commented on #409
bump, any news on this **bug**?

[2016-06-09 13:12] EisenbergEffect commented on #409
It's an IE bug. As stated above, it's a problem that all frameworks suffer from and there isn't a way to work around it. Try taking a completely different approach.

[2016-06-09 13:12] #409 closed

[2016-06-10 07:30] JeroenVinke opened #430 "Lexer and ParserImplementation in typescript definition"
I just noticed that `Lexer` and `ParserImplementation` aren't in the typescript definition. I would create a PR but I can't explain what `Lexer` and `ParserImplentation` does (not well atleast).

[2016-06-10 09:05] nexbit commented on #64
Does https://github.com/aurelia/binding/issues/76 covers an expression like `data[0].property` ?
It seems my binding doesn't get notified when `property` changes, even if it is defined as an ES property..

[2016-06-13 12:32] elefantino commented on #314
genericuser-me, there is no such a bug in Chrome. This issue exists in Firefox. Your solution does not help

[2016-06-13 13:14] elefantino commented on #314
as a solution, you can use change.delegate="yourFunction($event)" in the file input, and add transforming of FileList to Array in this function in the view-model.
Code example:
View-model
[code]
View
[code]

[2016-06-13 17:38] JoshMcCullough commented on #38
`<div css="padding-left: ${depth * 20}%">...</div>` does not seem to work -- no `style` attribute is emitted on the element at all. Suggestions?

[2016-06-15 10:32] EisenbergEffect opened #432 "aurelia-validation.d.ts has missing imports from 'aurelia-binding'"
@stefan505 commented on [Wed Jun 15 2016](https://github.com/aurelia/validation/issues/256)

The `aurelia-validation.d.ts` has issues locating some members from `aurelia-binding`:

[code]

Not sure if this should be filed here or under `aurelia-binding` though.

[2016-06-15 12:40] MaartenThomassen opened #433 "Two-Way binding for class attribute"
Currently, the class attribute on any element can't be two-way bounded to.

class-observer.js states the following:

[code]

Is there a reason for this? If so, i would like to add this functionality.

A use case:

Bootstrap has some javascript plugins using jquery to do some stuff like collapse a panel. This adds and removes class properties "in", "collapse" and "collapsed" to a div element wrappi

[2016-06-15 12:41] EisenbergEffect commented on #433
I can't think of a good way to do that without using a MutationObserver. It seems pretty edge case...

[2016-06-15 12:46] MaartenThomassen commented on #433
My current workaround is using a MutationObserver indeed. What would be the reason for not using that here?

[2016-06-15 12:51] EisenbergEffect commented on #433
It could be done. @jdanyow would have to comment on how best to integrate two-way binding of non-input attributes going forward. This would only happen upon explicit request and wouldn't be the cheapest thing in the world probably. We can do this post, RC.

[2016-06-15 12:55] MaartenThomassen commented on #433
Allright. I'd be willing to assist with that when the times comes. I do however lack the deeper knowledge of javascript and browsers you guys have to judge if an implementation is good or bad performance wise though.

For now, I've constructed my own workaround, but it would be nice to have this in a future version.

[2016-06-15 16:02] jedd-ahyoung opened #434 "name-expression: Include target element in thrown error"
Aurelia throws an error if it can't find an `au` property on an element, defined here: https://github.com/aurelia/binding/blob/b3e48bf42aa2f545652876b69778fc254ef55c55/src/name-expression.js#L4

If this error is thrown, there's no way to detect which element caused the problem. Suggestion - add a property to the instance of the error with the problematic element to aid troubleshooting.

[2016-06-15 19:12] atsu85 commented on #433
@MaartenThomassen, could You share Your workaround here with the community? :)

[2016-06-15 21:43] jdanyow commented on #433
You could add this capability with a binding behavior:  https://gist.run/?id=eaf7783359307513c0013808049307f1

[2016-06-16 00:35] #432 closed

[2016-06-16 02:14] jdanyow commented on #434
https://github.com/aurelia/binding/pull/429

[2016-06-16 06:55] MaartenThomassen commented on #433
@atsu85 I've used a MutationObserver https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver on the <div> element i wanted to two-way bind the class on and whenever the class property updates i check for a certain keyword and if that keyword is present i set my "collapsed" property is true and if its not present i set it to false.

[2016-06-16 08:23] MaartenThomassen commented on #372
Is there any way to manually enable this feature? (or perhaps use an attibute on the viewmodel of the control).

I currently have a control which needs the context which is gotten by implementing bind. But it also has a load of other properties for which (i assumed) the chane handler is called when the control is created. It leads to alot of error-prone code if i need to add a manual call to the c

[2016-06-17 16:52] ppn2 opened #435 "Question: dirty property check"
I want to enable/disable a button, if a property is dirty or not. How can I accomplish it in Aurelia?

[2016-06-18 10:37] jdanyow commented on #435
check out the discussion here:  https://github.com/aurelia/templating-resources/issues/160#issuecomment-164277649

[2016-06-18 10:37] #435 closed

[2016-06-19 22:36] MeirionHughes opened #436 "Typings: Access{Scope/Member/Keyed} should be classes"
in source you have:
[code]

but in the typings (1.0.0-beta.2.0.7):
[code]

its a minor issue, but it would be nicer if these could be typed as classes and not interfaces as it would allow clean use of `instanceof` comparison.

... these are missing the variables in the typings as well.

[2016-06-20 12:07] jdanyow commented on #434
fixed

[2016-06-20 12:07] #434 closed

[2016-06-20 13:13] Gheoan commented on #408
Is this being worked on? I would like to develop without a transpiler.

[2016-06-20 14:08] EisenbergEffect commented on #408
PRs are welcome.

[2016-06-21 11:21] #408 closed

[2016-06-21 11:46] jdanyow commented on #436
@MeirionHughes I'm happy to change this- quick question for you- what did you mean by:

[2016-06-21 11:54] MeirionHughes commented on #436
Cool! please. :D

What ever you use to create the definitions isn't picking up the way you define your variables (constructor only). So in any case where you haven't declared the variable explicitly outside the constructor, you're missing that off the typings output. Makes it difficult to develop against the types (there was a lot of console.log involved. :D).

[2016-06-22 03:57] MeirionHughes commented on #436
Alternatively; you could go the same way TypeScript has gone and have all Expressions and Access Nodes supply a `kind` value. You'd also have an enum that lists all the Kinds. You could keep with the interfaces with this approach.

[2016-06-23 00:07] jdanyow opened #438 "@observable broken in TypeScript"
http://www.typescriptlang.org/play/#src=function%20observable(keyOrTargetOrConfig%3A%20any%2C%20_key%3F%3A%20string%2C%20_descriptor%3F%3A%20PropertyDescriptor)%20%7B%0A%20%20let%20deco%20%3D%20function(target%2C%20key%2C%20descriptor)%20%7B%0A%20%20%20%20if%20(!key)%20%7B%0A%20%20%20%20%20%20key%20%3D%20typeof%20keyOrTargetOrConfig%20%3D%3D%3D%20'string'%20%3F%20keyOrTargetOrConfig%20%3A%20keyOrT

[2016-06-23 04:05] Ma3yTa commented on #438
@jdanyow I think problem is in 22 line of code https://gyazo.com/03d03c2a4a2e96c5f9bee95183c57e04.
[code]

[2016-06-23 04:56] Ma3yTa commented on #438
I think this merge broke decorator https://github.com/aurelia/binding/commit/0b2d8b770e0a91cc40613937a44633cf40614339

[2016-06-23 05:07] kellyethridge commented on #438
aurelia-binding@1.0.0-rc.1.0.1 still produces the same error.

`Error: TypeError: Reflect.defineProperty called on non-object
	    at deco (http://localhost:4671/jspm_packages/npm/aurelia-binding@1.0.0-rc.1.0.1/aurelia-binding.js:5325:15)
	    at observable (http://localhost:4671/jspm_packages/npm/aurelia-binding@1.0.0-rc.1.0.1/aurelia-binding.js:5329:14)
	    at __decorate (http://localhost:4671/

[2016-06-23 08:51] Souldrinker commented on #438
Seems like I got bitten by the same bug. It crashes on the same line for me for my observable property: ```Reflect.defineProperty(target, key, descriptor);``` (5325 in aurelia-binding.js).

The target seem to be null for me here... Commenting out the line @Ma3yTa suggested seems to fix it for now...

[2016-06-23 10:36] #438 closed

[2016-06-24 02:18] Vheissu commented on #369
Looks like the Babel5 and core-js stuff was cleaned, this can be closed @EisenbergEffect

[2016-06-24 02:21] mbroadst commented on #369
@Vheissu was it? I still see entries for both in `package.json` and `config.js`

[2016-06-24 02:41] EisenbergEffect commented on #369
Unfortunately, jspm 16 isn't compatible with Babel 6. I'm kind of looking to see if we can remove jspm from our core repos altogether in the future. We can keep this open until we resolve it.

[2016-06-24 10:18] Gheoan commented on #369
In-browser transpilation is not needed as `karma` is already transpiling using `babel` 6.

[2016-06-24 12:42] stefan505 opened #439 "Observing model property on VM not working anymore"
A while back the following scenario would work, but has since stopped working:

Property inside a VM:
[code]

With `IUser` as:

[code]

Using `ObserverLocator` to raise property changes on `user.username` inside my VM is not working, `changed(newValue: any, oldValue?: any)` never being executed:

[code]

Has anything changed?

[2016-06-24 13:54] EisenbergEffect commented on #439
This API changed about 7 months ago I think. @jdanyow can advise you on how to use the new API.

[2016-06-24 15:14] jdanyow commented on #439
Are you sure this worked: `getObserver(this, 'user.username')`?  This part of the API has never changed- it's always been `getObserver(object, propertyName)`.  Try `getObserver(this.user, 'username')`.

[2016-06-24 15:14] #439 closed

[2016-06-24 20:25] stefan505 commented on #439
@jdanyow yes, I used a multi observer for instance that wraps observable locator (inspired by [your blog post](https://www.danyow.net/aurelia-property-observation)). Actual code:

[code]

I tried re-implementing the same multi-observer on all the latest bits without luck. The above code worked with `aurelia-binding@1.0.0-beta.2.0.7`, which is what my `config.js` was pegged at.

`getObserver(this.u

[2016-06-24 21:30] jdanyow commented on #439
hmm- it's mystery!  I checked that tag: https://github.com/aurelia/binding/blob/1.0.0-beta.1.3.1/src/observer-locator.js#L42

it only accepts a property name

[2016-06-28 00:14] shaunluttin commented on #33
How was this issue resolved?

[2016-06-28 08:30] qraynaud commented on #112
Wouldn't the use of a template tag alleviate this on modern browsers supporting it? The template tag is allowed in a table or anywhere and can contain anything you want. Thus I suppose (I've not tested this yet):

This doesn't work:

[code]

But this might work:
[code]

[2016-06-28 12:35] EisenbergEffect commented on #112
Yes. The real problem is IE and older versions of Edge.
On Jun 28, 2016 4:30 AM, "Quentin Raynaud" <notifications@github.com> wrote:

[2016-06-28 16:49] atsu85 commented on #33
I haven't seen that issue, but you could use string interpolation instead of .bind

[2016-06-29 13:46] AdamWillden opened #442 "Input bindings don't update when changes are reverted within a setter or changeHandler"
I think these examples will show the issue clearly enough to void more explanation. The interpolated text shows the real value but the inputs don't revert to the underlying value.

getter/setter example: https://gist.run/?id=8c56fe352fd849462d39311ede2c8b5d
computed getter/setter example: https://gist.run/?id=14ce505a70736ca3c76943ac762fe836
changeHandler example: https://gist.run/?id=45e93cac4e74

[2016-06-30 17:58] pasky commented on #64
This is one of the top google results for Aurelia not reacting to array element changes.  In my view, it's no big deal if Aurelia doesn't support this implicitly, but it'd be great to mention a precise recipe to work the issue around and force the update manually.  For example, I have found the suggestion to replace ```this.samples_loaded[i] = true;``` with ```this.samples_loaded.splice(i, 1, true

[2016-06-30 18:01] EisenbergEffect commented on #64
@jdanyow Since you are working on the binding docs currently, can you be sure to include this information and recommendation in that. (Along with any other common scenarios you've seen over the last months.)

[2016-06-30 20:55] JoshMcCullough commented on #250
@EisenbergEffect Can you elaborate more on why mixing template bindings _shouldn't work_? We're currently mixing `if` / `repeat.for`, etc. and have not seen issues in IE, Firefox, or Chrome. Thanks!

[2016-06-30 21:39] kuechlerm opened #443 "databound input changes bound value to string"
With view and model (typescript):

[code]

Now calling twice increment (via button.click) results in

I expect

Using `this.val++` works.
Using one-way binding works.

[2016-07-01 11:31] AdamWillden commented on #442
I implemented a work around by using a binding signaler on the input - I don't consider this an acceptable 'fix' however.

Below is code for the numeric limit input. I only signal when the value has been clamped back to the same old value (`clamped && limit === oldLimit`).

[code]

[code]

[2016-07-02 09:53] atsu85 commented on #443
You could use 2way valueconverter to convert string value from view to number

[2016-07-02 11:46] fopsdev commented on #443
or use a custom bindingbheaviour so you are not running into:
http://stackoverflow.com/questions/37882659/force-view-to-be-updated-from-within-a-valueconverter

[2016-07-02 13:23] fopsdev commented on #442
A beforeUpdate(newValue,oldValue, cancel) would be nice here
I've opened an issue some while ago with a very similar request:
https://github.com/aurelia/templating-resources/issues/137
The answer is once more: a custom bindingbehaviour :)

It turns out that with Aurelia you can easely generate demo apps and prototypes. But when it comes down to some very usual use cases like converting values (htt

[2016-07-02 15:47] AdamWillden commented on #442
Thanks for the link to that issue @fopsdev - those advanced techniques are quite well... advanced! I agree this should be a little easier to accomplish.

However I think to fix this issue in particular it needn't be something the developer has to handle themselves. I expect the input (value) binding should recheck the value after setting it and reset the input/checked value appropriately.

[2016-07-03 10:50] ppn2 commented on #347
Is this planned for final release or thereafter?

[2016-07-03 11:39] EisenbergEffect commented on #347
It's planned for a point release. Don't we are stopping with 1.0. We just need to cut an official release rather than let it go on forever. After that, we turn right back around to implement some new features. This is one that is near the top of the list.

[2016-07-03 22:41] jsobell opened #444 "Binding to array element fails if members are base types instead of objects"
@darkelyte posted this as an issue:
https://gist.run/?id=ce4f511fd3c40cda9f93c05c4f869e52

[code]

[code]

[2016-07-03 22:45] EisenbergEffect commented on #444
I doubt that is fixable. It's not even clear what that should do. Perhaps @jdanyow can comment.

[2016-07-03 22:48] jsobell commented on #444
Do we not expect an array to be bindable on a VM?

[2016-07-03 22:57] EisenbergEffect commented on #444
Think about the code you are showing above. That wouldn't even work in JavaScript. An alternate approach is needed.

[2016-07-03 23:02] araney commented on #444
I would expect that binding to array members would produce the same results as binding to object properties. The gist linked above shows that the code works as a one way binding, but updating the values on the inputs or programmatically via the button does not update the bound values.

[2016-07-03 23:08] jsobell commented on #444
Sorry, I must be missing something obvious here.
We have an array of strings 'items' off the VM, and the UI wants to bind to the first item of that array.
Why would you not expect `${items[0]}` to work, and what might an alternative approach be?
It seems to me that this is an incredibly common scenario, hence why I'm asking if I'm missing something.

[2016-07-03 23:09] jsobell commented on #444
Sorry, I meant `<input value.bind='items[0]'>`

[2016-07-03 23:16] jsobell commented on #444
It's actually a bit more obscure than I thought.  If you bind to `items[0]` then the changes are recorded, but the UI does not update, so replacing the existing example with `value.bind="items[$index]"` allows updating of the underlying array, but changes are not reflected back through the binding.

[2016-07-04 02:14] EisenbergEffect commented on #138
@jdanyow You mentioned you thought you would have the binding docs ready last week, so I just wanted to check in with you to see how that is coming.

[2016-07-04 03:24] EisenbergEffect commented on #285
@jdanyow I think our docs are still not up to date. What are all the polyfills that are needed for legacy browser support?

The docs currently state:

* MutationObserver
* RAF

Is a performance polyfill also needed?

[2016-07-04 09:02] kuechlerm commented on #443
I understand your solution, but this is still confusing and unexpected.
Why is there a difference between `this.val += 1` and `this.val++` ?

[2016-07-04 09:33] fopsdev commented on #443
@kuechlerm hmm good question. well i would say that TS implies when using this.val++ that you are operating on a numeric value

[2016-07-04 12:11] atsu85 opened #445 "binding selected checkboxes to array doesn't work (as documented)"
Hi,
I created a [gis.run](https://gist.run/?id=c96fbadb6e783e07e03254be0e30fefc) based on sample from Aurelia documentation "[Checkboxes with an Array](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/cheat-sheet/5)" to demonstrate the problem.

# problem
While checkboxes are initialized based on array defined in js, the array is not updated when changing the checkbox

# expected o

[2016-07-04 13:52] jods4 commented on #347
Would love to have this, especially the add/remove part, so that you can do `<data-field required />` and have a boolean `required` attribute in code-behind. I would go as far as say that for `bindable.boolean` it should be the (overriable) default.

[2016-07-04 14:27] EisenbergEffect commented on #309
Closing since this was initially a question and we are tracking various considerations for improvements elsewhere.

[2016-07-04 14:27] #309 closed

[2016-07-04 14:30] EisenbergEffect commented on #314
@jdanyow Can you provide a status on this?

[2016-07-04 17:25] EisenbergEffect commented on #348
Closing as duplicate.

[2016-07-04 17:25] #348 closed

[2016-07-04 17:28] EisenbergEffect commented on #350
I think this likely relates to how Polymer is handling the element internally and there isn't likely anything we can do about it ourselves. Perhaps try reporting it to them as an issue?

[2016-07-04 17:28] #350 closed

[2016-07-04 17:30] EisenbergEffect commented on #299
Closing since this was fixed.

[2016-07-04 17:30] #299 closed

[2016-07-04 17:47] atsu85 commented on #443
@kuechlerm

As @fopsdev wrote

it is totally JS thing, that has nothing to do with Aurelia. You can verify it out on browser console as well (for example on this site, that doesn't use Aurelia)

[2016-07-04 17:51] EisenbergEffect commented on #443
Closing this since the ValueConverter recommendation address the original issue and the following discussion expounds on the JavaScript oddity.

[2016-07-04 17:51] #443 closed

[2016-07-04 21:27] fopsdev opened #446 "multiple scenarios how views can get out of sync when trying to validate and fix user inputs"
I'm just showing how easy the view can be brought out of sync using existing out of the box concepts.
Please have in mind that i really like to expose my models directly to the ui and i don't like to work on clones or use other development patterns. Thats why i add some validation to keep them clean.

**valueConverters:**
https://gist.run/?id=0ae5f6f0ff127e404c9076dce866902d

**changeHandler:**
ht

[2016-07-05 12:40] jdanyow commented on #445
works for me: https://gist.run/?id=566dfb2d79815a9990e8522e504cd3fa

[2016-07-05 12:48] jdanyow commented on #444
This scenario isn't valid.
[code]
[code]

It's the equivalent of expecting this to update the contents of the array:
[code]

---

This...

[code]

...worked in Chrome when we were still using object.observe.  It only half works now because indexed assignment of an array is not observable using the means we currently have at our disposal unless we resort to dirty-checking.

[2016-07-05 12:57] jdanyow commented on #314
I can reproduce, haven't worked on a fix yet.  Issue needs to remain open.

[2016-07-05 12:59] jdanyow commented on #138
will wrap them up this week- sorry the holiday weekend snuck up on me and I probably shouldn't have waited to mess around with that gource video but I couldn't resist.

[2016-07-05 13:14] jdanyow commented on #446
The signaler isn't intended to be a fix for binding problems. I disagree with the recommendations in the issues/posts that you linked.  The signaler's purpose is to signal binding updates for events that aren't "property change" related (eg the current time changed or the current locale changed).

Although it's tempting to try and make a numeric input control using only a value converter, in pract

[2016-07-05 13:40] jsobell commented on #444
OK, so we're saying that as the let...for...of syntax only acts upon values, we can't bind to them. That makes sense.
So when people ask how to bind an array of values, what do we tell them to do? Do we say they have to box them into individual objects?

[2016-07-05 13:54] jdanyow commented on #444
I don't know- left this open so we could come up with a recommendation- here's a gist that shows what currently happens:  https://gist.run/?id=1e9d861556a7a03a51ef7e1c9496e6de

(data flows from the view to the view-model but not in the opposite direction)

[2016-07-05 13:59] araney commented on #444
As a user of the framework, while I wouldn't expect this to work:
[code]
... I would hope that the binding system would get around that limitation. If the answer is simply, "it doesn't", then so be it. Though I'd then like to open an enhancement request for this functionality if it is at all feasible.

[2016-07-05 14:11] araney commented on #444
@jdanyow Maybe I have the wrong expectations of the framework, but I would expect it to work for the same reason I can expect updating the text in an input would change the value of a property in my javascript object.

When encountering the aurelia for-of, I didn't translate that to a vanilla for-of, but instead assumed it was merely mirroring the syntax of the vanilla for-of for ease of use.

[2016-07-05 16:24] fopsdev commented on #446
Thanks Jeremy for taking your time.
I totally agree that the signaler should not be used to solve binding problems.Thats one of the reasons i've come up with this issue :)

As you also recognised it's very tempting to use the **valueConverter** to **convert values** when they are written back to the model ;)

In 90% of the cases when i use the fromView() Method i ran into the sync issue mentioned

[2016-07-05 18:23] EisenbergEffect commented on #369
Removed all v5 config.

[2016-07-05 18:23] #369 closed

[2016-07-05 18:43] atsu85 commented on #445
dooh, I forgot that `${someArray}` doesn't reflect the array content. Thanks for the reply!

[2016-07-05 18:43] #445 closed

[2016-07-06 01:03] EisenbergEffect commented on #376
This is very odd. @zewa666 and @niieani Can you look into this?

[2016-07-06 01:28] EisenbergEffect commented on #379
How are you updating the cases?

[2016-07-06 02:35] EisenbergEffect commented on #384
Closing this. I believe it was recently fixed (a bug in the child observation code).

[2016-07-06 02:35] #384 closed

[2016-07-06 07:46] niieani commented on #376
I used to get this error when aurelia-pal wasn't initialized **before** Aurelia was loaded. Otherwise things seemed to work but when DI was injecting `Element`, it was undefined, cause that was coming from PAL.
I'll look into this. We should probably change the way aurelia-pal keeps references to its elements, so it's more robust (i.e. would work even if the code is evaluated in the wrong order).

[2016-07-06 08:01] niieani commented on #376
@EisenbergEffect here's what I mean:

https://github.com/aurelia/templating-resources/blob/master/src/compose.js#L14

If `aurelia-pal-browser` is not initialized before (in this case) `aurelia-templating-resources` is loaded by the browser, the value of `DOM.Element` which is being injected here, will be `undefined`, because `aurelia-pal` [defines it as `{}`](https://github.com/aurelia/pal/blob/ma

[2016-07-06 09:12] krostkowski commented on #89
I couldn't find information about observing arrays. In https://www.danyow.net/aurelia-property-observation/ I only found 'Note: the following doesn't cover Aurelia's strategies for observing Arrays. That's a subject for another post' :)

In my scenario i have a form with validation-errors binded to 'feedback' array:
[code]
Then feedback is binded to my custom element:
[code]
In the custom element

[2016-07-06 11:39] fopsdev commented on #446
@jdanyow @EisenbergEffect could you please reopen this issue?
i would like to have more opinions on that.

[2016-07-06 11:41] jdanyow commented on #89
@krostkowski

[code]

[2016-07-06 11:59] fopsdev commented on #446
just another "view not updated" issue:
https://github.com/aurelia/framework/issues/341
a different issue but shows that valueConverters really need a little bit more love, so why not slap 2 flies with one clap :) :
https://www.bountysource.com/issues/32109394-value-converters-should-support-triggering-updates

[2016-07-06 12:08] jdanyow commented on #379
I think he's changing the value of the `user` property on one of the case objects from 1 to 2.  This doesn't trigger re-evaluation of the expression because the binding system isn't deep observing the contents of the array and re-evaluating the filter expression when something changes.

[2016-07-06 13:05] #379 closed

[2016-07-06 13:09] jdanyow commented on #446
@fopsdev No need to duplicate #442 or #353. Please continue the relevant parts of this discussion in those issues.

Here's a simple number-input element and number-value attribute.  I hope these will help illustrate why a custom elements/attributes are a better fit for accepting numeric/date/etc input.

https://gist.run/?id=d9d8dd9df7be2dd2f59077bad3bfb399

[2016-07-06 13:13] krostkowski commented on #89
Thank you @jdanyow . I think it should be added to the docs or at least your blog :)

[2016-07-06 13:23] EisenbergEffect commented on #376
To me, this seems like a bug in Webpack since it's not enforcing the load order indicated by the module imports.

[2016-07-06 13:25] fopsdev opened #447 "enhance signaler to work on html nodes as well"
Imagine we have a view like:
[code]

and a viewmodel (pseudocode) like:

[code]

what do you think?

[2016-07-06 13:38] EisenbergEffect commented on #447
Isn't this the same as Signals?

[2016-07-06 13:42] morioma commented on #250
I just experienced this issue myself, including the inconsistency between Chrome and firefox(IE 11).
Knockout will throw an error when you try to have multiple what it called "Control flow" bindings on the same element.
Is it possible to throw an error message without adding too much overhead to checking multiple control flow in Aurelia?

_Love Durandal and now love Aurelia_

[2016-07-06 13:44] fopsdev commented on #446
i understand. thanks
my goal is to have something like a summary for view sync issues in here.
thanks for the inspiring gist. they really help me.
but my **main concern** stays. new users will be misleaded by the term "value converter". they will run down that path (meaning use valueconverters for validation purposes) like i did and hit the wall :)

[2016-07-06 13:48] fopsdev commented on #447
no.
because by also decorating the class (see my update) the binding automatically uses oneTime behaviour everywhere.
and as you can see it's au-refresh attribute. so all the expressions within that element would be refreshed avoiding cluttering the html with signal syntax

[2016-07-06 13:54] EisenbergEffect commented on #250
@morioma Can you create a separate issue to let us track this? I believe we may have it handled through some new community tooling that "lints" templates, but I'd like to track it separately and make sure.

[2016-07-06 13:57] EisenbergEffect commented on #447
What does it mean to "refresh" an element? Can you provide the specifics of that?

[2016-07-06 14:02] #388 closed

[2016-07-06 14:07] morioma opened #448 "feature request: an error message when multiple Template Controllers (repeat, if binding) are used on the same element"
According to [this issue](https://github.com/aurelia/binding/issues/250), when multiple Template Controller binding are used on the same element, unexpected behaviors could happen.
It would be helpful to throwing an error message at a lint process or at run time when multiple Template Controller is used on the same element, providing better guidance.

[2016-07-06 14:09] #390 closed

[2016-07-06 14:10] stsje commented on #448
Someone already beat you to it. There's a linting plugin that checks for multiple template controllers on the same element.
https://github.com/MeirionHughes/aurelia-template-lint

[2016-07-06 14:11] fopsdev commented on #447
Updated the inital proposal to answer this question more precisely.

[2016-07-06 14:11] EisenbergEffect commented on #448
Yep, we'll use this to track Meirion's work getting incorporated into our tooling.

[2016-07-06 14:41] Kukks opened #449 "View model reference returns null"
Are there some circumstances where a `view-model.ref` from a  custom element would return null( and the reference element actually loaded)?

I have a custom element's view model referenced and in some unknown scenarios, it does not populate.

[2016-07-06 15:49] niieani commented on #376
@EisenbergEffect As you are aware, there is currently no formal standard that explains how to load modules in the browser, or one which would indicate a "correct load order" for the modules. Webpack caches all the modules contained in a given bundle during its **load time**, which means any side-effects, such as class declarations, static declarations, variable declarations and decorators are eval

[2016-07-06 15:54] EisenbergEffect commented on #376
Happy to re-open this issue, but I don't think you are correct with respect to modules. The semantics of the module system are defined by ECMA. It's the loader itself that has an unfinished spec.

[2016-07-06 15:56] niieani commented on #376
@EisenbergEffect yes, and the issue is with modules, it's about how the modules are loaded, which will be in the loader spec.

[2016-07-06 15:56] doktordirk commented on #376
seems to be the same issue as mine

[2016-07-06 18:20] EisenbergEffect commented on #376
Regardless, it is a requirement that the platform be loaded before the framework. So, we need to setup webpack in whatever way will ensure that.

[2016-07-06 19:31] EisenbergEffect commented on #391
The best way to handle drag/drop with Aurelia or any front-end framework that manages the dom is to not let the drag drop library alter the dom in any way, but instead only use its events to know what was dropped and then update your data model appropriately based on this, allowing the framework to sync the dom changes.

[2016-07-06 19:31] #391 closed

[2016-07-06 19:58] pasky commented on #250
Hmm, I'm confused about this, sorry - I have two cases where I'm combining repeat.for and if.bind, <tr> and <option>. If I use the nested <template> trick, I get empty <tr> and <option>, so that workaround doesn't seem to work?

I could of course do a lot of pre-processing in the javascript model, but that would imho mean a big deficiency in Aurelia as this would mean a lot of boilerplate code, in

[2016-07-06 21:05] pasky commented on #250
Ok, to give a concrete example, my original line

[code]

got replaced by

[code]

with _filter.js being

[code]

All if.binds containing inequalities, which are quite a common case I guess.  I guess not as bad as I feared... :)

Still, I'd consider this as a bug - the code is more convoluted and less maintainable than if Aurelia had a builtin for what I'd say is a first-class functionality (in my

[2016-07-06 22:13] niieani commented on #376
OK. I'll look into this issue then.

[2016-07-07 01:16] jdanyow commented on #449
yes there is!

If the element the `view-model.ref` were to unbind, the reference would be set to null to avoid memory leaks.  This can happen when you have a `view-model.ref` within an element that has an `if.bind`.

Example:

[code]

*assigning `false` to `isVisible` would unbind the contents of the div, ultimately setting the `vm` property to null.*

[2016-07-07 05:01] atsu85 commented on #448
@EisenbergEffect, I'd close this, there is another [issue](https://github.com/aurelia/tools/issues/31) that is more appropriate for tracking Aurelia linter

[2016-07-07 08:39] fopsdev commented on #447
Well since signaler has similar purpose i've adjusted the sample once again to make use of it.

[2016-07-07 10:11] Kukks commented on #449
Hey, thanks for replying.

Would it stay null even after it is loaded back? I am having my custom elements on screen but the reference in the parent view model is staying null.

[2016-07-07 14:04] EisenbergEffect commented on #448
Will do sinde it's already tracked.

[2016-07-07 14:04] #448 closed

[2016-07-07 15:26] jdanyow commented on #449
@Kukks if you would be willing to provide an example of what you're seeing using the aurelia gist we can provide further info:  https://gist.run/?id=7542e061bc940cde506b

[2016-07-07 19:12] EisenbergEffect commented on #433
Closing this since the question was answered. @jdanyow If you get a chance...this might make a really interesting addition to the binding behavior docs.

[2016-07-07 19:12] #433 closed

[2016-07-08 04:22] EisenbergEffect commented on #414
@zewa666 Can you look into this?

[2016-07-09 04:40] tonypee commented on #147
This is exactly what i need! I try to do this all of the time, and need to keep putting more dirty code into the template - is there a status update on this?

[2016-07-09 05:03] EisenbergEffect commented on #430
For the time being, we've purposefully kept the public api small, not exposing inner details that could change. We could expose this in the future if there's a good use case for you using the Lexer/parser directly.

[2016-07-09 05:03] #430 closed

[2016-07-09 17:21] davismj commented on #147
For those reading, I would say the current best practice for this use case is to use a binding signaler. See the gist here: https://gist.run/?id=d6c534d7b0a1b26fc3f27366b0e5b7a2

[2016-07-10 17:26] jdanyow commented on #382
I think this is fixed by https://github.com/aurelia/templating-binding/commit/5d772caf4af5b3ba835526cc01f48b9e44c7d8d0

Will re-test the gist when the release goes out on tuesday.

Potentially impacted by https://github.com/aurelia/binding/commit/9d39a1adee1175e44d20634593a297ba5cdc674a as well

[2016-07-11 01:10] jsobell commented on #444
@jdanyow @EisenbergEffect I think what @araney says is an important understanding issue for Aurelia.
We know that javascript has no concept of boxing variables to allow pass by reference, and that if we want to modify data items in a loop we would have to reference the source array by index.
There's also no question that we have to refer to the array element by index to allow updating of the origi

[2016-07-11 01:14] EisenbergEffect commented on #444
@jsobell Absolutely. I agree. @jdanyow is working on some new bindings docs. Jeremy, if you can take this into account and include some notes to this effect, that would help people.

[2016-07-11 01:15] EisenbergEffect commented on #444
@jdanyow One idea I had for the binding docs might be to include an extra article, beyond the normal explanatory content, that is more of a "recipes" article which just lists problem/solution combos. It would be easy for us to extend that over time as well. Just a thought.

[2016-07-11 02:03] jsobell commented on #444
@EisenbergEffect Absolutely, and I'd suggest 'Recipes' be added as a new left-menu item, as there are dozens of snippets and architectural practises / best-practises that new adopters would benefit from

[2016-07-11 02:12] EisenbergEffect commented on #444
We can add a grouping, similar to Binding and Templating, that is dedicated to Recipes. We can include various articles in multiple sections. So, we could have the binding recipes under the Binding group, but also have them appear under the Recipes group, for example. In that way, whether the reader goes looking for help about binding or goes looking for a recipe, they can easily find that content

[2016-07-11 13:58] EisenbergEffect commented on #446
Closing as a duplicate of other issues listed above.

We'll try to clarify some explanations in our documentation so that ValueConverter to get used for the wrong purpose.

[2016-07-11 13:58] #446 closed

[2016-07-11 14:16] MJLHThomassen commented on #443
And what is this ValueConverter recommendation?

I'm having a similar issue as original poster:

`<input id="nrOfLicensesInput" class="form-control" type="number" value.two-way="nrOfLicenses" min="1" placeholder="1"/>`

Then, whever i change the input box number (either manually or trough the arrows provided by Chrome), in my VM, the nrOfLicenses field is suddenly a string instead of a number. I'm

[2016-07-11 14:17] EisenbergEffect commented on #447
This should be possible to implement as an external plugin. I'd like to see that first.

[2016-07-11 14:17] #447 closed

[2016-07-11 14:19] #449 closed

[2016-07-11 14:27] EisenbergEffect commented on #443
See docs here: http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-value-converters/8

[2016-07-12 02:09] jdanyow commented on #443
also might be helpful: https://gist.run/?id=d9d8dd9df7be2dd2f59077bad3bfb399

[2016-07-12 07:03] MJLHThomassen commented on #443
Any reason as to why we have to work around it like this?

[2016-07-12 07:49] mjhcamp opened #450 "Initial call to observer function when applying observer subscription"
Consider the following situation:

[code]

In this situation the function 'propertyObserver' is not called until property 'propertyName' gets a new value. I think it would make more sense if the change handler is called directly when the observer is applied (unless the object is undefined). The change handler has never been fired for the initial state of the object, and the system will have the de

[2016-07-12 09:34] jdanyow commented on #443
An html input element will coerce anything assigned to it's value attribute to a string.  Number type inputs are essentially worthless without adding extra logic to get them to behave the way you want.

[2016-07-12 09:59] MJLHThomassen commented on #443
@jdanyow Thanks for the explanation, I did not know that. A flaw of html5 in my opinion.

Anyway, many thanks for the explanation and possible solution directions!

[2016-07-12 11:01] jdanyow commented on #443
No problem, I should have mentioned, the same thing happens with `<select>` element value and it's children, `<option>` element value.... it certainly can make things confusing.
[code]

[2016-07-12 14:07] EisenbergEffect commented on #450
We can't change this since it would break thousands of applications built by our community.

I'm not sure this expectation is generally held. Personally, I wouldn't expect any handler to be called because the property hasn't actually changed.

I suggest that if you want this behavior, create a helper method and attached it to the binding engine (or write your own class that wraps the binding engin

[2016-07-12 14:07] #450 closed

[2016-07-12 14:24] MJLHThomassen commented on #450
Just out of curiosity, how would you go about creating that helper method in Typescript (since you can't change the provided Typescript interface for the BindingEngine).

[2016-07-12 14:27] EisenbergEffect commented on #450
I believe those interfaces are open now and can be extended. But if not, you can always just wrap the class in a custom helper class. That's the way it would be done in most other strongly typed languages.

[2016-07-12 14:32] MaartenThomassen commented on #450
Ah like that yes, hadn't thought about it that way yet. Thanks!

[2016-07-12 15:21] Vaccano commented on #363
@jdanyow Does this work for `custom-attributes` as well as `custom-elements`?  (I need to make a call in my custom attribute once all the parameters are databound.)

[2016-07-13 11:52] Tarpsvo commented on #233
Experiencing the exact issue @martingust described in detail here earlier.

[2016-07-14 13:15] niieani opened #452 "Incorrect docs about importing moment in the example"
@guidorice commented on [Thu Jul 14 2016](https://github.com/aurelia/skeleton-navigation/issues/602)

I noticed this with skeleton-navigation-1.0.0-beta.3.0.1. Here are the repro steps
[code]
But now the build fails with
Module '".../node_modules/moment/moment"' has no default export.

This does however, work fine with skeleton-esnext-webpack, so it might be something wrong with the setup of the s

[2016-07-14 15:33] stefan505 opened #454 "radio button two way binding not working"
**I'm submitting a bug report**

* **aurelia-binding version:**
1.0.0-rc.1.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v5.10.1

* **NPM Version:**
3.8.3

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.16

* **Browser:**
all

* **Language:**
TypeScript 1.8.x

**Current behavior:**
Radio button bound from view model is not reflected in

[2016-07-14 16:00] stefan505 commented on #454
managed to figure it out, gist updated to show it working.

[2016-07-14 16:00] #454 closed

[2016-07-14 16:27] EisenbergEffect commented on #454
@stefan505 Can this be closed?

[2016-07-14 17:06] guidorice commented on #452
Cool, thanks for looking into this. I's a change in the import syntax for numeral and moment modules, and also the usage in date-format.ts and currency-format.ts. They currently fail at runtime with errors:

aurelia-logging-console.js:54 ERROR [app-router] TypeError: moment is not a function(…)

aurelia-logging-console.js:54 ERROR [app-router] TypeError: numeral is not a function(…)

[2016-07-14 17:08] EisenbergEffect commented on #452
I think it's definitely an issue of where Babel has some special code that accounts for both usages, though it's not correct, while TS accounts only for the correct usage. So, the incorrect usage slipped into the docs because it's supported by Babel.

[2016-07-14 17:16] niieani commented on #452
@EisenbergEffect Yes, exactly. I believe this feature is configurable via Babel presets.

[2016-07-15 12:50] AlbertoMonteiro commented on #249
Using computed from with checked.bind to a list also doest not work

**app.ts**
[code]
**app.html**
[code]
**selectedItemsSeparetedWithComma** is never fired when **selectedOptions** change.

[2016-07-15 14:50] davismj commented on #249
Using @computedFrom with any array mutation will not work.

[2016-07-15 14:52] AlbertoMonteiro commented on #249
@davismj how can I make it work?

[2016-07-15 14:58] davismj commented on #249
I recommend creating a value converter. Try looking at [this article by Jeremy Danyow ](http://eisenbergeffect.bluespire.com/binding-with-value-converters-in-aurelia/) for more information on value converters.

[2016-07-15 15:09] AlbertoMonteiro commented on #249
@davismj thanks!

[2016-07-15 15:37] guidorice commented on #452
My bug report/issue was with the latest skeleton-typescript-webpack. Isn't TypeScript the transpiler, not Babel? I am so confused!

[2016-07-15 20:10] niieani commented on #452
@guidorice Indeed, we mangled two separate issues though. This one is about docs, which import moment incorrectly. Finally to end all confusion, the correct way to import (both in TypeScript and ES2015) is to:
[code]

[2016-07-19 14:34] JSeligsohn commented on #309
@EisenbergEffect Can you link to those various considerations?

[2016-07-21 13:40] Gheoan opened #457 "Move Unparser to aurelia-testing"
**I'm submitting a feature request**

**Current behavior:**
`Unparser` exists in `aurelia-binding` and is used internally only to test `aurelia-binding`.

**Expected/desired behavior:**

* **What is the expected behavior?**
`Unparser` should exist in `aurelia-testing`.

* **What is the motivation / use case for changing the behavior?**
Reducing `aurelia-binding` size.

[2016-07-21 14:18] EisenbergEffect commented on #457
@jdanyow This is an interesting idea. Could we move this before v1 next week? It would be great if that would reduce size a bit. It's probably technically a breaking change, but I doubt anyone is using that. Let me know your thoughts.

[2016-07-21 17:03] srfabio commented on #163
Any update on this? I'm having this issue and even using click.trigger won't solve the issue. Looks like the disabled property works well with button elements but not with labels or other inputs

[2016-07-21 17:07] sickboy commented on #163
@srfabio labels/other elements don't have a disabled state, only buttons, inputs, etc.
You could check for the condition in the function you execute instead

[2016-07-21 17:09] srfabio commented on #163
@sickboy Okay, but since I'm using bootstrap labels and inputs can also have a disabled property which should prevent events. The same code works well (jsfiddle) outside the aurelia application

[2016-07-21 17:33] jods4 opened #458 "Password value binding triggers updateTarget?"
I am observing a strange beahvior that is causing me trouble.

I have a simple value binding + behavior on a password field: `<input type=password value="p & validate" />`.

When I type text in the input, I see `updateSource` is called, as expect.
When I mash keys -- or simply press two keys at the same time -- it seems `updateTarget` is called as well. But why? This is causing unwanted side-effec

[2016-07-21 20:16] Alexander-Taran commented on #314
Also for this bucket:
`form>input[type=file]+button[type=reset] `
now clicking reset button clears the form, but the same binding as in original post does not see the change.

[2016-07-21 21:30] #452 closed

[2016-07-21 21:31] jdanyow commented on #458
does it happen in other browsers too?  Whats the call stack?  Can you provide a plunker?

[2016-07-21 21:45] Gheoan opened #459 "Use Proxy instead of Object.observe"
**I'm submitting a feature request**

**Current behavior:**
Object observation has some edge cases (I am only aware of the one related to array property access) and can fallback to dirty-checking.

**Expected/desired behavior:**
* **What is the expected behavior?**
In [environments that support `Proxy`](http://caniuse.com/#search=proxy), object observation should work flawless and never fallback t

[2016-07-21 22:03] jods4 commented on #458
It does easily happen in Edge as well. Does not seem to happen on Firefox. Untested in Chrome.

Here's a plunker: https://plnkr.co/9cF0XO8FjPK6relatTf5

There's one updateTarget at startup, which is probably because I did not define `x` on the model, so it gets updated from `undefined` to `""` (I guess).

But then if you hit two keys at the same time, you very easily get a `updateTarget` on IE11 a

[2016-07-21 22:08] AshleyGrant opened #460 "Event Bubbling"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc.1.0.3

**Current behavior:**
A click event handler on an inner element will stop an outer element's click handler from being fired. This is not how standard HTML events work.

Standard HTML gist: https://gist.run/?id=b1f5359d6e1f6870aec16c592041fdf7
Open the console and then click on the text to test.

Aurelia delegate gist: https://

[2016-07-21 22:15] EisenbergEffect commented on #459
@Gheoan We don't use Object.observe at all. That was removed a long time ago.
Also, I don't know that Proxy will help because it would require a developer to not work with their own object anymore. They would have to instantiate the Proxy and then use that instead. Proxies are likely not very performant right now either. I'm going to close this for now. We are investigating various ways to improve

[2016-07-21 22:15] #459 closed

[2016-07-21 22:17] jods4 opened #461 "Suggestion: Binding behaviour scope / container"
I was building a validation component today and got frustrated by the fact that you can't grab an enclosing custom element viewModel from a binding behavior.

Imagine you have this setup:
[code]

Inside `MyInputCustomElement` or `MyAttrCustomAttribute`, I can ask the DI for a `MyFormCustomElement` and get the enclosing `<my-form>` view model.

Not so in `ValidateBindingBehavior`. First thing is th

[2016-07-21 22:30] EisenbergEffect commented on #461
There aren't containers associated with every element that has a binding. I'm not sure it's possible or a good idea exactly. We'd need to think about it.

[2016-07-21 22:39] jods4 commented on #461
No, of course. But there is one for each custom element right?

It doesn't seem right that a custom element or attribute "executes" inside the container of its parents in DOM, but the binding do not.

Or maybe there is something I'm understanding incorrectly.

[2016-07-21 22:55] Gheoan commented on #459
I meant "Use Proxy in the same way Object.observe was used before it was removed".
The developer would not see any `Proxy` in their code. Aurelia would instantiate the Proxy for the developer and replace the original object with the proxy. This proxy would behave exactly like the original object except it may notify subscribers of changes to the objects. I thought Proxy is more performant than dir

[2016-07-22 07:56] wichert opened #462 "Binding ignores input from safari autofill"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11 /
* **Node Version:**
6.3.0

* **NPM Version:**
3.10.5

* **JSPM OR Webpack AND Version**
Webpack 2.1.0-beta.20
* **Browser:**
Safari 9.1.2

* **Language:**
ESNext

**Current behavior:**

I made a very simple login form. For demonstration purposes t

[2016-07-22 14:00] wichert commented on #462
Autocomplete works correctly in Chrome 51.

[2016-07-23 01:18] jdanyow commented on #462
please give this a try and let me know if it resolves the issue:
`value.bind="email & updateTrigger:'change':'input':'blur'"`

The standard logic listens for 'change' and 'input', i'm wondering if 'blur' will resolve the issue.

If you google for `safari autofill change event` the results are not promising...

[2016-07-23 01:22] jdanyow commented on #461
does this give you what you need:

[code]

[2016-07-23 01:42] jdanyow commented on #458
i see it happening in edge too.  not in chrome, or firefox

https://plnkr.co/edit/ahRwzTeRjFeCYKUs0U1c?p=preview

[2016-07-23 10:41] jdanyow commented on #457
this would break `toString` on the AST nodes.  Is that OK?

https://github.com/aurelia/binding/blob/master/src/ast.js#L18-L20

[2016-07-23 10:56] jdanyow commented on #457
closing for now- @EisenbergEffect please re-open if you want me to remove AST toString feature

[2016-07-23 10:56] #457 closed

[2016-07-23 11:35] jdanyow commented on #461
disregard my last post- it's not what you're looking for.

---

*foo.html*
[code]

The bindings are owned by the view they appear on, in this case, *foo.html*.  Consider something like an `if.bind`.  The element the `if.bind` appears on cannot own the `if.bind` because it might not even exist depending on the state of the `if` condition.

[2016-07-23 11:35] #461 closed

[2016-07-23 11:48] jdanyow commented on #285
closing:  performance polyfill is now part of pal-browser

[2016-07-23 11:48] #285 closed

[2016-07-23 11:52] jdanyow commented on #382
confirmed this is working now https://gist.run/?id=2a593616215e62873df2389d27aa80cc

[2016-07-23 11:52] #382 closed

[2016-07-23 11:59] #436 closed

[2016-07-23 12:01] jdanyow commented on #414
Issue moved to [aurelia/i18n #138](https://github.com/aurelia/i18n/issues/138) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-23 12:01] #414 closed

[2016-07-23 13:24] jods4 commented on #461
@jdanyow I am not sure I fully understand. How are custom attributes different?

In the example above, I could inject `MyFormCustomElement` into `MyAttrCustomAttribute` constructor and get the enclosing view model. How does this work? Why can't the same thing work for the binding?

[2016-07-23 13:27] jods4 commented on #458
@jdanyow Good that you can reproduce it!
I experienced it first on IE11, not sure why you don't.

Any idea where it comes from?

[2016-07-23 13:58] EisenbergEffect commented on #457
@jdanyow Could we do something where....the toString generates a placeholder result by default, but then when the Unparser is plugged in via the testing library it registers itself so that the toString implementation of the AST can pick it up and use it.

[2016-07-23 20:20] jdanyow commented on #457
@EisenbergEffect you pick- I'm still on the fence. It's a savings of 902 gzipped bytes.
`toString` pre-dates any tests. I think it's a nice utility in the library. For example, it's used [here](https://gist.run/?id=c2394c5748d27f3dc77acabc7b8f2752).

If we're aggressively removing bytes maybe we should also move the svg stuff (3370 gzipped bytes) to a plugin.

[2016-07-23 20:23] jdanyow commented on #458
No, not yet. I also looked at adding a "long stack traces" plugin for the TaskQueue to help with the debugging thing you mentioned.

[2016-07-23 20:26] EisenbergEffect commented on #457
I think we can just leave it for now.

[2016-07-24 11:05] #411 closed

[2016-07-24 11:07] jdanyow commented on #460
https://github.com/aurelia/binding/issues/138#issuecomment-183492983

[2016-07-24 17:39] doktordirk commented on #376
nay news?

[2016-07-24 18:47] niieani commented on #376
I was wrong about: https://github.com/aurelia/binding/issues/376#issuecomment-230814720.
It was caused by a bug in aurelia-bootstrapper-webpack. I believe this should now be fixed in https://github.com/aurelia/bootstrapper-webpack/commit/54d385c58fcd570f197b65ddc84d50bdb4dbca9b.

[2016-07-25 16:55] istrau3 commented on #382
@jdanyow
I just checked the gist. Doesn't seem to be working to me.

In other words, at first joe (whose value is 1) is selected and vm.selected === 2. After clicking "modify options", vm.selected === 2 but "bob" is selected (in the dropdown) whose value is 1. The view and model are out of sync.

[2016-07-25 18:20] jdanyow commented on #382
whose gist are you using? I'm talking about this one:  https://gist.run/?id=2a593616215e62873df2389d27aa80cc

[2016-07-25 18:55] istrau3 commented on #382
@jdanyow yes, that one. If you click "modify options" the dropdown shows "bob" but vm.selected === 2 (bob's value !== 2).

[2016-07-26 00:30] #460 closed

[2016-07-26 17:04] akircher opened #464 "Array binding seems to have changed in Release Candidate"
**I'm submitting a bug report**

Array binding seems to have changed in
aurelia-framework@^1.0.0-rc.1.0.4,
aurelia-binding@^1.0.0-rc.1.0.3

* **Operating System:**
OSX 10.10.5

* **Browser:**
Chrome 52.0.2743.82

* **Language:**
ESNext (Babel)

**Current behavior:**
View model
[code]
View
[code]

I would expect the view to alternate displaying true and false, however, it always displays false.  Pu

[2016-07-26 17:06] EisenbergEffect commented on #464
The second version only worked in Chrome. It never worked anywhere else and that was only possible because of Object.observe, which is no longer a standard and isn't available.

As to the first version, using `splice` that should work. @jdanyow Can you take a look at this really quickly?

[2016-07-26 17:07] akircher commented on #464
Thanks for looking into it.  That makes sense for the 2nd part since I have only been using chrome.

[2016-07-26 18:12] jdanyow commented on #464
works for me:  https://gist.run/?id=37689747e357376e73903a2ff44b10c0

[2016-07-26 18:17] EisenbergEffect commented on #464
If you write it like @jdanyow has, it will work. But if you write it like the sample above, it won't because we don't detect changes on individual indexes. If you need something like that, you may want to consider using a signal.

[2016-07-26 18:17] #464 closed

[2016-07-26 18:31] akircher commented on #464
I will use a signal.  However, I believe this is a unexpected behavior.  A developer would very rarely interpolate a full array as `${ test }` in a view as the gist shows.  A developer would just use a simple property, not an array.  I think using array methods in situations like these should update the entire array and trigger a change in the view without needing to use a signal.

[2016-07-27 01:15] jdanyow commented on #464
My bad- I missed the indexer.  Misunderstood the question

[2016-07-27 13:11] jdanyow opened #465 "Clearing arrays with length=0 no longer working"
@ZoolWay commented on [Wed Jul 27 2016](https://github.com/aurelia/framework/issues/491)

**I'm submitting a bug report**

* **Library Version:**
aurelia-framework 1.0.0-rc.1.0.13

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.39

* **Browser:**
Chrome 51.0.2704.103 m

[2016-07-27 13:13] jdanyow commented on #465
cc @martingust @EisenbergEffect

this might be a nice interoperability improvement.  thoughts?

[2016-07-27 13:19] EisenbergEffect commented on #465
I think so. For some reason I thought we already did that but it must be only handling bindings to the length.

[2016-07-27 13:23] mohsenasfia opened #466 "Binding uses dirty checking even with signal behavior"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-rc.1.0.3
- **Browser:**
  Chrome | Firefox | IE 11
- **Language:**
  TypeScript 1.8

**Current behavior:**
The `foo` getter is invoked repeatedly, i.e. using dirty checking.

View:
`${foo & signal: 'some-signal' }`

ViewModel:

[code]

**Expected/desired behavior:**
We expected the `foo` getter to be invoked _only_ when `some-signal` i

[2016-07-28 00:16] michaelmalonenz opened #467 "stopPropagation is not respected"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
5.11.1

* **NPM Version:**
3.9.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.39

* **Browser:**
all

* **Language:**
all

**Current behavior:**
I have some nested div elements, which each have click delegates.  If I call `event.stopPro

[2016-07-28 11:18] jdanyow commented on #467
I think this is a good change. We actually discussed this when we were researching the event manager fix.

Couple performance suggestions:

What if we lazily overrode stopPropagation, deferring the override work until we knew we were about to invoke a callback?

What do you think about refactoring the override to eliminate closures?

Here's some examples:

[code]

[2016-07-28 13:13] eliavmaman opened #469 "Custom element with custom attribute inside , two-way data bind not working"
**I'm submitting a bug report**

* **Library Version:**
aurelia-binding@1.0.0-beta.2.0.7

* **Node Version:**
4.4.7

* **NPM Version:**
3.10.3
I've created custom element to wrap  jquery date-range-picker.

custom-element-template:
[code]

the custom-element-VM
[code]

and from the parent view i call it like that:
[code]

the parent VM properties (criteria.FromDate and criteria.ToDate) their value

[2016-07-28 13:33] jdanyow commented on #469
@eliavmaman please put together a reproduction using https://gist.run/?id=7542e061bc940cde506b

you'll have to use script tags in the index for the non-aurelia stuff like jquery, jquery-ui, etc.

Once we have a repro we can help you debug it.

[2016-07-28 15:32] eliavmaman commented on #469
fixed the problem.
the problem was at
[code]
**the `this` keyword is not this in the function.**
always remember to use the arrow function sysntex `=>`

just change to that
onClose:(startDate,endDate)=>{
//**this**, will be the view model instance
}

[2016-07-28 15:32] #469 closed

[2016-07-28 20:51] michaelmalonenz commented on #467
Sounds good - I've amended the Pull Request with the updated code

[2016-07-28 21:13] #467 closed

[2016-07-28 21:20] CasiOo commented on #467
Just a quick note about the implementation: Instead of polluting the event object with more methods, how about keeping the `stopPropagation` local to `interceptStopPropagation`?

[2016-07-28 21:24] jdanyow commented on #466
The way it currently works is the signal is an additional way to get the binding to update. You'd like it to be the *only* way, which I think is a logical way of looking at it. Unfortunately this would be a breaking change for folks that rely on the current behavior so we'll need to discuss... @EisenbergEffect thoughts?

[2016-07-28 21:31] EisenbergEffect commented on #466
No breaking changes. But could it be extended to allow a developer to opt into that behavior?

[2016-07-28 22:39] CasiOo commented on #467
@michaelmalonenz I see what you mean with only adding the interceptor if it's needed. That way we don't interfere with DOM events outside Aurelia :+1: .

For good measure, this is what I originally had in mind.
[code]

[2016-07-29 00:25] jdanyow commented on #466
possibly- @mohsenasfia another option would be to use `oneTime` in conjunction with `signal`:

[code]
https://gist.run/?id=3f0bf0beb303f9db9ed61c5daf0888bf

[2016-07-29 08:10] mohsenasfia commented on #466
Thanks a lot for your answers and tips.

That does make sense to use one-time binding behavior with a signal, however what really surprised me was that the expected behavior works fine with a method instead of a getter! I was just wondering why there's a discrepancy with this behavior?!

[2016-08-02 13:47] kristianmandrup commented on #259
Hi @mbroadst I'm really keen to learn how to build fully dynamic views based on dynamic data models. I couldn't make your plunker demo run however I found your au-grid component which I'm trying to grog. Wish there was more documentation or better examples on these aspects!
Feels like pretty deep down the rabbit whole.
Would love to pick your brain on how to best leverage this for building a UI ge

[2016-08-03 16:46] jaeko44 opened #472 "[Bug] Binding with arrays sometimes doesn't work as expected"
**I'm submitting a bug report**

* **Library Version:**
major

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
au-cli - 0.17.0

* **Browser:**
Chrome XX

* **Language:**
ESNext

**Current behavior:**
https://gist.run/?id=680d7ef5a0f04432d1753763469d5145

**Expected/desired behavi

[2016-08-04 06:19] jaeko44 commented on #472
I've encountered this bug with value.bind="tempMessage[chat.id]"

If i have an array with multiple 'tempMessages' (Using this as the UI is being built with a loop and each message is it's 'own')

Now, when I actually enter data it is being written to 'tempMessage[chat.id]' just fine, once I do a submit and reset tempMessage[chat.id] = '';

The input doesn't clear to '', whatever was written is sti

[2016-08-04 13:53] EisenbergEffect commented on #472
@jdanyow Is this documented in the binding docs? If not we should add something on limitations and workarounds.

[2016-08-04 18:19] jaeko44 commented on #472
@EisenbergEffect

I ran into a 3rd bug/limitation with .bind, this time it is with the repeat.for method in views.

I have the 3 chats being repeated as above, now I've added a method that removes the last chat from the array and adds a new chat in the beginning.

Now, while testing the function manually (from the same class) it was working nicely and smoothly.

However when implementing it from t

[2016-08-05 07:46] 4nderss commented on #443
How does this workaround work with validation? Right now I get bindingerrors if I use the following example https://gist.run/?id=d9d8dd9df7be2dd2f59077bad3bfb399 and try to number-value.bind="myNumber & validate".

[2016-08-07 11:46] tolemac opened #473 "Problem with input validation attribute binding (minlength, maxlength and pattern)"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.1.0

* **NPM Version:**
3.5.0

* **JSPM OR Webpack AND Version**
none, I'm using AureliaCLI

* **Browser:**
Chrome 51

* **Language:**
TypeScript 1.9

**Current behavior:**
`pattern` attribute binding not work fine. If value is undefine

[2016-08-08 11:44] #473 closed

[2016-08-08 11:44] jdanyow commented on #473
Issue moved to [aurelia/validatejs #115](https://github.com/aurelia/validatejs/issues/115) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-08 14:55] tolemac commented on #473
I think it isn't related with validations, I don't use validatejs ...
I thought it was related with the `binding` or `template-binding` but never with `validatejs`.

Ok, thanks anyway.

[2016-08-09 10:21] jdanyow commented on #472
will do- more info here: https://github.com/aurelia/binding/issues/444

[2016-08-09 10:21] #472 closed

[2016-08-09 10:23] jdanyow commented on #466
The binding system doesn't dirty check method-call expressions- that's why it works as you'd expect with those types of expressions.

[2016-08-09 16:07] chris-dickson commented on #62
Came up on an issue when trying to support this (specifically for autocomplete) in our app.

We have a form that contains multiple input fields, which are associated with their own datalist.  When trying to bind the input list attribute to the datalist id, we receive the following error:

`ERROR [app-router] TypeError: Cannot assign to read only property 'list' of object '#<HTMLInputElement>'(…)`

[2016-08-09 16:27] jdanyow commented on #62
Apparently the input element's list property is read-only... strange it's not documented as such:

![image](https://cloud.githubusercontent.com/assets/1306747/17524250/d7d328ec-5e2b-11e6-812e-0023b2bfc47d.png)
https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement

You'll need to set the `list` HTML attribute (eg `setAttribute('list', myId)`) instead of attempting to assign the input el

[2016-08-09 17:29] chris-dickson commented on #62
Worked like a charm!  Thanks Jeremy.

[2016-08-11 11:17] ccantill opened #476 "Observer on decorated property doesn't work"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Linux Elementary Loki

* **Node Version:**
4.4.7

* **JSPM OR Webpack AND Version**
JSPM 0.16.39

* **Browser:**
Chrome 52

* **Language:**
ESNext

**Current behavior:**
Observing a property that is decorated results in "Cannot observe property 'xxx' of object" warning.

[2016-08-11 11:18] ccantill commented on #476
Proposed fix: https://github.com/aurelia/binding/pull/477

[2016-08-11 14:04] jphautin opened #478 "binding make reference to 'this' non consistent with typescript"
**I'm submitting a bug report**

* **Library Version:**
aurelia 1.0.0 using aurelia-skeleton-typescript-webpack 1.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux Debian
Windows 10
* **Node Version:**
node v6.3.1
npm 3.10.3
* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.20

* **Browser:**
Iceweasel 38.8.0 | Chrome 52.0

* **Language:**
TypeScript 2.0.0 (also test

[2016-08-11 14:28] doktordirk commented on #478
i think you need to use an arrow function for bound functions. like showUser = () => { .. }

[2016-08-11 21:08] jphautin commented on #478
Hello,

And thanks for the reply.

Following your comment, I am not sure what I have to modify, so I tried following syntax :
- show-user.bind="(user) => { showUser(user) }" ==> Error: Parser Error: Unexpected token > at column 9 in [(user) => { showUser(user) }]
- show-user="(user) => { showUser(user) }" ==> TypeError: this.showUser is not a function
- show-user="showUser" ==> failure this.showUs

[2016-08-12 04:44] doktordirk commented on #478
the second (in you class) without the quotation marks

[2016-08-12 13:34] jdanyow commented on #478
use the `.call` binding command to bind references to functions.

http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-basics/4

[2016-08-12 13:34] #478 closed

[2016-08-12 14:34] CasiOo opened #479 "Connected bindings not updated on same TaskQueue cycle"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

* **OS:**
Windows 10
Windows 8

* **Browser:**
Chrome 52.0.2743.116
Opera 39.0.2256.48

* **Language:**
all

**Current behavior:**
Two-way bindings on a custom element don't get updated before the `change` event handler is invoked. Bindables on the local custom element get updated before the change event, but any binding to the bindabl

[2016-08-12 16:43] MiiCode2 commented on #479
Just for your info, I'm running OSX 10.10.2 Yosemite and I have tried your gist run on two different computers one with Chrome 51.0.2704.103 canary and another with Chrome 54.0.2824.0 canary.

Your gist runs and produces the desired output as follows:

Dropdown changeEvent: 2
App filteredGroupChangeEvent: 2

So there might be something else going here.  I also tried the code in the discussions and

[2016-08-12 16:59] CasiOo commented on #479
Thank you @MiiCode2. Updated the issue with OS and browser versions.

@minro was the one posting the issue on gitter. I don't know what browser/os he's using, but he should be getting the same output as I.

[2016-08-12 20:10] StrahilKazlachev opened #480 "one-time binding and non-bindable properties"
**I'm submitting a feature request**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Changes done in the `bind` callback to non-bindable properties are not reflected if the

[2016-08-13 00:04] jphautin commented on #478
Sorry,

Still doesn't work because using call is not exactly what I need.

- show-user.call="showUser(user)"
I try this one first 'but in this case the 'user' object is lost during the call. the user is correct in the userSelected function but when calling the binding function it is set to undefined. So user call syntax is not working either this way (And I would say it is normal as the user is no

[2016-08-15 06:27] minro commented on #479
I'm getting the same output as you are, both in Chrome latest version on windows and iE where my target is 11 (I can't run gists in iE but my own code (which is the basis of @CasiOo's example) produces the same result as stated for Chrome).

[2016-08-15 07:57] minro commented on #479
If the TaskQueue behavior is considered correct, I solved the issue by making the select value observable:

.html
`
<dropdown selection.two-way="filteredGroup" default="${'groupfilter' | t}" options.bind="groups"></dropdown>
`

.ts
`
@observable filteredGroup: string;
private filteredGroupChanged() {...}
`

which means there are no other changes in the custom element apart from removing the change

[2016-08-18 17:59] leye0 commented on #301
With the regex it fails on any url with a port.

![image](https://cloud.githubusercontent.com/assets/3464994/17784828/ff0d9b32-654b-11e6-8a19-ca8dc3cdea07.png)

[2016-08-19 13:18] #462 closed

[2016-08-19 17:58] jdposthuma commented on #163
Any ETA on this?

[2016-08-22 10:30] gravsten opened #481 "many validation bindings throw an error TS2304 in TypeScript"
While some validation rules work (e.g. required, equality, length, numericality), many others throw an error. Realizing this, I tried them all with the code:
...
  @format
  @url
  @length
  email: string;

The result is as below:
error TS2304: Cannot find name 'email'.
error TS2304: Cannot find name 'date'.
error TS2304: Cannot find name 'datetime'.
error TS2304: Cannot find name 'inclusion'.
err

[2016-08-22 12:19] #481 closed

[2016-08-22 12:21] jdanyow commented on #476
https://github.com/aurelia/binding/issues/406

[2016-08-22 12:21] #476 closed

[2016-08-22 12:22] jdanyow commented on #476
this is more of a babel issue- same thing doesn't occur when using TypeScript transpilation.

[2016-08-22 12:51] EisenbergEffect opened #482 "Using the same valueconverter on shared property causes an endless loop"
@4nderss commented on [Mon Aug 22 2016](https://github.com/aurelia/templating/issues/452)

**I'm submitting a bug report**

* **Library Version:**
1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.9.1

* **NPM Version:**
3.10.5

* **JSPM OR Webpack AND Version**
Aurelia CLI

* **Browser:**
Chrome

* **Language:**
all

**Current behavior:**

[2016-08-22 13:15] jdanyow commented on #482
`array.sort` mutates the actual array instance (unlike methods like `filter` which create a new array instance).  Make a shallow copy of the array in your converter before invoking the sort method otherwise every time the array is sorted by one instance of your value-converter binding expression it will cause side-effects / unnecessary rendering work for other parts of your template that use the s

[2016-08-22 13:15] #482 closed

[2016-08-23 06:20] 4nderss commented on #482
Ah, I thought the solution would be something like that. Was unsure about binding behaviors when returning a shallow copy.

Thanks for the help

[2016-08-24 08:20] thomas-darling commented on #347
Yep, we really need this too, and looking very much forward to it - both the type support, the `reflectToAttribute` option, and the add/remove behavior for boolean attributes.

We would also really like to see the `@bindable` decorator leverage TypeScript metadata, if available, to automatically determine the type - that way, this will just work:

[code]

[2016-08-24 10:36] jdanyow commented on #347
@thomas-darling here's the add/remove behavior for boolean attributes:  https://gist.run/?id=744ae2416278d35b5a7d450f3cc118f5

[2016-08-24 11:02] manivannan-mp commented on #279
@jlgreene2 : Can you share the working sample.

[2016-08-24 12:27] MaartenThomassen commented on #163
+1 for this, click.delegate still triggers a disabled button, even with text, latest version of Aurelia.

[2016-08-24 15:29] thomas-darling commented on #347
@jdanyow Thanks, didn't think of using a binding behavior for that - might come in handy!

I think there's more to it that that, though. Let's take the `disabled` attribute on input elements as an example - that is a `boolean` attribute with *no value* - it's the fact that it is *present* on the element that makes it true.

From the spec:

I'd also say it should be `@bindable` that controls whethe

[2016-08-24 18:13] ppn2 opened #484 "Weird Issue with repeater inside repeater"
**I'm submitting a bug report**
- **Library Version:**
  1.0.1

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  4.4.6

- **NPM Version:**
  3.10.6

- **JSPM OR Webpack AND Version**
  JSPM 0.16.45
- **Browser:**
  Chrome 52.0.2743.116 m
- **Language:**
  ESNext

**Current behavior:**
I created a grid component. It has child grid-column componen

[2016-08-25 14:28] Tarpsvo opened #485 "Debounce not working as expected (saving first value change instead of last one)"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  4.4.7
- **NPM Version:**
  3.10.6
- **JSPM OR Webpack AND Version**
  2.1.0-beta.21
- **Browser:**
  Chrome
- **Language:**
  ESNext

**Current behavior:**
The binding is as follows: `if.bind="value > 0 & debounce:1000"`
When value ch

[2016-08-25 23:43] jdanyow commented on #485
https://gist.run/?id=065b5e45ea473fac03d98c85945739cf

[2016-08-26 04:33] XuJinNet opened #486 "Bind the "role" attribute of svg element is not work"
I have a custom element responsible for rendering svg icon, i bind the "role" atrribute for the svg element, but it not work, the bind for other bindable attributes is work fine.

View Model
[code]
View
[code]
Use
[code]
Output
[code]

The role "img" is not set to the svg element.

[2016-08-26 05:46] Tarpsvo commented on #485
Made an easier to read gist (also updated original post).

https://gist.run/?id=b0e5fd3fbaad39eb2b8b8fa6482d2589

[2016-08-26 06:43] Tarpsvo commented on #485
@jsobell Made the following discovery:

[2016-08-26 10:27] jsobell commented on #485
It's actually a bit more tricky than I thought.
Something related to the binding process (something Promise related?) prevents subsequent bindings being processed until the first has completed.
So if we make a call to the original binding (with the same 'old' value) the debounce problem is avoided, as shown in this Gist.run:
[https://gist.run/?id=4cfe4f76ee753b6660ad13ba60db8ddd](https://gist.run/

[2016-08-26 10:43] jsobell commented on #485
This only appears to affect checkbox bindings, as the effect is not observed on string inputs

[2016-08-26 18:42] javadbat commented on #309
@EisenbergEffect what happen to this topic ?
how can we enable deep observe for one of my object or trigger change after change it ?

[2016-08-28 15:29] atsu85 commented on #347
@thomas-darling,

I guess You are not proposing alternative syntax, but meant
`<foo disabled.bind="true"></foo>`
instead?

[2016-08-28 15:34] atsu85 commented on #347
@jdanyow, I guess You are afraid to make braking change for stock html elements to avoid adding ` & removeAttribute` ?

If so, is there a good reason, why Your [RemoveAttributeBindingBehavior solution](https://github.com/aurelia/binding/issues/347#issuecomment-242022283) shouldn't be shipped with Aurelia by default? What are the disadvantages in addition to adding extra ` & removeAttribute` everyw

[2016-08-28 17:55] thomas-darling commented on #347
@atsu85 Wow, thanks, not sure how I managed to screw that up :-P
But yes, existing syntax - it's fixed in the comment now :-)

[2016-08-29 19:06] thomas-darling commented on #163
This is a really interesting problem. I'm currently working on handling this and related issues in a component library we're building, and its actually fairly complex. The `disabled` state is an especially  fun one, because not only should it prevent pointer events from reaching the disabled element or children of that element, but it should also affect which element has input focus.

### Preventi

[2016-08-30 07:47] activebiz opened #487 "typescript compilation error TS1110 in aurelia-binding.d.ts"
**I'm submitting a bug report**

* **Library Version:**
1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows [7|8|8.1|10]

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.3

* **Language:**
TypeScript 1.5

**Current behavior:**

[code]
Getting above compilation error when doing typescript compilation. Its to do with the following in aurelia-binding.d.ts

[code]

Sho

[2016-08-30 08:55] RomkeVdMeulen commented on #487
`number|boolean` would be okay, but null and undefined as types are [part of typescript 2.0](https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#typescript-20) which hasn't been released yet.

[2016-09-02 01:58] jdanyow commented on #487
fixed in upcoming release

[2016-09-02 01:58] #487 closed

[2016-09-02 02:00] jdanyow commented on #484
hi @ppn2 please use the gist mentioned in the issue template to create a reproduction: https://gist.run/?id=7542e061bc940cde506b

[2016-09-02 02:02] jdanyow commented on #480
hi @StrahilKazlachev, please put together a gist that demonstrates the scenario: https://gist.run/?id=7542e061bc940cde506b

[2016-09-02 08:06] StrahilKazlachev commented on #480
I'm closing it since I can not reproduce it in gist - both bindable and non-bindable properties can not be changed from `.bind()` when used in one-time binding. I'll look where in our application I tried this and **thought** it gave different result. Sorry for the noise.

[2016-09-02 08:06] #480 closed

[2016-09-02 13:54] ggrimbert opened #493 "Error with children attributes"
Hi,
I'm submitting a bug report

* **Library Version:**
1.0.3

* **Operating System:**
Fedora 19

* **Node Version:**
5

* **NPM Version:**
3.9.6

* **JSPM  Version**
0.16.39

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**
I have created a custom element that takes params defined as children(@children).
If I define 3 children, I should have 3 elements displayed, but I have 6

[2016-09-03 02:56] JoshMcCullough opened #494 "LiteralPrimitive declaration invalid in TSD?"
**I'm submitting a bug report**

* **Library Version:**
https://github.com/aurelia/binding/commit/2eae96e964a0cb3152219fe4853f3e147568353d

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.10.1

* **NPM Version:**
3.8.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.15

* **Browser:**
N/A

* **Language:**
TypeScript 1.7.5

**Current behavior:**
`ty

[2016-09-03 09:28] Gheoan commented on #494
#485

[2016-09-03 21:35] JoshMcCullough commented on #494
Thanks.

[2016-09-03 21:35] #494 closed

[2016-09-04 21:37] ppn2 commented on #484
@jdanyow I tried this in the gist [https://gist.run/?id=3a13dc67f549b257ed30c455ace6fadc](https://gist.run/?id=3a13dc67f549b257ed30c455ace6fadc).

Unfortunately the issue does not reproduce there. On my machine I tried both systemjs and requirejs and I can reproduce the issue consistently. I have double checked that I got the latest version of all the packages. any advice?

[2016-09-05 09:40] activebiz commented on #487
Thanks chaps

[2016-09-05 21:32] jdanyow commented on #493
hi @ggrimbert - here's a link to the current gist: https://gist.run/?id=7542e061bc940cde506b

It's also in the issue template

[2016-09-06 02:19] jdanyow commented on #486
@XuJinNet please setup a reproduction using the aurelia gist: https://gist.run/?id=7542e061bc940cde506b

[2016-09-06 06:17] XuJinNet commented on #486
@jdanyow thank you.
https://gist.run/?id=b3b1198cc186279317353025915caa1b

[2016-09-06 07:07] ggrimbert commented on #493
Hi,

I created a new one with your link, but of course, the problem doesn't occur...

https://gist.run/?id=dc81f196be8ddd4b176646bb90a81d5a

Does it use aurelia-binding 1.0.3 ? I cannot see the versions it loads.
If it is the good version, do you have any idea of what can happen ?

[2016-09-06 13:40] genne opened #495 "Error when evaluating nested method calls"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.7.1

* **NPM Version:**
3.7.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.15

* **Browser:**
Chrome 52

* **Language:**
all

**Current behavior:**
I have the following template code:
[code]

When `calculateDiff` is evaluated, the first

[2016-09-08 01:17] huochunpeng opened #496 "bindable valueChanged callback is fired even after component unbind"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
NA (aurelia-cli)

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
bindable valueChanged callback is fired even after component unbind. This should be a bu

[2016-09-12 21:01] te-je opened #499 "expression is not defined"
**I'm submitting a bug report**
(wow, this is a lot of work)

* **Library Version:**
1.0.4

* **Operating System:**
Windows 10

* **Node Version:**
6.5.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.17

* **Browser:**
Chrome 53

* **Language:**
ESNext

**Current behavior:**
The following error  is raised:
[code]
This bug is triggered by aurelia-validation's use o

[2016-09-12 21:46] jdanyow commented on #499
Issue moved to [aurelia/validation #326](https://github.com/aurelia/validation/issues/326) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-12 21:46] #499 closed

[2016-09-13 00:37] jdanyow commented on #496
@EisenbergEffect what do you think about adding something like this to the BehaviorPropertyObserver (would require adding `flushing: boolean` to the TaskQueue):

https://github.com/aurelia/templating/blob/master/src/behavior-property-observer.js#L44

[code]

I think it would solve this issue, along with https://github.com/aurelia/templating/issues/363 and possibly a few others.

[2016-09-13 01:01] jdanyow opened #500 "Parser/AST: string interpolation support"
@natrim commented on [Fri Sep 09 2016](https://github.com/aurelia/templating-binding/issues/97)

**I'm submitting a bug report**
- **Library Version:**
  1.0.0
- **Language:**
  TypeScript

**Current behavior:**
template literals don't work with ternary operator

[code]

**Expected behavior:**
i expected it to work like

[code]

[2016-09-13 01:03] jdanyow commented on #496
https://github.com/aurelia/binding/issues/479

[2016-09-13 15:03] jods4 opened #501 "@observable is not a proper decorator"
https://github.com/aurelia/binding/blob/master/src/decorator-observable.js#L45
The code of `observable` decorator ends with
`Reflect.defineProperty(target, key, descriptor);`
What it should do is:
`return descriptor;`
The property will be installed by the system, according to the decorators specs.

Why does it matter?
Because installing the property yourself prevents chaining decorators.

For inst

[2016-09-14 13:14] wc-matteo opened #502 "Parse error if $parent is used in a multi-property object literal inside a binding expression"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.0

* **NPM Version:**
3.10.3

* **Browser:**
Chrome 53

* **Language:**
ESNext

## These work ##

model.bind="{source: $parent}"

model.bind="{foo: 'bar', source: $parent}"

## This doesn't ##

model.bind="{source: $parent, foo: 'bar'

[2016-09-16 01:00] #502 closed

[2016-09-16 01:07] jdanyow commented on #501
@jods4 I agree with everything you wrote, minus the WeakMap part.

Any chance you'd be willing to contribute a PR with the necessary changes?

The trick is getting things to work in both TypeScript and Babel which work slightly differently when applying property decorators. This is maddening, and makes the already complex code even more complex. I put together a little chart, which may need to be

[2016-09-16 01:19] EisenbergEffect commented on #496
@jdanyow That works for me, especially if you think you can use that to resolve those other issues. It's a non breaking change (bump minor) but we would need to make sure to update the version dependencies between templating and task queue.

If you feel good about it solving all these issues, please proceed.

[2016-09-16 01:42] #495 closed

[2016-09-16 01:58] jdanyow commented on #486
@XuJinNet try using `xlink:role.bind="role"` instead. Take a look at the svg element using the dev tools after making that change- you should see the "role" attribute.

[2016-09-16 01:58] #486 closed

[2016-09-16 09:35] jods4 commented on #501
@jdanyow see PR #503 for the chainable aspect (trivial change to `return decorator`)

About that table, is it still right?
If I understand it correctly, it implies TS omits the `descriptor` parameter but when I look at the code generated by current TS compiler, it seems to be there.

I think this might have been fixed and TS follows the current standard proposal?

[2016-09-17 23:52] jods4 commented on #501
@jdanyow I see what you meant now. The table is not obvious ;)
The trick is that _for simple fields_ (not accessors), there is no specs at the moment.
Which means the following code is kind of undefined:
[code]
In this specific case, TS does no pass a descriptor, while Babel passes a descriptor with some defaults (enumerable: true, notably).

Note that the comment above means that when I complaine

[2016-09-18 00:04] jods4 commented on #501
I updated the PR #503
The only remaining issue is how to hide the backing `_name` field.

This is actually quite tricky because Aurelia may want to observe it.
To hide the field from plain sight, we need to assign its value with `Object.defineProperty(instance, '_name', { writable: true, value: 42 })` instead of `x._name = 42`.
But then, if Aurelia observes `_name`, it will convert it to a pair of

[2016-09-19 17:49] waynepennington opened #504 "FYI: Aurelia Hub Binding Documentation Errors"
See - http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-value-converters/4

**I'm submitting a bug report**
- **Library Version:** - whatever you're using on the documentation hub
- *\* Windows 10, Chrome Version 52.0.2743.116 m
  **Current behavior:**
  Unhandled rejection TypeError: numeral is not a function
  at NumberFormatValueConverter.toView

[2016-09-20 18:44] weifang993 commented on #444
I encountered the same problem when converting an Angular 1.x application to Aurelia.  Augular 1.x two-way binding worked fine for "item of list" if the list is an array of strings.  It is a design issue for the framework.  The "item of list" syntax should project a consistent behavior, no mater what the list contains.  Developers should not have to use a different syntax simply because the list i

[2016-09-20 18:52] weifang993 commented on #444
I obviously spoke too soon.  Angular 1.x did not handle the issue.  My apologies, but I do expect Aurelia handle this better.

[2016-09-23 03:07] #501 closed

[2016-09-23 03:09] jdanyow opened #505 "observable decorator creates backing field that shouldn't be enumerable"
This issue was split off from https://github.com/aurelia/binding/issues/501

cc @jods4

[2016-09-23 10:24] Gheoan commented on #505
Even if the backing property is converted to accesors, it can still be nonenumerable.

[2016-09-23 11:48] jods4 commented on #505
The problem with the backing property is that it must be observable by Aurelia's regular observer.
So it must be a regular property or we need a custom observation strategy (e.g. add `getObserver` on the getter) on the property decorated with `@observable`.
If it is a regular property, it can still be non-enumerable, but then you have to use `Object.defineProperty('_name', { writable: true, enumer

[2016-09-26 03:55] EisenbergEffect commented on #505
@jdanyow Where are we at with this?

[2016-09-26 04:43] EisenbergEffect commented on #504
@jdanyow I think you have access to the Hub. Can you take a look at what is going on here?

[2016-09-26 05:09] dwarry opened #507 "Missing declarations from Typescript typings file?"
**I'm submitting a bug report**

* **Library Version:**
1.0.4

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.45

* **Browser:**
all

* **Language:**
TypeScript 2.0.3

**Current behavior:**
I'm trying to bind the `list` property of an Input[Text] field. I found #62 an

[2016-09-26 09:17] wc-matteo commented on #502
This has issues as well:

[code]

[code]

(it's only for _$parent_; it doesn't happen for $this or $index)

[2016-09-26 10:39] jdanyow commented on #505
The PR is still in review

[2016-09-26 11:21] #507 closed

[2016-09-26 11:48] jdanyow commented on #486
@XuJinNet in the next release, `role.bind="..."` will work

[2016-09-27 06:15] XuJinNet commented on #486
Awesome!
Thank you @jdanyow 👍

[2016-09-27 15:20] bondib commented on #496
@jdanyow  - just so you know, I applied the fix you wrote 4 days ago in my code, and bugs https://github.com/aurelia/templating-resources/issues/252 and https://github.com/aurelia/binding/issues/496 still occur. FYI...

[2016-09-27 21:21] jdanyow commented on #496
@bondib thanks for testing this out. Can you confirm you applied the task-queue PR that goes along with the templating PR?

Here's a fork of the gist in https://github.com/aurelia/templating-resources/issues/252 with the fixes applied:

https://gist.run/?id=72490bd928925d0a0bcfe67511ce0125

[2016-09-27 21:46] #496 closed

[2016-09-28 19:35] MeirionHughes commented on #64
taking suggestions on how/when to warn about this issue: https://github.com/MeirionHughes/aurelia-template-lint/issues/82#issuecomment-250273617

[2016-09-29 00:36] huochunpeng opened #509 "feature request: ArrayObserver to react on array[index] = newItem"
**I'm submitting a feature request**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
6.6.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
NA

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
ArrayObservation doesn't react on array[index] = newItem

**Expected/desired behavior:**
https:/

[2016-09-29 02:13] jdanyow commented on #509
Unfortunately this would require dirty-checking. Some background here:

- https://github.com/aurelia/binding/commit/7d01567a00f5b0bb334b48614300273f7a99caed
- https://github.com/aurelia/binding/issues/289

Workaround is to use splice in place of indexed assignment. For example `myArray[i] = 'foo'` would become `myArray.splice(i, 1, 'foo')`.

[2016-09-29 02:13] #509 closed

[2016-09-29 03:05] huochunpeng commented on #509
Thx, I had the feeling this might be really hard. I did use splice to work around.

[2016-09-29 08:34] RomkeVdMeulen opened #510 "Class 'DataAttributeObserver' incorrectly implements interface 'InternalPropertyObserver'"
**I'm submitting a bug report**

* **Library Version:**
1.0.5

* **Language:**
TypeScript 1.8

I got a Typescript compile error, which was introduced with 72d6675:

[code]

[2016-09-29 09:00] Thanood opened #511 "observable does not define property since 1.0.5"
**I'm submitting a bug report**

* **Library Version:**
1.0.5

**Please tell us about your environment:**
* **Operating System:**
Windows 8

* **Node Version:**
6.2.2

* **NPM Version:**
3.10.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.15

* **Browser:**
all

* **Language:**
all

**Current behavior:**

`observable` does not define the given property on the target object unless it's a class deco

[2016-09-29 09:46] estaphorsius commented on #511
I'm having the same issue over here. We are using aurelia with TypeScript. Building our application results in a compilation error:

Error: typings/modules/aurelia-binding/index.d.ts(193,14): error TS2420: Class 'DataAttributeObserver' incorrectly implements interface 'InternalPropertyObserver'.
  Property 'getValue' is missing in type 'DataAttributeObserver'.

It seems typing for DataAttributeObs

[2016-09-29 18:43] fracz commented on #511
I can confirm it is fixed in 1.0.6. Thank you!

[2016-09-29 18:48] Gheoan commented on #511
@estaphorsius, @fracz I think this is a different issue.
@Thanood, it works for me: https://gist.run/?id=b1f2df7ae68e97d47bb3a7e7d696cebe.

[2016-09-29 18:54] Thanood commented on #511
@Gheoan Depends on the version used in the gist's bundle.
I tried a search for `isClassDecorator` on the bundle and it had no search results. That could mean it's still at 1.0.4.

[2016-09-29 21:25] jdanyow commented on #511
@Thanood / @Gheoan I've updated the gist to use the latest aurelia: https://gist.run/?id=01e2d581154c8b3a2c12df2d3b7c214e

[2016-09-29 21:25] jdanyow commented on #510
this has been fixed in the latest version of aurelia-binding

[2016-09-29 21:25] #510 closed

[2016-09-29 21:45] Thanood commented on #511
Okay, I did not check `hasOwnProperty`, good point. 😃
@jdanyow Do you get the second alert? I don't.

So I was wrong with my assumption but why does `valueChanged` not fire?

[2016-09-29 21:45] Gheoan commented on #511
@Thanood, the correct way to use decorators in es5 is using the `decorators` function:
[code]

Here is a gist using decorators function: https://gist.run/?id=72b9f9087a01800c4bc871a90aa5b3b1.
However there is still a bug with observable that prevents the above from working. Will submit a PR for that.

[2016-09-29 21:47] Thanood commented on #511
I see, thanks! Will try that tomorrow in my app. I need some sleep now. 😃
Thank you very much.

[2016-09-29 22:13] Gheoan commented on #511
Your assumption was right, in the gist hasOwnProperty('value') is true because value was used on the view and that caused the property to be observed which in fact creates the property.

[2016-09-30 22:09] robharper commented on #409
@4nderss I have the same problem with `as-element` with a `<tr>`, and in Chrome. Easy work around is to move the `require` inside the first child element within the inner view.

Table:
[code]

Inner view
[code]

[2016-10-01 10:31] sspilleman opened #516 "custom element bindable changed not called if newValue is empty"
Hi,

Ik have the following issue. I created a slideshow custom element. That element has a bindable property "images". I want the slideshow to start when the images (array) is changed. That images array is populated when I click a picture (first image of an array) on the page that hosts the custom element, that basically populates the slideshow array which is bound to the custom element.

[code]
[

[2016-10-01 11:30] jdanyow commented on #516
Set a breakpoint or add the `debugger;` statement to your `stopSlideshow` method. At the breakpoint, examine the value of `this`. Is it what you expect it to be?

Typically when passing function references around via data-binding the `.call` binding command is used: `stopfn.call="stopSlideshow()"`

More info in the binding docs- basics section.

[2016-10-01 12:33] sspilleman commented on #516
You're right! Good catch! That was it! Thanks again

[2016-10-01 12:33] #516 closed

[2016-10-02 17:07] ppn2 commented on #484
@jdanyow After you updated the gist, I tried my code again but I could not reproduce the issue. However I hosted all the **latest aurelia packages** at my own web site and referred the gist to those instead of yours. I sure can reproduce the problem. Here is the link to gist.
[https://gist.run/?id=3a13dc67f549b257ed30c455ace6fadc](https://gist.run/?id=3a13dc67f549b257ed30c455ace6fadc).

To summari

[2016-10-02 17:45] ppn2 opened #517 "Ordering issue with repeater"
**I'm submitting a bug report**
- **Library Version:**
  1.0.5

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  6.2.0

- **NPM Version:**
  3.8.9

- **JSPM OR Webpack AND Version**
  JSPM 0.16.45

- **Browser:**
  Chrome 52.0.2743.116 m
- **Language:**
  all

**Current behavior:**
I created a grid with three columns, which has capability to sho

[2016-10-02 21:03] CasiOo opened #518 "Element observation styling not accepting number datatype"
**I'm submitting a bug report**

* **Library Version:**
1.0.6

* **Browser:**
all

* **Language:**
all

**Current behavior:**
@khenderick https://github.com/aurelia/templating-resources/issues/251#issuecomment-250991098
Numbers aren't supported in style binding.

The following code
`css.bind="{opacity: !output.inUse ? 0.65 : 1}"`

Results in the error
`TypeError: value.indexOf is not a function`

[2016-10-02 23:13] ppn2 opened #520 "@Child decorated property is not being populated in the dynamically created element."
**I'm submitting a bug report**

* **Library Version:**
1.0.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
Chrome 52.0.2743.116 m

* **Language:**
all

**Current behavior:**
If a custom component uses slot and catches the projected element through t

[2016-10-02 23:25] geleto opened #521 "Select bound to a sub-property does not update properly when changing the parent property"
**I'm submitting a bug report**
- **Library Version:**
  1.0.6
- **Browser:**
  Chrome, Edge

I have a Select element which is bound to a sub-property:
`<select value.bind="selectedCar.selectedModel">`
- The initially displayed value (as set in the constructor) is correct.
- If I change the value of `selectedCar` - the select always displays the first option, no matter what the value of `selectedC

[2016-10-03 00:28] ppn2 commented on #520
I did some more digging around this issue and found that the child property indeed get populated but it is not available at the time attached is fired (during dynamic use. During static use the property is populated when attach event is fired.). Not sure if this is the right behavior.

[2016-10-03 03:55] EisenbergEffect commented on #517
We are going to need more information here, such as details for how you are hiding/showing the columns.

[2016-10-03 03:56] EisenbergEffect commented on #518
Technically, all values in the current CSSOM are strings, I believe. @jdanyow Can you check on this?

[2016-10-03 03:58] EisenbergEffect commented on #520
We have this tracked elsewhere. For now, if you are doing dynamic things like this I recommend that you use the change callback for the child so you can know exactly when it becomes available.

[2016-10-03 03:58] #520 closed

[2016-10-03 11:14] jdanyow commented on #518
@z-brooks I think this might be a quick fix here: https://github.com/aurelia/binding/blob/master/src/element-observation.js#L66

[2016-10-03 12:05] stsje commented on #518
@jdanyow There's already an open pull request.

[2016-10-03 16:05] Nepoxx commented on #149
Is there a way to make this work with dynamic values?

If I use
[code]
The value is dirty checked, however if I use `$.initialValue == model.data[model.key]; ? 'bar' : 'foo'}` , the value is not dirty checked.

[2016-10-03 19:47] Gheoan commented on #511
Actually, the corect way to use decorators in ES5 is
[code]

[2016-10-03 21:05] jsobell commented on #149
[code]
?

[2016-10-03 21:09] Nepoxx commented on #149
`${changed ? 'bar' : 'foo'}` is what I want but this results in dirty checking. I can't use @computedFrom because my values used to compute are dynamic.

[2016-10-03 21:09] jsobell commented on #149
@Nepoxx Did you try this with aurelia-computed?

[2016-10-03 21:16] jsobell commented on #149
@Nepoxx Also, see this issue: https://github.com/aurelia/binding/issues/147

[2016-10-03 22:47] sormy commented on #147
The bad part about binding signalers is that all signalers should be unique, there is no way to link signalers to specific component instance :-(

[2016-10-04 04:07] khenderick commented on #149
What about ```@computedFrom('initialValue', 'model.data', 'model.key')```?

[2016-10-04 23:50] #518 closed

[2016-10-04 23:55] #505 closed

[2016-10-04 23:57] #511 closed

[2016-10-05 05:30] EisenbergEffect commented on #479
Should now be fixed.

[2016-10-05 05:30] #479 closed

[2016-10-05 08:10] RWOverdijk commented on #476
@jdanyow We tried solving this with babel, [and they didn't accept it](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy/pull/44) with reason. Meanwhile, this is still an issue.

Do you have any suggestions on how to move forward?

[2016-10-05 15:27] Thanood commented on #511
@Gheoan I'm not sure if this happens because it's not implemented (in 1.0.4) or if I did it wrong but I'm getting this error when I try to use decorators in ES5 correctly - on the class prototype:

[code]

This is what I used:

[code]

I *guess* this is because 1.0.4 uses `Reflect.defineProperty` so this is only for information, hoping that it may help somehow. :smiley:

I'll change it to use the

[2016-10-05 16:28] Gheoan commented on #511
@Thanood that should be fixed in 1.0.7 https://github.com/aurelia/binding/commit/fa3dafbcbd7701ac1879dce633d3e02152eb28d9#diff-26d3f601c99bc9cd08a30349643a0ac2R40.

[2016-10-05 19:18] bbaki commented on #112
This is closed but with no real answer, I've tried a few things but nothing worked. Is there a workaround? Is this a feature that is planned to be implemented in the future?

It seems that the alternative syntax would be a good solution (i. e. <tr element="row">...</tr>) similar as how it would be solved in angular 1 ([stack overflow link](http://stackoverflow.com/questions/22030080/angular-table-

[2016-10-05 19:24] Einarsson commented on #112
@bbaki Have you tried if this works?

http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-basics/5

[2016-10-05 19:30] bbaki commented on #112
Ha! works like a charm. I've checked Custom Attributes / Custom Elements sections but skipped the basics! Thanks for the link, I will repost the syntax from the docs for future/faster reference:

[code]

[2016-10-06 01:02] jdanyow commented on #493
@ggrimbert can this be closed? Have you updated to the latest aurelia repos?

[2016-10-06 03:51] Vheissu commented on #518
Heads up, this merged PR doesn't actually always fix the problem. I encountered this same issue and for null/undefined values, this will fail as `indexOf` does not exist. The better way seems to check if the value exists and then do the check.

[2016-10-06 03:52] EisenbergEffect commented on #518
Can you PR the fix? Ping @jdanyow so he can review and we can get a patch release out.

[2016-10-06 06:27] ggrimbert commented on #493
I need to try with a new version of the dependency. I'll let you know when it's done.

[2016-10-06 07:11] ggrimbert commented on #493
I tried with 1.0.9 and it works. I don't know what happened but there is no problem now. I close this issue.

[2016-10-06 07:11] #493 closed

[2016-10-06 13:36] Nepoxx commented on #149
@khenderick That works but it'll be triggered whenever `model.data` changes, no when `model.data[model.key]` changes. It's not a perfect solution but it's definitely an improvement :)

[2016-10-07 08:16] GabrielMancik opened #523 "Binding style object works only on single worded css properties [1.0.9]"
I have an element with css.bind="style".
In Viewmodel I have:
[code]

But only color and padding gets binded. I just assume its because other properties are not single words.
Previously I used version 1.0.4 and everything worked fine.

[2016-10-07 10:45] jdanyow commented on #523
@z-brooks / @GabrielMancik this is strange- looking at the 1.0.4 code, I can see how it would work the way @GabrielMancik describes. On the other hand, the [1.0.4 tests](https://github.com/aurelia/binding/blob/1.0.4/test/element-observation.spec.js#L202-L212) are using hyphenated property names.

@GabrielMancik, change the code to the following and it should work:

[code]

[2016-10-07 12:37] GabrielMancik commented on #523
Suggested code change works. Thanks

[2016-10-07 14:58] Thanood commented on #511
@Gheoan Thanks, I missed that update..
Now I just want to say thank you and confirm that it works! :+1:

[2016-10-08 18:08] khenderick opened #525 "repeat.for generates too many entries"
**I'm submitting a bug report**

* **Library Version:**
aurelia-binding 1.0.9

**Please tell us about your environment:**
* **Operating System:**
ArchLinux

* **Node Version:**
6.7.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
Chrome 55.0.2873.0 dev

* **Language:**
ESNext

**Current behavior:**

Assume some class where the constructor create

[2016-10-08 18:57] jdanyow commented on #525
@khenderick please provide a reproduction using the aurelia gist and we'll look into this:

https://gist.run/?id=7542e061bc940cde506b

[2016-10-11 01:54] BenDTU commented on #523
It'd be good to get this one fixed - we just had a bunch of stuff break because we were using the Typescript CSSStyleDeclaration to generate our styles, which uses camelCasing.

[2016-10-11 03:35] huochunpeng opened #526 "different behaviour on valueChanged() callback when bind() callback is defined."
**I'm submitting a bug report**

* **Library Version:**
1.0.9

* **Operating System:**
OSX 10.x

* **Node Version:**
NA

* **NPM Version:**
NA

* **JSPM OR Webpack AND Version**
NA

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
When `bind()` callback is defined, initial `valueChanged` callback is not fired.

When no `bind()` callback was defined,  initial `valueChanged` callbac

[2016-10-11 03:52] huochunpeng commented on #526
This is a side issue of what I found when I try to reproduce another bug.

The original bug I am working on is related with computedFrom property, which briefly got wrong result (during transition, part of dependencies still use old model, part of dependencies use new model). An empty `binding()` callback magically solves that issue. So far I was not able to simplify my code enough to find the exa